<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fortbildung / Weiterbildung</h4>
    </div>
    <div class="modal-body">
      <p>
        Man hat im Leben <strong>nie ausgelernt</strong>. 
        Fort- und Weiterbildungsmöglichkeiten können Ihnen <strong>neue Anregungen</strong> und <strong>Impulse</strong> geben, 
        die auch zur Abwechslung im Arbeitsalltag beitragen können. 
        Man gewinnt einen Blick über den Tellerrand, kann <strong>Arbeitsabläufe optimieren</strong> oder 
        sich so auch stärken für den Umgang mit neu aufgetretenen Problemen.  
        Die Voraussetzung ist natürlich, dass die Fortbildung auf Sie zugeschnitten ist. 
        Halten Sie aktiv danach Ausschau.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        <strong>TIPP:</strong> Bleiben Sie offen für Neues:
        Halten Sie sich durch Fort- und Weiterbildungsmaßnahmen fit. 
        Mögliche Ansprechpartnerinnen und Ansprechpartner,
        die Ihnen Hinweise geben können, finden Sie in Kapitel 4.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>