<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Informationen</h4>
    </div>
    <div class="modal-body">
      <p>
        Für Ihre Tätigkeit brauchen Sie Informationen &ndash; über die aktuellen Aufgaben, 
        die zukünftige Planung, das erwartete Ergebnis, jeweils im angemessenen Umfang. 
        Das gibt Ihnen Sicherheit und <strong>schützt</strong> Sie <strong>vor Überforderung</strong>. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Wenn es an Informationen fehlt: Besprechen Sie das Thema mit Ihrer Führungskraft!<br>
        <strong>Tipps für dieses Gespräch</strong> finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>