<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Handlungsspielraum</h4>
    </div>
    <div class="modal-body">
      <p>
        Keiner fühlt sich gerne <strong>fremdbestimmt</strong>. 
        Menschen wollen mitentscheiden &ndash; zumindest wenn es um die Organisation 
        (Reihenfolge, zeitlicher Ablauf) ihrer Arbeit geht. 
        Je größer der Handlungsspielraum, desto größer sind auch häufig das <strong>Kompetenzerleben</strong>
        und die Arbeitszufriedenheit. Zu viel Handlungsspielraum kann allerdings auch zu Überforderung führen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Zusätzlich finden Sie im Navigationsmenü unter den Handlungshilfen gegen innere Stressoren
        Hinweise zur optimalen Nutzung dieser Ressource in Form von Zeitmanagement.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>