<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Sinnhaftigkeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Idealerweise fühlen Sie sich nicht wie ein kleines Rädchen im Getriebe, 
        sondern wissen genau, welchen <strong>Wert Ihre Arbeit für Ihren Betrieb</strong>
        oder die Gesellschaft als Ganzes hat. 
        Wer einen Sinn in seiner Tätigkeit sieht,
        hat mehr <strong>Freude</strong> daran und ist auch stärker im Umgang mit Belastungen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Wenn Ihnen der Sinn fehlt: Besprechen Sie das Thema mit Ihrer Führungskraft!<br>
        <strong>Tipps für dieses Gespräch</strong> finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>