<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Aufgabenvielfalt</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Abwechslung</strong> im Arbeitsalltag hält Sie frisch
        und <strong>veränderungsfähig</strong> und beugt Monotonie vor &ndash;
        egal, ob dies durch Rotation geschieht (auch abteilungsübergreifend)
        oder durch neue Aufgaben in Ihrem bisherigen Arbeitsfeld.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Zusätzlich finden Sie im Navigationsmenü Handlungshilfen zur Stärkung Ihrer äußeren Ressourcen.<br>
        <strong>TIPP:</strong> Schlagen Sie Ihrer Führungskraft vor,
        wie Sie die Arbeit abwechslungsreicher gestalten können;
        schauen Sie sich um, wie es in der Nachbarabteilung, -arbeitsgruppe aussieht.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>