<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Klare Zuständigkeiten</h4>
    </div>
    <div class="modal-body">
      <p>
        Sie kennen klar Ihren Aufgaben- und <strong>Verantwortungsbereich</strong>.
        Das macht Ihre Arbeit durchschaubar und schützt Sie vor Verwirrungen und Irritationen. 
        Wer macht was? Was darf man und wo sind die Grenzen der eigenen Kompetenzen erreicht? 
        Je eindeutiger die Antworten auf diese Fragen sind, desto besser für Sie. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Wenn es daran hakt: Besprechen Sie das Thema mit Ihrer Führungskraft!<br>
        <strong>Tipps für dieses Gespräch</strong> finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>