<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Constant availability</h4>
    </div>
    <div class="modal-body">
      <p>
        For many people work does not stop during lunch breaks 
        or outside office hours &ndash; even though the Working Hours Act 
        makes clear specifications here. 
        But many employees are also confronted with demands on <strong>accessibility</strong> 
        in non-working hours. 
        Relaxation outside work is harder, and <strong>recovery suffers</strong>. 
        We simply work too much.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the action aids you will find tips for reducing external stressors 
        that result from your work content. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>