<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Interruptions / delays</h4>
    </div>
    <div class="modal-body">
      <p>
        If employees have to interrupt their work repeatedly, 
        for example, because they are waiting for a customer response 
        they are dependent on the 
        job performance of third parties, 
        it can lead to <strong>dissatisfaction and stress</strong>, 
        especially if <strong>one’s own work success is endangered</strong> 
        (e.g. the service staff receive guest complaints
        because the kitchen staff have overlooked an order).
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the action aids you will find tips for reducing external stressors 
        that result from your work organization.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>