<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Role conflicts</h4>
    </div>
    <div class="modal-body">
      <p>
        Role conflicts occur when a person 
        is in charge of several tasks that 
        cannot be conciliated with each other. 
        It becomes difficult when that person receives instructions 
        from different people who do not agree about their expectations. 
        As a person you are torn and cannot manage 
        to meet the <strong>different expectations and requirements</strong> 
        that are placed on you. 
        This condition leads to emotional stress.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        Managers are responsible for this work organization stressor. 
        They should have a clarifying talk with you. 
        For information on how to prepare the discussion 
        see the action aids against external stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>