<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Working hours / shift work</h4>
    </div>
    <div class="modal-body">
      <p>
        Shift work may adversely affect the <strong>sleep-wake cycle</strong> if 
        it is not in accordance with the biorhythms of employees. 
        This can also have a negative impact on long-term health. 
        It is also difficult to reconcile the unusual working hours, 
        <strong>work and family life</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        Tips on how to handle external stressors in the work environment 
        can be found in the action aids.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>