<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Time pressure</h4>
    </div>
    <div class="modal-body">
      <p>
        In each industrial sector,
        time pressure is the stressor of excellence.
        Increasingly <strong>more has to be done in less time</strong>.
        The result is an imbalance between the time required
        for work tasks and the <strong>available working time</strong>.
        One feels rushed about it.
        In the long-term, pressure may be a risk factor,
        not only for mental health.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the action aids you will find tips for reducing external stressors
        that result from your work content.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>