<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Too much work</h4>
    </div>
    <div class="modal-body">
      <p>
        Too much work,
        even if it is well controlled,
        not only often leads to <strong>overtime</strong>
        and recreational and <strong>health suffering</strong>, 
        but also to long-term performance issues. 
        This stressor was elaborated in the first chapter.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the action aids you will find instructions for reducing this external stressor.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>