<div class="row">
  <div ng-if="items" class="col col-50">
    <ul class="balance-list">
      <li ng-repeat="item in items track by $index"
          class="balance-item"
          ng-class="{ 'checked': item.checked }"
          data-index="{{ $index }}">
        <span ng-show="!item.checked" class="glyphicon glyphicon-move"></span>
        <span ng-show="item.checked" class="glyphicon glyphicon-ok"></span>
        <span>
          {{ (settings.language === 'EN') ? item.text_en : item.text }}
        </span>
        <button ng-show="item.href" ng-click="showModal($index)" class="button button-small button-outline button-positive">
          {{ 'mehr' | translate:settings.language }}
        </button>
      </li>
    </ul>
  </div>
  <div class="col"
       ng-class="{'col-50': items, 'col-100': !items}"
       ng-switch="supportSvg()">
    <div class="psyga-balance center-image"
         mm-balance-element
         ng-switch-when="true">
      <img class="mm-stressors" ng-src="{{ 'img/balance/stressors.svg' | languageFilter:settings.language }}" alt="">
      <img class="mm-resources" ng-src="{{ 'img/balance/resources.svg' | languageFilter:settings.language }}" alt="">
      <img class="mm-bar" src="img/balance/bar.svg" alt="">
      <img class="mm-mounting" src="img/balance/mounting.svg" alt="">
    </div>
    <div class="psyga-balance center-image" ng-switch-when="false">
      <img ng-src="{{ 'img/legacy/balance/initial.jpg' | languageFilter:settings.language }}" alt="">
    </div>
  </div>
</div>