.author {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}

span.author {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}
.fancyvimeo {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}

span.fancyvimeo {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}
.greenarrow {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}

span.greenarrow {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}
.greenarrow_small {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}

span.greenarrow_small {
font-size:11px; 
font-weight:bold;
font-style:normal; 
color:#961207;
}