* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #e6e8e8;
    color: #5a5a5a;
    font-family: 'Droid Sans',sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    color: #5a5a5a;
    font-family: 'Droid Sans',sans-serif;
}

h1 {
    font-size: 24px;
    color: #d28228;
}

h2 {
    font-size: 24px;
    padding: 0 0 20px;
}

h3 {
    font-size: 20px;
    padding: 11px 0 5px;
}

h4 {
    font-size: 13px;
    padding: 11px 0 0;
}

a {
    color: #5a5a5a;
    text-decoration: none;
}

a:hover {
    color: #a66832;
}

a.greenarrow {
    background-color: transparent;
    background-image: url(../img/arrow_green.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    padding: 0 0 0 14px;
}

.clear {
    clear: both;
    height: 1px;
}

#container {
    min-width: 960px;
    max-width: 1096px;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px 0 #000;
    -moz-box-shadow: 0 0 8px 0 #000;
    box-shadow: 0 0 8px 0 #000;
    min-height: 100%;
    border-top: 10px solid #4d7087;
    margin: 0 auto;
}

#container-inner {
    width: 940px;
    background-color: #fff;
    margin: 0 auto;
}

#headerbox {
    position: relative;
    height: 190px;
}

#headerbox #logo {
    position: absolute;
    top: 50px;
    left: -35px;
}

#headerbox #logo a {
    width: 189px;
    height: 72px;
    display: block;
    background-image: url(../img/sprites_all.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -9999px;
}

#headerbox #metamenu {
    position: absolute;
    right: 0;
    top: 65px;
}

#headerbox #metamenu a {
    font-size: 12px;
    background-image: url(../img/metabullet.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    margin: 0 4px 0 0;
    padding: 0 11px 0 0;
}

#headerbox #metamenu a.last {
    background: 0;
    margin: 0;
    padding: 0;
}

#navigation {
    position: absolute;
    top: 160px;
    width: 940px;
    line-height: 12px;
}

#navigation ul {
    list-style: none;
}

#navigation ul li a {
    display: block;
    height: 22px;
    border-top: 1px solid #fff;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
    z-index: 2000;
    padding: 7px 10px 0;
}

#navigation ul li a.first {
    padding: 7px 12px 0 0;
}

#navigation ul li a.last {
    padding: 7px 0 0 11px;
}

#navigation ul li a:hover,#navigation ul li a.active {
    color: #a66832;
    background-color: #fff;
}

#navigation ul li ul {
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    top: 29px;
    width: 520px;
    display: none;
    border: 1px solid #ccc;
    padding: 10px 0 20px 20px;
}

#navigation ul li ul li {
    float: none;
    display: block;
    border-bottom: 1px solid #ccc;
}

#navigation ul li ul .fo-item {
    float: left;
    width: 240px;
    margin: 0 20px 0 0;
    padding: 10px 0;
}

#navigation ul li ul .fo-item a:hover,#navigation ul li ul .fo-item a {
    border: 0;
    height: auto;
    padding: 0;
}

#navigation ul li ul .fo-item .foi-img {
    width: 60px;
    float: left;
}

#navigation ul li ul .fo-item .foi-text {
    float: left;
    width: 180px;
}

#navigation ul li ul .fo-item .foi-text h3 {
    line-height: 15px;
    font-size: 13px;
    padding: 0 0 2px;
}

#navigation ul li ul .fo-item .foi-text div {
    line-height: 12px;
    font-size: 13px;
    font-weight: 400;
}

#navigation ul li.hasSub a:hover {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#navigation ul li.tabframe a {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff;
}

#navigation .outer {
    text-align: justify;
}

#navigation .outer .finish {
    display: inline-block;
    width: 100%;
}

#navigation .outer .inner {
    display: inline-block;
    white-space: nowrap;
}

#navigation a {
    font-family: 'Droid Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#header {
    height: 260px;
    width: 900px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    font-family: 'Droid Sans',sans-serif;
    padding: 20px;
}

#header #htop {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
    padding: 0 0 15px;
}

#header #hform #hsearch {
    width: 230px;
    height: 20px;
    padding: 0 5px;
}

#header #hcategory {
    padding: 20px 0 0;
}

#header #hcategory a {
    background-image: url(../img/sprites_all.png);
    background-repeat: no-repeat;
    background-position: 0 -95px;
    text-indent: -9999px;
    font-size: 17px;
    padding: 2px 0 2px 18px;
}

#header #hheadline {
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
}

#header #hcopy {
    width: 350px;
}

#breadcrumb div {
    font-size: 11px;
    padding: 15px 0;
}

#breadcrumb div span {
    width: 7px;
    background-image: url(../img/bc_arrow.png);
    background-repeat: no-repeat;
    background-position: 6px 3px;
    padding: 0 7px;
}

.teaserbox h3 {
    color: #fff;
    background-image: url(../img/sprites_all.png);
    background-repeat: no-repeat;
    background-position: 0 -500px;
    height: 25px;
    width: 277px;
    position: absolute;
    top: -2px;
    left: -3px;
    font-weight: 700;
    font-size: 13px;
    z-index: 6;
    padding: 7px 0 0 35px;
}

.teaserbox h3 .icon {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 10px;
    background-image: url(../img/sprites_all.png);
    background-repeat: no-repeat;
    z-index: 7;
}

.teaserbox h3 .icon-info {
    background-position: 0 -600px;
}

.teaserbox h3 .icon-cam {
    background-position: -100px -600px;
}

.teaserbox h3 .icon-people {
    background-position: -200px -600px;
}

.teaserbox h3 .icon-heart {
    background-position: -300px -600px;
}

.teaserbox h3 .icon-signs {
    background-position: -400px -600px;
}

.teaserbox .more {
    display: block;
    width: 88px;
    background-position: 0 -193px;
    padding: 5px 0 0 11px;

}

.tb-big {
    width: 305px;
    height: auto;
    min-height: 270px;
    padding: 0 15px 15px 0;
}

.tb-big .tbb-pic {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.tb-big .tbb-text {
    width: 96%;
    display: block;
    height: auto;
    background-color: rgba(255,255,255,1);
    padding-top: 5px;
    padding-bottom: 5px;
}

.tb-big .tbb-text h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 10px;
    color: #577b8f;
}
.tb-big .tbb-text span {
    
}

.tb-big .tbb-text .more {
    color: #535353;
    margin-top: 5px;
}

.tb-small {
    width: 320px;
    padding: 40px 0 0;
}

.tb-small .tbb-text .more {
    position: absolute;
    bottom: -20px;
}

.tb-sub {
    width: 320px;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}

.tb-sub .tb-sub-inner {
    border-right: 1px solid #ccc;
    margin: 0 10px 0 0;
}

.tbsright {
    width: 300px;
}

.tbsright .tb-sub-inner {
    border-right: 0;
    margin: 0;
}

#leftCol {
    min-height: 350px;
    line-height: 22px;
    padding: 22px 0 0;
}

#leftCol .csc-default {
    padding: 0 20px 0 0;
}

#leftCol h1 {
    font-size: 29px;
    line-height: 30px;
}

#leftCol h4 {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 2px;
}

#leftCol h5 {
    font-size: 13px;
    line-height: 22px;
    padding: 0 0 20px;
}

#leftCol .two-col {
    width: 599px;
    border-top: 1px solid #ccc;
    margin: 0 0 22px;
    padding: 22px 0 0;
}

#leftCol .two-col .tc-left {
    float: left;
    width: 289px;
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0;
}

#leftCol .two-col .tc-right {
    float: left;
    width: 289px;
    padding: 0 0 0 10px;
}

#leftCol .two-col h3,#leftCol .two-col h4 {
    font-size: 14px;
    padding: 0;
}

#leftCol .two-col li {
    background-image: url(../img/arrow_green.png);
}

#leftCol ul li {
    background-color: transparent;
    background-image: url(../img/arrow_orange.png);
    background-repeat: no-repeat;
    background-position: 2px 8px;
    padding: 0 0 0 15px;
}

#leftCol ol {
    padding: 5px 0 0 20px;
}

#leftCol .infoBox {
    margin: 0 0 22px;
    padding: 20px 25px 10px;
}

#leftCol .infoBox h3 {
    padding-top: 0;
}

#leftCol .infoBox h4 {
    padding: 11px 0 2px;
}

#leftCol .infoBox ul {
    padding: 0 0 22px;
}

#leftCol .ibBlue {
    background-color: #dae0eb;
}

#leftCol .ibBlue ul li {
    background-image: url(../img/arrow_orange_blue.png);
}

#leftCol .ibOrange {
    border: 2px solid #d28228;
}

#leftCol .accordeon {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    padding: 0;
}

#leftCol .accordeon .tb-sitem .tb-shead {
    height: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 12px -69px;
    background-image: url(../img/sprite_accordeon_100.png);
}

#leftCol .accordeon .tb-sitem .tb-shead h4 a {
    display: block;
    text-decoration: none;
    padding: 10px 0 10px 40px;
}

#leftCol .accordeon .tb-sitem .tb-shead.active {
    background-position: 12px 11px;
}

#leftCol .accordeon .tb-sitem .tb-sbody {
    padding: 0 10px 0 40px;
}

#rightCol {
    line-height: 18px;
}

#rightCol h4 {
    font-size: 13px;
    line-height: 22px;
}

#rightCol #rightSearchForm {
    padding: 0 0 10px;
}

#rightCol #rightSearchForm #hform #hsearch {
    width: 220px;
    height: 16px;
    padding: 0 5px;
}

#rightCol ul {
    list-style-type: none;
    padding: 10px 0;
}

#footer {
    clear: both;
    height: auto;
    font-family: 'Droid Sans',sans-serif;
    
}

#footer div {
}

#footer #footerlinks {
    position: relative;
    display: block;
    height: 200px;
    border-top: 1px solid #d6d6d6;
    padding: 0 0 5px;
    margin: 50px 0 0;
}

#footer #footerlinks a {
    position: absolute;
    display: block;
    top: 15px;
}

#footer #footerlinks a span {
    display: block;
    font-size: 11px;
    padding: 0 0 20px;
}

#footer #footerlinks #fl2 {
    left: 220px;
}

#footer #footerlinks #fl3 {
    left: 420px;
}

#footer #footerlinks #fl4 {
    left: 630px;
}

#footer #footerlinks #fl5 {
    right: 0;
}

.one-third {
    float: left;
    width: 300px;
}

.two-thirds {
    float: left;
    width: 640px;
}

.sub .one-third {
    width: 280px;
    margin: 0 0 0 20px;
}

.sub .two-thirds {
    width: 639px;
    border-right: 1px solid #ccc;
}

#tabbox {
    width: 300px;
    height: 290px;
    position: relative;
    margin: 0 0 20px;
}

#tabbox .tb-item {
    float: left;
}

#tabbox .tb-item .tb-head {
    position: relative;
    z-index: 23;
}

#tabbox .tb-item .tb-head a {
    display: block;
    color: #545454;
    font-weight: 700;
    font-family: 'Droid Sans',sans-serif;
    padding: 5px 10px;
}

#tabbox .tb-item .tb-head a.first {
    padding: 5px 10px 5px 0;
}

#tabbox .tb-item .tb-head a.active {
    color: #a66832;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #FFF;
    padding: 5px 10px;
}

#tabbox .tb-item .tb-body {
    position: absolute;
    left: 0;
    top: 27px;
    height: 260px;
    overflow: hidden;
    width: 298px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 2px rgba(114,114,114,.75);
    -moz-box-shadow: 1px 1px 2px rgba(114,114,114,.75);
    box-shadow: 1px 1px 2px rgba(114,114,114,.75);
}

#tabbox .tb-item .tb-body #tab-mm {
    padding: 10px;
}

#tabbox .tb-item .tb-body #tab-mm .tb-mmthumb {
    position: relative;
    padding: 0 0 5px;
}

#tabbox .tb-item .tb-body #tab-mm .tb-mmthumb img {
    width: 280px;
    height: 160px;
}

#tabbox .tb-item .tb-body #tab-mm .tb-mmthumb .playbutton a {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 53px;
    left: 112px;
    z-index: 1000;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/playbutton.png);
}

#tabbox .tb-item .tb-body #tab-mm div .more {
    width: 88px;
    display: block;
}

#tabbox .tb-item .tb-body #tab-mm .bodytext {
    padding: 0 0 3px;
}

#tabbox .tb-item .tb-body #tab-service {
    padding: 10px 0 0;
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-shead {
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 265px -39px;
    background-image: url(../img/sprite_accordeon_100.png);
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-shead h4 a {
    display: block;
    padding: 10px 0 10px 10px;
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-shead.active {
    background-position: 265px 11px;
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-sbody {
    height: 87px;
    overflow-x: hidden;
    padding: 0 10px;
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-sbody .tb-ssubitem {
    clear: both;
    width: 280px;
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-sbody .tb-ssubitem .date {
    width: 75px;
    float: left;
    padding: 0 0 5px;
}

#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-sbody .tb-ssubitem .title {
    float: left;
    font-weight: 700;
    padding: 0 0 5px;
}

#tabbox .tb-item .tb-body #tab-checks {
    height: 235px;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 15px 15px 10px;
}

#tabbox .tb-item .tb-body #tab-tipps {
    height: 235px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 15px 15px 10px;
}

#tabbox .tb-item .tb-body #tab-tipps h4 {
    padding: 0 0 5px 27px;
}

.new-pub {
    background-color: #dae0eb;
    width: 280px;
    padding: 10px;
}

.new-pub .np-pic {
    float: left;
    width: 110px;
}

.new-pub .np-text {
    float: left;
    width: 170px;
}

.new-pub .np-text strong {
    display: block;
}

.new-pub .np-text a:hover {
    color: #5a5a5a;
}

#indexedsearch-res {
    padding: 10px 0;
}

#indexedsearch-res .tx-indexedsearch-result {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

#indexedsearch-res .tx-indexedsearch-result h3 a {
    text-decoration: none;
}

#contact-form fieldset div {
    clear: both;
    padding: 0 0 10px;
}

#contact-form fieldset div label {
    width: 120px;
    float: left;
    display: block;
}

#contact-form fieldset div input {
    width: 240px;
    height: 20px;
}

#contact-form fieldset div textarea {
    width: 244px;
    height: 80px;
    resize: none;
}

#contact-form fieldset .type-check label {
    width: 240px;
}

#contact-form fieldset .type-check input {
    float: left;
    width: 20px;
    margin: 0 100px 0 0;
}

#contact-form fieldset .type-button {
    padding: 10px 0 0 270px;
}

#contact-form fieldset .type-button input {
    width: 100px;
}

#contact-form fieldset .error {
    color: red;
    padding: 0 0 0 120px;
}

p.bodytext {
    padding-bottom: 11px;
}

#c449{
    padding: 0 40px 15px 0;
}

.csc-header {
    clear: both;
}

a.greenarrow_small,.more,#hmore {
    font-family: 'Droid Sans',sans-serif;
    background-image: url(../img/sprites_all.png);
    background-repeat: no-repeat;
    background-position: 0 -196px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 0 0 11px;
}

#navigation ul li,.teaserbox {
    position: relative;
    float: left;
}

#navigation ul li ul li a,#breadcrumb div a,#footer #footerlinks #fl1,#tabbox .tb-item .tb-body #tab-mm div,#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-sbody .more,#indexedsearch-res .tx-indexedsearch-result h3,#indexedsearch-res .tx-indexedsearch-result .tx-indexedsearch-resultbody,#indexedsearch-res .tx-indexedsearch-result .tx-indexedsearch-resultbody a,#contact-form fieldset,.csc-firstHeader {
    border: 0;
}

#navigation .outer ul,.tx-indexedsearch-searchbox {
    display: none;
}

.sub #navigation,#leftCol .accordeon .tb-sitem,#tabbox .tb-item .tb-body #tab-service .tb-sitem {
    border-bottom: 1px solid #ccc;
}

#header #hform #hsubmit,#rightCol #rightSearchForm #hform #hsubmit {
    border: 0;
    background-color: transparent;
    background-image: url(../img/sprites_all.png);
    background-repeat: no-repeat;
    background-position: 5px -296px;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0 0 0 5px;
}

.tb-big .tbb-text span,.tb-big .tbb-text p.bodytext,.tb-small .tbb-text span,.tb-small .tbb-text p.bodytext,#leftCol p.bodytext,.new-pub .np-text a {
    font-family: 'Droid Sans',sans-serif;
}

.tb-big .tbb-text .bodytext,.tb-small .tbb-text .bodytext,#leftCol .two-col p.bodytext,#leftCol .accordeon .tb-sitem .tb-shead h4,#rightCol .bodytext,#tabbox .tb-item .csc-default,#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-shead h4 {
    padding: 0;
}

.tb-small .tbb-pic,.tb-sub .tb-sub-inner .tbs-pic {
    float: left;
    width: 90px;
    padding: 0 10px 0 0;
}

.tb-small .tbb-text,.tb-sub .tb-sub-inner .tbs-text {
    float: left;
    width: 190px;
    padding: 0 10px 0 0;
}

.tb-small .tbb-text h4,.tb-sub .tb-sub-inner .tbs-text h4 {
    font-size: 13px;
    font-weight: 700;
    padding: 0 0 5px;
}

#leftCol a,#leftCol ul li a,#rightCol ul li a,#tabbox .tb-item .tb-body ul li a {
    text-decoration: underline;
}

#leftCol ul,#tabbox .tb-item .tb-body ul {
    list-style-type: none;
    padding: 5px 0;
}

#leftCol .accordeon .tb-sitem.last,#tabbox .tb-item .tb-body #tab-service .tb-sitem.last {
    border-bottom: 0;
}

#rightCol ul li,#tabbox .tb-item .tb-body ul li {
    background-color: transparent;
    background-image: url(../img/arrow_green.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    padding: 0 0 5px 15px;
}

#tabbox .tb-item .tb-body #tab-mm h4,#tabbox .tb-item .tb-body #tab-service .tb-sitem .tb-sbody .tb-ssubitem .last {
    padding: 0 0 5px;
}

a#toolButton {
    background: url(../img/elearning_sprite.png);
    height: 50px;
    width: 280px;
    display: block;
    margin: 0 auto;
}

a#toolButton:hover {
    background-position: bottom;
}

.keq_matrix_table .keq_matrix_radio {
    text-align: center;
}

.keq_matrix_table .keq_matrix_radio,.keq_matrix_table .keq_matrix_checkbox {
    text-align: center;
    border-left: 1px solid #DDD;
}

.keq_matrix_table .odd td,.keq_matrix_table .even td {
    border-bottom: 1px solid #DDD;
    padding: 7px 0;
    font-size: 10px;
}

fieldset {
    padding: 0;
    pargin: 0;
    border: 0;
}

.keq_matrix_th {
    border-left: 1px solid #DDD;
    font-size: 10px;
    font-weight: 400 !important;
    padding: 0 4px;
}

.keq_selection .keq_inp_large {
    width: 550px;
}

.keq_selection .checkbox_label {
    padding-top: 1px;
    margin-left: 30px;
}

#container-inner .keq_selection .checkbox {
    margin-right: 5px;
    width: auto;
}

.keq_selection .checkbox {
    width: 20px;
    float: left;
    margin-top: 4px;
}

.keq_selection input {
    margin: 2px;
}

.keq_navigation {
    margin: 30px 0;
}

.keq_selection .keq_error,.keq_input .keq_error {
    color: red;
    font-weight: 700;
}

.keq_matrix_table tr td .keq_error {
    font-size: 11px;
    font-weight: 400 !important;
}
a.externMore
{
    font-family:'Droid Sans',sans-serif;
    background-image:url(../img/arrow_unendlich.png);
    background-repeat:no-repeat;
    background-position:0 0px;
    font-size:11px;
    text-transform:uppercase;
    padding:0 0 2px 18px;
    text-decoration: none !important;
}
a.internMore
{
    font-family:'Droid Sans',sans-serif;
    background-image:url(../img/arrow_gray.png);
    background-repeat:no-repeat;
    background-position:0 0px;
    font-size:11px;
    text-transform:uppercase;
    padding:0 0 2px 18px;
    text-decoration: none !important;
}
#leftCol .gootTeaser h4{
    font-size: 14px;
}
.gootTeaserContainer p{
    height: 46px;
    overflow: hidden;
    padding: 0;
}
.gootTeaserLeft {
    width: 290px;
    float: left;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #e3e3e3;
}
.gootTeaserRight {
    width: 290px;
    float: left;
    border-bottom: 1px solid #e3e3e3;
    padding: 7px 0 7px 0;
    margin: 0 0 0 20px;
}
#leftCol .gootInhalt .csc-default{
    padding: 0 0px 0 0;
}
.gootInhalt {
	padding-bottom: 15px;
}
.gootTeaser {
	margin-bottom: 20px;
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */

/* Modifications for additional elements */

#leftCol .two-col.no-border {
	border-top: 0px;
}

.sidebar-element {
	position: relative;
}

.sidebar-element h4 {
	text-transform: uppercase;
	margin-bottom: 10px;
}

.sidebar-element-inner {
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
	background-color: #f3f3f3;
	padding: 10px 10px 2px;
	width: 100%;
}

.sidebar-element-image {
	max-width: 100%;
	background-color: #ffffff;
}

.sidebar-element-inner img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sidebar-element-inner h4 {
	text-transform: none;
	margin-bottom: 10px;
}

.sidebar-element-inner p {
	line-height:22px;
	margin-bottom: 8px;
}

.csc-textpic .more {
	background-position: -1068px -148px;
	font-size: 13px;
	text-transform: none;
	padding: 0 0 0 12px;
}

#leftCol h6, h6 {
	font-size: 15px;
	padding: 15px 0 10px;
}


.two-thirds .csc-default{
    padding: 0;
}

#header{
    height: 300px;
    width: 940px;
    padding: 0px;
}
#header #htop{
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
}
#header #hform{
    width: 300px;
    padding-left: 20px;
}
#header #hheadline{
    width: 300px;
    padding-left: 20px;
}
#header #hcopy{
    width: 300px;
    padding-left: 20px;
    padding-bottom: 20px;
}


.teaserbox_2016{
    width: 50%;
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.teaserbox_2016_image{
    width: 310px;
    height: 160px;
}
.teaserbox_2016_text_box{

}
.teaserbox_2016_text_headline{
    width: 90%;
}
.teaserbox_2016_text_text{
    width: 90%;
}
.teaserbox_2016_text_link{

}


.zitate_slider{
    margin-top: 20px;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-zitat{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.swiper-slide-zitat{
    width: 600px;
    text-align:center;
    margin: auto;
    color: #3ca046;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
    padding-top: 50px;
    height: auto;
    display: block;
}
.swiper-slide-zitat::before{
    content: "“";
}
.swiper-slide-zitat::after{
    content: "”";
}
.zitate_slider.single .swiper-slide-zitat::before,.zitate_slider.single .swiper-slide-zitat::after {
    display: none;
}
.swiper-slide-zitat-icon{
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -18px;
    width: 35px;
    height: 26px;
    text-align:center;
    color: #3ca046;
    margin-bottom: 15px;
    min-height: 26px;
}
.swiper-slide-zitat-icon img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 26px;
    display: block;
}
.swiper-slide-zitat-footer{
    width: 700px;
    height: auto;
    display: block;
    text-align:center;
    margin: auto;
    color: #3ca046;
    margin-bottom: 35px;
}
.swiper-slide-zitat-text{
    width: 49%;
    padding-right: 1%;
    text-align: right;
    color: #535353;
    float: left;
    font-size: 13px;
    line-height: 13px;
}
.swiper-slide-zitat-link{
    width: 49%;
    padding-left: 1%; 
    text-align: left;
    float: left;
    font-size: 13px;
    line-height: 13px;
}
.swiper-slide-zitat-link a{
    padding-left: 12px;
    text-transform: uppercase;
    position: relative;
    text-transform: uppercase;
    background: url('../img/arrow_green.svg') no-repeat left center;
    background-size: 9px 9px;
}

// .swiper-slide-zitat-link a::before{
//     content: " ";
//     padding-left: 25px;
    
//     background: url('../img/arrow_green.svg') no-repeat left center;
//     background-size: contain;
//     width: 9px;
//     height: 9px;
//     display: block;
//     position: absolute;
//     top: 3px;
//     left: 0px;
// }




.sidebar_text_box{
    border-top: 1px solid #d6d6d6;
    padding: 15px;
}
.sidebar_text_box_headline{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #577b8f;
    margin-bottom: 10px;
}
.sidebar_text_box_text p{
    margin-bottom: 5px;
}
.icon-ansprechpartner{
    width: 100%;
    height: auto;
    padding-left: 20px;
    background: url('../img/ps.svg') no-repeat left center;
    background-size: 13px 13px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}


