<div class="jumbotron">
  <div class="container">
    <h1>Fazit</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion" ng-controller="ConclusionCtrl">
    <ul class="triangle">
      <li>
        Psychische Erkrankungen sind genauso „normal“ wie körperliche Erkrankungen.
      </li>
      <li>
        Und sie sind genauso heilbar.
      </li>
      <li>
        Vorbeugen ist besser als Heilen.
      </li>
      <li>
        Betroffene sind nicht alleine.
        Es gibt eine Vielzahl an Hilfsangeboten:
        Man muss nur zugreifen.
      </li>
    </ul>
  </div>
  <p>
    <span class="label">Handlungshilfen:</span> Nachdem Sie das Tool nun komplett bearbeitet haben, können Sie in den <a href="#/app/guidance/start">Handlungshilfen</a> konkrete Anleitungen zur Förderung Ihrer psychischen Gesundheit erhalten.
    Viel Erfolg!
  </p>
</div>