<div class="jumbotron">
  <div class="container">
    <h1>Außerbetriebliche Unterstützungsangebote</h1>
  </div>
</div>
<div class="container" ng-controller="ExternalSupportCtrl">
  <p>
    <strong>
      Wenn Sie Probleme haben und sich beraten lassen möchten
      oder Sie vorbeugend etwas für sich tun möchten:
    </strong>
  </p>
  <div class="list">
    <div class="item item-divider" ng-click="externalSupport = '1'">
      Anlaufstellen in Ihrer Region
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '1'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '1'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '1'">
      <ul class="triangle">
        <li>Kirchliche Beratungsstellen für Familien-, Ehe- und Lebensfragen</li>
        <li>Drogen- und Jugendberatung</li>
        <li>Selbsthilfegruppen (Verzeichnis ist meistens in der Volkshochschule erhältlich)</li>
        <li>Schuldnerberatungen, z.B. bei der Verbraucherzentrale</li>
        <li>Psychosoziale Beratungsstellen der Kommunen oder "psychosoziale Wegweiser“</li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '2'">
      Bundesverband der Angehörigen psychisch Kranker
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '2'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '2'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '2'">
      <ul class="triangle">
        <li><a href="http://www.psychiatrie.de/bapk" target="_blank">www.psychiatrie.de/bapk</a></li>
        <li>Beratungshotline <strong>0180 5 950 951</strong></li>
        <li>
          Kostenlose, höchst lesenswerte Broschüre mit Informationen für
          Betroffene, Angehörige, Kolleginnen bzw. Kollegen und Führungskräfte: 
          <strong>„Psychisch krank im Job – was tun?“</strong>
          (auch als kostenloser Download erhältlich)
        </li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '3'">
      Telefon-Seelsorge
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '3'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '3'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '3'">
      <ul class="triangle">
        <li>Sehr gutes niederschwelliges Angebot</li>
        <li>Rund-um-die-Uhr-Beratung zu allen Problemlagen des Lebens durch gut qualifizierte, ehrenamtliche Mitarbeiterinnen und Mitarbeiter</li>
        <li>Rufnummern: <strong>0800 111 0 111</strong> oder <strong>0800 111 0 222</strong> (kostenfrei)</li>
        <li>Bei Anruf aus dem Festnetz werden Sie automatisch mit jemandem aus Ihrer Region verbunden</li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '4'">
      Die Zentrale Prüfstelle Prävention
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '4'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '4'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '4'">
      <ul class="triangle">
        <li>
          Hier finden Sie über Ihre Krankenkasse geprüfte Kurse
          zur Gesundheitsförderung in Ihrer Region:<br>
          <a href="https://www.zentrale-pruefstelle-praevention.de" target="_blank">www.zentrale-pruefstelle-praevention.de</a>
        </li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '5'">
      psyGA
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '5'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '5'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '5'">
      <p>
        Das vorliegende eLearning-Tool ist ein Angebot des Projekts psyGA.
        Das Projekt <strong>Psychische Gesundheit in der Arbeitswelt (psyGA)</strong>
        der Initiative Neue Qualität der Arbeit (Bundesministerium für Arbeit und Soziales)
        informiert darüber, wie Mitarbeitende vor zu viel Stress geschützt werden
        und sowohl Personalverantwortliche als auch Beschäftigte selbst
        Belastungen entgegenwirken können. Unter dem Motto
        „Kein Stress mit dem Stress“ bietet psyGA praxisnahe Materialien
        zum Thema psychische Gesundheit für Unternehmen und Organisationen aller Branchen und Größen.
        Die Projektleitung liegt beim BKK Dachverband e.V.
      </p>
      <ul class="triangle">
        <li>
          Weitere vertiefende psyGA-Angebote finden Sie auf 
          <a href="http://psyga.info/ueber-psyga/materialien/" target="_blank">www.psyga.info/ueber-psyga/materialien/</a>
        </li>
        <li>
          Dazu zählen zum Beispiel:
          <ul class="triangle" style="padding-top: 5px;">
            <li>Broschüre: „Kein Stress mit dem Stress: Eine Handlungshilfe für Beschäftigte“</li>
            <li>Das Hörbuch: „Handeln, bevor der Job krank macht“</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>