<div class="jumbotron">
  <div class="container">
    <h1>Fühlen Sie sich wohl?</h1>
  </div>
</div>
<div class="container" ng-controller="FeelGoodCtrl">
  <p>
    Sie wüssten gern, wie es um Ihr eigenes psychisches Wohlbefinden gerade bestellt ist?
    Dann testen Sie es mit den folgenden Aussagen darüber, wie Sie sich in den letzten zwei Wochen gefühlt haben:
  </p>
  <br>
  <p>
    <strong>
      0 = zu keinem Zeitpunkt,
      1 = ab und zu,
      2 = etwas weniger als die Hälfte der Zeit,<br>
      3 = etwas mehr als die Hälfte der Zeit,
      4 = meistens,
      5 = die meiste Zeit
    </strong>
  </p>
  <br>
  <div class="list list-striped">
    <div class="item">
      <strong>In den letzten zwei Wochen …</strong>
    </div>
    <div class="item item-input">
      <div class="input-label">
        war ich froh und guter Laune.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 0}" ng-click="wellBeing.item1 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 1}" ng-click="wellBeing.item1 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 2}" ng-click="wellBeing.item1 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 3}" ng-click="wellBeing.item1 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 4}" ng-click="wellBeing.item1 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 5}" ng-click="wellBeing.item1 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        habe ich mich ruhig und entspannt gefühlt.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 0}" ng-click="wellBeing.item2 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 1}" ng-click="wellBeing.item2 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 2}" ng-click="wellBeing.item2 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 3}" ng-click="wellBeing.item2 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 4}" ng-click="wellBeing.item2 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 5}" ng-click="wellBeing.item2 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        habe ich mich energisch und aktiv gefühlt.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 0}" ng-click="wellBeing.item3 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 1}" ng-click="wellBeing.item3 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 2}" ng-click="wellBeing.item3 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 3}" ng-click="wellBeing.item3 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 4}" ng-click="wellBeing.item3 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 5}" ng-click="wellBeing.item3 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        habe ich mich beim Aufwachen frisch und ausgeruht gefühlt.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 0}" ng-click="wellBeing.item4 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 1}" ng-click="wellBeing.item4 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 2}" ng-click="wellBeing.item4 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 3}" ng-click="wellBeing.item4 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 4}" ng-click="wellBeing.item4 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 5}" ng-click="wellBeing.item4 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        war mein Alltag voller Dinge, die mich interessieren.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 0}" ng-click="wellBeing.item5 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 1}" ng-click="wellBeing.item5 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 2}" ng-click="wellBeing.item5 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 3}" ng-click="wellBeing.item5 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 4}" ng-click="wellBeing.item5 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 5}" ng-click="wellBeing.item5 = 5">5</button>
      </div>
    </div>
  </div>
    <p ng-show="!isTestComplete">
    <span class="label">Auswertung</span>
    <span>
      Sobald Sie den Fragebogen vollständig bearbeitet haben, erscheint hier die Auswertung.
    </span>
  </p>
  <p ng-show="isTestComplete">
    Klicken Sie für das Ergebnis bitte auf folgende Schaltfläche.<br>
    <button class="btn btn-action" style="margin-top: 6px;" data-toggle="modal" data-target="#feel-good-modal">
      <span class="glyphicon glyphicon-ok"></span>
      Auswertungsergebnis
    </button>
  </p>
  <h5 class="footnote">
    Psychiatric Research Unit, WHO Collaborating Center for Mental Health,
    Frederiksborg General Hospital, DK-3400 Hillerød
  </h5>
  
  <!-- Modal -->
  <div class="modal fade" id="feel-good-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Ihr psychisches Wohlbefinden</h4>
        </div>
        <div class="modal-body">
          <p>
            Ihr Punktwert liegt bei <strong>{{ testResult }}</strong>:
          </p>
          <div ng-show="testResult <= 12">
            <p>
              Ihrer Einschätzung zufolge haben Sie sich in den letzten beiden Wochen
              weniger wohl in Ihrer Haut gefühlt.
              Vielleicht haben Sie dafür eine Erklärung,
              weil Sie gerade viel Arbeit haben oder private Probleme?
              Wenn Sie äußere oder auch innere Ursachen für Ihr aktuelles Unwohlsein vermuten,
              die sich in naher Zukunft auch nicht absehbar ändern werden,
              zögern Sie nicht, sich Unterstützung zu holen.
              Ihr Unwohlsein schränkt Sie in Ihrer Lebensqualität langfristig zu sehr ein.
              Da sollten Sie aktiv gegensteuern.
              In diesem Kapitel erfahren Sie, wo Sie Hilfe erhalten können.
          </div>
          <div ng-show="testResult >= 13 && testResult <= 20">
            <p>
              Ihrer Einschätzung zufolge fühlen Sie sich in den letzten zwei Wochen relativ wohl.
              Wenn Sie die Kapitel 2 und 3 bearbeitet haben,
              kennen Sie nun die Punkte, an denen Sie arbeiten können,
              um Ihr Wohlbefinden weiter zu optimieren.
            </p>
          </div>
          <div ng-show="testResult >= 20 && testResult <= 25">
            <p>
              Sie fühlen sich insgesamt ausgeglichen und wohl in Ihrer Haut.
              Das ist schön und spricht dafür, dass Sie sich rundum belastbar und vital fühlen. 
              Weiter so.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>