<div class="jumbotron">
  <div class="container">
    <h1>Zu guter Letzt …</h1>
  </div>
</div>
<div class="container">
  <p>
    Jeder Mensch kann psychisch krank werden &ndash;
    das ist genauso „normal“ wie körperlich krank zu sein.
    Auf körperliche Beeinträchtigungen reagieren Kolleginnen und Kollegen meistens verständnisvoll.
    Aber bei psychischen Erkrankungen haben viele Leute <strong>Berührungsängste</strong>.
  </p>
  <p>
    <strong>Das muss sich ändern!</strong>
  </p>
  <p>
    Je „normaler“ es wird, im Betrieb auch über psychische Belastungen
    und ihre Auswirkungen zu sprechen, desto besser.
    So kann jede/-r dazu beitragen, das Thema aus der Tabuzone herauszuholen.
    Je mehr man darüber spricht, desto leichter fällt Betroffenen der Schritt,
    Hilfe in Anspruch zu nehmen.
  </p>
  <p>
    Denn für alle Branchen und Hierarchiestufen gilt:
    Überall können Menschen psychisch krank werden – und auch wieder gesund.
    Psychische Erkrankungen sind behandelbar.
    Manchmal gehen sie von selbst vorbei &ndash;
    aber mit <strong>professioneller Unterstützung</strong> geht es schneller.
  </p>
  <p>
    Mit diesem Tool haben Sie gelernt,
    wie Sie vor allem auch <strong>präventiv</strong> handeln können
    und es gar nicht bis zur Erkrankung kommen lassen.
  </p>
</div>