<div class="jumbotron">
  <div class="container">
    <h1>Innerbetriebliche Unterstützungsangebote</h1>
  </div>
</div>
<div class="container" ng-controller="InternalSupportCtrl">
  <div class="list">
    <div class="item item-divider" ng-click="internalSupport = '1'">
      Die Sozialberatung
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '1'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '1'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '1'">
      Sie ist zuständig für alles, was das psychosoziale Wohlbefinden beeinträchtigen kann:
      private Probleme, finanzielle Probleme, Konflikte im Team,
      psychische Erkrankungen und so weiter.
      Die Gespräche mit der Sozialberatung sind vertraulich.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '2'">
      Der werksärztliche Dienst/Ihre Betriebsärztin bzw. Ihr Betriebsarzt
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '2'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '2'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '2'">
      Er wirkt mit bei der Beurteilung der Arbeitsbedingungen (Belastungs- und Gefährdungsanalyse).
      Er unterstützt und berät Führungskräfte wie Mitarbeiterinnen und Mitarbeiter
      bei der gesundheitsgerechten Gestaltung von Arbeit
      und bei arbeitsbedingten Gesundheitsproblemen
      (Ratschläge zu Therapiemöglichkeiten, Verhaltensänderungen, Leistungseinschränkungen etc.).
      Außerdem unterstützt er Sie bei der Wiedereingliederung nach längerer Arbeitsunfähigkeit.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '3'">
      Die Vertrauensperson der Schwerbehinderten
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '3'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '3'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '3'">
      Sie kann Sie informieren über besondere Rechte und Pflichten für Schwerbehinderten.
      Zum Beispiel weiß sie Bescheid über personengebundene Zuschläge oder Hilfsausrüstung.
      Sie stellt auch den Kontakt her zu Integrationsfachdiensten.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '4'">
      Die Fachkraft für Arbeitssicherheit (FaSi/SiFa)
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '4'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '4'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '4'">
      Sie arbeitet mit an der Prävention arbeitsbedingter Erkrankungen
      und berät die Geschäftsführung bei der Durchführung von Gefährdungsbeurteilungen.
      An sie wenden Sie sich bei Fragen der Arbeitssicherheit
      oder des Gesundheitsschutzes (z.B. bezüglich der Ergonomie am Arbeitsplatz).
      Zuvor sollten Sie natürlich mit Ihrer Führungskraft über Ihr Anliegen sprechen.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '5'">
      Die Personalabteilung/HR-Management
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '5'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '5'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '5'">
      Sie betreut Sie in Personalfragen und kümmert sich um Aus- und Fortbildung.
      Sie kann Ihnen in Gesprächen unterstützend mit Rat und Tat zur Seite stehen.
      Sie ist auch Ihr Ansprechpartner bei Fragen der flexiblen Arbeitszeit,
      bei Pflege- und Elternzeit, beim Wechsel in ein anderes Team etc.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '6'">
      Der Betriebsrat/Personalrat
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '6'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '6'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '6'">
      Er freut sich, wenn er ins Boot geholt wird, bevor es zu spät ist …
      denn als ein von Ihnen gewähltes Organ
      vertritt er Ihre Interessen gegenüber der Unternehmensleitung.
      Er ist Anlaufstelle für Ihre Anregungen
      und gibt Auskunft über den Stand der Dinge im Betrieb.
      Im Konfliktfall kann er auch als Mediator zwischen den einzelnen Parteien fungieren.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '7'">
      Ihre Führungskraft
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '7'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '7'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '7'">
      Vor allem in kleineren Betrieben sollte Ihre Führungskraft
      die erste Anlaufstelle bei Problemen sein.
      Sie steht Ihnen gegenüber in der Fürsorgepflicht
      und kann sich bezüglich arbeitsbezogener Themen Ihrer Probleme annehmen.
    </div>
  </div>
</div>