<div class="jumbotron">
  <div class="container">
    <h1>Ihre innerbetrieblichen Unterstützungsangebote</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Innerbetriebliche_Unterstuetzungsangebote.pdf" target="_blank">Speichern Sie Ihre Vorlage als PDF-Datei.</a>
  </p>
  <ul class="triangle">
    <li>
      <p>
        Die Sozialberatung
      </p>
      <p>
        Name, Telefon, E-Mail, …
      </p>
    </li>
    <li>
      <p>
       Der werksärztliche Dienst / Ihre etriebsärztin bzw. Ihr Betriebsarzt
      </p>
      <p>
        Name, Telefon, E-Mail, …
      </p>
    </li>
    <li>
      <p>
        Die Vertrauensperson der Schwerbehinderten
      </p>
      <p>
        Name, Telefon, E-Mail, …
      </p>
    </li>
    <li>
      <p>
        Die Fachkraft für Arbeitssicherheit (FaSi / SiFa)
      </p>
      <p>
        Name, Telefon, E-Mail, …
      </p>
    </li>
    <li>
      <p>
        Die Personalabteilung / HR-Management
      </p>
      <p>
        Name, Telefon, E-Mail, …
      </p>
    </li>
    <li>
      <p>
        Der Betriebsrat / Personalrat
      </p>
      <p>
        Name, Telefon, E-Mail, …
      </p>
    </li>
  </ul>
</div>