<div class="jumbotron">
  <div class="container">
    <h1>Kennzeichen dauerhafter Überlastung</h1>
  </div>
</div>
<div class="container">
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter4/overstress.svg' : 'img/legacy/chapter4/overstress.jpg' }}"
       alt="" />
</div>