<div class="jumbotron">
  <div class="container">
    <h1>Unterstützungsangebote</h1>
  </div>
</div>
<div class="container">
  <p>
    Achten Sie darauf, ob diese <strong>Grenzkriterien</strong> bei Ihnen schon erreicht sind.
    Seien Sie ehrlich zu sich selbst:
  </p>
  <p>
   <ul class="triangle">
    <li>Ist wirklich die Arbeit „zu viel“?</li>
    <li>Oder stehen Ihnen Ihre Perfektionsansprüche (innere Stressoren) im Weg?</li>
    <li>Oder ist es die Mehrfachbelastung im Arbeits- und Privatleben? </li>
    <li>Spielen private Probleme eine Rolle?</li>
   </ul>
  </p>
  <p>
   Wenn die Ursache im <strong>Privaten</strong> liegt:
   Gehen Sie die Lösung dort an!
  </p>
  <p>
   Wenn die Ursache im <strong>Beruf</strong> liegt:
   Führen Sie das Gespräch mit Ihrer Führungskraft (-> Handlungshilfen)
  </p>
  <p>
   Sie sollten <strong>nicht länger als 2 Wochen</strong> Ihre Warnsignale tatenlos hinnehmen 
    &ndash; sich selbst zuliebe!
  </p>
  <p>
   Es gibt Menschen und Institutionen, bei denen Sie <strong>Unterstützung finden</strong> können:
   innerhalb und außerhalb des Unternehmens.
   Für beides finden Sie im Folgenden Übersichten.
  </p>
</div>