<div class="jumbotron">
  <div class="container">
    <h1>Wann ist es Zeit Hilfe anzunehmen?</h1>
  </div>
</div>
<div class="container" ng-controller="TimeForHelpCtrl">
  <p>
    Jeder Mensch hat Momente, in denen er sich zu stark beansprucht fühlt und unter Druck gerät.
    Wie Sie im ersten Kapitel
    (<a ng-click="goToAcuteStress()" style="cursor: pointer;">Akuter&nbsp;Stress</a>) gelernt haben,
    erkennen Sie die <strong>Auswirkungen auf vier Ebenen</strong>:
    an Ihren körperlichen Reaktionen, Ihrem Verhalten, Ihren Gefühlen und Ihren Gedanken.
    Dauern die äußeren Belastungen oder Ihre Beanspruchungsreaktionen zu lange an,
    können sich diese Auswirkungen ebenso verstärken.
    Dann ist es Zeit, die Situation zu verändern.
  </p>
  <p>
    Im Folgenden lernen Sie, welche Anzeichen bei Ihnen als <strong>Warnsignal</strong> dienen können,
    um sich rechtzeitig Unterstützung zu holen.
    Je eher Sie sich darüber klar werden, umso geringer ist das Risiko,
    langfristig unter den Folgen der <strong>Überbeanspruchung</strong> zu leiden.
  </p>
  
  <br>
  <br>
  <br>
  
  <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/chapter4/time-for-help.svg' : 'img/legacy/chapter4/time-for-help.jpg' }}"
           alt="" />
</div>