<div class="jumbotron">
  <div class="container">
    <h1>Kapitel 4</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Überlastungssignale erkennen und Unterstützung finden</h2>
  </div>
  <p>
    In diesem Kapitel beschäftigen wir uns mit folgenden Fragen:
  </p>
  <ul class="triangle">
    <li>Wann ist es Zeit, Hilfe anzunehmen?</li>
    <li>Woran erkennen Sie, ob Sie überlastet sind?</li>
    <li>Welche innerbetrieblichen Unterstützungsangebote gibt es?</li>
    <li>Welche außerbetrieblichen Unterstützungsangebote gibt es?</li>
  </ul>
</div>