<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Mobbing</h4>
    </div>
    <div class="modal-body">
      <p>
        Unter Mobbing wird das systematische,
        dauerhafte und zielgerichtete <strong>Ausgrenzen einer Person</strong> verstanden,
        mit dem Ziel, diese Person sozial zu isolieren und in ihrem beruflichen,
        sozialen und privaten Ansehen zu schädigen.
        Mobben kann man durch Worte und auch Taten.
        Für die Opfer bedeutet Mobbing eine <strong>starke Beeinträchtigung</strong>
        ihres physischen und psychischen Wohlbefindens.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps für die Reduzierung äußerer zwischenmenschlicher Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>