<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ungerechtigkeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Ungerechtigkeit im sozialen Umgang bedeutet,
        dass man sich durch die Führungskraft nicht <strong>respektvoll oder freundlich</strong> behandelt fühlt.
        Es fehlt das Gefühl, dass Befürchtungen auf offene Ohren stoßen
        und keinerlei Verständnis für Probleme erwartet wird.
        Man fühlt sich nicht als Mensch wahrgenommen, was ein wesentliches Grundbedürfnis darstellt.
        Unzufriedenheit mit dem oder der direkten Vorgesetzten ist aufgrund des erlebten
        Abhängigkeitsverhältnisses ein großer Stressor
        und kann bei möglichen Alternativen die <strong>Kündigungsabsichten</strong> beeinflussen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Die Handlungshilfen gegen äußere Stressoren bieten Ihnen Tipps bei Problemen mit der Führungskraft.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>