<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Führungsverhalten</h4>
    </div>
    <div class="modal-body">
      <p>
        Meist werden Führungskräfte durch gute Arbeitsleistungen befördert.
        Aspekte des gesundheitsgerechten Führungsverhaltens
        werden für die Beförderung eher nicht berücksichtigt.
        Schenkt eine Führungskraft der Gesundheit der Beschäftigten <strong>keine Aufmerksamkeit</strong>
        oder ist sie über diese Themen nicht informiert oder für diese <strong>nicht sensibilisiert</strong>, 
        können Gesundheit und Leistungsfähigkeit des Teams auf Dauer darunter leiden.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps für die Reduzierung äußerer zwischenmenschlicher Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>