<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Zu wenig Anerkennung</h4>
    </div>
    <div class="modal-body">
      <p>
        Beschäftigte brauchen Anerkennung als Feedback,
        zur Bestätigung und manchmal auch zur <strong>Stärkung des Selbstwertgefühls</strong>.
        Sie möchten von ihrer Führungskraft bemerkt werden,
        nicht nur wenn ihnen Fehler unterlaufen sind.
        Wer wird nicht gerne gelobt?
        Zu wenig Anerkennung kann verunsichern und dazu führen,
        dass man sich mit seiner Arbeit immer <strong>weniger identifiziert</strong> oder sich nicht als Person &ndash;
        die ihren aktiven Beitrag leistet &ndash; wertgeschätzt fühlt.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps gegen diesen äußeren Stressor.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>