<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ärger im Team </h4>
    </div>
    <div class="modal-body">
      <p>
        Wenn es im Team knirscht, fällt es schwer, sich auf die Arbeit zu <strong>konzentrieren</strong>.
        Das beeinträchtigt nicht nur die Leistung,
        auch das <strong>Abschalten nach Feierabend</strong> kann dadurch erschwert werden.
        Stauen sich diese Konflikte auf,
        rutschen sie auf die <strong>persönliche Ebene</strong> und es wird immer schwerer,
        die Probleme sachlich zu klären.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen gegen äußere Stressoren finden Sie Hinweise für die Vermeidung von sozialen Konflikten.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>