<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Control and feedback</h4>
    </div>
    <div class="modal-body">
      <p>
        Your work should be designed so that you already have current feedback about your work progress 
        while performing your job (whether technical systems or people).
        This gives you <strong>clarity</strong> and <strong>orientation</strong>,
        and the possibility of prompt action when deviations are visible.
        The possibility of self-control over the work process gives you <strong>confidence</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        You can and should demand feedback from your immediate supervisor.
        For instructions for the preparation of such a conversation,
        see the instructions in the action aids against external stressors 
        under the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>