<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ergonomic design</h4>
    </div>
    <div class="modal-body">
      <p>
        Height adjustable furniture or other ergonomically optimized equipment can help to
        ensure that you stay fit and are <strong>able to work</strong> for a long time, 
        as this already minimizes physical demands.
        This not only has a positive effect on your <strong>physical well-being</strong>, 
        but also has a psychological relief.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        <strong>Tip:</strong> Check which ergonomic improvements would already exist at your workplace. 
        Often there are tools or change options which are not used for various reasons. 
        Have this conversation with your occupational safety specialist for consultation:
        Ergonomics is his/her theme.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>