<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Privacy</h4>
    </div>
    <div class="modal-body">
      <p>
        Many workplaces are subject to <strong>noise</strong>. 
        Earplugs can deter some, elsewhere they are not as appropriate, such as in schools, kindergartens or in sales. 
        The opportunity to <strong>experience silence</strong> in a room at work helps you to recharge your
        batteries and to protect you from the symptoms of irritability and poor concentration.
        Wherever possible, noise should be reduced: 
        Maybe you have concrete ideas on how to implement them with the team or manager?
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        You should also get the opportunity to create your work environment, wherever it is possible, 
        in order to feel comfortable. Since many aspects of the work environment are not in your hands, 
        you should also have a conversation about this with your manager (see the action aids against external stressors)
        and maybe also with your occupational safety specialist.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>