<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Technology and software</h4>
    </div>
    <div class="modal-body">
      <p>
        Today hardly any work is entirely free from technology. 
        Many everyday routines are increasingly more dependent on technological function. 
        The smooth running of technical systems and computer programs is a guarantee for
        relaxed working, as well as the <strong>usability</strong> of the systems. 
        So work stoppages and related frustration is avoided and you can concentrate fully 
        on your work.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        No one knows the technical obstacles in your work process as well as you do. 
        Tell your manager about technical problems. Ideas for the   
        <strong>preparation of this discussion</strong> can be found in the action aids 
        against external stressors in the main menu. 
        Or you can search for solutions with your colleagues. 
        A good social network can help you. How to maintain this network is also explained in the action    
        aids for strengthening external resources.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>