<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Work equipment</h4>
    </div>
    <div class="modal-body">
      <p>
        Good work assumes good work equipment, including appropriate protective equipment. 
        Whether tools, machinery, utensils, computer systems, etc., do you have everything you
        need for a good job? 
        Functioning, high-quality and user-friendly work equipment avoids irritation and
        obstructions in <strong>routine procedures</strong> at work and helps you to fully concentrate 
        on your job tasks without the need to fret about poor equipment.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        Since many aspects of the organization of work are not in your hands, you should have a 
        <strong>talk to your manager</strong> about this. 
        Ideas for the preparation of this discussion can be found in the action aids 
        against external stressors in the main menu. 
        Because you are the expert of your job, you should add your knowledge and your 
        experience.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>