<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Workplace design</h4>
    </div>
    <div class="modal-body">
      <p>
        You spend more waking time during the week at your workplace than at home. 
        It should therefore be possible for you to at least <strong>create some parts of your workplace</strong>
        at your preference, for example, by setting up a photo or bringing your own coffee mug.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        You should also create a work environment, wherever it is possible, in order to feel comfortable. 
        Since many aspects of the work environment are not in your hands, you should also seek out 
        this conversation with your manager. 
        Ideas for the  
        <strong>preparation of this discussion</strong> can be found in the action aids against external stressors. 
        Since many do not work just on their own, the agreement of the team is also needed. 
        Tips for a good social network can also be found in the action aids for external resources using the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>