<!doctype html>
<html ng-app="printApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <base href="./">
    
    <title>Bilanz / Balance</title>
    
    <script src="angular.min.js"></script>
    <script src="print.js"></script>
    
    <link href="bootstrap.min.css" rel="stylesheet">
    
    <style>
      .progress {
        border: 1px solid #888;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-print-color-adjust: exact;
      }
      .progress-bar {
        height: 0;
        border-bottom-color: #a5a5a5;
        border-bottom-style: solid;
        border-bottom-width: 20px;
      }
      .progress-bar.resources {
        border-bottom-color: #3ca046;
      }
      .progress-bar.stressors {
        border-bottom-color: #e7324c;
      }
    </style>
  </head>
  <body ng-controller="printController">
    <div class="container">
      <h1>{{ 'Ihre Stressoren-Ressourcen-Bilanz' | translate:language }}</h1>
      
      <div class="row">
        <div class="col-xs-6" style="text-align: center;">
          <h3>{{ 'Ihre Ressourcen' | translate:language }}</h3>
        </div>
        <div class="col-xs-6" style="text-align: center;">
          <h3>{{ 'Ihre Stressoren' | translate:language }}</h3>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-xs-3" style="text-align: right;">
          <p>{{ 'Arbeits&shy;inhalte' | translate:language }}</p>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.resourcesWorkContent.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar resources" ng-style="{'width': (data.resourcesWorkContent.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.stressorsWorkContent.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar stressors" ng-style="{'width': (data.stressorsWorkContent.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <p>{{ 'Arbeits&shy;inhalte' | translate:language }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-3" style="text-align: right;">
          <p>{{ 'Arbeits&shy;organisation' | translate:language }}</p>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.resourcesWorkOrganization.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar resources" ng-style="{'width': (data.resourcesWorkOrganization.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.stressorsWorkOrganization.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar stressors" ng-style="{'width': (data.stressorsWorkOrganization.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <p>{{ 'Arbeits&shy;organisation' | translate:language }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-3" style="text-align: right;">
          <p>{{ 'Arbeits&shy;umgebung' | translate:language }}</p>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.resourcesWorkEnvironment.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar resources" ng-style="{'width': (data.resourcesWorkEnvironment.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.stressorsWorkEnvironment.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar stressors" ng-style="{'width': (data.stressorsWorkEnvironment.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <p>{{ 'Arbeits&shy;umgebung' | translate:language }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-3" style="text-align: right;">
          <p>{{ 'Soziale Aspekte' | translate:language }}</p>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.resourcesFellows.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar resources" ng-style="{'width': (data.resourcesFellows.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.stressorsFellows.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar stressors" ng-style="{'width': (data.stressorsFellows.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <p>{{ 'Soziale Aspekte' | translate:language }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-3" style="text-align: right;">
          <p>{{ 'Innere Ressourcen' | translate:language }}</p>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.innerResources.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar resources" ng-style="{'width': (data.innerResources.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="progress">
            <div class="progress-bar" ng-style="{'width': (data.internalStressors.extent / 3) * 100 +'%'}"></div>
          </div>
          <div class="progress">
            <div class="progress-bar stressors" ng-style="{'width': (data.internalStressors.impact / 3) * 100 +'%'}"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <p>{{ 'Innere Stressoren' | translate:language }}</p>
        </div>
      </div>
      
      <br>
      
      <div ng-switch="language">
        <div ng-switch-when="EN">
          <h3>Legend</h3>

          <p>
            The diagram shows your average ratings on
            the respective categories of resources or stressors.<br>

            <strong>Gray bars:</strong>
            The extent to which each resource is present,
            or how often you are faced with the particular stressors.<br>

            <strong>Green bars:</strong>
            How much do the respective resources strengthen you?<br>

            <strong>Red bars:</strong>
            How much are you strained by the respective stressors?
          </p>
        </div>
        <div ng-switch-default>
          <h3>Legende</h3>

          <p>
            Das Diagramm zeigt Ihnen Ihre durchschnittlichen Bewertungen auf
            den jeweiligen Kategorien der Ressourcen bzw. der Stressoren.<br>

            <strong>graue Balken:</strong>
            Wie stark sind die jeweiligen Ressourcen bei Ihnen ausgeprägt,
            bzw. wie häufig sind Sie mit den jeweiligen Stressoren konfrontiert.<br>

            <strong>grüne Balken:</strong>
            Wie sehr tragen die jeweiligen Ressourcen zu Ihrer Stärkung bei?<br>

            <strong>rote Balken:</strong>
            Wie sehr sind Sie durch die jeweiligen Stressoren beansprucht?
          </p>
        </div>
      </div>
  </body>
</html>