<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ständige Erreichbarkeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Für viele Menschen hört die Arbeit auch in der Mittagspause
        oder nach Feierabend nicht auf &ndash;
        obwohl das Arbeitszeitgesetz hier eigentlich deutliche Vorgaben macht.
        Aber viele Beschäftigte sind mit <strong>Forderungen</strong> der Erreichbarkeit
        auch in arbeitsfreien Zeiten konfrontiert.
        Dadurch fällt das Abschalten von der Arbeit schwerer.
        Hierunter <strong>leidet die Erholung</strong>. Wir arbeiten schlicht zu viel.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Tipps gegen ständige Erreichbarkeit
        finden Sie in den Handlungshilfen gegen äußere Stressoren.  
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>