<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Unterbrechungen / Wartezeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Wenn Beschäftigte ihre Arbeit wiederholt unterbrechen müssen &ndash;
        zum Beispiel weil sie auf eine Rückmeldung vom Kunden warten
        oder weil sie von der Arbeitsleistung Dritter abhängig sind &ndash;,
        kann dies zu <strong>Unzufriedenheit und Stress</strong> führen,
        vor allem, wenn das <strong>erfolgreiche Erledigen ihrer eigenen Arbeitsaufgaben</strong>
        dadurch <strong>gefährdet</strong> wird (z.B. das Servicepersonal erhält Reklamationen der Gäste,
        weil das Küchenpersonal die Bestellung übersehen hat). 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Die Handlungshilfen bieten Ihnen Tipps für die Reduzierung von äußeren Stressoren,
        die sich aus Ihrer Arbeitsorganisation ergeben.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>