<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Rollenkonflikte</h4>
    </div>
    <div class="modal-body">
      <p>
        Rollenkonflikte treten auf, wenn eine Person für mehrere Aufgaben zuständig ist,
        die nicht zueinander in Einklang zu bringen sind.
        Schwierig wird es dann,
        wenn diese Person Anweisungen von verschiedenen Personen erhalten darf,
        die sich in den Erwartungen nicht einig sind. Man ist als Person hin- und hergerissen
        und kann es gar nicht schaffen, den <strong>unterschiedlichen Erwartungen und Anforderungen</strong>,
        die an einen gestellt werden, gerecht zu werden.
        Dieser Zustand führt zu einer emotionalen Beanspruchung.
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Für diesen Stressor der Arbeitsorganisation sind die Führungskräfte zuständig.
        Mit ihnen sollten Sie ein klärendes Gespräch führen.
        Hinweise dazu finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>