<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Arbeitszeiten / Schichtarbeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Schichtarbeit kann den <strong>Schlaf-Wach-Rhythmus</strong> negativ beeinflussen,
        wenn sie nicht im Einklang mit dem Biorhythmus der Beschäftigten steht.
        Das kann sich langfristig auch negativ auf die Gesundheit auswirken.
        Auch erschweren es ungewöhnliche Arbeitszeiten, <strong>Familie und Beruf</strong> unter einen Hut zu bringen.
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Hinweise zum Umgang mit Stressoren der Arbeitsorganisation finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>