<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Zeitdruck</h4>
    </div>
    <div class="modal-body">
      <p>
        Branchenübergreifend gilt Zeitdruck als der Stressor schlechthin.
        Immer mehr muss in immer kürzerer Zeit erledigt werden.
        Es entsteht ein <strong>Ungleichgewicht</strong> zwischen der <strong>benötigten Zeit</strong> für die Arbeitsaufgaben
        und der <strong>zur Verfügung stehenden Arbeitszeit</strong>.
        Man fühlt sich dabei gehetzt.
        Auf Dauer kann Zeitdruck einen Risikofaktor darstellen,
        nicht nur für die psychische Gesundheit.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps für die Reduzierung von äußeren Stressoren,
        die aus Ihren Arbeitsinhalten resultieren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>