<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Zu viel Arbeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Ein Zuviel an Arbeit &ndash;
        auch wenn man diese gut beherrscht &ndash;
        führt häufig zu <strong>Überstunden</strong>.
        Dadurch leiden die <strong>Erholung</strong> und <strong>Gesundheit</strong> sowie langfristig auch die Leistung.
        Dieser Stressor wurde bereits im ersten Kapitel ausführlich erarbeitet.
       </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Hinweise für die Möglichkeit der Reduzierung dieses äußeren Stressors. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>