<div class="jumbotron">
  <div class="container">
    <h1>Zeitmanagement (ALPEN)</h1>
  </div>
</div>
<div class="container">
  <p>
    Nehmen Sie sich die Zeit,
    Ihre Arbeit zu planen.
    Ein Plan gibt Ihnen eine <strong>Struktur</strong> an die Hand,
    er legt Ziele fest und damit auch Erfolgskriterien:
    Nach der Umsetzung Ihres Plans können Sie sich <strong>freuen</strong>.
    Es mag sein, dass Sie Ihre Arbeit auch ohne Plan geschafft bekommen
    (und bei Fließbandtätigkeit macht ein Plan auch keinen Sinn),
    aber für die meisten Tätigkeiten gilt,
    dass ein Plan sinnvoll ist.
    Er gibt Ihnen das Gefühl,
    die Dinge im Griff zu haben &ndash; statt umgekehrt.
    Sie können <strong>Erledigtes abhaken</strong>
    und wissen immer,
    wo Sie stehen.
    Damit Ihr Plan gelingt,
    orientieren Sie sich am besten an der ALPEN-Methode:
   </p>
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>A</strong>ufgaben<br>
        (Termine und geplante Aktivitäten notieren)<br>
        <strong>L</strong>änge schätzen<br>
        (zur Bewältigung jeder Aufgabe)<br>
        <strong>P</strong>ufferzeiten einplanen<br>
        (nur 60% verplanen, 40% Puffer reservieren)<br>
        <strong>E</strong>ntscheidungen treffen<br>
        (Welche Priorität gebe ich jeder Aufgabe?)<br>
        <strong>N</strong>achkontrolle<br>
        (Sind alle Aufgaben erledigt? War mein Plan realistisch? Wenn nicht,
        für das nächste Mal besser einschätzen.)<br>
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>Schreiben Sie auf, was Sie nicht vergessen dürfen!</strong>
      </p> 
      <p>
        Kaufen Sie sich ein Notizbuch für die Hosentasche
        (mit kleinem Stift!) und schreiben Sie alles auf,
        was nicht verloren gehen darf.
        An diesem Tipp führt kein Weg vorbei,
        wenn Sie ernst machen wollen!
        <strong>Alles, was Sie aufschreiben,
        kann Ihr Kopf getrost loslassen.</strong>
        Es steht ja auf Ihrem Zettel.
        Nichts geht verloren. 
        Sie haben die Dinge im Griff.
        Ein gutes Gefühl.
      </p>
    </div>
  </div>
  <div>
    <p>
      Anmerkung:<br>
      Auch hierbei merken Sie wieder,
      wie wertvoll es ist,
      sich Notizen zu machen.
      Für Ihr Kontrollgefühl im Umgang mit Stressoren ist es unverzichtbar.
    </p>
    <h5 class="footnote">
      Seiwert J.L. &amp; Tracy B. (2002). Life-Leadership.
      So bekommen Sie Ihr Leben in Balance.
      2. Auflage. Offenbach: Gabal Verlag, S. 86.
    </h5>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>