<div class="jumbotron">
  <div class="container">
    <h1>Spalten-Technik 3/3</h1>
  </div>
</div>
<div class="container">
  <h3>Beispiele kognitiver Umstrukturierung</h3>
  <p>
    Die folgende Tabelle zeigt Ihnen Beispiele
    für die Formulierung alternativer bzw.
    realistischer positiver Gedanken:
  </p>
  <table border="0" style="width: 100%">
    <thead style="color: #fff; background-color: #3ca046;">
      <tr>
        <th style="padding: 5px;">
          Negative Gedanken
        </th>
        <th style="padding: 5px;">
          Positive Gedanken
        </th>
      </tr>
    </thead>
    <tbody style="color: #000">
      <tr style="background-color: #eee;">
        <td style="padding: 5px;">
          Das schaffe ich nie! Das ist viel zu schwierig.
        </td>
        <td style="padding: 5px;">
          Ich habe schon ganz anderes hinbekommen!
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          Die anderen sind viel besser als ich.
        </td>
        <td style="padding: 5px;">
         Andere kochen auch nur mit Wasser!
        </td>
        </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          Schon wieder Kritik? Ich geb auf!
        </td>
        <td style="padding: 5px;">
          Ich halte durch, weil ich will!
        </td>
        </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          Das wird eine Katastrophe,
          wenn ich das nicht bis Freitag schaffe.
        </td>
        <td style="padding: 5px;">
          In 20 Jahren denke ich anders darüber.
        </td>
        </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          Das klappt sowieso nicht.
          Bei mir geht immer alles schief.
        </td>
        <td style="padding: 5px;">
          Manchmal gehen Dinge gut für mich aus.
        </td>
        </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          Immer bekomme ich diese schwierigen Aufgaben.
        </td>
        <td style="padding: 5px;">
          Hier kann ich zeigen, was ich kann!
        </td>
        </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          Keiner kümmert sich um mich.
        </td>
        <td style="padding: 5px;">
          Liebe Menschen sind für mich da.  
        </td>
        </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          Das ist doch mal wieder typisch für mich. &ndash;
          Ich setze auch einfach alles in den Sand.
        </td>
        <td style="padding: 5px;">
          Manches ist nicht völlig daneben.
        </td>
        </tr>
    </tbody>
  </table>
  <br>
  <p>
    <strong>Tipp:</strong> Um die guten Gedanken nicht zu vergessen,
    &ndash; schreibe ich sie auf kleine Zettel 
    &ndash; speichere ich sie im Handy
    &ndash; spreche ich sie laut 
    (und nehme Sie in der Diktierfunktion auf)
    &ndash; sage ich sie mir morgens nach dem Aufwachen
    &ndash; denke ich sie am Ende meines Entspannungstrainings ...
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>