<div class="jumbotron">
  <div class="container">
    <h1>Spalten-Technik 1/3</h1>
  </div>
</div>
<div class="container">
  <p>
    Eine der wichtigsten verhaltenstherapeutischen Techniken,
    von denen jeder profitieren kann,
    ist die sogenannte <strong>kognitive Umstrukturierung</strong>.
    Dabei lernt man in einem ersten Schritt,
    die Gedanken zu identifizieren,
    mit denen man sich selbst fertigmacht,
    und in positive sowie realistische Gedanken umzuwandeln.
  </p>
  <p>
    Häufig stammen diese <strong>negativen Gedanken</strong> aus der frühen Kindheit.
    Sie enthalten <strong>Botschaften</strong>,
    die uns in unseren ersten Lebensjahren mit auf den Weg gegeben wurden.
    Das können zum Beispiel Sätze sein wie:
    „Dein kleiner Bruder war schon immer der Gescheitere“
    oder „Du bist aber auch wirklich der Trampel der Familie“.
    Insbesondere wenn man sich schlecht fühlt,
    kommen diese Sätze wieder ins Bewusstsein.
    Und sie lähmen uns.
  </p>
  <p>
    Falls auch Sie sich manchmal in Gedanken abwerten,
    sollten Sie unbedingt diese Spalten-Technik
    als ein Hilfsmittel zur kognitiven Umstrukturierung ausprobieren.
    Bevor Sie darangehen,
    die Miesmacher in Ihrem Kopf zu ersetzen,
    müssen Sie zunächst herausfinden,
    welche Sätze das sind,
    mit denen Sie sich selbst herunterputzen.
    Das tut weh, ist aber hilfreich.
    Und dann suchen Sie <strong>Gedanken, die Ihnen Mut machen!</strong>
  </p>
  <p>
    Auf den folgenden Seiten finden Sie dafür Beispielsätze.
    Aber seien Sie ehrlich:
    Gehen Sie zunächst 1 Woche lang
    auf die Suche nach Ihren persönlichen Miesmachern!
  </p>
  <h5 class="footnote">
    Hollon S.D. &amp; Beck A.T. (2013). Cognitive Therapy of Depression.
    In P.C. Kendall &amp; S.D. Hollon (Hrsg.):
    Cognitive-Behavioral Interventions:
    Theory, Research, and Procedure. New York (USA): Academic Press.
    S. 153-204.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>