<div class="jumbotron">
  <div class="container">
    <h1>Spalten-Technik 2/3</h1>
  </div>
</div>
<div class="container">
  <h3>Anwendung:</h3>
  <p>
    Führen Sie für die nächsten 2 Wochen einen kleinen Notizblock bei sich,
    um direkt im Anschluss an eine erlebte Stress-Situation
    eine Art Liste anzulegen.
    Fragen Sie sich,
    wenn Sie durch den Stress aufgewühlt sind,
    <strong>wie Sie in diesem Moment über sich denken</strong>.
    Und dann überlegen Sie sich,
    welche Gedanken positiver wären (und glaubhaft!).
    Als Vorlage dient Ihnen die folgende Tabelle:
  </p>
  <table border="0" style="width: 100%">
    <thead style="color: #fff; background-color: #3ca046;">
      <tr>
        <th style="padding: 5px;">
          Datum
        </th>
        <th style="padding: 5px;">
          Situation
        </th>
        <th style="padding: 5px;">
          Gefühl und Bewertung<br>
          </th>
        <th style="padding: 5px;">
         Automatischer Gedanke
        </th>
        <th style="padding: 5px;">
          Rationaler Gedanke
        </th>
        <th style="padding: 5px;">
         Resultat
        </th>
      </tr>
    </thead>
    <tbody style="color: #000">
      <tr style="background-color: #eee;">
        <td style="padding: 5px;">
          TT.MM.
        </td>
        <td style="padding: 5px;">
          Kurze Beschreibung der Situation,<br>
          die negative Gefühle in Ihnen auslöst
        </td>
        <td style="padding: 5px;">
          Welches Gefühl<br> (z.B. Angst, Nervösität)?
        </td>
        <td style="padding: 5px;">
          Welche negativen Gedanken<br>
          gingen Ihnen spontan<br> durch den Kopf?
          Was begründete<br> Ihr negatives Gefühl?
        </td>
        <td style="padding: 5px;">
        Schreiben Sie alternativen/<br> 
        realistische Gedanken auf.
        </td>
        <td style="padding: 5px;">
        Bewerten Sie erneut Ihre Zustimmung<br> 
        zum negativen Gedanken (0&mdash;100%).
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        Wie stark war Ihr Gefühl?<br>
        (1&mdash;100%)
        </td>
        <td style="padding: 5px;">
        Wie sehr glauben Sie,<br>
        dass Ihre Sorgen/<br>
        Befürchtungen zutreffen?<br>
        (0&mdash;100%)
        </td>
        <td style="padding: 5px;">
        Wie sehr glauben Sie, dass<br>
        diese Gedanken realistisch sind?<br>
        (0&mdash;100%)
        </td>
        <td style="padding: 5px;">
        Wie fühlen Sie sich jetzt,<br>
        nachdem Sie Ihre Situation überdacht/<br>
        relativiert haben?
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="footnote">
    Hollon S.D. &amp; Beck A.T. (2013). Cognitive Therapy of Depression. 
    In: P.C. Kendall &amp; S.D. Hollon (Hrsg.) 
    Cognitive-Behavioral Interventions:
    Theory, Research, and Procedure (S.161). New York (USA): Academic Press.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>