<div class="jumbotron">
  <div class="container">
    <h1>Grenzen setzen und Nein sagen (3/3)</h1>
  </div>
</div>
<div class="container">
  <h3>Ein kleiner Leitfaden</h3>
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>1. Basis</strong>
      </p>
      <p>
        „Überzeugung wirkt überzeugend“, sagt man.
        Wer selbst daran zweifelt,
        ob sein Grenzensetzen berechtigt ist,
        hat im Grunde schon verloren.
        Am besten machen Sie sich vor dem Gespräch eine Liste,
        auf der Sie notieren,
        warum es für Sie wichtig ist,
        diese Grenze zu setzen.
        Die einzelnen Punkte sollen Sie nicht im Gespräch vorbringen
        &ndash; aber sie sind wichtig,
        um Ihnen für das Gespräch den Rücken zu stärken.
        Nur wenn Sie selbst überzeugt sind,
        werden Sie auch überzeugend wirken.
        Seien Sie innerlich gerüstet fürs Neinsagen:
        Notieren Sie Ihre Argumente 
        und lesen Sie sie täglich laut vor der Arbeit!
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>2. Keine Entschuldigung</strong>
      </p>
      <p>
        Entschuldigen Sie sich nicht,
        wenn Sie einen Auftrag ablehnen.
        Es ist Ihr gutes Recht und genau genommen sogar Ihre Pflicht,
        sich vor Überlastung zu schützen.<br> 
        Fangen Sie nicht ungefragt damit an,
        weitere Begründungen oder gar Entschuldigungen zu liefern.
        Sagen Sie zum Beispiel nicht „Es tut mir leid",
        sondern "Ich brauche das für meine Erholung,
        sonst denke ich ja die ganze Zeit an die Arbeit 
        und kann nicht gut abschalten“.
        Damit machen Sie deutlich: „Es ist nicht gegen Sie
        &ndash; es ist FÜR MICH“;
        Sie wirken also nicht angreifend.
        Es tut Ihnen auch nicht leid 
        &ndash; sollte es zumindest nicht.
        Und weitere Begründungen für Ihre Bitte
        können Sie immer noch nachliefern.
        Aber wenn Sie ungefragt damit starten,
        liefern Sie damit nur unnötig Angriffsfläche.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>3. Widerstand einplanen</strong>
      </p>
      <p>
        Stellen Sie sich innerlich darauf ein,
        dass Ihre Führungskraft nicht sagen wird:
        „Mensch, das ist bewundernswert, 
        wie Sie hier gut für sich selbst sorgen!“
        Ihre Führungskraft ist an Ihrem reibungslosen Funktionieren interessiert
        (das soll kein Vorwurf sein
        &ndash; sie hat einfach genug anderes zu tun).<br>
        Rechnen Sie daher eher mit Sätzen wie 
        „Aber bislang haben Sie doch auch immer …“ 
        oder gar „Dann muss ich mich wohl nach jemand anderem umschauen“.
        So schlimm wird es vermutlich nicht kommen,
        aber selbst wenn Sie auf so massiven Widerstand stoßen:
        Sie haben sich diesen Schritt gut überlegt. 
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>4. Aufrecht und ausatmend</strong>
      </p>
      <p>
        Wenn es so weit ist:
        Stehen Sie aufrecht.
        Kein Gezappel oder Kopf-zur-Seite-Neigen!
        Das wirkt wenig überzeugend.
        Sie können ruhig sagen,
        dass dieser Schritt Sie Überwindung kostet,
        aber Ihre Körpersprache sollte Sicherheit signalisieren.<br>
        Tief durchatmen und dann klar und deutlich die Grenze formulieren:
        „Ich brauche am Abend noch ein paar Stunden zum Erholen für mich
        und deshalb kann ich diese zusätzliche Aufgabe nicht übernehmen.“
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>5. Papagei-Technik</strong>
      </p>
      <p>
        Wenn Ihre Führungskraft versucht, Sie zu überreden,
        doch so weiterzumachen wie bisher 
        (das wird sie vermutlich probieren &ndash;
        sie will ja, dass alles weiterhin reibungslos läuft, 
        und müsste selbst etwas verändern,
        wenn Sie plötzlich nicht mehr mitspielen),
        sollten Sie Ihren Satz mit denselben Worten wiederholen.
        Befürchten Sie nicht, dass es lächerlich 
        &ndash; wie ein Papagei &ndash; klingen könnte;
        das Gegenteil ist der Fall.
        Wenn Sie jetzt herumjammern 
        und klagend mit anderen Worten dieselbe Aussage wiederholen,
        würden Sie viel schwächer und unsicherer wirken,
        als wenn Sie exakt dieselben Worte im identischen 
        oder noch etwas bestimmteren Tonfall wiederholen.
      </p> 
    </div>
    <div class="col col-50">
      <p>
        <strong>6. Stark bleiben</strong>
      </p>
      <p>
        Lassen Sie sich nicht herumkriegen. 
        Auch nicht von Schmeicheleien wie
        „Aber ohne Sie bricht hier alles zusammen" oder
        „Sie wissen doch, dass die Kunden immer alles sofort haben wollen
        &ndash; das kann ich doch ohne Sie gar nicht schaffen“. 
        Klingt gut. Ist vielleicht sogar die Form von Anerkennung,
        die Sie sich schon länger gewünscht haben.<br>
        Trotzdem wäre es fatal, sich jetzt herumkriegen zu lassen.
        Damit würden Sie das Signal setzen „Wer quengelt,
        kommt bei mir weiter“.
        Die Folge? Ihre Führungskraft wird Sie nie wieder ernst nehmen,
        wenn Sie eine Grenze setzen wollen.
        Sie hat einfach eine andere Lernerfahrung gemacht:
        „Bei ihr/ihm muss man ein bisschen quengeln, dann spurt die/der wieder.“
      </p> 
    </div>
  </div>
        
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>7. Prioritätenklärung</strong>
      </p>
      <p>
       Wenn Ihr Schreibtisch schon voll ist 
        und Sie selbst nicht wissen,
        was Sie zuerst tun sollen:<br>
        Bitten Sie um Prioritätenklärung 
        (so machen Sie deutlich,
        dass Sie keine Verweigerungshaltung praktizieren):
        „Alles auf einmal geht ja nicht:
        Was darf ich stattdessen erst einmal liegen lassen?“
        Damit delegieren Sie den nächsten Schritt an Ihre Führungskraft.
      </p> 
    </div>
    <div class="col col-50">
      <p>
        <strong>8. Wertestruktur beachten</strong>
      </p>
      <p>
        Versuchen Sie, 
        an der Wertehierarchie Ihrer Führungskraft anzudocken,
        etwa indem Sie sagen:
        „Ich kann diese gute Qualität nicht mehr garantieren,
        wenn die Arbeit zunimmt.“
        Qualität ist ganz sicher ein Wert für Ihre Führungskraft.
        Sie können auch bei Nachfragen Argumente aufzeigen wie etwa:
        „Ich will ja weiterhin mein Bestes geben,
        dazu brauche ich das“
        oder „Sie haben mehr von mir, wenn ich fit bin“.
      </p> 
    </div>
  </div>
 
  
  <div class="guidance-buttons">
     <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>