<div class="jumbotron">
  <div class="container">
    <h1>Grenzen setzen und Nein sagen 2/3</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>5 gute Gründe: Warum Sie Neinsagen lernen müssen</strong>
  </p>
  <ol>
    <li>
      Wenn Sie in diesem Leben Ihre <strong>Ziele erreichen wollen</strong>,
      müssen Sie lernen, Nein zu sagen 
      zu überhöhten Ansprüchen anderer Menschen.
    </li>
    <li>
      Menschen lernen aus ihren <strong>Erfahrungen</strong>.
      Wenn Ihre Kolleginnen und Kollegen die Erfahrung machen
      „Die/Der nimmt mir Arbeit ab,
      wenn ich nur lange genug quengele“,
      dann merken sie sich das 
      und probieren es beim nächsten Mal wieder.
    </li>
    <li>
      Und falls Sie beim nächsten Mal doch wagen,
      Nein zu sagen, müssen Sie damit rechnen,
      ein empörtes „Früher waren Sie ganz anders!“ zu hören.
    </li>
    <li>
      Trotzdem sollten Sie es tun.
      Ihrer <strong>Gesundheit</strong> zuliebe.
      Ihrer <strong>Partnerschaft</strong> zuliebe.
      Und überhaupt <strong>sich selbst</strong> zuliebe.
      Schließlich haben Sie ein eigenes Leben,
      eine eigene Arbeit und genug zu tun. 
    </li>
    <li>
      Andere machen es SICH leicht und IHNEN schwer,
      wenn sie Sie um „nur mal eben einen kleinen Gefallen” bitten.
      Das muss keine böse Absicht sein.
      Aber es ist sinnvoll und gesund,
      dass Sie bei diesem Spiel nicht mitmachen.
    </li>
  </ol>
  <br>

  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>