<div class="jumbotron">
  <div class="container">
    <h1>Grenzen setzen und Nein sagen 1/3</h1>
  </div>
</div>
<div class="container">
  <h3>Warum das Neinsagen so schwerfällt</h3>
  <p>
    Den meisten Menschen fällt es schwer, 
    ihrer Führungskraft Feedback zu geben &ndash;
    sogar zu der Frage,
    ob sie schon an ihrer Leistungsgrenze angekommen sind.
    Sie <strong>wehren</strong> sich nicht einmal 
    <strong>gegen Überlastung</strong>.
    Die Gründe,
    weshalb das Neinsagen so schwierig ist, sind vielfältig:<br>
  </p>
  <br>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/guidance/bubbles.svg' : 'img/legacy/guidance/bubbles.jpg' }}"
       alt="" />
  <br>
  <p>
    Das Wichtigste beim Neinsagen ist die <strong>innere Haltung</strong>.
    Wenn Sie absolut sicher sind,
    dass es Ihnen zusteht,
    anderen Menschen Grenzen zu setzen,
    strahlen Sie diese Überzeugung auch aus.
  </p>
  <p>
    Deshalb finden Sie im Folgenden 
    <a ui-sref="app.guidance.internalStressors.limits2">
      <strong>5 gute Gründe fürs Neinsagen</strong>
    </a>.
    Noch wichtiger sind aber Ihre eigenen Gründe.
    Schreiben Sie sie auf!
    Und lesen Sie sie sich laut vor
    (wenn Sie niemand hört).
    Diese Überzeugung „Ich darf Nein sagen“ 
    muss Ihnen in Fleisch und Blut übergehen.
    Erst wenn Sie selbst zu 100% davon überzeugt sind,
    werden Sie auch überzeugend wirken
    (ohne das extra üben zu müssen).
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>