<div class="jumbotron">
  <div class="container">
    <h1>Innere Stressoren</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Innere_Stressoren.pdf" target="_blank">Diese Handlungshilfen als PDF-Dokument abspeichern.</a>
  </p>
  <p>
    Was können Sie tun, 
    wenn Sie merken,
    dass Sie sich selbst unter Druck setzen,
    oder andere innere Stressoren Sie belasten?
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.internalStressors.shortbreak1">Bewusste Entspannung</a></li>
    <li><a ui-sref="app.guidance.internalStressors.selfesteem1">Selbtswertgefühl-Stärkung</a></li>
    <li><a ui-sref="app.guidance.internalStressors.pareto">Pareto-Prinzip</a></li>
    <li><a ui-sref="app.guidance.internalStressors.parkinson">Parkinson-Gesetz</a></li>
    <li><a ui-sref="app.guidance.internalStressors.alpen">Zeitmanagement (ALPEN)</a></li>
    <li><a ui-sref="app.guidance.internalStressors.column1">Spalten-Technik</a></li>
    <li><a ui-sref="app.guidance.internalStressors.limits1">Grenzen setzen und Nein sagen</a></li>
    <li><a ui-sref="app.guidance.internalStressors.roadmap1">Feierabend-Fahrplan</a></li>
    <li><a ui-sref="app.guidance.internalStressors.myStress">Selbstbeobachtungsbogen</a></li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action" ui-sref="app.guidance.start">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      Alle Handlungshilfen
    </button>
  </div>
</div>