<div class="jumbotron">
  <div class="container">
    <h1>Pareto-Prinzip</h1>
  </div>
</div>
<div class="container">
  <p>
    Sie gehören zu den Menschen,
    die <strong>alles perfekt machen wollen</strong>?
    Das ist ein enorm hoher Anspruch
    &ndash; immer alles perfekt erledigen zu wollen;
    das führt zu <strong>Verausgabung</strong>
    und birgt immer ein <strong>Versagensrisiko</strong>.
  </p>
  <p>
    Bestimmt kennen Sie das sogenannte <strong>Pareto-Prinzip</strong>:
    Es geht auf den italienischen Ökonomen und Soziologen Vilfredo Pareto zurück
    und besagt, dass für 80 % der Arbeit nur 20 % der Zeit benötigt werden
    &ndash; es sind die Details, die dafür sorgen,
    dass man ewig an einer Aufgabe sitzt.
    Und mit 20% seiner Kunden macht ein Unternehmen 80% aller Umsätze.
    Dieses <strong>Hebel-Prinzip</strong> können auch Sie nutzen,
    um Ihrem Perfektionismus Paroli zu bieten
    und einen <strong>gesünderen Umgang mit der Zeit</strong> zu testen.
  </p>
  <p>
    Starten Sie ein kleines Experiment:
    Versuchen Sie nur 80% zu geben statt 100%.
    Wenn Sie das erst einmal privat üben möchten,
    nehmen Sie z.B. die nächste anstehende Feier im Familienkreis.
    Und dann schauen Sie, was passiert.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/guidance/pareto.svg' : 'img/legacy/guidance/pareto.jpg' }}"
       alt="" />
  <h5 class="footnote">
    Pareto, V. (1964) Cours d'économie politique. Librairie Droz.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>