<div class="jumbotron">
  <div class="container">
    <h1>Parkinson-Gesetz</h1>
  </div>
</div>
<div class="container">
  <blockquote style="margin-bottom: 10px;">
    <p>
      „Arbeit dehnt sich in genau dem Maß aus,
      wie Zeit für ihre Erledigung zur Verfügung steht.“
    </p>
  </blockquote>
  <p>
    Außer dem Pareto-Prinzip,
    liefert Ihnen das sogenannte Parkinson‘sche Gesetz Unterstützung
    gegen Ihre inneren Stressoren.
    Das Gesetz besagt,
    dass eine Aufgabe immer genau so lange braucht,
    wie wir zu ihrer Erledigung zur Verfügung haben.
    Wer heute in 6 Wochen eine Aufgabe abgeschlossen haben soll,
    wird in den meisten Fällen 6 Wochen daran basteln &ndash;
    obwohl ein ähnliches Ergebnis
    vielleicht schon nach 1 Woche möglich wäre.
    Dies lässt sich nicht auf alle Einzelfälle übertragen,
    aber grundsätzlich lautet der Tipp:
    <strong>Setzen Sie sich kurze Fristen</strong> &ndash;
    so erhöhen Sie Ihre Produktivität enorm &ndash;
    müssen sich aber gleichzeitig von Ihrem Anspruch verabschieden,
    alles perfekt machen zu wollen.
  </p>
  <p>
    Was Sie dabei gewinnen,
    wiegt aber mehr als das,
    was Sie dabei verlieren, oder?
  </p>
  <h5 class="footnote">
    Parkinson, C.N. (1957).
    Parkinson's law, and other studies in administration.
    Boston, Houghton Mifflin.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>