<div class="jumbotron">
  <div class="container">
    <h1>Feierabend-Fahrplan 2/2</h1>
  </div>
</div>
<div class="container">
  <h3>Ihr Fahrplan in den Feierabend mit Abschalt-Tipps</h3>
  <ul class="triangle">
    <li>
      Leben Sie mit dem Gedanken, 
      dass Sie nicht jede Arbeit vor Feierabend zu Ende bringen können.
      Machen Sie sich einen <strong>Vermerk</strong>,
      was als Nächstes zu tun ist!
    </li>
    <li>
      Fangen Sie mit dem Abschalten noch am Arbeitsplatz an!
      Gehen Sie am Arbeitsplatz in Gedanken den Tag durch:
      Was war heute?
      Setzen Sie Haken auf Ihre <strong>Erledigungsliste</strong>&ndash;
      das gibt ein Gefühl von Befriedigung. 
    </li>
    <li>
      Wenn Ihnen später am Tag noch etwas zur Arbeit einfällt:
      <strong>Scheiben Sie es auf!</strong>
      Nicht im Kopf mit sich herumschleppen.
    </li>
    <li>
      Etablieren Sie ein <strong>Tagesabschluss-Ritual</strong>,
      das Ihrer Psyche signalisiert:
      Feierabend (z.B. Kaffeepott spülen, Arbeitsplatz aufräumen)!
    </li>
    <li>
      Suchen Sie sich einen <strong>Schlüsselreiz</strong>: 
      Denken Sie jedes Mal z.B.beim Abschließen 
      oder beim Verlassen des Arbeitsplatzes:
      „Feierabend!“ und atmen Sie dabei aus!
    </li>
    <li>
      Sorgen Sie daheim nach Möglichkeit 
      für eine kurze Zeit für <strong>Reizarmut</strong>:
      3 Minuten lang kein TV, kein Radio, kein Gespräch.
      Das hilft, die Gedanken zu ordnen,
      und schafft Klarheit im Kopf.
      Wenn das nicht geht, dann eventuell auf dem Heimweg.
    </li>
    <li>
      Tauschen Sie sich mit dem Partner über den Tag aus
      &ndash; aber nur für eine begrenzte Zeit,
      z.B. bis zum Aufstehen vom Abendbrottisch;
      danach sollten Sie beide nichts mehr von der Arbeit berichten,
      sonst nehmen Sie sie noch mit ins Bett.
      Und dann machen Sie bewusst etwas anderes!
    </li>
  </ul>
  <br>
  <p>
    … Um am nächsten Morgen richtig erholt „hochzufahren“, 
    brauchen Sie eine <strong>gelingende Nachtruhe</strong>:
    <a ui-sref="app.guidance.internalResources.physicalHealth3">
      Tipps zum besseren Schlafen
    </a>
    finden Sie ebenfalls in den Handlungshilfen.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.roadmap1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>