<div class="jumbotron">
  <div class="container">
    <h1>Feierabend-Fahrplan 1/2</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50">
      <p>
        Stürzen Sie nach der Arbeit nicht einfach so nach Hause.
        Dann würden Sie Gedanken aus dem Betrieb mit in den Feierabend nehmen.
        Das wäre schade.
      </p>
      <p>
        Genauso wie Sie morgens Zeit zum „Hochfahren“ brauchen,
        benötigen Sie abends Zeit zum <strong>„Herunterfahren“</strong>:
        Übergangsrituale oder Symbole, die Ihnen anzeigen:
      </p>
      <p>
        <strong>Bis hierher war Arbeit, und jetzt kommt Freizeit.</strong>
      </p>
      <p>
        Für manche Menschen ist das An- und Ablegen der Uhr so ein Signal:
        Jetzt fängt etwas Neues an. 
        Oder das Ablegen der Arbeitskleidung. 
      </p>
    </div>
    <div class="col col-50">
      <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/guidance/navi.svg' : 'img/legacy/guidance/navi.jpg' }}"
       alt="" />
    </div>
  </div>

  <p>
    Was könnte <strong>Ihr Feierabend-Signal sein</strong>?
  </p>
  <p>
    Auf der nächsten Seite haben wir Ihnen einen 
    <strong>Fahrplan in den gelingenden Feierabend</strong> zusammengestellt.<br>
    Viel Erfolg! 
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.roadmap2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>