<div class="jumbotron">
  <div class="container">
    <h1>Selbstwertgefühl-Stärkung 2/2</h1>
  </div>
</div>
<div class="container">
  <h3>Tipps</h3>
  <ul class="triangle">
    <li>
     Achten Sie darauf, 
      dass Ihre <strong>körperlichen Grundbedürfnisse</strong>
      (Essen, Schlaf, Wärme, Bewegung, Liebe und Erholung)
      allesamt befriedigt werden. 
      Das signalisiert der Psyche <strong>„Ich bin’s wert“!</strong>
    </li>
    <li>
      Gestehen Sie sich ein,
      dass Sie ein <strong>Bedürfnis nach Anerkennung</strong>
      durch andere haben.
      Das ist nicht „uncool“, 
      sondern Ausdruck wahrer innerer Souveränität. 
    </li>
    <li>
     Lassen Sie sich <strong>feiern</strong> 
      (Geburtstag, Jubiläum, berufliche Erfolge),
      und feiern Sie sich auch selber!
      Seien Sie es sich wert,
      sich an diesen Tagen erst recht etwas Schönes zu gönnen.
    </li>
    <li>
      Bitten Sie um <strong>Rückmeldungen</strong> von anderen, 
      wenn Sie sich oder Ihre Leistungen zu wenig gesehen fühlen.
      Holen Sie sich Ihre Lorbeeren …!
      Und haben Sie keine Scheu, sich trösten zu lassen.
    </li>
    <li>
      Nehmen Sie täglich Einzahlungen auf Ihr „Selbstwert-Konto“ vor!
      Insbesondere in Zeiten unerlaubter Abbuchungen durch andere
      ist das wichtig für Ihre Bilanz, sprich:
      <strong>Tun Sie sich etwas Gutes!</strong>
     </li>
    <li>
      Wenn Sie merken, dass jemand Sie verunsichert, 
      sagen Sie sich, dass derjenige das wohl nötig hat 
      und dass es im Grunde seine Verunsicherung ist,
      die Sie spüren &ndash;
      und dann geben Sie ihm Sicherheit,
      indem Sie <strong>lächeln</strong> und ihn „aufwärmen“. 
    </li>
    <li>
      Achten Sie darauf, 
      wie Sie mental zu sich selber sprechen: 
      Bauen Sie sich nach Misserfolgen auf, 
      klopfen Sie sich bei Erfolgen auf die Schulter, 
      seien Sie stolz auf sich und genießen Sie das Gefühl!
      &ndash; Schreiben Sie diese <strong>positiven Gedanken</strong> auf!
     </li>
    <li>
      <strong>Definieren Sie sich nicht nur über Arbeit!</strong>
      Je mehr Töpfe Sie haben, 
      aus denen Sie Ihr Selbstwertgefühl schöpfen,
      desto leichter wird es für Sie, 
      Kritik an Ihrer Leistung anzunehmen.
    </li>
    <li>
    Wenn Ihr Selbstwert durch eine <strong>Kritik</strong> in Gefahr gerät,
      sagen Sie sich: ohne Rückmeldung keine Weiterentwicklung. 
      Oft sieht man erst im Nachhinein, wozu eine negative Kritik gut war.
      Vielleicht können Sie der kritischen Person später einmal dankbar sein.  
</li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.selfesteem1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>