<div class="jumbotron">
  <div class="container">
    <h1>Selbstwertgefühl-Stärkung 1/2</h1>
  </div>
</div>
<div class="container">
  <p>
    „Schnell, schnell, du musst dich beeilen!“ &ndash;
    So ein <strong>innerer Antreiber</strong> ist häufig
    ein Überbleibsel aus der Kindheit.
    Gemeinerweise kommen solche Gedanken genau dann hoch,
    wenn wir sie nicht gebrauchen können:
    nämlich dann, wenn wir im Stress sind.
  </p>
  <p>
    Hilfreicher wäre die folgende Einstellung:
  </p>
  <p>
    „Nein, ich kann mir Zeit lassen.
    Wenn ich einen Marathon laufen möchte,
    muss ich auch mal Luftholen.
    Langfristig hilft mir ein Intervall-Training mehr
    als loszusprinten und unterwegs zusammenzubrechen.
    Ich achte auf mich und teile mir meine Kräfte ein &ndash;
    und dann wähle ich mein eigenes Tempo.“
  </p>
  <p>
    Wie man es schafft,
    dass diese Einstellung zur zweiten Natur wird? &ndash;
    Durch eine Stärkung des Selbstwertgefühls.
    Denn wer weiß, was er oder sie sich wert ist,
    wird auch achtsam mit sich umgehen.
  </p>
  <p>
  Daher finden Sie auf der nächsten Seite <strong>Tipps zur Stärkung des Selbstwertgefühls</strong>.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.selfesteem2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>