<div class="jumbotron">
  <div class="container">
    <h1>Bewusste Entspannung</h1>
  </div>
</div>
<div class="container">
  <p>
    Das Grundprinzip für bewusste Entspannung bei der Arbeit lautet:
  </p>
  <p style="text-align: center;">
    <strong>Sie machen eine Pause.</strong>
  </p>
  <div class="row">
    <div class="col col-50">
      <p>
        Die Pause ist der Prototyp des sofortigen Stressabbaus.
        Bewusste und regelmäßige Pausen sind erholsam und wichtig,
        um Ermüdung und Leistungsabfall vorzubeugen.
        Wenn Sie warten, bis Ihr Körper eine Pause von Ihnen einfordert,
        greift dieser Körper bereits auf Energiereserven zurück.
        Durch eine Pause verlassen Sie das Hamsterrad
        und gehen auf Distanz.
        Letztlich ist Stressbewältigungsfähigkeit nichts anderes
        als Distanzierungsfähigkeit:
        Damit das wirklich funktioniert,
        muss Ihre <strong>Pause ein Kontrasterlebnis</strong> sein.
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>
          REZEPT FÜR EINE GUTE PAUSE:
        </strong>
      </p>
      <ul class="triangle">
        <li>woanders sein/woanders hingehen</li>
        <li>etwas anderes tun/etwas anderes sehen</li>
        <li>an etwas anderes denken</li>
        <li>etwas anderes höhren/über etwas anderes sprechen</li>
      </ul>
      <p>
        Ein Arbeitsessen ist keine Pause!
        Es dient lediglich der Nahrungsaufnahme unter Fortsetzung der Arbeit.
        Erholsam ist das nicht!
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.shortbreak2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>