<div class="jumbotron">
  <div class="container">
    <h1>Tipps für die kurze Entspannung</h1>
  </div>
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col col-30">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/guidance/stop.svg' : 'img/legacy/guidance/stop.jpg' }}"
           style="height: 140px;"
           alt="" />
    </div>
    <div class="col col-70">
      <h3>STOPP-Signal</h3>
      <p>
        Sagen Sie in Gedanken “STOPP!”,
        ganz streng und bewusst,
        und stoppen Sie genauso bewusst die Tätigkeit,
        an der Sie gerade sitzen.
        Wenn Sie regelmäßig üben,
        kann so ein STOPP Ihnen etwas Abstand verschaffen.
        Hilfreich sind zur Erinnerung rote STOPP-Schilder,
        die Sie gut sichtbar an Ihrem Arbeitsplatz anbringen.
      </p>
    </div>
  </div>
  
  <h3>Wasser, Licht und Loslass-Übung</h3>
  <p>
    Trinken Sie in Zeitlupe ein großes Glas Wasser.
    Das mindert die Spannung und lenkt Sie kurz ab.
    Oder Sie lassen eine Minute lang fließendes kaltes Wasser
    über Ihre Pulsadern laufen,
    oder waschen Sie sich das Gesicht mit kaltem Wasser.
    Das macht einen "kühlen” Kopf.<br>
    Gehen Sie ein paar Minuten vor die Tür
    und gucken Sie bewusst ins Licht
    (aber nicht direkt in die Sonne!).<br>
    Loslassen: Spannen Sie gleichzeitig alle Muskeln an
    und konzentrieren Sie sich dann auf die Entspannung (beim Ausatmen)!
    Dann recken und strecken Sie sich!
  </p>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.shortbreak1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>