<div ng-class="currentChapterClass">
  <div class="content" ui-view="content"></div>
</div>

<!-- Navigation -->
<div class="nav-wrapper">
  <ul class="pager" ng-show="isChapterView">
    <li ng-class="{'disabled': isFirstSlide}">
      <a href="#" ng-click="goToSlide('previous')" eat-click>Zurück</a>
    </li>
    <li ng-class="{'disabled': isLastSlide}">
      <a href="#" ng-click="goToSlide('next')" eat-click>Weiter</a>
    </li>
  </ul>
  <div ng-show="isChapterView"
       page-indicator
       page-indicator-index="slideIndex"
       page-indicator-max="slideCount">
  </div>
</div>