<div id="introback">
  <div id="logo-rwth">
    <img ng-src="{{ supportSvg() ? 'img/logos/rwth.svg' : 'img/legacy/logos/rwth.png' }}"
         alt="">
  </div>
  <div id="logo-psyga">
    <img ng-src="{{ supportSvg() ? 'img/logos/psyga.svg' : 'img/legacy/logos/psyga.png' }}"
         alt="">
  </div>
  <div id="logo-bkk">
    <span>Projektleitung:</span>
    <img ng-src="{{ supportSvg() ? 'img/logos/bkk-dv.svg' : 'img/legacy/logos/bkk-dv.png' }}"
         alt="">
  </div>
  <h1>
    Förderung Ihrer psychischen Gesundheit
  </h1>
  <h2>
    Ein eLearning-Tool für Beschäftigte von psyGA<br>
    in Zusammenarbeit mit Prof. Dr. Jessica Lang
  </h2>
  
  <br>
  
  <button class="button button-psyga" ui-sref="app.chapter-view">
    Starten
  </button>
  <div id="footercontainer">
    <div id="footerlogos">
      <img ng-src="{{ supportSvg() ? 'img/logos/footerlogos.svg' : 'img/legacy/logos/footerlogos.png' }}"
         alt="">
    </div>
  </div>
</div>