<p>###COUNT###</p>
<br />
    <select name="range_select" onchange="submit()">
        <option value="week" ###SELECTED_WEEK###>###WEEK###</option>
        <option value="day" ###SELECTED_DAY###>###DAY###</option>
    </select>
<br />
<br />
<div id="timeline_chart"></div>
<br />
<br />
<div id="parti_pie"></div>

