<h4>Editor</h4>
<p>
	Bundesanstalt für Arbeitsschutz und Arbeitsmedizin <br />
	Friedrich-Henkel-Weg 1 – 25, 44149 Dortmund
</p>
<p>
	Geschäftsstelle der Initiative Neue Qualität der Arbeit <br />
	c/o Bundesanstalt für Arbeitsschutz und Arbeitsmedizin <br />
	Nöldnerstraße 40 – 42, 10317 Berlin <br />
	Telefon 030 51548-4000 <br />
	E-Mail inqa@baua.bund.de <br />
	www.inqa.de <br />
</p>
<ul>
	<li class="triangle">
	The information provided below, refers to the CD-ROM version of the eLearning tool. The offline version can be downloaded at <a href="http://psyga.info" target="_blank">psyga.info</a>.
	</li>
</ul>
<p>
	<strong>Responsible:</strong> Prof. Dr. Jessica Lang, Institut für Arbeitsmedizin und Sozialmedizin, RWTH Aachen <br />
	<strong>Text:</strong> Dr. Anne Katrin Matyssek <br />
	<strong>Audio Samples:</strong> intervoice24.de <br />
	<strong>Programming:</strong> Martin Mädler <br />
	<strong>Layout Booklet:</strong> www.neueshandeln.de <br />
	<strong>Production:</strong> MAXON Media GmbH, Friedrichsdorf <br />
	<strong>Photos:</strong> iStockphoto (CD)
</p>
<p>
	Dezember 2012 <br />
</p>
<h4>Licenses</h4>
<p>
	<strong>Notice:</strong> The content of this CD-ROM is copyrighted. It is prohibited to copy or reproduce the material electronically or in print without the written permission of the editor.
</p>
<p>
	<strong>Chromium Embedded Framework:</strong>
</p>
<blockquote>Copyright (c) 2008-2012 Marshall A. Greenblatt. Portions Copyright (c) 2006-2009 Google Inc. All rights reserved. <br />
	<br />
	Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: <br />
	<br />
	* Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. <br />
	* Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. <br />
	* Neither the name of Google Inc. nor the name Chromium Embedded Framework nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission. <br />
	<br />
	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</blockquote>
<p>
	<strong>Bootstrap:</strong>
</p>
<blockquote>Copyright 2012 Twitter, Inc. <br />
	<br />
	Licensed under the Apache License, Version 2.0 (the "License"); you may not use this work except in compliance with the License. You may obtain a copy of the License in the LICENSE file, or at: <br />
	<br />
	http://www.apache.org/licenses/LICENSE-2.0 <br />
	<br />
	Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
</blockquote>
<p>
	<strong>jQuery:</strong>
</p>
<blockquote>Copyright 2012 jQuery Foundation and other contributors <br />
	http://jquery.com/ <br />
	<br />
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: <br />
	<br />
	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. <br />
	<br />
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</blockquote>
<p>
	<strong>jQuery UI:</strong>
</p>
<blockquote>Copyright 2012 jQuery Foundation and other contributors, <br />
	http://jqueryui.com/ <br />
	<br />
	This software consists of voluntary contributions made by many individuals (AUTHORS.txt, http://jqueryui.com/about) For exact contribution history, see the revision history and logs, available at http://jquery-ui.googlecode.com/svn/ <br />
	<br />
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: <br />
	<br />
	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. <br />
	<br />
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</blockquote>
<p>
	<strong>jQuery Knob:</strong>
</p>
<blockquote>Copyright (c) 2012 Anthony Terrien, <br />
	http://anthonyterrien.com/knob/ <br />
	<br />
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: <br />
	<br />
	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. <br />
	<br />
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</blockquote>