<div id="resultwrapper">
	<div class="modal hide" id="result1">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your Burnout Score</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 10 questions on a scale detecting symptoms of burnout. The scale ranges from 1 to 7. Burnout is a state in which individuals are feeling completely exhausted, and this not only emotionally, but also on a mental and physical level. Their exhaustion is reflected in feelings of helplessness and depression. They may have feelings of disappointment about their colleagues or they may experience feelings of worthlessness. They are not feeling well physically, which is often paired with sleep problems and constant fatigue. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the burnout scale is <span class="result"></span>.</h4>
			<p>
				<br />
				Great! You don’t show any signs of burnout. You feel fit and work efficiently with motivation and satisfaction. As a manager, use this condition to keep your staff just as fit through your example and vigor. 
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div class="modal hide" id="result2">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your Burnout Score</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 10 questions on a scale detecting symptoms of burnout. The scale ranges from 1 to 7. Burnout is a state in which individuals are feeling completely exhausted, and this not only emotionally, but also on a mental and physical level. Their exhaustion is reflected in feelings of helplessness and depression. They may have feelings of disappointment about their colleagues or they may experience feelings of worthlessness. They are not feeling well physically, which is often paired with sleep problems and constant fatigue. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the burnout scale is <span class="result"></span>.</h4>
			<p>
				<br />
				You experience moments at work that could be assessed as initial risky factors for burning out. If these symptoms last for a longer period of time, they might intensify and actually result in a state of exhaustion. Listen to these warning signals that you have indicated as appearing more frequently, and try to find out what causes them. Is it your work itself, or the atmosphere within your working team, or are your resources restricted by personal problems? Try to analyze the problem and to change it. Initiate conversations with others or look for support from outside. Do you think that this is only a momentary situation? OK. But keep an eye on your thoughts, feelings and physical symptoms and take them seriously.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div class="modal hide" id="result3">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your Burnout Score</h3>
		</div>
		<div class="modal-body">
			<p>
				<br />
				You have just answered 10 questions on a scale detecting symptoms of burnout. The scale ranges from 1 to 7. Burnout is a state in which individuals are feeling completely exhausted, and this not only emotionally, but also on a mental and physical level. Their exhaustion is reflected in feelings of helplessness and depression. They may have feelings of disappointment about their colleagues or they may experience feelings of worthlessness. They are not feeling well physically, which is often paired with sleep problems and constant fatigue. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the burnout scale is <span class="result"></span>.</h4>
			<p>
				<br />
				According to your answers, there is a heightened probability that you may suffer from a state of exhaustion. Exhaustion is not a personal failure; it is a normal condition that results from a long period of increasing overexertion, combined with a lack of adequate resources. Take the feelings you are experiencing, as well as the thoughts and physical symptoms seriously. Consider what would do you good in your actual situation, and try to make changes by seeking support from colleagues, family, friends or even experts, if applicable.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div class="modal hide" id="result4">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your Burnout Score</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 10 questions on a scale detecting symptoms of burnout. The scale ranges from 1 to 7. Burnout is a state in which individuals are feeling completely exhausted, and this not only emotionally, but also on a mental and physical level. Their exhaustion is reflected in feelings of helplessness and depression. They may have feelings of disappointment about their colleagues or they may experience feelings of worthlessness. They are not feeling well physically, which is often paired with sleep problems and constant fatigue. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the burnout scale is <span class="result"></span>.</h4>
			<p>
				<br />
				According to your responses there is a high probability that you are suffering from a severe state of exhaustion. Emotionally, mentally and even physically you exhibit symptoms that must be taken seriously, especially as they are occurring with excessive frequency. You should absolutely seek professional help. The exhaustion you are experiencing is not a personal failure; it is an understandable condition resulting from a period of permanent exertion paired with a lack of adequate resources. Now it’s time to recharge your resources. Even if you are feeling helpless and trapped, this is only one more reason to ask others for help in order to regain your strength.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div class="modal hide" id="result-none">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your Burnout Score</h3>
		</div>
		<div class="modal-body">
			<p>
				You didn't answer all 10 questions. Please try again.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
</div>