<div id="resultwrapper">
	<div class="modal hide" id="result1">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your psychological strain</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 8 questions that allow making a statement about the extent to which you are mentally stressed. The scale ranges from 1 to 7. This can result in scores of between 8 and 56. The scale captures psychological strain at two different levels: cognitively (your thoughts) and emotionally (your feelings). Symptoms of your <strong>cognitive strain</strong> include, e.g., if you are unable to ‘switch off’ after work and always have to think of work-related problems even in your free time. Symptoms of your <strong>emotional strain</strong> include, e.g., if you react more and more irritated and stressed towards your environment.
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the stress scale is <span class="result"></span>.</h4>
			<p>
				<br />
				Congratulations! In comparison to the general working population, you show a <strong>low degree of mental strain</strong> caused by your job. According to your responses, your work does not seem to impact you negatively at a cognitive or emotional level. Consequently, you should feel well and find enough time for recovery during your time off. This is a condition that would be desirable for everyone. 
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
	
	<div class="modal hide" id="result2">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your psychological strain</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 8 questions that allow making a statement about the extent to which you are mentally stressed. The scale ranges from 1 to 7. This can result in scores of between 8 and 56. The scale captures psychological strain at two different levels: cognitively (your thoughts) and emotionally (your feelings). Symptoms of your <strong>cognitive strain</strong> include, e.g., if you are unable to ‘switch off’ after work and always have to think of work-related problems even in your free time. Symptoms of your <strong>emotional strain</strong> include, e.g., if you react more and more irritated and stressed towards your environment.
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the stress scale is <span class="result"></span>.</h4>
			<p>
				<br />
				In comparison to the general working population, you show an <strong>average degree of mental strain</strong> caused by your job. You notice that even in your leisure time you are thinking about your job, and this also affects your interrelations with other people. Take the symptoms you are experiencing seriously. They are warning signals which may in the long run lead to depression. Try to make some permanent changes in order to feel better and more balanced, and to allow for your recovery. Keyword: <strong>Build up resources</strong>!
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
	
	<div class="modal hide" id="result3">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Your psychological strain</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 8 questions that allow making a statement about the extent to which you are mentally stressed. The scale ranges from 1 to 7. This can result in scores of between 8 and 56. The scale captures psychological strain at two different levels: cognitively (your thoughts) and emotionally (your feelings). Symptoms of your <strong>cognitive strain</strong> include, e.g., if you are unable to ‘switch off’ after work and always have to think of work-related problems even in your free time. Symptoms of your <strong>emotional strain</strong> include, e.g., if you react more and more irritated and stressed towards your environment.
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on the stress scale is <span class="result"></span>.</h4>
			<p>
				<br />
				In comparison to the general working population, you show a <strong>high degree of mental strain</strong> caused by your job. Take these symptoms seriously. You notice that you are permanently obsessed with work-related problems and that this affects your emotional well-being, as well as your interrelations with others. Do not waste any time; try to change this situation. If necessary, get some <strong>support</strong> so that your symptoms won’t manifest in a mental illness in the end.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
</div>