<div id="resultwrapper">
	<div class="modal hide" id="result1">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Are you actually a good boss?</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 7 questions that together allow making a statement about the <strong>quality of interpersonal relations</strong> between you and your employees. The scale ranges from 1 to 5. Almost every day you are in a personal exchange with each of your employees. Here, it is important to consider to what extent the relationship with your employees is characterized by <strong>attention</strong>, <strong>respect</strong> and <strong>trust</strong>. The better the relationship between employees and supervisors is perceived to be, the better things should be with respect to employees’ satisfaction, productivity and well-being. <br />
			<p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on leadership scale is <span class="result"></span>.</h4>
			<p>
				<br />
				According to your responses you rate your relationship with your employees as <strong>below average</strong>. Apparently, the quality of the relationship between you and your employees lacks in trust and attention to their needs as well. Do something about it. You don’t have to change your personality to achieve this. That would be not authentic, either. For starters, small changes would be enough. Pay more attention to your employees.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
	
	<div class="modal hide" id="result2">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Are you actually a good boss?</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 7 questions that together allow making a statement about the <strong>quality of interpersonal relations</strong> between you and your employees. The scale ranges from 1 to 5. Almost every day you are in a personal exchange with each of your employees. Here, it is important to consider to what extent the relationship with your employees is characterized by <strong>attention</strong>, <strong>respect</strong> and <strong>trust</strong>. The better the relationship between employees and supervisors is perceived to be, the better things should be with respect to employees’ satisfaction, productivity and well-being. <br />
			<p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on leadership scale is <span class="result"></span>.</h4>
			<p>
				<br />
				Your responses concerning your relationship with your employees are <strong>average</strong>. On one or another level there would be certainly options for making the relationship more positive. In future, pay more attention to making sure that your employees realize that you are aware of their needs and take them seriously, and that you will have their back when push comes to shove. This will also automatically increase the trust your employees have in you.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
	
	<div class="modal hide" id="result3">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Are you actually a good boss?</h3>
		</div>
		<div class="modal-body">
			<p>
				You have just answered 7 questions that together allow making a statement about the <strong>quality of interpersonal relations</strong> between you and your employees. The scale ranges from 1 to 5. Almost every day you are in a personal exchange with each of your employees. Here, it is important to consider to what extent the relationship with your employees is characterized by <strong>attention</strong>, <strong>respect</strong> and <strong>trust</strong>. The better the relationship between employees and supervisors is perceived to be, the better things should be with respect to employees’ satisfaction, productivity and well-being. <br />
			<p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Your score on leadership scale is <span class="result"></span>.</h4>
			<p>
				<br />
				You rate the quality of the relationship with your employees as extremely <strong>positive</strong>. This is good. You are probably surrounded by a productive and effective team that enjoys its work because they know that you stand behind them. How do you think would your employees have answered these questions? It might be a good idea to ask their opinion sometime. 
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
	
	<div class="modal hide" id="result-none">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Are you actually a good boss?</h3>
		</div>
		<div class="modal-body">
			<p>
				You didn't answer all 7 questions. Please try again.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Close</a>
		</div>
	</div>
</div>