<div class="jumbotron">
  <div class="container">
    <h1>Welche Stressoren belasten Sie?</h1>
  </div>
</div>
<div class="container">
  <p>
    Wenn Sie dieses Kapitel durchgearbeitet haben, können Sie Ihre persönliche Bilanz ziehen.
    Schauen Sie sich auf den folgenden Seiten um:
    Sie enthalten eine Vielzahl an möglichen Stressoren,
    die Sie bei sich oder bei Ihrer Arbeit vorfinden können.
  </p>
  <div mm-balance mm-animation="auto"></div>
</div>