<div class="jumbotron">
  <div class="container">
    <h1>Fazit</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Es gibt am Arbeitsplatz innere und äußere Stressoren.
      </li>
      <li>
        Innere Stressoren zu reduzieren, liegt in Ihrer Hand.
      </li>
      <li>
        Bei vielen äußeren Stressoren haben Sie nur bedingten Einfluss.
        Hier ist ein Gespräch mit Ihrer Führungskraft erforderlich.
      </li>
    </ul>
  </div>
  <p>
    <span class="label">Zur Bilanz:</span> Hier geht es zur Auswertung ihrer persönlichen <a href="#/app/balance/tips">Stressoren-Ressourcen-Bilanz</a>.
  </p>
</div>