<div class="jumbotron">
  <div class="container">
    <h1>Innere Stressoren</h1>
  </div>
</div>
<div class="container" ng-controller="InternalStressorsCtrl">
  <p>
    <strong>Anleitung</strong>:<br>
    Um eine Beschreibung über die einzelnen Stressoren zu erhalten, klicken Sie jeweils auf das dahinterliegende Feld "mehr".
  </p>
  <p>
    Markieren Sie innerhalb der Beschreibung die Stressoren, die Sie interessieren, 
    oder legen Sie die Stressoren durch Ziehen in die entsprechende Waagschale.
    Dann können Sie diese im Anschluss für sich persönlich bewerten und erhalten am Ende des Kapitels Ihre individuelle Bilanz.
  </p>
  <div mm-balance mm-item-list="items" flip-direction="left"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>