<div class="jumbotron">
  <div class="container">
    <h1>Den Stress bemerken!</h1>
  </div>
</div>
<div class="container">
  <p>
    Um Stress entgegenzuwirken, müssen wir ihn erst bewusst wahrnehmen.
    Stressreaktionen zeigen sich in Form von Veränderungen auf den folgenden Ebenen:
  </p>
  <br>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter3/notice-stress.svg' : 'img/legacy/chapter3/notice-stress.jpg' }}"
       alt="" />
</div>