<div class="jumbotron">
  <div class="container">
    <h1>Die Stressoren beobachten</h1>
  </div>
</div>
<div class="container">
  <p>
    Wir verändern uns, wenn wir im Stress sind.
    Je besser Sie sich selbst kennen, desto <strong>sensibler</strong> werden Sie für solche Veränderungen und desto
    früher können Sie <strong>gegensteuern</strong> und damit vielleicht eine Zuspitzung vermeiden.
  </p>
  <p>
    Beobachten Sie für die nächsten 2 Wochen, welche Signale Sie unter Stress bei sich wahrnehmen an
    Ihrem Körper, Ihrer Psyche (Gedanken / Gefühle) und Ihrem Verhalten.
  </p>
  <p>
    <strong>Schreiben Sie es auf!</strong>
  </p>
  <p>
    Am besten protokollieren Sie Ihre Beobachtungen schriftlich, zum Beispiel alle 2 Stunden
    (nicht erst nach Feierabend &ndash; Gedanken und Gefühle sind dann nicht mehr zugänglich).
    Sie werden überrascht sein, welche Wirkungen das Aufschreiben hat! Sie können dazu auf den 
     <a ui-sref="app.guidance.internalStressors.myStress">Selbstbeobachtungsbogen</a>
    in den Handlungshilfen zurückgreifen.
  </p>
  </div>