<div class="jumbotron">
  <div class="container">
    <h1>Auswertungsergebnisse</h1>
  </div>
</div>
<div class="container" ng-controller="StressorsEvaluationCtrl">
  <div class="row">
    <div class="col col-40">
      <h3 style="margin-top: 0;">Äußere Stressoren</h3>
    </div>
    <div class="col col-60">
      <div class="row row-ruler">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-40">
      <p>Arbeitsinhalte</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Arbeitsorganisation</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Arbeitsumgebung</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Soziale Aspekte</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <h3 style="margin-top: 0;">Innere Stressoren</h3>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.internalStressors.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.internalStressors.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <p>
    <br>
    <span class="label">Auswertung</span>
    <br>
    <span>
      Sie können an diesem Balkendiagramm erkennen, 
      wie häufig Sie mit gewissen Stressoren konfrontiert sind (<strong>graue Balken</strong>).<br>
      Auch erkennen Sie, welche Stressoren Ihnen besonders zu schaffen machen (<strong>rote Balken</strong>).<br>
      Fokussieren Sie sich beim Stressabbau vor allem auf die Stressoren,
      die Ihnen am meisten Kraft rauben und häufig vorkommen.
      Zur möglichen Reduzierung dieser Energiefresser finden Sie im Navigationsmenü Handlungshilfen zur Vertiefung.
    </span>
  </p>
</div>