<div class="jumbotron">
  <div class="container">
    <h1>STOPP</h1>
  </div>
</div>
<div class="container" ng-controller="StopCtrl">
  <p>
    Die Arbeitswelt hält eine Vielzahl an Anforderungen für uns bereit.
    Zusätzlich können wir unseren Stresslevel selbst erhöhen,
    indem wir uns zum Beispiel unter Druck setzen, alles perfekt machen wollen oder superschnell fertig sein wollen.
  </p>
  <p>
    Was schätzen Sie:
  </p>
  <p>
    Wie viel von dem Stress, den Sie erleben, machen Sie sich selbst?
  </p>
  
  <br>
  
  <div class="row" ng-show="inputTypeRange">
    <div class="col col-10" style="text-align: right;">
      0%
    </div>
    <div class="col col-80">
      <input type="range"
             style="width: 100%;"
             name="stressGuess"
             min="0"
             max="100"
             ng-model="stressGuess" />
    </div>
    <div class="col col-10" style="text-align: left;">
      100%
    </div>
  </div>
  
  <div class="row" ng-show="!inputTypeRange">
    <div class="col col-20" style="text-align: right;">
      Bitte auswählen:
    </div>
    <div class="col col-80">
      <div>
        <select ng-model="stressGuess">
          <option value="0">0 %</option>
          <option value="10">10 %</option>
          <option value="20">20 %</option>
          <option value="30">30 %</option>
          <option value="40">40 %</option>
          <option value="50">50 %</option>
          <option value="60">60 %</option>
          <option value="70">70 %</option>
          <option value="80">80 %</option>
          <option value="90">90 %</option>
          <option value="100">100 %</option>
        </select>
      </div>
    </div>
  </div>
  
  <br>
  
  <p ng-show="stressGuess <= 33">
    Sie haben den Eindruck, dass <strong>fast nur äußere Stressoren</strong> am Arbeitsplatz auf Sie einwirken.
    Sicherlich werden Sie diese in diesem Kapitel identifizieren können.
    Wenn Sie aktiv etwas gegen einzelne Stressoren unternehmen wollen,
    finden Sie im Menüpunkt Handlungshilfen Tipps,
    wie Sie Ihren Stressoren am Arbeitsplatz begegnen können.
    Prüfen Sie auch behutsam die Beschreibung der inneren Stressoren.
    Vielleicht ist ja auch der ein oder andere persönliche Stressverstärker bei Ihnen am Werk.
    Schließlich können Sie selbstgemachten Stress teilweise einfacher verändern als Stress, der von außen kommt.
    Damit würden Sie Ihre Gesundheit zusätzlich fördern.
  </p>
  <p ng-show="stressGuess >= 34 && stressGuess <= 66">
    Sie empfinden, dass innere und äußere Stressoren sich bei Ihnen relativ <strong>die Waage</strong> halten.
    In diesem Kapitel werden Sie die Möglichkeit haben,
    einzelne Stressoren aus beiden Bereichen zu identifizieren.
    Nutzen Sie die Chance, diese Stressoren genauer zu analysieren.
    Wenn Sie etwas an den Stressoren ändern möchten,
    bietet sich Ihnen unter dem Menüpunkt Handlungshilfen dazu die Möglichkeit. 
  </p>
  <p ng-show="stressGuess >= 67">
    Sie haben den Eindruck, dass Sie jemand sind, der sich sehr viel <strong>selbst unter Druck setzt</strong>.
    Das Gute daran ist, Stress, den man sich selbst macht,
    kann man oft leichter kontrollieren als Stress, der von außen kommt.
    Im Menüpunkt Handlungshilfen finden Sie einige Tipps,
    mit denen Sie noch stärker die Verantwortung für das Geschehen im Kopf übernehmen können …
    Gleichzeitig sollten Sie Ausschau danach halten, welche äußeren Belastungen Sie zusätzlich reduzieren können.
  </p>
</div>