<div class="jumbotron">
  <div class="container">
    <h1>Äußere Stressoren des Arbeitsinhalts</h1>
  </div>
</div>
<div class="container" ng-controller="StressorsWorkContentCtrl">
  <p>
    <strong>Welche Stressoren halten die Inhalte Ihrer Arbeit für Sie bereit?</strong>
  </p>
  <div mm-balance mm-item-list="items" flip-direction="left"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>