<div class="jumbotron">
  <div class="container">
    <h1>Kapitel 3</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Stressoren</h2>
  </div>
  <p>
    In diesem Kapitel beschäftigen wir uns mit folgenden Fragen:
  </p>
  <ul class="triangle">
    <li>Welche inneren Stressoren gibt es?</li>
    <li>Welche Stressoren hält Ihre Arbeit für Sie bereit?</li>
    <li>ANALYSE: Wie steht’s um Ihre Stressoren?</li>
  </ul>
</div>