<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Contact with colleagues</h4>
    </div>
    <div class="modal-body">
      <p>
        Humans are social beings, and work-related <strong>cooperation</strong> can strengthen 
        psychological well-being at work. 
        Interpersonal exchange can also strengthen well-being independently from working issues.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for strengthening inner 
        resources in the organization.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>