<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fairness</h4>
    </div>
    <div class="modal-body">
      <p>
        Balanced distribution of resources in the organization shows up not least in pay  &ndash;
        in comparison with each other, but even when you put your work performance in relation 
        to what you get from your organization (appreciation, promotion, praise, training
        opportunities, status). 
        As long as performance and gratification
        are well-balanced, you like to go to work. You have the feeling that 
        the so-called <strong>“psychological contract”</strong> is respected &ndash; this means
        that  most people not only expect money for their work activities, but also care, fairness 
        and similar resources.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        Therefore you should seek a <strong>conversation with your manager</strong>.
        You can find tips for preparing the conversation in the action aids against external stressors.      
        However, consider that your manager is also dependent on the organization, business or
        group management and may therefore be restricted in their ability to act.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>