<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Recognition and appreciation</h4>
    </div>
    <div class="modal-body">
      <p>
        Positive attention, words of appreciation and praise by the <strong>supervisor</strong> strengthen  
        self-esteem, provide security and are confirmation of your own skills. 
        Further recognition and appreciation from the <strong>team</strong>, customer, 
        patients, or other individuals with whom we have contact during our work, are also important 
        interpersonal resources which strengthen our <strong>mental health</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for external resources about this issue.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>