<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Social support</h4>
    </div>
    <div class="modal-body">
      <p>
        It is good to know that things are similar for others;
        that others may extend their <strong>professional
        help</strong> if necessary, 
        or that they may sometimes have a sympathetic ear, offer
        consolation, or try to lift you up, and perhaps even share the same opinion. 
        This so-called “social support” is an important resource:
        Even if the <strong>stressors</strong> are still there,
        they will be <strong>felt less intensely</strong>. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for external resources and information on social resources.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>