<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Workplace security</h4>
    </div>
    <div class="modal-body">
      <p>
        By workplace security it is intended that the <strong>employment</strong> should possibly be based on an unlimited contract. 
        This type of job security is of course different depending on the industry and 
        organization, and highly dependent on the overall economic situation. 
        Ideally you should <strong>feel welcome at your workplace</strong>, as long as you work there. 
        This resource will provide safety for individual life planning, especially in relation to <strong>financial
        security</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        If you lack this resource you should seek a <strong>conversation with your manager</strong>.
        Tips for this conversation can be found in the action aids against external stressors.
        However, consider however that your manager is also dependent on the organization, business or
        group management, and may therefore be restricted in their ability to act. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>