<div class="jumbotron">
  <div class="container">
    <h1>Time management (ALPEN)</h1>
  </div>
</div>
<div class="container">
  <p>
    Take time to plan your working days.
    A plan serves as a <strong>structure</strong>,
    it determines goals and, with that, also success metrics:
    After plan implementation you can <strong>be happy</strong>.
    It is possible that you are managing your work
    without a plan
    (and a plan does not make any sense for every kind of work,
    e.g. working in an assembly line),
    but for most of the activities having a plan does make sense.
    A plan gives you the feeling of being on top of things,
    instead of the other way around.
    You are able to <strong>mark off the things you have done already</strong>,
    and you always know where you currently stand.
    To do this, you can best orientate yourself using the ALPEN principle:
   </p>
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>A</strong>ctivities and dates<br>
        (write down every task)<br>
        <strong>L</strong>ength of tasks<br>
      (estimate how much time you will need)<br>
        <strong>P</strong>lan buffer time<br>
        (plan 60% of time, reserve 40%)<br>
        <strong>E</strong>xecute decisions<br>
        (set task priority)<br>
        <strong>N</strong>ote monitoring results<br>
        (control and improve your time schedule).<br>
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>Write down what you have to remember!</strong>
      </p> 
      <p>
        Buy a notebook for your trouser pocket 
        (with a small pen) and write down,
        what should not get lost.
        There is no getting around this tip
        if you take this seriously!
        <strong>Everything you write down, can be released from your head</strong>
        because it is written on the paper.
        Nothing gets lost. You are on top of things.
        It is a good feeling.
      </p>
    </div>
  </div>
  <div>
    <p>
      Note:<br>
      Here again you will notice that it is useful to make notes.
      Taking notes is essential for your personal feeling of control
      while dealing with stressors. 
    </p>
    <h5 class="footnote">
      Seiwert J.L. &amp; Tracy B. (2002) Life-Leadership.
      So bekommen Sie Ihr Leben in Balance.
      (2. Auflage.) Offenbach: Gabal Verlag, S. 86.
    </h5>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>