<div class="jumbotron">
  <div class="container">
    <h1>Column technique &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    One of the most important cognitive-behavioral interventions
    from which everybody can benefit
    is <strong>“cognitive restructuring”</strong>.
    Your thereby learn to identify the thoughts 
    through which you harm yourself
    and how to change this negativity
    into positive realistic thougts step by step.
  </p>
  <p>
    These <strong>negative thoughts</strong> are commonly derived from childhood.
    They contain <strong>messages</strong> we have learned in the first years of our lives.
    This could be sentences like
    “Your little brother has always been brainier than you”
    or “You are really the clumsy oaf of the family”. 
    In particular, if you are feeling blue,
    these sentences come into your consciousness and are paralyzing. 
  </p>
  <p>
    In case  you sometimes are self-deprecating,
    you should try the column technique as a device
    for cognitive reframing.
    Before you start to replace the defeatist thoughts in your mind,
    you have to determine which sentences are the sentences 
     you slam yourself with.
    This procedure hurts, but is helpful as well.
    Afterwards you search for <strong>thoughts that are encouraging!</strong>
  </p>
  <p>
    On the next page you can find some example sentences.
    But be honest. You must first spend one week 
    realizing the individual sentences with which you slam yourself. 
  </p>
  <h5 class="footnote">
    Hollon S.D. &amp; Beck A.T. (2013). Cognitive Therapy of Depression.
    In: P.C. Kendall &amp; S.D. Hollon (Hrsg.)
    Cognitive-Behavioral Interventions:
    Theory, Research, and Procedure (153-204). New York (USA): Academic Press.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>