<div class="jumbotron">
  <div class="container">
    <h1>Column technique &ndash; Part 3</h1>
  </div>
</div>
<div class="container">
 <h3>Examples of cognitive restructuring</h3>
  <p>
    The following table gives some examples
    of how to formulate alternative or positive thoughts.
  </p>
  <table border="0" style="width: 100%">
    <thead style="color: #fff; background-color: #3ca046;">
      <tr>
        <th style="padding: 5px;">
          Negative Thought
        </th>
        <th style="padding: 5px;">
          Positive Thought
        </th>
      </tr>
    </thead>
    <tbody style="color: #000">
      <tr style="background-color: #eee;">
        <td style="padding: 5px;">
          I can‘t do that. It is too difficult.
        </td>
        <td style="padding: 5px;">
          I already achieved some difficult things!
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          All of the others are better than me.
        </td>
        <td style="padding: 5px;">
          Other people might have problems, too!
        </td>
        </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          Criticism again, I give up.
      </td>
        <td style="padding: 5px;">
          Hang in there!
        </td>
        </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          It‘s gonna be a catastrophe
          if I do not finish that by Friday.
        </td>
        <td style="padding: 5px;">
          In 20 years, I will think differently about that. 
        </td>
        </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
         It won‘t work. With me it‘s always going wrong.
        </td>
        <td style="padding: 5px;">
          Sometimes things end up well for me.
        </td>
        </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          It is always me who gets the difficult tasks.
        </td>
        <td style="padding: 5px;">
          Now I can show what I am able to do. 
        </td>
        </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          Nobody cares about me.
        </td>
        <td style="padding: 5px;">
          Lovely people are there for me.  
        </td>
        </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
         This is typical for me &ndash;
          I simply muck up everything
          </td>
        <td style="padding: 5px;">
          Some things are not that  bad. 
        </td>
        </tr>
    </tbody>
  </table>
  <br>
  <p>
    <strong>Tip:</strong> For not forgetting the good thoughts
    &ndash; write them down on a piece of paper, 
    &ndash; store them in a mobile phone, 
    &ndash; speak them out loud (and save them via a dictation function),
    &ndash; say them after waking up in the morning
    &ndash; think about them at the end of relaxation training. 

  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>