<div class="jumbotron">
  <div class="container">
    <h1>Column technique &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <h3>Application:</h3>
  <p>
    During the next two weeks carry a small notebook with you
    and directly make a list after a stressful situation.
    Ask yourself <strong>what you are thinking about yourself at that moment</strong>?
    Afterwards, think about positive (and reasonable) thoughts.
    The following table is a template.
      </p>
  <table border="0" style="width: 100%">
    <thead style="color: #fff; background-color: #3ca046;">
      <tr>
        <th style="padding: 5px;">
          Date
        </th>
        <th style="padding: 5px;">
          Situation
        </th>
        <th style="padding: 5px;">
          Feeling &amp; Evaluation <br>
          </th>
        <th style="padding: 5px;">
         Automatic thought
        </th>
        <th style="padding: 5px;">
          Rational thought
        </th>
        <th style="padding: 5px;">
         Result
        </th>
      </tr>
    </thead>
    <tbody style="color: #000">
      <tr style="background-color: #eee;">
        <td style="padding: 5px;">
          DD.MM.
        </td>
        <td style="padding: 5px;">
          Small description<br> of the situation,<br> which triggered the negative feelings 
        </td>
        <td style="padding: 5px;">
          Which feeling<br> (e.g. fear, nervousness)?
        </td>
        <td style="padding: 5px;">
          Which negative thoughts went through your mind spontaneously?
          What was the reason for your negative feelings? 
        </td>
        <td style="padding: 5px;">
        Write down alternative/<br>
          realistic thoughts. 
        </td>
        <td style="padding: 5px;">
        Re-evaluate how appropriate 
          your negative thought is (0&mdash;100%). 
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
       How strong was the feeling?<br>
        (1&mdash;100%)
        </td>
        <td style="padding: 5px;">
        To what extent do you think
        your worries are appropriate?<br>
        (0&mdash;100%)
        </td>
        <td style="padding: 5px;">
       To what extent do you think
          your thoughts are realistic?<br>
        (0&mdash;100%)
        </td>
        <td style="padding: 5px;">
        How do you feel now that you have reviewed,
          relativized your situation?
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="footnote">
    Hollon S.D. &amp; Beck A.T. (2013). Cognitive Therapy of Depression. 
    In: P.C. Kendall &amp; S.D. Hollon (Hrsg.) 
    Cognitive-Behavioral Interventions:
    Theory, Research, and Procedure (S.161). New York (USA): Academic Press.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.column3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>