<div class="jumbotron">
  <div class="container">
    <h1>Set boundaries and say “No” &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Five good reasons why you have to learn to say “No”</strong>:
  </p>
  <ol>
    <li>
      If you want to <strong>achieve your aims</strong> in this life,
      you have to learn to say “No” to the exorbitant demands of other people. 
    </li>
    <li>
      People learn from their <stsrong>experiences</stsrong>.
      If your colleagues experience is 
      that they are only relieved of their work
      when they grumble enough,
      they remember that and try it again the next time. 
    </li>
    <li>
      And if you dare to say “No” the next time, 
      be aware that you might get an answer like 
      “You used to be different before”. 
    </li>
    <li>
      However, you should do it.
      For the sake of your <strong>health</strong> and your <strong>relationship</strong>.
      And most importantly for <strong>your own well-being</strong>.
      After all you have your own life,
      your own activities and enough work to do.
    </li>
    <li>
      Other people are making THEIR own lives easy
      and YOUR life hard, when they ask you
      “please just this once, do me a small favor”.
      This needn’t to be in bad faith.
      But it is wise and healthy not to play this game. 
    </li>
  </ol>
  <br>

  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>