<div class="jumbotron">
  <div class="container">
    <h1>Set boundaries and say “No” &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <h3>A short guideline in 8 steps</h3>
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>1. Basis</strong>
      </p>
      <p>
        People say “conviction is convincing”. 
        Those that questions the legitimation of their own boundaries 
        has basically already lost. 
        A good piece of  advice is to write down a list of all the reasons 
        why it is important for you to set boundaries 
        before a conversation starts.
        You should not mention all of these points within the conversation
        &ndash; but you should keep them in your mind to give you encouragement. 
        Only when you are really confident
        are you going to be convincing. 
        Be prepared to say “No”. Note all of your arguments 
        and read them out loud before you go to work every day. 
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>2. No excuses</strong>
      </p>
      <p>
        Do not apologize if you refuse a task.
        Your are totally entitled to protect yourself
        against overload, and it is your personal obligation doing so. 
        Do not start to provide more justifications and excuses.
        Do not say “I am sorry”, but say “I need this for my recovery.
        If not,
        I  think about work all the time and can’t get away from it all.” 
        This is how you make it clear that
        “This is not against you – it is FOR ME”; 
        You are not offending anyone.
        You don’t feel sorry for anything &ndash;
        at least you shouldn’t.
        You can  apologize for things later.
        But if you start this unsolicited,
        you open yourself up to being criticized for your decision
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>3. Be prepared for resistance </strong>
      </p>
      <p>
        Be aware that it might be possible
        that your supervisor is not going to say. 
        “Man, it is impressive how you take care of yourself!”
        Your supervisor is interested in making sure 
        that things run smoothly (this is no accusation &ndash;
        they already have enough to do). 
        Please reckon that your supervisor is going to say something like:
        “Until today you have always been doing…”
        or even “Then I need to look for someone else to do it”.
        It presumably won’t be that bad,
        but even when you have to face this massive opposition,
        you have thought it through really well. 
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>4. Upright and breathing out!</strong>
      </p>
      <p>
        When the moment comes, 
        stand with an upright posture. 
        No floundering, no leaning the head to the side! 
        That won’t be convincing.
        You can admit that these steps take quite a bit of effort,
        but your body language should signal certainty. 
        Take a deep breath and afterwards formulate in explicit terms your boundaries,
        e.g. "I would like to be undisturbed after finishing time to fully recover and that is why I would like to turn off my mobile phone at the end of a working day from now on.” 
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>5. Parrot technique</strong>
      </p>
      <p>
        If your boss tries to convince you to stick to your former behavior 
        (something they are most likely going to do
        because they want  to maintain the status quo
        and if you suddenly no longer play along
        they will have to also make changes), 
        you should repeat your sentence with the same words.
        Don’t  be afraid that repeating the same words like a parrot
        could sound ridiculous,
        it is in fact the complete opposite.
        If you repeat the same statement of complaint with other words, 
        you will appear much weaker and uncertain
        than if you echo exactly the same words in the identical way 
        or even with a more confident tone. 
      </p> 
    </div>
    <div class="col col-50">
      <p>
        <strong>6. Stay strong</strong>
      </p>
      <p>
        Do not let yourself be persuaded,
        particularly by  compliments such as: 
        “but without you here everything will go downhill;
        you know that the clients always want everything directly
        &ndash; I can’t do it without you.” Sounds nice. 
        It might be a form of recognition 
        for which you have waited for a long time.
        But it would be fatal to back down now. 
        By doing so, you would signal that 
        “those that whine will get what they want from me.”
        The consequence? Your supervisor won’t take you seriously anymore
        when you want to set boundaries.
        They simply otherwise learned that
        they only have to complain for a little while 
        and you will do what they want. 
      </p> 
    </div>
  </div>
        
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>7. Check priorities</strong>
      </p>
      <p>
        In case your desk is already full and you don’t know where to start,
        ask to clarify priorities
        (this is how you communicate that you don’t intend not to work at all). 
        To master everything at once is impossible.
        Which request can wait? Thereby you delegate the next decision to your supervisor.
      </p> 
    </div>
    <div class="col col-50">
      <p>
        <strong>8. Consider the standard of value </strong>
      </p>
      <p>
        Try to appeal to the standard of value of your supervisor,
        e.g. by saying, “I can’t guarantee this high standard  of quality
        if the workload expands”.
        Quality is certainly an important value for your supervisor. 
        If there are further requests, you can give more arguments
        such as “I still want to do my best, but due to that I need this”
        or “you can benefit more from my work when I am fit”. 
      </p> 
    </div>
  </div>
 
  
  <div class="guidance-buttons">
     <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>