<div class="jumbotron">
  <div class="container">
    <h1>Set boundaries and say “No” &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <h3>Why it is so difficult to say “No” </h3>
  <p>
    Most  people have difficulties giving feedback to their supervisor 
    &ndash; even when questioned 
    whether or not they already arrived at their performance limit.
    They do not even <strong>defend</strong> themselves against <strong>overload</strong>.
    There are many reasons why it is so difficult to say „No“:<br> 
  </p>
  <br>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/guidance/bubbles.svg' : 'en/img/legacy/guidance/bubbles.jpg' }}"
       alt="" />
  <br>
  <p>
    The most important thing 
    if you want to say “No” is the <strong>inner attitude</strong>.
    If you are absolutely sure that you have the right to set boundaries for others,
    you must show this with conviction. 
  </p>
  <p>
    That is why you will find 
    <a ui-sref="app.guidance.internalStressors.limits2">
      <strong>5 good reasons to say “No”</strong>
    </a>.
      hereafter. However, your own reasons are more important.
    Write them down!
    And read them out loud 
    (when nobody can hear you!).
    This conviction “I am allowed to say No”
    should become second nature to you.
    Not until you are totally convinced
    will you be persuasive (without needing extra practice). 
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.limits2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>