<div class="jumbotron">
  <div class="container">
    <h1>Internal stressors</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Internal_stressors.pdf" target="_blank">Save these action aids as a PDF file.</a>
  </p>
  <p>
    What can you do
    if you realize that you are causing your own stress
    or that other inner stressors are afflicting you?
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.internalStressors.shortbreak1">Intentional recovery</a></li>
    <li><a ui-sref="app.guidance.internalStressors.selfesteem1">Strengthening of self-esteem</a></li>
    <li><a ui-sref="app.guidance.internalStressors.pareto">Pareto principle</a></li>
    <li><a ui-sref="app.guidance.internalStressors.parkinson">Parkinson’s law</a></li>
    <li><a ui-sref="app.guidance.internalStressors.alpen">Time management</a></li>
    <li><a ui-sref="app.guidance.internalStressors.column1">Column technique </a></li>
    <li><a ui-sref="app.guidance.internalStressors.limits1">Setting boundaries and saying “No”</a></li>
    <li><a ui-sref="app.guidance.internalStressors.roadmap1">Road map to leisure and tips for “switching-off”</a></li>
    <li><a ui-sref="app.guidance.internalStressors.myStress">Self-monitoring table</a></li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.start">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      All action aids
    </button>
  </div>
</div>