<div class="jumbotron">
  <div class="container">
    <h1>Pareto principle</h1>
  </div>
</div>
<div class="container">
  <p>
    Are you one of those people 
    who does everything perfectly?
    To always <strong>get things done perfectly</strong>
    is a very high standard. 
    This expectation leads to <strong>fatigue</strong> 
    and carries a high <strong>risk of failure</strong> with it. 
  </p>
  <p>
    Certainly you know the so called <strong>Pareto principle</strong>.
    It  can be traced  back to the Italian economist and sociologist Vilfredo Pareto
    and implies that for 80% of work only 20% of your time is necessary &ndash;
    it is the details that are responsible for us working longer on a task.
    Furthermore, companies make 80% of their turnovers with 20% of their clients.
    You can use this <strong>lever principle</strong> to defy your tendency
    toward perfectionism and to test a <strong>healthier use of time</strong>. 
  </p>
  <p>
    Let’s start a small experiment:
    Try to use 80% of your power instead of 100%. 
    If you want to practice this in private
    take, e.g., the next family anniversary.
    And then look and see what happens. 
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/guidance/pareto.svg' : 'img/legacy/guidance/pareto.jpg' }}"
       alt="" />
  <h5 class="footnote">
    Pareto, V. (1964) Cours d'économie politique. Librairie Droz.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>