<div class="jumbotron">
  <div class="container">
    <h1>Parkinson’s law</h1>
  </div>
</div>
<div class="container">
  <blockquote style="margin-bottom: 10px;">
    <p>
      “Work is expanding to the same extent as time is available for its completion.”
    </p>
  </blockquote>
  <p>
    Besides the Pareto principle,
    the so called Parkinson’s law provides assistance against your inner stressors.
    The law says that a task expands so as to fill the time available for its completion.
    A person that has to finish a task within the next 6 weeks
    is going to tinker around it for at least 6 weeks in most cases &ndash;
    although a similar result could have been realized within 1 week.
    This is not transferable to all single cases,
    but in principle the tip is
    <strong>set short time limits</strong>, which will enormously increase your productivity. At the same time you should lower your demands to make everything perfectly. 
  </p>
  <p>
    However, what you stand to gain is more than what you will lose, isn’t it?
  </p>
  <h5 class="footnote">
    Parkinson, C.N. (1957).
    Parkinson's law, and other studies in administration.
    Boston, Houghton Mifflin.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>