<div class="jumbotron">
  <div class="container">
    <h1>Road map to leisure and tips to switch-off &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50">
      <p>
        Don’t rush home after work.
        Because if you do,
        you will transfer thoughts from the office 
        into your free time. That would be a shame. 
      </p>
      <p>
        In the same way as you need time to “boot-up” in the morning, 
        you need time to <strong>“shut down”</strong> in the evening.
        What can help you with this are rituals or symbols indicating
      </p>
      <p>
        <strong>up to this point is work, and from that point on it’s free time.</strong>
      </p>
      <p>
        For some people this signal might be
        to put on or take off a watch,
        or to change out of your work clothes.
        Now something new is starting! 
      </p>
    </div>
    <div class="col col-50">
      <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/guidance/navi.svg' : 'en/img/legacy/guidance/navi.jpg' }}"
       alt="" />
    </div>
  </div>

  <p>
    What could be your <strong>signal of recreation</strong>?
  </p>
  <p>
    We have compiled a <strong>road map to your leisure time</strong>. You can find it on the next page.<br>
    Have a good time! 
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.roadmap2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>