<div class="jumbotron">
  <div class="container">
    <h1>Road map to leisure and tips to switch-off &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <h3>Your road map into leisure time</h3>
  <ul class="triangle">
    <li>
      Get used to the thought 
      that you can’t finish every workplace task 
      before the end of a working day. 
      <strong>Note</strong> down what to do next. 
    </li>
    <li>
      Stop thinking about problems from work 
      while you are still at work.
      Review the working day in your mind:
      what was going on today? 
      <strong>Tick off all the items you have completed</strong>, 
      this will give you a feeling of satisfaction.
    </li>
    <li>
      If something crosses your mind later that day
      <strong>write it down</strong>!
      Do not carry it around in your mind. 
    </li>
    <li>
      Establish a <strong>daily-closing ritual</strong>
      that signals your psyche:
      closing time!
      (e.g. to wash your coffee mug or to tidy up your workplace)
    </li>
    <li>
      Search for a <strong>key stimulus</strong>:
      For example every time you look at the door
      or leave your workspace you think
      “finishing time!” and at the same time you breathe out!
    </li>
    <li>
      Ensure that you have a short time period at home
      <strong>without any stimulation</strong> &ndash;
      for three minutes no TV, no radio, no conversations.
      This will help you to organize your thoughts
      and secure clarity in your mind.
      If that is impossible to obtain at home, 
      then maybe on the way home 
      (in the car, train, during a walk). 
    </li>
    <li>
      Talk with your partner about your day 
      &ndash; but only for a little while,
      e.g. before you get up from the dinner table;
      afterwards you should no longer talk about work anymore,
      otherwise it will prevent you from sleeping properly.
      Instead of thinking about work, consciously do something different! 
    </li>
  </ul>
  <br>
  <p>
    …In order to start the next day recovered,
    you need a <strong>good night’s sleep</strong>:
    You can also find 
    <a ui-sref="app.guidance.internalResources.physicalHealth3">tips for a higher quality sleep</a> in the action aids.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.roadmap1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>