<div class="jumbotron">
  <div class="container">
    <h1>Strengthening of self-esteem &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <h3>Tips</h3>
  <ul class="triangle">
    <li>
     Please ensure that your <strong>basic needs</strong>
     (food intake, sleep warmth, physical exercise, love and recovery)
      are fulfilled.
      That signals <strong>“I am worth it!”</strong> to your psyche.
    </li>
    <li>
      Admit that you have the <strong>need for appreciation</strong> from other people.
      This is not uncool,
      but the expression of inner sovereignty. 
    </li>
    <li>
     Let yourself <strong>be celebrated</strong>
      (e.g. birthday, jubilee, job achievements) 
      and also celebrate yourself!
      Allow yourself to feel worthy of something nice &ndash; 
      now more than ever. 
    </li>
    <li>
      Ask for <strong>feedback</strong> if you think
      you or your work are not appreciated enough.
      Win the laurels you deserve!
      And don’t be afraid of being comforted. 
    </li>
    <li>
      Make a daily deposit into your “self-esteem account”.
      Particularly in times when others are making unwanted withdrawals.
      It is important for your balance and this means to
      <strong>do something good for yourself!</strong>
     </li>
    <li>
      If you realize that you are  being made to feel insecure by someone,
      say to yourself that this person gains profit from that 
      and that it is in reality this person’s uncertainty that you feel.
      In return  give this person a feeling of security 
      by <strong>smiling</strong> and “warming up” to this person.
    </li>
    <li>
      Be aware of how you talk to yourself:
      Build yourself up again after a disappointment.
      Clap yourself on the back after successes,
      be proud of yourself and enjoy this feeling! &ndash;
      Write down these <strong>positive thoughts</strong>!
     </li>
    <li>
      <strong>Do not only define yourself by work</strong>.
      The more sources you have for strengthening your self-esteem,
      the easier it is to accept criticism of your work performance. 
    </li>
    <li>
    If your self-esteem is in danger due to <strong>criticism</strong>,
      say to yourself &ndash; No further development without feedback.
      Quite often you only retroactively realize,
      the value of a negative criticism.
      Perhaps you might be thankful for the criticism afterwards. 
  </li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.selfesteem1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>