<div class="jumbotron">
  <div class="container">
    <h1>Strengthening of self-esteem &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    “Be quick, you have to hurry up”  &ndash;
    such <strong>internal provocations</strong> are often a relict from our childhood.
    Unfortunately, these thoughts come up exactly in moments
    when we do not need them: moments of stress. 
  </p>
  <p>
    A helpful alternative attitude could be: 
  </p>
  <p>
    “No, I can take my time. 
    If I want to run a marathon,
    I have to take a deep breath.
    In the long run, interval training is more efficient
    than to speeding up and then collapsing along the way.
    I will take care of myself and pace myself &ndash;
    and then  choose my own speed.”
  </p>
  <p>
    How do you succeed in adopting this attitude as a personal resource?
    &ndash; Via strengthening of self-esteem! 
    The reason for this is that one who appreciates and values oneself,
    treats oneself attentively. 
  </p>
  <p>
    This is why you will find <strong>tips for strengthening your self-esteem</strong> on the next page.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.selfesteem2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>