<div class="jumbotron">
  <div class="container">
    <h1>Tips for quick relaxation</h1>
  </div>
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col col-30">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/guidance/stop.svg' : 'img/legacy/guidance/stop.jpg' }}"
           style="height: 140px;"
           alt="" />
    </div>
    <div class="col col-70">
      <h3>STOP signal</h3>
      <p>
        Say “STOP”, very consciously and intentionally 
        and stop the things you are working on at the moment
        in the same intentional manner.
        When you regularly practice, a “stop” can provide you with some distance.
        Red stop signs posted in plain sight in your working area
        can be a helpful reminder.
      </p>
    </div>
  </div>
  <h3>Water, light and letting go</h3>
  <p>
    Drink a huge glass of water in slow motion.
    That reduces tension and distracts you for a short moment.
    Or let  water run over your arteries,
    or wash your face with cold water.
    This refreshes your mind.<br>
    Step in front of the door and look at the light
    (not directly at the sun!).<br>
    Let go: Contract all your muscles tightly at once
    and then concentrate on the relaxation afterwards,
    while exhaling.
    Now do some easy stretching with your arms and legs.
  </p>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.shortbreak1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>