<div class="jumbotron">
  <div class="container">
    <h1>Intentional recovery</h1>
  </div>
</div>
<div class="container">
  <p>
    The basic principle of relaxation at work is to: 
  </p>
  <p style="text-align: center;">
    <strong>Take a break!</strong>
  </p>
  <div class="row">
    <div class="col col-50">
      <p>
        Taking a break is the prototype of stress reduction.
        Intentional and regular breaks are restorative 
        and important for the prevention of fatigue and decreased productivity.
        If you wait until your body calls for a break,
        it is already accessing your personal energy reserves.
        By taking a break, you can step off the treadmill 
        and distance yourself from the stressors.
        Ultimately stress management is nothing other
        than being able to distance yourself from stressors.
        In order for this to work, you must have a <strong>contrast program</strong> during your break.
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>
          FORMULA FOR A GOOD BREAK:
        </strong>
      </p>
      <ul class="triangle">
        <li>Go or be somewhere other than where you work</li>
        <li>Do or see something else</li>
        <li>Think about something else</li>
        <li>Hear something else / talk about something else</li>
      </ul>
      <p>
        A working lunch is not a break.
        It is only food intake while still working.
        It is not restorative!
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalStressors.shortbreak2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>