<div class="jumbotron">
  <div class="container">
    <h1>Überblick</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-90 col-offset-10">
      <p>
        <strong>Wenn Sie dieses Tool durchgearbeitet haben,</strong>
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter1">1</span>
    </div>
    <div class="col col-90">
      <p class="well">
        … kennen Sie Zusammenhänge zwischen Stress und psychischen Erkrankungen;
        und Sie wissen, wie sich Ihre psychische Gesundheit fördern lässt.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter2">2</span>
    </div>
    <div class="col col-90">
      <p class="well">
        … kennen Sie Ressourcen, die Sie stärker machen für den Umgang mit Belastungen und Ihnen zu mehr Ausgeglichenheit verhelfen.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter3">3</span>
    </div>
    <div class="col col-90">
      <p class="well">
        … wissen Sie, welche Stressoren es in Ihrem Arbeitsleben gibt und wie Sie einige davon reduzieren können.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter4">4</span>
    </div>
    <div class="col col-90">
      <p class="well">
        … erkennen Sie Überlastungssignale bei sich selbst und kennen Unterstützungsangebote, die Sie in Anspruch nehmen können.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10" style="height: 75px; margin-top: 9px;">
      <div style="position: relative; margin: 0 auto; width: 43px; height: 43px;">
        <div class="static-chapter1" style="width: 20px; height: 20px;"></div>
        <div class="static-chapter2" style="left: 23px; width: 20px; height: 20px;"></div>
        <div class="static-chapter3" style="top: 23px; width: 20px; height: 20px;"></div>
        <div class="static-chapter4" style="top: 23px; left: 23px; width: 20px; height: 20px;"></div>
      </div>
    </div>
    <div class="col col-90">
      <p class="well">
        … kennen Sie Handlungshilfen und Materialien, die Sie bei der Umsetzung unterstützen!
      </p>
    </div>
  </div>
</div>