#page_margins {
    display: block;
    width:740px;
    padding:10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, sans-serif;
}

.header {
    margin-top: 10px;
    width:760px;
    position: absolute;
    display: block;
    height: 110px;
    background-repeat: no-repeat;
}

.header .title,
.header .sub_title{
    position: relative;
    margin-top: 5px;
    margin-left: 15px;
}

.header .sub_title span{
    background-color: #506c70;
    padding: 2px;
    display: block;
    width: 300px;
    color: #fff;
}

.header .title span{
    background-color: #fff;
    padding: 3px;
    display: block;
    width: 300px;
}

.header .logo {
    position: absolute;
    left: 580px;
    top: 10px;
}

.footer {
    display: block;
    background-repeat: no-repeat;
    height: 110px;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}

#page {
    margin-top: 100px;
}

.questionnaire_description {
    color: black;
    page-break-after: always;
}

.question {
    page-break-inside: avoid;
    /*border: 1px solid #aaa;
    background-color: #ddd;*/
    margin-bottom: 10px;
}

.question_title{
    color: #fff;
    font-weight: bold;
    font-size: 115%;
    background-color: #506c70;
    padding: 2px 3px 0 5px;
    margin: 5px 0 10px 0;
}

.open_question{
    width: 500px;
    height: 15px;
    border: 1px solid black;
    background-color: #fff;
    padding: 2px;
}

.open_question_multi{
    width: 700px;
    min-height: 100px;
    border: 1px solid black;
    background-color: #fff;
    padding: 3px;
}

.open_question_multi_empty{
    width: 700px;
    height: 100px;
    border: 1px solid black;
    background-color: #fff;
    padding: 2px;
}

.closed_question_element{
    margin-top: 3px;
    vertical-align: middle;
    line-height: 1.5em;
}

.closed_question_option {
    margin-right: 5px;
    width: 10px;
    height: 12px;
    border: 1px solid black;
    background-color: #fff;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 10px;
    font-weight: bold;
}

.matrix_question{
    width: 700px;
    border-collapse: collapse;
}

.matrix_question tr{
    vertical-align: middle;
}

.matrix_question td{
    border-bottom: 1px solid #555
}

.matrix_question td.column{
    border-left: 1px solid #555;
}

.matrix_question td.header_column{
    border-left: 1px solid #555;
    text-align: center;
}

.matrix_input {
    text-align: center;
    width: 90%;
    height: 15px;
    margin-top: 3px;
    margin-left: 4%;
    border: 1px solid black;
    background-color: #fff;
    padding: 1px;
    margin-bottom: 1px;
}

.matrix_check {
    margin-top: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 1px;
    padding-left: 3px;
    padding-top: 3px;
    margin-left: 48%;
}

.semantic_question{
    width: 700px;
    border-collapse: collapse;
}

.semantic_question tr{
    vertical-align: middle;
}

.semantic_question td{
    border-bottom: 1px solid #555;
}

.semantic_question td.column{
    border-left: 1px solid #555;
    text-align: center;
    padding: 3px;
}

.semantic_question td.semantic_end{
    border-left: 1px solid #555;
    text-align: right;
}

.semantic_check {
    margin-top: 3px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 1px;
    margin-left: 40%;
    vertical-align: middle;
}

.demographic_line .input{
    width: 400px;
    height: 15px;
    border: 1px solid black;
    background-color: #fff;
    padding: 2px;
}

.compare {
    margin-top: 5px;
    background-color: #ddd;
    padding: 3px;
    border: 1px solid black;
}

.outcome {
    margin: 5px 0 3px 0;
    padding: 2px;
    page-break-inside: avoid;
}

.outcome a {
    margin-left: 5px;
}