<div ng-class="currentChapterClass">
  <div class="content" ui-view="content"></div>
</div>

<div id="storage-modal" class="modal fade" tabindex="-1"></div>

<!-- Navigation -->
<div class="nav-wrapper">
  <div class="btn-group dropup">
    <button class="btn btn-psyga dropdown-toggle" data-toggle="dropdown">
      {{ 'Navigationsmenü' | translate:settings.language }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#" ng-click="goToSlide(0)" eat-click>
          <span class="glyphicon glyphicon-book"></span>
          {{ 'Willkommen' | translate:settings.language }}
        </a>
      </li>
      <li>
        <a href="#" ng-click="goToSlide(2)" eat-click>
          <span class="glyphicon glyphicon-book"></span>
          {{ 'Kapitel' | translate:settings.language }} 1
        </a>
      </li>
      <li>
        <a href="#" ng-click="goToSlide(19)" eat-click>
          <span class="glyphicon glyphicon-book"></span>
          {{ 'Kapitel' | translate:settings.language }} 2
        </a>
      </li>
      <li>
        <a href="#" ng-click="goToSlide(34)" eat-click>
          <span class="glyphicon glyphicon-book"></span>
          {{ 'Kapitel' | translate:settings.language }} 3
        </a>
      </li>
      <li>
        <a href="#" ng-click="goToSlide(52)" eat-click>
          <span class="glyphicon glyphicon-book"></span>
          {{ 'Kapitel' | translate:settings.language }} 4
        </a>
      </li>
      <li>
        <a ui-sref="app.balance.tips">
          <span class="glyphicon glyphicon-stats"></span>
          {{ 'Persönliche Bilanz' | translate:settings.language }}
        </a>
      </li>
      <li>
        <a ui-sref="app.guidance.start">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{ 'Handlungshilfen' | translate:settings.language }}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" eat-click data-toggle="modal" data-target="#language-modal">
          <span class="glyphicon glyphicon-globe"></span>
          Language
        </a>
      </li>
      <li>
        <a ui-sref="app.imprint">
          <span class="glyphicon glyphicon-info-sign"></span>
          {{ 'Impressum' | translate:settings.language }}
        </a>
      </li>
    </ul>
  </div>
  <div class="button-chapter-view" ng-show="!isChapterView">
    <button ng-click="backToChapterView()">
      {{ 'Zurück zur Kapitelansicht' | translate:settings.language }}
    </button>
  </div>
  <ul class="pager" ng-show="isChapterView">
    <li ng-class="{'disabled': isFirstSlide}">
      <a href="#" ng-click="goToSlide('previous')" eat-click>
        {{ 'Zurück' | translate:settings.language }}
      </a>
    </li>
    <li ng-class="{'disabled': isLastSlide}">
      <a href="#" ng-click="goToSlide('next')" eat-click>
        {{ 'Weiter' | translate:settings.language }}
      </a>
    </li>
  </ul>
  <div ng-show="isChapterView"
       page-indicator
       page-indicator-index="slideIndex"
       page-indicator-max="slideCount">
  </div>
</div>

<!-- Language modal -->
<div class="modal fade" id="language-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Language</h4>
      </div>
      <div class="modal-body">
        <label class="radio-inline language">
          <input type="radio" name="languageOptions" ng-model="settings.language" value="DE">
          <img width="18" height="12" title="Deutsch" alt="Deutsch" src="img/flag_de.png" />
          Deutsch
        </label>
        <label class="radio-inline language">
          <input type="radio" name="languageOptions" ng-model="settings.language" value="EN">
          <img width="18" height="12" title="English" alt="English" src="img/flag_uk.png" />
          English
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>