<div class="content-view">
  <div class="jumbotron">
    <div class="container">
      <h1>{{ 'Impressum' | translate:settings.language }}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-66">
        <h3>{{ 'Herausgeber' | translate:settings.language }}</h3>
        <p>
          Bundesanstalt für Arbeitsschutz und Arbeitsmedizin <br />
          Friedrich-Henkel-Weg 1-25, 44149 Dortmund
        </p>
        <p>
          Initiative Neue Qualität der Arbeit Geschäftsstelle <br />
          c/o Bundesanstalt für Arbeitsschutz und Arbeitsmedizin <br />
          Nöldnerstraße 40-42, 10317 Berlin <br />
          Telefon 030 51548-4000 <br />
          E-Mail <a href="mailto:info@inqa.de">info@inqa.de</a> <br />
          <a href="http://www.inqa.de/" target="_blank">www.inqa.de</a> <br />
        </p>
      </div>
      <div class="col col-33">
        <h3>{{ 'Projektleitung' | translate:settings.language }}</h3>
        <img alt="" src="img/legacy/logos/bkk-dv.png" style="margin-left: 0;">
      </div>
    </div>
    <div ng-switch="settings.language">
      <div ng-switch-when="DE">
        <p>
          <strong>Verantwortlich:</strong>
          Prof. Dr. Jessica Lang,
          Institut für Arbeitsmedizin und Sozialmedizin, RWTH Aachen Unversity <br />
          <strong>Text:</strong>
          Dr. Anne Katrin Matyssek, Prof. Dr. Jessica Lang <br />
          <strong>Übersetzung:</strong>
          Katharyn Bischof <br />
          <strong>Programmierung:</strong>
          Martin Mädler <br />
          <strong>Hörbeispiele:</strong>
          <a href="http://intervoice24.de/" target="_blank">intervoice24.de</a> <br />
          <strong>Musik:</strong>
          Electric Air Project / <a href="http://gemafrei-music.de/" target="_blank">gemafrei-music.de</a> <br />
          <strong>Illustration:</strong>
          <a href="http://www.neueshandeln.de/" target="_blank">www.neueshandeln.de</a> <br />
          <strong>Produktion:</strong>
          MAXON Media GmbH, Friedrichsdorf <br />
          <strong>Layoutumsetzung Booklet:</strong>
          <a href="http://www.neueshandeln.de/" target="_blank">www.neueshandeln.de</a> <br />
        </p>
        <p>
          <strong>Stand:</strong> September 2015 <br />
        </p>
        <p>
          <strong>ISBN:</strong> 978-3-9816190-1-0 <br />
        </p>

        <h3>Lizenzen</h3>
        <p>
          <strong>Hinweis:</strong> Der Inhalt dieses Tools ist urheberrechtlich geschützt.
          Kopieren oder Reproduzieren sowohl in elektronischer als auch in schriftlicher Form
          ist ohne schriftliche Genehmigung des Herausgebers untersagt.
        </p>
      </div>
      <div ng-switch-when="EN">
        <p>
          <strong>Responsible:</strong>
          Prof. Dr. Jessica Lang,
          Institut für Arbeitsmedizin und Sozialmedizin, RWTH Aachen University <br />
          <strong>Text:</strong>
          Dr. Anne Katrin Matyssek, Prof. Dr. Jessica Lang <br />
          <strong>Translation:</strong>
          Katharyn Bischof <br />
          <strong>Programming:</strong>
          Martin Mädler <br />
          <strong>Audio samples:</strong>
          <a href="http://intervoice24.de/" target="_blank">intervoice24.de</a> <br />
          <strong>Music:</strong>
          Electric Air Project / <a href="http://gemafrei-music.de/" target="_blank">gemafrei-music.de</a> <br />
          <strong>Illustration:</strong>
          <a href="http://www.neueshandeln.de/" target="_blank">www.neueshandeln.de</a> <br />
          <strong>Production:</strong>
          MAXON Media GmbH, Friedrichsdorf <br />
          <strong>Layout booklet:</strong>
          <a href="http://www.neueshandeln.de/" target="_blank">www.neueshandeln.de</a> <br />
        </p>
        <p>
          September 2015 <br />
        </p>
        <p>
          <strong>ISBN:</strong> 978-3-9816190-1-0 <br />
        </p>

        <h3>Licenses</h3>
        <p>
          <strong>Notice:</strong>
          The content of this tool is copyrighted.
          It is prohibited to copy or reproduce the material electronically or
          in print without the written permission of the editor.
        </p>
      </div>
    </div>
    <div class="card" style="margin-top: 0;">
      <div class="item item-divider">
        <strong>AngularJS</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/angularjs.html'"></div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>AngularUI Router</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/ui-router.html'"></div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>jQuery</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/jquery.html'"></div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Bootstrap</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/bootstrap.html'"></div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Hammer.js</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/hammer.html'"></div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Modernizr</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/modernizr.html'"></div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <strong>Respond.js</strong>
      </div>
      <div class="item item-text-wrap" ng-include="'templates/details/respond.html'"></div>
    </div>
  </div>
</div>