<div class="radar-chart">
  <div class="quadrant-1-lower"></div>
  <div class="quadrant-1-upper"></div>
  <div class="quadrant-2-lower"></div>
  <div class="quadrant-2-upper"></div>
  <div class="quadrant-3-lower"></div>
  <div class="quadrant-3-upper"></div>
  <div class="quadrant-4-lower"></div>
  <div class="quadrant-4-upper"></div>
</div>