<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        {{ 'Zwischenstand' | translate:settings.language }}
      </h4>
    </div>
    <div ng-switch="settings.language">
      <div class="modal-body" ng-switch-when="DE">
        <p>
          Es wurde ein Zwischenstand gefunden. Möchten Sie diesen laden und fortfahren?
        </p>
        <div class="checkbox" ng-class="{'disabled': !isLocalData}">
          <label>
            <input type="checkbox" ng-model="localDataCheck" ng-disabled="!isLocalData">
            Lokale Daten laden
            <span class="discreet-note">(persönliche Angaben zu Ressourcen und Stressoren)</span>
          </label>
        </div>
        <p>
          Über das Navigationsmenü können Sie an die Stelle navigieren
          an der Sie beim letzten Mal aufgehört haben.
        </p>
        <p class="discreet-note" ng-show="isLocalData" style="padding-top: 15px;">
          <span class="glyphicon glyphicon-info-sign"></span>
          Zum Schutz Ihrer Privatsphäre wurden Ihre persönlichen Angaben zu Ressourcen und Stressoren
          lediglich lokal in Ihrem Webbrowser gespeichert.
        </p>
        <p class="discreet-note" ng-show="!isLocalData" style="padding-top: 15px;">
          <span class="glyphicon glyphicon-info-sign"></span>
          Es wurden keine lokalen Daten gefunden.
        </p>
      </div>
      <div class="modal-body" ng-switch-when="EN">
        <p>
          A work status has been found. Do you want to load it and continue?
        </p>
        <div class="checkbox" ng-class="{'disabled': !isLocalData}">
          <label>
            <input type="checkbox" ng-model="localDataCheck" ng-disabled="!isLocalData">
            Load local data
            <span class="discreet-note">(personal information regarding resources and stressors)</span>
          </label>
        </div>
        <p>
          Via the main menu you are able to navigate to the position where you left off.
        </p>
        <p class="discreet-note" ng-show="isLocalData" style="padding-top: 15px;">
          <span class="glyphicon glyphicon-info-sign"></span>
          For the protection of your privacy,
          your personal information regarding resources and stressors
          has only been saved locally to your browser.
        </p>
        <p class="discreet-note" ng-show="!isLocalData" style="padding-top: 15px;">
          <span class="glyphicon glyphicon-info-sign"></span>
          No local data has been found.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-action"
              data-dismiss="modal"
              ng-click="clearStorage()">
        {{ 'Verwerfen' | translate:settings.language }}
      </button>
      <button type="button"
              class="btn btn-action"
              data-dismiss="modal"
              ng-click="loadStorage()"
              ng-disabled="!localDataCheck">
        {{ 'Ja, Zwischenstand laden' | translate:settings.language }}
      </button>
    </div>
  </div>
</div>