<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Wege zur Arbeit / Mobilität</h4>
    </div>
    <div class="modal-body">
      <p>
        Verkehrsstaus, lange Reise- und Pendelzeiten,
        Verspätungen bei Verkehrsmitteln aller Art erschweren die Erholung,
        da diese Zeit in der Regel von der <strong>Freizeit</strong> und auch <strong>Familienzeit</strong> abgeht,
        aber nicht von der Arbeitszeit.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Im Menüpunkt Handlungshilfen finden Sie Tipps
        zur Reduzierung äußerer Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>