<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Lärm / Kälte / Zugluft / Beleuchtung</h4>
    </div>
    <div class="modal-body">
      <p>
        Wenn die <strong>physikalischen Rahmenbedingungen</strong> Mängel aufweisen,
        beeinträchtigt dies die Leistungsfähigkeit.
        Kopfschmerzen oder Erkältungserkrankungen können je nach Stressor die Folge sein.
        Auch <strong>Arbeitsunfälle</strong> können durch ungünstige Umgebungsbedingungen leichter eintreten.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Hinweise zum Umgang mit äußeren Stressoren finden Sie in den Handlungshilfen.
        Ziehen Sie bei solchen Fragen auch die Fachkraft für Arbeitssicherheit hinzu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>