<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Schlechte Wahrnehmung von Signalen</h4>
    </div>
    <div class="modal-body">
      <p>
        Zu schwache Signale (wegen Dunkelheit, zu kurzer Signaldauer
        oder ungünstiger Umgebungsbedingungen) erhöhen die <strong>Anspannung</strong>
        und können Arbeitsabläufe auch behindern
        und damit zusätzlich zu <strong>Verzögerungen</strong> im Ablauf führen.
        Es erfordert ein Übermaß an Konzentration und damit Anstrengung, um Fehler zu vermeiden.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Wenn es an diesem Punkt hakt:
        Besprechen Sie das Thema mit Ihrer Führungskraft!
        Tipps für ein solches Gespräch finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>