<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Räumliche Enge</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Zwangshaltungen</strong> sollten im Sinne Ihrer Gesundheit immer nur von kurzer Dauer sein
        oder ganz vermieden werden.
        Auch in sozialer Hinsicht kann Enge ein Belastungsfaktor sein:
        Viele Menschen reagieren gereizt,
        wenn andere sich permanent in <strong>großer Nähe</strong> zu ihnen aufhalten.
        Konzentriertes Arbeiten fällt schwer.
        Es müssen auch Möglichkeiten gegeben sein, am Arbeitsplatz Ruhe zu finden.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Wenn es an diesem Punkt hakt:
        Besprechen Sie das Thema mit Ihrer Führungskraft!
        Tipps für ein solches Gespräch finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>