<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Work commute / mobility</h4>
    </div>
    <div class="modal-body">
      <p>
        Traffic jams, long travel and commuting time, 
        and delays in transportation of all kinds complicate the recovery, 
        because this time is normally taken from <strong>leisure and family time</strong>, 
        not from working time.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        You will find tips for reducing external stressors 
        that result from your work environment in the action aids.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>