<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Noise / cold / drafts / lighting</h4>
    </div>
    <div class="modal-body">
      <p>
        If <strong>physical conditions</strong> are defective 
        it will adversely affect performance. 
        Headaches or colds may result from each depending stressor. 
        Even <strong>accidents</strong> can occur more easily due to unfavorable environmental conditions.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        How to handle external stressors of the work environment 
        can be found in the action aids. 
        Ask the occupational health and safety officer about such issues.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>