<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Inadequate perception of signals</h4>
    </div>
    <div class="modal-body">
      <p>
        Weak signals (due to darkness, a short signal duration, 
        or unfavorable environmental conditions) increase <strong>tension</strong>
        and can also interfere with work processes and thus also <strong>process delays</strong>. 
        This requires excess concentration and further effort to avoid errors.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        If this point is a problem: Discuss the issue with your manager! 
        Tips for such a conversation can be found in the action aids against external stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>