<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Lack of adequate space</h4>
    </div>
    <div class="modal-body">
      <p>
        Posturing should always be of short duration 
        or be avoided altogether in your own health interest. 
        In social terms, <strong>constrictions</strong> can be a stress factor: 
        many people react irritably when others permanently reside 
        in close proximity to them. It’s hard to maintain work concentration. 
        It should be facilitated to find peace in the workplace.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        If this point is a problem:
        Discuss the issue with your manager!
        Tips for such a conversation can be found in the action aids against external stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>