<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Emotional labor</h4>
    </div>
    <div class="modal-body">
      <p>
        At jobs that require a lot of <strong>contact with other people</strong> 
        (clients, patients, customers, etc.), 
        such as in service occupations, gastronomy or in the caring professions, 
        certain emotional rules are required 
        (for example, to remain friendly when confronted with complaints).
        This emotional request can be very stressful. Especially when work forces us to
        <strong>suppress our own emotions</strong> or even to express feelings that are the opposite of what
        we currently perceive.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        If this point is a problem: 
        take part in activities that train you for these types of demands. 
        Select specific training for dealing with emotional work. 
        Possible contacts can be found in Chapter 4.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>