<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Information acquisition</h4>
    </div>
    <div class="modal-body">
      <p>
        If it is difficult to gain access to information that you need for your work 
        (because, for example, the activation is dependent on hierarchical level or
        passwords are constantly changed without prior notice), this also results in
        unnecessary <strong>frustration by obstructions in the workflow</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        If this point is a problem: Discuss the issue with your manager! 
        See the action aids against external stressors for tips on how to lead such a conversation. 
        Perhaps a team meeting can also help to find a solution. 
        Tips to strengthen your social network can be found in the action aids for external resources as well.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>