<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Multi-tasking</h4>
    </div>
    <div class="modal-body">
      <p>
        Many workers in their professional life have to <strong>simultaneously perform several
        activities</strong> and are frequently <strong>interrupted</strong> or disturbed in a task. 
        Concentration and efficiency suffers from that. The mood often becomes worse
        because achievements are prevented and progress is slower. 
        This also increases the feeling of <strong>heteronomy</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for reducing external stressors that result from your work content.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>