<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Overwork / too few demands</h4>
    </div>
    <div class="modal-body">
      <p>
        Overwhelmed by <strong>overly complicated tasks</strong> 
        or underused by <strong>monotonous tasks</strong> with too little variety
        &ndash; both factors can incriminate people.
        Fear of failure or the actual experience of failure 
        affect <strong>well-being</strong> in the first case,
        and <strong>boredom</strong> in the second case. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        Tip: Stay open to new ideas: Take qualification programs and educate yourself until the
        balance between needs and knowledge is right.
        Under the action aids you will find further hints for reducing external stressors 
        that result from your work content.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>