<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Lack of performance control</h4>
    </div>
    <div class="modal-body">
      <p>
        It is confusing when you do <strong>not get feedback on the quality of your work</strong>
        or if control options in the workflow are missing.
        Feelings of <strong>helplessness</strong> can occur. 
        In the long-term it may happen that you feel dissociated from your work and no longer feel
        responsible. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        If this point is the problem: Discuss the issue with your manager! 
        For tips for such a conversation, see the action aids against external stressors in the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>