<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ability to shape work policies</h4>
    </div>
    <div class="modal-body">
      <p>
        If everything is given to a hair, your job brings no joy. 
        It is difficult to identify with it, when you only see yourself as an <strong>executive tool</strong> 
        and your own proposals are defended or repeatedly ignored.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        If this point is a problem: Discuss the issue with your manager! 
        Tips for such a conversation, are in the action aids against external stressors using the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>