<div class="jumbotron">
  <div class="container">
    <h1>Ihre Stressoren-Ressourcen-Bilanz</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-30 col-offset-20">
      <h3>Ihre Ressourcen</h3>
      <div class="row row-ruler" style="margin-bottom: 0.8em;">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
    <div class="col col-30">
      <h3>Ihre Stressoren</h3>
      <div class="row row-ruler" style="margin-bottom: 0.8em;">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-20" style="text-align: right;">
      <p>Arbeitsinhalte</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 88%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" style="width: 75%;"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 50%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" style="width: 43%;"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Arbeitsinhalte</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Arbeitsorganisation</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 91%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" style="width: 100%;"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 55%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" style="width: 50%;"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Arbeitsorganisation</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Arbeitsumgebung</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" style="width: 67%;"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 10%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" style="width: 10%;"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Arbeitsumgebung</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Soziale Beziehungen</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 67%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" style="width: 95%;"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 40%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" style="width: 51%;"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Soziale Beziehungen</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Innere Ressourcen</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 65%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" style="width: 68%;"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" style="width: 68%;"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Innere Stressoren</p>
    </div>
  </div>
  <p class="discreet-note">
    <br>
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Bei dieser Ansicht handelt es sich um eine Beispiel-Auswertung.
  </p>
  <p>
    <span class="label">Legende</span>
    <br>
    <span>
      Das Diagramm zeigt Ihnen Ihre durchschnittlichen Bewertungen auf den jeweiligen Kategorien der Ressourcen bzw. der Stressoren.<br>
      <strong>graue Balken:</strong> Wie stark sind die jeweiligen Ressourcen bei Ihnen ausgeprägt,
      bzw. wie häufig sind Sie mit den jeweiligen Stressoren konfrontiert?<br>
      <strong>grüne Balken:</strong> Wie sehr tragen die jeweiligen Ressourcen zu Ihrer Stärkung bei?<br>
      <strong>rote Balken:</strong> Wie sehr sind Sie durch die jeweiligen Stressoren beansprucht?
    </span>
  </p>
</div>