<div class="jumbotron">
  <div class="container">
    <h1>
      Zusammenhang:<br>
      Stressoren &ndash; Ressourcen &ndash; psychische Gesundheit
    </h1>
  </div>
</div>
<div class="container">
  <ul class="triangle">
    <li>
      Entscheidend für das Entstehen einer psychischen Erkrankung ist das <strong>Verhältnis</strong> von beidem &ndash;
      Stressoren und Ressourcen.
    </li>
    <li>
      Je mehr Ressourcen Sie zur Verfügung haben, desto weniger können Ihnen die Stressoren anhaben.
    </li>
    <li>
      Und je mehr Stressoren Sie in der Vergangenheit schon erfolgreich bewältigt haben,
      desto mehr Kraft gibt Ihnen dies auch für den heutigen Umgang mit Stressoren.
    </li>
    <li>
      Manche Forscherinnen und Forscher sprechen sogar von einem <strong>Stressimpfungseffekt</strong>
      (oder auch: Stress-Immunisierung), den Sie dadurch erleben. Also nichts wie her mit dem Stress …
    </li>
    <li>
      Und natürlich: Her mit den Ressourcen!
    </li>
  </ul>
  <img class="center-image" src="img/connection.jpg" alt="" />
</div>