<div class="jumbotron">
  <div class="container">
    <h1>Überblick</h1>
  </div>
</div>
<div class="container">
  <h3>Kapitelübersicht</h3>
  <ul class="triangle">
    <li>
      Einführung in das Thema psychische Gesundheit
    </li>
    <li>
      Analyse und Auswertung der eigenen Ressourcen
    </li>
    <li>
      Analyse und Auswertung der eigenen Stressoren
    </li>
    <li>
      Ausblick und weiterführende Informationen
    </li>
  </ul>
</div>