<div class="jumbotron">
  <div class="container">
    <h1>Über psyGA</h1>
  </div>
</div>
<div class="container">
  <p>
    Sie haben nun die Kurzversion des eLearning-Tools für Beschäftigte von psyGA absolviert.
    Das komplette eLearning-Tool finden Sie unter
    <strong><a href="http://psyga.info/ueber-psyga/materialien/elearning-tool-fuer-beschaeftigte/" target="_blank">http://psyga.info/ueber-psyga/materialien/elearning-tool-fuer-beschaeftigte/</a></strong>.
    Hier haben wir auch viele weitere Informationen
    und Praxismaterialien rund um das Thema
    Psychische Gesundheit in der Arbeitswelt für Sie zusammengestellt.
  </p>
  <p>
    Das Projekt Psychische Gesundheit in der Arbeitswelt (psyGA)
    wird im Rahmen der Initiative Neue Qualität der Arbeit
    durch das Bundesministerium für Arbeit und Soziales gefördert.
    Die Projektleitung liegt beim BKK Dachverband e.V..
  </p>
</div>