<div class="jumbotron">
  <div class="container">
    <h1>Ressourcen der Arbeitumgebung</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Welche Ressourcen hält Ihre Arbeitsumgebung für Sie bereit?</strong>
  </p>
  
  <br>
  
  <div class="row">
    <div class="col col-50">
      <ul class="triangle wide">
        <li>
          Arbeitsplatzgestaltung
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#workplace-design">mehr</button>
        </li>
        <li>
          Arbeitsmittel
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#work-equipment">mehr</button>
        </li>
        <li>
          Ergonomische Ausstattung
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#ergonomic-design">mehr</button>
        </li>
        <li>
          Kontrollmöglichkeiten / Feedback
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#control-and-feedback">mehr</button>
        </li>
        <li>
          Ruhe
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#privacy">mehr</button>
        </li>
        <li>
          Technik / Software
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#technology-and-software">mehr</button>
        </li>
      </ul>
    </div>
    <div class="col col-50">
      <img class="center-image" src="img/balance.jpg" alt="" />
    </div>
  </div>
  
  <br>
  
  <p class="discreet-note">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    In der Kurzversion können Sie keine Ressourcen bewerten.
  </p>
  
  <!-- Modal -->
  <div class="modal fade" id="workplace-design" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Arbeitsplatzgestaltung</h4>
        </div>
        <div class="modal-body">
          <p>
            An Ihrem Arbeitsplatz verbringen Sie wochentags mehr wache Zeit als daheim. 
            Daher sollte es möglich sein, dass Sie zumindest <strong>einzelne Aspekte</strong> Ihres Arbeitsplatzes 
            <strong>nach eigenem Geschmack gestalten</strong>, indem Sie zum Beispiel ein Foto aufstellen 
            oder Ihre eigene Kaffeetasse mitbringen. 
          </p>
          <p>
            Auch bei der Arbeitsumgebung gilt, dass Sie sie nach Möglichkeit mitgestalten sollten, 
            um sich wohlzufühlen. Da viele Aspekte der Arbeitsumgebung nicht in Ihrer Hand liegen, 
            sollten Sie auch hierzu das Gespräch mit Ihrer Führungskraft suchen. 
            Ideen zur <strong>Vorbereitung dieses Gespräch</strong> finden Sie in den Handlungshilfen. 
            Da viele von uns nicht isoliert arbeiten, gehört die Absprache im Team ebenfalls dazu. 
            Tipps für ein gutes soziales Netzwerk finden Sie ebenfalls in den Handlungshilfen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="work-equipment" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Arbeitsmittel</h4>
        </div>
        <div class="modal-body">
          <p>
            Gute Arbeit setzt gute Arbeitsmittel voraus, inkl. passender Schutzausrüstung. 
            Ob Werkzeuge, Maschinen, Utensilien, EDV-Systeme etc.:
            Haben Sie alles, was Sie für gute Arbeit brauchen?
            Funktionierende, qualitativ gute und anwenderfreundliche Arbeitsmittel
            verhindern viele Irritationen und <strong>Hindernisse im Routineablauf</strong> bei der Arbeit
            und tragen dazu bei, dass Sie sich voll und ganz auf Ihre Arbeit konzentrieren können
            und sich nicht ärgern müssen.
          </p>
          <p>
            Da viele Aspekte der Arbeitsumgebung nicht in Ihrer Hand liegen, sollten Sie auch hierzu das  
            <strong>Gespräch mit Ihrer Führungskraft</strong> suchen. 
            Ideen zur Vorbereitung dieses Gesprächs finden Sie in den Handlungshilfen.
            Da Sie selbst Expertin oder Experte für Ihren Arbeitsplatz sind,
            sollten Sie Ihr Wissen und Ihre Erfahrung einbringen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="ergonomic-design" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Ergonomische Ausstattung</h4>
        </div>
        <div class="modal-body">
          <p>
            Höhenverstellbares Mobiliar oder andere ergonomisch optimierte Arbeitsmittel 
            können dazu beitragen, dass Sie lange fit und arbeitsfähig bleiben, 
            weil dadurch bereits <strong>physische Belastungen</strong> minimiert werden. 
            Diese Arbeitserleichterung wirkt sich nicht nur rein körperlich positiv aus, 
            sondern ist <strong>auch eine psychische Entlastung</strong>.
          </p>
          <p>
            <strong>Tipp:</strong>
            Prüfen Sie, welche ergonomischen Verbesserungen an Ihrem Arbeitsplatz bereits vorhanden sind. 
            Oft gibt es Hilfsmittel oder Änderungsmöglichkeiten,
            die aus verschiedensten Gründen nicht genutzt werden. 
            Suchen Sie diesbezüglich das Gespräch mit Ihrer Fachkraft für Arbeitssicherheit zur Beratung:
            Ergonomie ist ihr Thema.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="control-and-feedback" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Kontrollmöglichkeiten / Feedback</h4>
        </div>
        <div class="modal-body">
          <p>
            Ihre Arbeit sollte so gestaltet sein, dass Sie bereits während der Ausübung 
            Ihrer Tätigkeit <strong>aktuelle Rückmeldungen</strong> (sei es über technische Systeme oder Personen) 
            über den Stand der Arbeit erlangen können. 
            Das gibt Ihnen <strong>Klarheit</strong> und <strong>Orientierung</strong> und die Möglichkeit des sofortigen Eingreifens, 
            wenn Abweichungen sichtbar werden. 
            Die eigene Möglichkeit der Kontrolle über den Arbeitsprozess gibt Ihnen Sicherheit. 
          </p>
          <p>
            Feedback können und sollten Sie von Ihrer oder Ihrem unmittelbaren Vorgesetzten einfordern.  
            Hinweise für die Vorbereitung eines solchen Gesprächs
            finden Sie in den Handlungshilfen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="privacy" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Ruhe</h4>
        </div>
        <div class="modal-body">
          <p>
            An vielen Arbeitsplätzen herrscht Dauerlärm. 
            Ohrstöpsel können einiges abhalten, anderenorts sind sie nicht so passend, 
            wie z.B. in Schulen, Kindergärten oder im Verkauf. 
            Die Möglichkeit, in einem Raum im Betrieb Stille zu erleben, hilft Ihnen, 
            den Akku wieder aufzuladen und Sie vor Symptomen der <strong>Reizbarkeit</strong>
            und <strong>Konzentrationsschwäche</strong> zu schützen. 
            Wo immer möglich, sollte <strong>Lärm reduziert</strong> werden: Vielleicht haben Sie schon konkrete Ideen 
            und können diese im Team und mit der Führungskraft umsetzen?
          </p>
          <p>
            Auch bei der Arbeitsumgebung gilt, dass Sie sie nach Möglichkeit mitgestalten sollten, 
            um sich wohlzufühlen. 
            Da viele Aspekte der Arbeitsumgebung nicht in Ihrer Hand liegen, 
            sollten Sie auch hierzu das Gespräch mit Ihrer Führungskraft (siehe Handlungshilfen) suchen 
            und eventuell auch das Gespräch mit Ihrer Fachkraft für Arbeitssicherheit.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="technology-and-software" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Technik / Software</h4>
        </div>
        <div class="modal-body">
          <p>
            Kaum ein Arbeitsplatz ist heutzutage noch völlig frei von Technik. 
            Viele alltägliche Routinen sind mehr und mehr von funktionierender Technik abhängig. 
            Der <strong>reibungslose Ablauf</strong> von technischen Systemen und Computerprogrammen ist ein Garant 
            für entspanntes Arbeiten, genauso wie die <strong>Benutzerfreundlichkeit</strong> der Systeme. 
            So wird Arbeitsunterbrechungen und damit verbundener Frustration vorgebeugt 
            und man kann sich voll und ganz seiner inhaltlichen Tätigkeit widmen.
          </p>
          <p>
            Keiner kennt die technischen Hindernisse in Ihrem Arbeitsablauf so gut wie Sie. 
            Machen Sie bei technischen Problemen Ihre Führungskraft darauf aufmerksam. 
            Ideen zur <strong>Vorbereitung dieses Gesprächs</strong> finden Sie in den Handlungshilfen. 
            Oder suchen Sie gemeinsam mit Kolleginnen und Kollegen nach Lösungsmöglichkeiten. 
            Ein gutes soziales Netzwerk hilft Ihnen. 
            Hinweise dazu, wie Sie dieses Netzwerk pflegen können, finden Sie ebenfalls in den Handlungshilfen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>