<div class="jumbotron">
  <div class="container">
    <h1>Äußere Stressoren der Arbeitsumgebung</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Welche Stressoren hält Ihre Arbeitsumgebung für Sie bereit?</strong>
  </p>
  
  <br>
  
  <div class="row">
    <div class="col col-50">
      <ul class="triangle wide">
        <li>
          Wege zur Arbeit / Mobilität
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#commute">mehr</button>
        </li>
        <li>
          Lärm / Kälte / Zugluft / Beleuchtung
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#noise">mehr</button>
        </li>
        <li>
          Unzureichende Signalwahrnehmung
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#signals">mehr</button>
        </li>
        <li>
          Räumliche Enge
          <button class="button button-small button-outline button-positive" data-toggle="modal" data-target="#space">mehr</button>
        </li>
      </ul>
    </div>
    <div class="col col-50">
      <img class="center-image" src="img/balance.jpg" alt="" />
    </div>
  </div>
  
  <br>
  
  <p class="discreet-note">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    In der Kurzversion können Sie keine Stressoren bewerten.
  </p>
  
  <!-- Modal -->
  <div class="modal fade" id="commute" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Wege zur Arbeit / Mobilität</h4>
        </div>
        <div class="modal-body">
          <p>
            Verkehrsstaus, lange Reise- und Pendelzeiten,
            Verspätungen bei Verkehrsmitteln aller Art erschweren die Erholung,
            da diese Zeit in der Regel von der <strong>Freizeit</strong> und auch <strong>Familienzeit</strong> abgeht,
            aber nicht von der Arbeitszeit.
          </p>
          <p>
            Im Menüpunkt Handlungshilfen finden Sie Tipps
            zur Reduzierung äußerer Stressoren.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="noise" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Lärm / Kälte / Zugluft / Beleuchtung</h4>
        </div>
        <div class="modal-body">
          <p>
            Wenn die <strong>physikalischen Rahmenbedingungen</strong> Mängel aufweisen,
            beeinträchtigt dies die Leistungsfähigkeit.
            Kopfschmerzen oder Erkältungserkrankungen können je nach Stressor die Folge sein.
            Auch <strong>Arbeitsunfälle</strong> können durch ungünstige Umgebungsbedingungen leichter eintreten.
          </p>
          <p>
            Hinweise zum Umgang mit äußeren Stressoren finden Sie in den Handlungshilfen.
            Ziehen Sie bei solchen Fragen auch die Fachkraft für Arbeitssicherheit hinzu.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="signals" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Unzureichende Signalwahrnehmung</h4>
        </div>
        <div class="modal-body">
          <p>
            Zu schwache Signale (wegen Dunkelheit, zu kurzer Signaldauer
            oder ungünstiger Umgebungsbedingungen) erhöhen die <strong>Anspannung</strong>
            und können Arbeitsabläufe auch behindern
            und damit zusätzlich zu <strong>Verzögerungen</strong> im Ablauf führen.
            Es erfordert ein Übermaß an Konzentration und damit Anstrengung, um Fehler zu vermeiden.
          </p>
          <p>
            Wenn es an diesem Punkt hakt:
            Besprechen Sie das Thema mit Ihrer Führungskraft!
            Tipps für ein solches Gespräch finden Sie in den Handlungshilfen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="space" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Räumliche Enge</h4>
        </div>
        <div class="modal-body">
          <p>
            <strong>Zwangshaltungen</strong> sollten im Sinne Ihrer Gesundheit immer nur von kurzer Dauer sein
            oder ganz vermieden werden.
            Auch in sozialer Hinsicht kann Enge ein Belastungsfaktor sein:
            Viele Menschen reagieren gereizt,
            wenn andere sich permanent in <strong>großer Nähe</strong> zu ihnen aufhalten.
            Konzentriertes Arbeiten fällt schwer.
            Es müssen auch Möglichkeiten gegeben sein, am Arbeitsplatz Ruhe zu finden.
          </p>
          <p>
            Wenn es an diesem Punkt hakt:
            Besprechen Sie das Thema mit Ihrer Führungskraft!
            Tipps für ein solches Gespräch finden Sie in den Handlungshilfen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>