<div class="jumbotron">
  <div class="container">
    <h1>Kapitel 1</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Arbeitsbedingter Stress, Resilienz und psychische Gesundheit</h2>
  </div>
  <p>
    In diesem Kapitel beschäftigen wir uns mit folgenden Fragen:
  </p>
  <ul class="triangle">
    <li>Wie gut fühlen Sie sich bei der Arbeit?</li>
    <li>Was ist Stress? Was ist psychische Belastung?</li>
    <li>Welche Stressoren können zu psychischen Erkrankungen führen?</li>
    <li>Welche Ressourcen können vor psychischen Erkrankungen schützen?</li>
    <li>Welche Rolle spielt Resilienz dabei?</li>
    <li>Wie lässt sich die psychische Gesundheit stärken?</li>
  </ul>
</div>