<div class="jumbotron">
  <div class="container">
    <h1>Worum geht's in diesem Tool?</h1>
  </div>
</div>
<div class="container">
  <h3>Herzlich willkommen!</h3>
  <p>
    Dieses eLearning-Tool zielt auf die
    <strong>Vorbeugung psychischer Erkrankungen</strong> ab &ndash;
    und zwar vor allem durch eine 
    <strong>Optimierung der Arbeitsbedingungen</strong>.
    Natürlich können Sie aber auch bei sich selbst etwas 
    für die Stärkung Ihrer seelischen Gesundheit tun.
  </p>
  <p>
    Im Zentrum dieses Programms steht <strong>Ihr persönliches Ausmaß an 
    Ressourcen und Stressoren am Arbeitsplatz</strong> &ndash;
    verbunden mit der Frage, was Sie tun können, 
    wenn diese Bilanz ungünstig ausfällt und wo Sie Unterstützung finden.
    Viele dieser Maßnahmen sind ganz einfach &ndash; 
    Sie werden sehen!
    Und bestimmt kennen Sie schon einige Themen, um die es hier geht,
    sodass Sie in diesem Tool eine Bestätigung und Rückenstärkung erfahren.
    Für die Bearbeitung der 4 Kapitel brauchen Sie ca. 45 Minuten.
  </p>
  <p>
    Im Navigationsmenü finden Sie zudem zahlreiche 
    <strong>konkrete Handlungshilfen</strong>,
    mit deren Unterstützung Sie einzelne Themen vertiefen können,
    die sich während der Erarbeitung der 4 Kapitel 
    für Sie als wichtig herausgestellt haben.
  </p>
  <p>
    Viel Spaß und Erfolg dabei &ndash;
    und allzeit Gesundheit und Freude bei der Arbeit!
  </p>
  <p>
    Jessica Lang &amp; das psyGA-Team
  </p>
</div>