<div class="jumbotron">
  <div class="container">
    <h1>Analyze your stressors!</h1>
  </div>
</div>
<div class="container" ng-controller="InternalStressorsCtrl">
  <div ng-show="selectedItemsCount">
    <p>
      You have selected the following inner stressors &ndash; please rate them now!
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Internal stressors</th>
          <th>How common is this inner stressor for you?</th>
          <th>How much do you feel stressed by this stressor?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items | filter: {'checked': true} track by $index">
          <td>{{ item.text_en }}</td>
          <td>
            <select ng-model="item.extent">
              <option value="0">0 &ndash; not at all</option>
              <option value="1">1 &ndash; sometimes</option>
              <option value="2">2 &ndash; often</option>
              <option value="3">3 &ndash; very often</option>
            </select>
          </td>
          <td>
            <select ng-model="item.impact">
              <option value="0">0 &ndash; not at all</option>
              <option value="1">1 &ndash; something</option>
              <option value="2">2 &ndash; fairly</option>
              <option value="3">3 &ndash; very</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="selectedItemsCount === 0">
    <p>
      You have not selected any stressors for evaluation.
    </p>
    
    <br>
    
    <div class="alertbox">
      <img ng-src="{{ supportSvg() ? 'img/chapter4/time-for-help.svg' : 'img/legacy/chapter4/time-for-help.jpg' }}" alt="" />
      <p>
        <strong>Are you sure?</strong><br>
        If you do not make any selection, your personal balance cannot be calculated.
      </p>
    </div>
  </div>
</div>