<div class="jumbotron">
  <div class="container">
    <h1>What stressors put a strain on you?</h1>
  </div>
</div>
<div class="container">
  <p>
    After you have worked through this chapter, you can determine your personal balance. 
    Check out the following pages: They contain a variety of possible stressors that you can
    find in yourself or in your work.
  </p>
  <div mm-balance mm-animation="auto"></div>
</div>