<div class="jumbotron">
  <div class="container">
    <h1>Conclusion</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        There are internal and external stressors at work.
      </li>
      <li>
       It is in your hands to reduce internal stressors.
      </li>
      <li>
        With many external stressors you only have limited influence. 
        A conversation with your manager is required here.
      </li>
    </ul>
  </div>
  <p>
    <span class="label">Balance Sheet:</span>
    This is for evaluation of your personal <a href="#/app/balance/tips">stressors-resource balance</a>.
  </p>
</div>