<div class="jumbotron">
  <div class="container">
    <h1>Internal stressors</h1>
  </div>
</div>
<div class="container" ng-controller="InternalStressorsCtrl">
  <p>
    <strong>Instructions</strong>:<br>
    To obtain a description of the individual stressors, simply click on the “more”-button.
  </p>
  <p>
    Highlight the stressors, which are of interest to you, within the description or drag and place 
    the stressors into the relevant scale side. Subsequently you can evaluate
    them for yourself and receive your individual balance at the end of the chapter.
  </p>
  <div mm-balance mm-item-list="items" flip-direction="left"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>