<div class="jumbotron">
  <div class="container">
    <h1>Noticing stress!</h1>
  </div>
</div>
<div class="container">
  <p>
    To counteract stress, we have to be aware of it. 
    Stress reactions appear in the form of changes at the following levels:
  </p>
  <br>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter3/notice-stress.svg' : 'en/img/legacy/chapter3/notice-stress.jpg' }}"
       alt="" />
</div>