<div class="jumbotron">
  <div class="container">
    <h1>Observe the stressors</h1>
  </div>
</div>
<div class="container">
  <p>
    We change when we are under stress. 
    The better you know yourself, the more <strong>sensitive</strong> you are to such changes and the sooner
    you can <strong>react</strong> and thus perhaps avoid escalation.
  </p>
  <p>
    For the next 2 weeks you should watch which signals you perceive within your body, your
    psyche (thoughts/feelings) and your behavior when you are stressed.
  </p>
  <p>
    <strong>Write it down!</strong>
  </p>
  <p>
    It is best to record these observations in writing, for example, every 2 hours (don’t wait
    until after work &ndash; thoughts and feelings are then no longer accessible). 
    You will be surprised what effect writing has! You may want to use the
    <a ui-sref="app.guidance.internalStressors.myStress">self-monitoring table</a> in the action aids to record 
    your stress experiences.
  </p>
 </div>