<div class="jumbotron">
  <div class="container">
    <h1>Evaluation results</h1>
  </div>
</div>
<div class="container" ng-controller="StressorsEvaluationCtrl">
  <div class="row">
    <div class="col col-40">
      <h3 style="margin-top: 0;">External Stressors</h3>
    </div>
    <div class="col col-60">
      <div class="row row-ruler">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-40">
      <p>Work content</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Work organization</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Working environment</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Social aspects</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <h3 style="margin-top: 0;">Internal Stressors</h3>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.internalStressors.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.internalStressors.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <p>
    <br>
    <span class="label">Evaluation</span>
    <br>
    <span>
      In this bar graph you can see how often you are faced with certain stressors (<strong>gray bars</strong>).<br>
      You can also recognize which stressors affect you the most (<strong>red bars</strong>).<br>
      For your personal stress reduction, focus on the stressors that rob you of the most power
      and frequently occur.
      To reduce these energy guzzlers you can find action aids with more detailed information
      in the main menu.
    </span>
    </span>
  </p>
</div>