<div class="jumbotron">
  <div class="container">
    <h1>STOP</h1>
  </div>
</div>
<div class="container" ng-controller="StopCtrl">
  <p>
    Our work environment makes many demands on us. 
    Additionally we can contribute to our own stress level by, for example, putting ourselves
    under pressure, wanting to do everything perfectly, or trying to get things done super quickly.
  </p>
  <p>
    What is your guess?
  </p>
  <p>
    How much of the stress you experience is caused by yourself?
  </p>
  
  <br>
  
  <div class="row" ng-show="inputTypeRange">
    <div class="col col-10" style="text-align: right;">
      0%
    </div>
    <div class="col col-80">
      <input type="range"
             style="width: 100%;"
             name="stressGuess"
             min="0"
             max="100"
             ng-model="stressGuess" />
    </div>
    <div class="col col-10" style="text-align: left;">
      100%
    </div>
  </div>
  
  <div class="row" ng-show="!inputTypeRange">
    <div class="col col-20" style="text-align: right;">
      Please select:
    </div>
    <div class="col col-80">
      <div>
        <select ng-model="stressGuess">
          <option value="0">0 %</option>
          <option value="10">10 %</option>
          <option value="20">20 %</option>
          <option value="30">30 %</option>
          <option value="40">40 %</option>
          <option value="50">50 %</option>
          <option value="60">60 %</option>
          <option value="70">70 %</option>
          <option value="80">80 %</option>
          <option value="90">90 %</option>
          <option value="100">100 %</option>
        </select>
      </div>
    </div>
  </div>
  
  <br>
  
  <p ng-show="stressGuess <= 33">
    You have the impression that <strong>almost all external stressors at the workplace affect you</strong>.
    Surely you will be able to identify those in this chapter. 
    If you want to do something actively about individual stressors, you will find practical
    instructions and tips on how you can meet your stressors at work at the end of the
    eLearning tool. Also carefully check the description of internal stressors. Maybe there’s
    one or another personal stress amplifier. Finally, you can change your self-made stress
    easier than external stress. Thereby you would additionally boost your health.
  </p>
  <p ng-show="stressGuess >= 34 && stressGuess <= 66">
    You feel that internal and external stressors <strong>hold the balance</strong>. 
    In this chapter you will be able to identify individual stressors from both areas. 
    Take the opportunity to analyze these stressors. 
    If you want to change something about the stressors we offer some recommendations 
    in the action aids.
  </p>
  <p ng-show="stressGuess >= 67">
    You have the impression that <strong>you are someone who really puts themselves under
    pressure</strong>. The good thing is that stress that you make by yourself can often be controlled 
    more easily than the stress that comes from the outside. Attached you will find some tips
    to help you take even more responsibility for what happens in your head…. 
    At the same time you should keep an eye out for external loads you can also reduce.
  </p>
</div>