<div class="jumbotron">
  <div class="container">
    <h1>External stressors of the work environment</h1>
  </div>
</div>
<div class="container" ng-controller="StressorsWorkEnvironmentCtrl">
  <p>
    <strong>Which stressors are present in your work environment?</strong>
  </p>
  <div mm-balance mm-item-list="items" flip-direction="left"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>