<div class="jumbotron">
  <div class="container">
    <h1>External stressors of work content</h1>
  </div>
</div>
<div class="container" ng-controller="StressorsWorkContentCtrl">
  <p>
    <strong>Which stressors with your work content already exist?</strong>
  </p>
  <div mm-balance mm-item-list="items" flip-direction="left"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>