<div class="jumbotron">
  <div class="container">
    <h1>External stressors in interpersonal relationships</h1>
  </div>
</div>
<div class="container" ng-controller="StressorsFellowsCtrl">
  <p>
    <strong>Which interpersonal stressors exist at your work?</strong>
  </p>
  <div mm-balance mm-item-list="items" flip-direction="left"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>