<div class="jumbotron">
  <div class="container">
    <h1>Chapter 3</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Stressors</h2>
  </div>
  <p>
    In this chapter we deal with the following questions:
  </p>
  <ul class="triangle">
    <li>Which internal stressors are there?</li>
    <li>Which stressors exist at your work?</li>
    <li>ANALYSIS: What about your stressors?</li>
  </ul>
</div>