<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fitness</h4>
    </div>
    <div class="modal-body">
      <p>
        As you have already learned in the first chapter, there is a <strong>close connection</strong> between the 
        body, your thoughts and feelings. 
        This applies not only in stress situations. 
        Physical well-being and <strong>vitality</strong> thus also contribute to your mental health. 
        The better you care for your physical needs during your daily work, 
        the better your mental health will be. 
        Good nutrition, getting enough exercise, fresh air, plenty of water, bright light, 
        conscious breathing, good sleep &ndasch; 
        these are all conditions for your physical <strong>efficiency</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids to strengthen your inner resources, 
        which may also help to improve your physical fitness.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>