<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Mindfulness</h4>
    </div>
    <div class="modal-body">
      <p>
        Mindfulness means the conscious perception of the current moment and the <strong>value-free 
        acceptance</strong> of these emerging feelings. 
        With the attitude of mindfulness you look at everyday life with <strong>inner distance</strong>. 
        This helps you not to become engulfed in individual worries and fears or to displace them all. 
        Thereby you learn more about yourself and your reaction. 
        This inner attitude towards the moment can be trained by certain meditation techniques.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids to strengthen your inner resources.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>