<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Optimism</h4>
    </div>
    <div class="modal-body">
      <p>
        An optimistic attitude means to love your life in an optimistic and <strong>life-affirming</strong> way
        &ndash; also because you believe in yourself and in your own ability to shape your future. 
        It gives you the feeling of <strong>competence</strong> and thereby helps not to lose heart in times of crisis.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find, among others, 
        action aids for developing inner resources, for example for a more optimistic attitude. 
        Why not conduct a “mini-resilience training”? 
        So that you can see how many crises you have already successfully 
        managed in the past and therefore have every reason to be optimistic. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>