<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Peace and serenity</h4>
    </div>
    <div class="modal-body">
      <p>
        Remain, even in stressful situations, calm and at peace with yourself &ndash;
        it’s a wish for many, who rush from one appointment to the next, 
        or feel overwhelmed for other reasons. 
        The ability to be <strong>solid as a rock</strong> is based not only on experience and skill; 
        it is also a <strong>matter of practice</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for more inner resources like peace and serenity &ndash; 
        to make it easier for you to relax and recover.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>