<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Self-esteem</h4>
    </div>
    <div class="modal-body">
      <p>
        Self-esteem gives you a positive image about yourself and gives you <strong>self-respect</strong>. 
        With a stable self-esteem you dare to overcome demands. 
        Self-esteem lets you feel what you are able to do, 
        and you venture out with it on a new approach. 
        Achieving self-imposed goals is important for a stable self-esteem.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids to strengthen your inner resources.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>