<div class="jumbotron">
  <div class="container">
    <h1>Enjoyment training &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    Are you still able to enjoy life?
  </p>
  <p>
    Your answer to this question gives the first indication of your mental health. 
    People with a mental illness 
    have difficulties enjoying things or life in general.
  </p>
  <p>
    Conversely, it can be said:<br>
    If you train your ability to enjoy things in life 
    by treating yourself to joyful moments every now and then also during normal working days,
    you thereby help to stabilize your mental health. In particular, you do something good for your mood.
  </p>
  <p>
    Below, you will find the 
    <strong>“Little School of Enjoyment”</strong> 
    (by Dr. Rainer Lutz) &ndash;
    treat yourself each day to a break without feeling guilty, a pleasure break. 
    The example is based on the consumption of food or beverages. 
    You can transfer these rules to other areas of enjoyment
    (a walk in the fresh air, cycling, enjoying hobbies).
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.enjoymentTraining2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>