<div class="jumbotron">
  <div class="container">
    <h1>Enjoyment Training &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Test the following “rules” directly by means of an apple or a cup of tea or coffee!</strong>
  </p>
  <p>
    <strong>Little School of Enjoyment</strong> (by Dr. Rainer Lutz):
  </p>
  <ol>
    <li>
      <strong>Pleasure takes time:</strong> A space to enjoy has to be created. Treat yourself to this time!
    </li>
    <li>
      Enjoyment and pleasure must be allowed: 
      Pleasant experiences with food and drink are not a luxury. 
      Say goodbye to prohibitions that may date back to childhood. 
      <strong>You are allowed to experience enjoyment!</strong>
    </li>
    <li>
      <strong>Pleasure doesn’t come casually:</strong>
      It should be experienced individually and not as a part of other activities. 
      To consciously enjoy an experience one needs the undivided attention of all senses involved.
    </li>
    <li>
      <strong>Learn what is good for you:</strong>
      Everyone knows one’s preferences as well as dislikes,
      and one can develop into a gourmet. 
      Food preferences may be person- and age-dependent
    </li>
    <li>
      <strong>Less</strong> (pleasure) <strong>is more</strong> (pleasure): 
      An oversupply can reduce the pleasure experience.
    </li>
    <li>
      <strong>Without experience there is no pleasure:</strong>
      Diversity of pleasure, as with other cultural assets, must be learned. 
      The taste experience is enhanced by continually trying new things.
    </li>
    <li>
      <strong>Pleasure is an everyday occurrence:</strong>
      Festive food is welcome, but not required for a pleasurable experience. 
      Pleasure is possible in everyday life. Exceptional events are not mandatory.
    </li>
  </ol>
  <h5 class="footnote">
    Lutz, R. &amp; Koppenhöfer, E. (1983). Kleine Schule des Genießens.
    In R. Lutz (Ed.) Genuß und Genießen. Zur Psychologie genußvollen Erlebens und Handelns. Weinheim: Beltz; pp. 112–125.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.enjoymentTraining1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>