<div class="jumbotron">
  <div class="container">
    <h1>Internal resources</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Internal_resources.pdf" target="_blank">Save these action aids as a PDF file.</a>
  </p>
  <p>
   What can you do to strengthen your inner resources? <br>
   Here are some concrete tips for the following topics:
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.internalResources.enjoymentTraining1">Enjoyment training</a></li>
    <li><a ui-sref="app.guidance.internalResources.resilienceTraining1">A small resilience training</a></li>
    <li>
      <a ui-sref="app.guidance.internalResources.recovering1">Recovery / Relaxation</a>
      <ul class="triangle wide" style="margin-bottom: 0;">
        <li>
          <a ui-sref="app.guidance.internalResources.recovering2">Trance suggestion</a>
        </li>
        <li style="margin-bottom: 0; padding-bottom: 0;">
          <a ui-sref="app.guidance.internalResources.recovering4">Progressive muscle relaxation</a>
        </li>
      </ul>
    </li>
    <li><a ui-sref="app.guidance.internalResources.successDiary">Success diary</a></li>
    <li><a ui-sref="app.guidance.internalResources.physicalHealth1">Physical health: Eating, sleeping &amp; co.</a></li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.start">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      All action aids
    </button>
  </div>
</div>