<div class="jumbotron">
  <div class="container">
    <h1>Physical health: Food</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50">
      <h3>Nutrition</h3>
      <p>
        People who work a lot find it difficult to eat healthy. 
        In order to be efficient for an 8-hour day 
        you need good <strong>“fuel”</strong> &ndash; otherwise your efficiency will be reduced 
        and your error rate will increase.
      </p>
      <p>
        Sweets such as candy bars or other similar items only seem to be helpful: 
        Although they provide a rapid increase in the energy curve due to their high sugar content,
        the sugar curve is broken down just as quickly. 
        Then blood sugar then drops to a low level, as does our mood. 
        People who are hypoglycemic are irritable and aggressive.
      </p>
      <p>
        Make sure that your blood sugar level only rises and falls gently. 
        This can be achieved through wholegrain products and bananas.
      </p>
      <p>
        To eat well, is also an expression of <strong>self-care</strong>.
      </p>
    </div>
    <div class="col col-50">
      <h3>
       A healthy and tasty diet for better work:<br> What does that mean for you?
      </h3>
      <p>
        The following foods (or stimulants in the truest sense of the word) 
        provide you with everything you need to do a good job for several hours. 
        Think about which “doping substance” you want to test tomorrow!
      </p>
      <ul class="triangle">
        <li>almonds and nuts</li>
        <li>quark with fruit</li>
        <li>banana milkshake</li>
        <li>water again and again</li>
      </ul>
      <p>
        For more tips and nutrition information refer to the following
        <a href="pdf/Ratgeber-Ernaehrung-DGE.pdf" target="_blank">brochure</a> from the German Nutrition Society
        (German only).
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>