<div class="jumbotron">
  <div class="container">
    <h1>Physical health: Eat, sleep &amp; co.</h1>
  </div>
</div>
<div class="container">
  <p>
    It may sound unusual, but whoever wants to take care of one’s own psyche 
    should treat their body to something good. We all know the opposite:
    Those who are stressed do not think of themselves and neglect their basic needs
    &ndash; they breathe superficially, drink coffee instead of water, 
    and do not care about finding balance a balance between their current demands of the work environment 
    (periodic movement when working at a computer screen, relaxing tensed muscles during physical activities). 
    This is the precise moment for a little <strong>“Self-Care break”</strong> to briefly distance yourself from things 
    and optimally equip yourself for coping with stress.
  </p>
  <p>
    What do you currently do to maintain your fitness in the workplace and strengthen it?
  </p>
  <ul class="triangle">
    <li>Eat an apple</li>
    <li>Briefly exercise</li>
    <li>Let your gaze wander</li>
    <li>Drink a cup of tea/coffee</li>
    <li>Walk around the block</li>
  </ul>
  <p>
    And we still have more tips 
    to help you to satisfy your basic needs and thus establish the basis for your own good job.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>