<div class="jumbotron">
  <div class="container">
    <h1>Physical health: Sleep</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50" style="padding-right: 25px;">
      <h3>Sleeping:</h3>
      <p>
          It is a vicious cycle: 
          People who do not sleep well are not rested in the morning; 
          people who are not rested make more mistakes and take longer to complete tasks at work; 
          people who  work a lot need a lot of sleep and rest, etc. 
          In order to avoid this, and the resulting downward spiral,
          you should implement preventative measures at an early stage.
      </p>
      <p>
          Sleep likes <strong>routine</strong>! So make sure that you stick with the same order every evening
          before going to bed:  
          e.g. walk the dog, lock the front door, look after your children, 
          drink a cup of tea, put on your pajamas, wash, and go to bed.
      </p>
      <p>
        This makes it easy to <strong>switch on sleep</strong> (the mind gets the signal: 
          “Hey, now it’s time to go to bed”), and it provides support in times of change.
      </p>
    </div>
    <div class="col col-50">
      <h3>Sleep well: What does that mean for you?</h3>
      <p>
        7 tips for better sleep:
      </p>
      <ul class="triangle">
        <li>
          Provide time to switch on your “sleep program”
        </li>
        <li>
          Care for regularity through rituals and fixed hours 
          (e.g., tea drinking, praying, breathing exercises)
        </li>
        <li>
          Ensure a quiet environment (earplugs?)
        </li>
        <li>
          Ensure darkness
        </li>
        <li>
          Don’t keep anythin needed for sleep in the bedroom:  
          (no TV!, no cell phone!, &ndash; we know that this is hard…!)
        </li>
        <li>
          When thinking about things that keep you awake, 
          get out of bed and write!
        </li>
        <li>
          Waking in the night is normal! 
          But do not fret. Turn around and be happy to know that you do not have to get up at that moment 
          and go back to sleep.
        </li>
      </ul>
      <p>
        These tips apply to people with sleep problems (and for those who suffer from relaxation problems). 
        If sleeping is not a problem for you, you may of course do whatever you want in your bedroom… :-)
      </p>
      <p>
        For more tips on sleep hygiene, click on the following
        <a href="pdf/Ratgeber-Schlafhygiene-DGSM.pdf" target="_blank">guide</a>
        from the German Society for Sleep Research and Sleep Medicine (German only).
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>