<div class="jumbotron">
  <div class="container">
    <h1>Relaxation training</h1>
  </div>
</div>
<div class="container">
  <p>
    We need to be able to <strong>differentiate between tension and relaxation</strong>. 
    If necessary we have to train this skill. 
    If you practice relaxation every day for three months, then you are, 
    as an average relaxation-capable person, able to relax at the push of a button. 
    And this will pay off. How do you benefit from relaxation training?
  </p>
  <h3>The autonomic nervous system normalizes:</h3>
  <ul>
    <li>- Blood pressure is lowered</li>
    <li>- Muscle tension diminishes</li>
    <li>- The pulse rate drops</li>
    <li>- Awareness of muscle tension rises</li>
  </ul>
  <h3>The psychological effects are enormous:</h3>
  <ul>
    <li>+ You get a thicker skin and you become more self-confident</li>
    <li>+ Concentration and mental vigor grow</li>
    <li>+ You feel more capable of facing stress</li>
    <li>+ Your inner serenity is strengthened, you are at peace with yourself</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>