<div class="jumbotron">
  <div class="container">
    <h1>Relaxation protocol</h1>
  </div>
</div>
<div class="container">
  <p>
   Document your training! 
   Fill in this protocol at every relaxation training.
   Best 1 to 2 times daily.
  </p>
  <table border="0" style="width: 100%">
    <thead style="color: #fff; background-color: #3ca046;">
      <tr>
        <th style="padding: 5px;">
          Date
        </th>
        <th style="padding: 5px;">
          Time
        </th>
        <th style="padding: 5px;">
          How quiet / restless was I before?<br>
          (On a scale of 1&ndash;10)
        </th>
        <th style="padding: 5px;">
          And after the training?
        </th>
        <th style="padding: 5px;">
          How pleased am I with the results? 
<br>
          (School grades 1&ndash;6)
        </th>
        <th style="padding: 5px;">
          Is there sth. special to report?
        </th>
      </tr>
    </thead>
    <tbody style="color: #000">
      <tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering6">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>