<div class="jumbotron">
  <div class="container">
    <h1>Trance suggestions</h1>
  </div>
</div>
<div class="container">
  <p>
    In our culture there are primarily two methods
    which are used in addition to Asian relaxation techniques: 
    <strong>progressive muscle relaxation (PME)</strong> and <strong>autogenic training (AT)</strong>.
  </p>
  <p>
    With <strong>PME</strong>, one learns to differentiate between tension and relaxation. 
    Starting for example with the right hand, the muscles are tightened 
    and after a few seconds relaxed again, while exhaling. 
    Through these exercises, you get a sense of what tensed muscles feel like. 
    Since this method has no side effects and is associated with physical activity, 
    it is easier for beginners to learn than autogenic training. 
    If you want to test the PME, you will find instructions here.
  </p>
  <p>
    With <strong>autogenic training</strong>, muscles are only relaxed through concentration, 
    starting with the arms (“My right arm is heavy”), and better supplied with blood 
    (“My right arm is warm”). Followed by formulaic phrases for breathing and heart function,
    and self-instructions for a cool forehead and a warm belly.
  </p>
  <p>
    The <strong>results</strong> are the same in  both relaxation trainings: 
    a <strong>state of deep physical and mental relaxation</strong>, associated with <strong>intense well-being</strong>.
  </p>
  <p>
    Both can be learned easily in professionally guided courses, 
    for example, at an adult education center.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering4">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>