<div class="jumbotron">
  <div class="container">
    <h1>Progressive muscle relaxation according to Jacobson &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    As a beginner using relaxation techniques you are better off starting with the progressive muscle relaxation, 
    because it is easy to learn and free of side effects. 
    Below is a simple guide for this method. 
    It goes back to the English Biophysiologist Jacobson.
    He observed:
    When people are stressed, their muscles are tense.
  </p>
  <p>
    His thesis was:
    <strong>If muscles are relaxed, it de-stresses people.</strong>
    His principle is this simple.
  </p>
  <p>
    First, different muscle groups are tensed  
    (about 8 seconds, do not overdo it, to concentrate on the tension)
    and then relaxed (about 20 seconds, letting the muscles hang slack; observe how it feels)(!).
    And then compare the two states:
  </p>
  <p>
    <strong>Is there a difference between tension and relaxation?</strong>
  </p>
  <p>
    That’s all. Focus on tensed and relaxed muscles. 
    No big secrets, surprisingly banal, actually. 
    But it works! Helping us to relax,
    lowering our blood pressure and helping us to develop a “thicker-coat”.
    Find yourself a quiet place (for starters) where you will be undisturbed for the next 20 minutes. 
    Sit as relaxed as possible (lean on the backrest, feet on the ground, legs at right angles), 
    so you can sit comfortably.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering3">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering5">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>