<div class="jumbotron">
  <div class="container">
    <h1>Progressive muscle relaxation according to Jacobson &ndash; Part 3</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Exercise tips:</strong>
  </p>
  <p>
    The following recommendations have been proven effective for daily practice:
    <ul class="triangle">
      <li>Always practice at the same time and in the same place if it is possible!</li>
      <li>Switch off every interference (phone, cell phone, doorbell)!</li>
      <li>If necessary: Let your family know that this is your exercise time 
          and that you should not be disturbed!</li>
      <li>You should not expect immediate success.</li>
      <li>Get started! Focus on letting go!</li>
      <li>Send distracting thoughs mentally out of your head!</li>
      <li>Write a <a ui-sref="app.guidance.internalResources.recovering7">relaxation protocol</a>!</li>
    </ul>
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering5">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering7">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>