<div class="jumbotron">
  <div class="container">
    <h1>Progressive muscle relaxation according to Jacobson &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    Now try this change between tension and relaxation with the following muscle groups:
  </p>
  <ul class="triangle">
    <li>
      Clench your right hand into a fist and release it while exhaling
    </li>
    <li>
      Clench your left hand into a fist and release while exhaling
    </li>
    <li>
      Tense the right biceps (lifting the right hand to shoulder) and tense it a bit 
      and release while exhaling
    </li>
    <li>
      Tense the left biceps and release while exhaling
    </li>
    <li>
      Lift the shoulders up to the ears (carefully) and release them
    </li>
    <li>
      Contract the stomach muscles (this changes your breathing) and release
    </li>
    <li>
      Contract your buttocks and release while exhaling
    </li>
    <li>
      Contract your thighs and release while exhaling
    </li>
    <li>
      Stretch your toes upward, thus tensing your calves and feet, and release 
    </li>
    <li>
      If you would like to continue, you can do it with these muscle groups:
    </li>
    <li>
      Drop your chin to your chest and raise it again, relax
    </li>
    <li>
      Furrow your brow and release, so it is smooth again 
    </li>
    <li>
      Tense your jaw muscles and release while exhaling
    </li>
  </ul>
  <p>
      The important thing is to concentrate on the muscles! 
      If you do not trust yourself to do it by yourself, get a CD 
      (there are free or cheap CDs available at health insurance companies) or visit a course.
  </p>
  <p>
     Or use this audio file for progressive muscle relaxation.
  </p>
  <audio controls style="width: 100%">
    <source src="audio/progressive-muscle-relaxatione-en.ogg" type="audio/ogg">
    <source src="audio/progressive-muscle-relaxation-en.mp3" type="audio/mpeg">
    <p class="discreet-note">
      <span class="glyphicon glyphicon-info-sign"></span>
      Your browser unfortunately does not support native audio playback.
    </p>
  </audio>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering4">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering6">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>