<div class="jumbotron">
  <div class="container">
    <h1>Recovery</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>What about small recovery units?</strong>
  </p>
  <p>
    While working to provide services, 
    we consume energy. 
    To keep ourselves efficient for a long time, 
    adequate and regular rest is important in order to have a steady supply of energy.
    <br> Recovery is more than just lying on the couch:
  </p>
  <p>
    In order to experience <strong>recovery</strong> &ndash; it <strong>must be in contrast to the norm</strong>… <br>
    If you want to take a little break right now &ndash; wonderful!
  </p>
  <p>
    In the following you can find a trance suggestion (audio file) entitled
    <strong>“Simply having a relaxing break”</strong> &ndash; listen to it now!
  </p>
  <audio controls style="width: 100%">
    <source src="audio/trance-suggestion-en.ogg" type="audio/ogg">
    <source src="audio/trance-suggestion-en.mp3" type="audio/mpeg">
    <p class="discreet-note">
      <span class="glyphicon glyphicon-info-sign"></span>
      Your browser unfortunately does not support native audio playback.
    </p>
  </audio>
  <p>
    Make sure that you will be undisturbed for the next 8 minutes.
  </p>
  <p>
    Have fun, enjoy and relax!
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>