<div class="jumbotron">
  <div class="container">
    <h1>Small resilience training &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    In order to have a clear picture of how many adverse situations you have survived in your life 
    and how well you dealt with them, you can do the following: Get a sheet of  A4 paper and a pen,
    and reserve 30 min. of time. 
    Place the paper crosswise in front of you and draw a horizontal line: 
    this is your life line from birth until today. 
    The vertical line on the left marks how well you felt during individual life stages. 
    For example, for most  people the line goes upwards from birth until they start school. 
    After they got used to school, their line went upwards again. 

  </p>
  <p>
    The breakup with the first boy/girlfriend shows a decline in their well-being again, 
    followed by happiness and an upward trend during their college or job training period, 
    until their dismissal from the 1st job reduces it again.
  </p>
  <div class="row">
    <div class="col col-50">
      <img ng-src="{{ supportSvg() ? 'en/img/guidance/resilience-training.svg' : 'en/img/legacy/guidance/resilience-training.jpg' }}"
           alt="" />
    </div>
    <div class="col col-50">
      <p>
        Draw such a curve for yourself. 
        Then take a look at the crises (the parts below the starting line with the arrow):
        What helped you to get out of the crises again? 
        What are your inner power sources? 
        These are the attitudes or skills which determine your resilience.
        You can be optimistic… keep the paper for possible times of crises.
      </p>
      <p>
        If you can’t think of any <strong>power sources</strong>, you can find examples on the next page.
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.resilienceTraining2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>