<div class="jumbotron">
  <div class="container">
    <h1>Small resilience training &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <h3>Examples of internal sources of strength:</h3>
  <p>
   What helps you to get out of a crisis again?
  </p>
  <br>
  <p>
    For example:
  </p>
  <ul class="triangle">
    <li>“I won’t let it get me down!”</li>
    <li>“I’ve overcome other challenges.”</li>
    <li>“I am always as good as XY.”</li>
    <li>“I stand by my actions.”</li>
    <li>“I have friends that I can rely on.”</li>
    <li>“I am never alone.”</li>
    <li>“I go my own way!”</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.resilienceTraining1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>