<div class="jumbotron">
  <div class="container">
    <h1>Success diary</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Writing makes us strong</strong> in several ways:
    <ul class="triangle">
      <li>
        You can write down the burdens on your soul
        (e.g. 1 hour before going to bed)
        &ndash; this can provide relief. 
      </li>
      <li>
        You can record your stress level every 2 hours
        (see the  <a ui-sref="app.guidance.internalStressors.myStress">self-monitoring table</a> in the action aids)
        by writing down what has stressed you 
        and how your body has reacted to it,
        what you thought and what you did to de-stress.
      </li>
      <li>
       And you can record your own success diary (we are here on the subject of “resources”)
        &ndash; which strengthens your self-esteem,
        and additionally helps you to focus on the positive things which lift your mood in return.
      </li>
    </ul>
  </p>
  <h3>Success diary</h3>
  <p>
    Buy yourself a nice notebook and maybe a special pen. 
    At the end of the day write down, outside of the bedroom, what went well on that day. 
    It must not be something heroic &ndash; something for which the successful outcome was not taken for granted. 
    Something for which you can be thankful… 
    If you really cannot come up with something, start with the beginner’s version: 
    What did not completely go wrong that day?
  </p>
  <p>
    The success diary can be an important support for you in difficult times. 
    You will see that there were already happier times in your life. 
    And reading about these experiences will lift your mood and give you comfort and strength.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>