#page_margins {
    width:740px;
    padding:10px;
}

.questionnaire_description {
    color: black;
    page-break-after: always;
}

.question {
    page-break-inside: avoid;
    /*border: 1px solid #aaa;
    background-color: #ddd;*/
    margin-bottom: 10px;
}

.question_title{
    color: #000;
    font-weight: bold;
}

.open_question{
    width: 400px;
    height: 10px;
    border: 1px solid black;
    background-color: #fff;
}

.open_question_multi{
    width: 700px;
    height: 100px;
    border: 1px solid black;
    background-color: #fff;
}

.closed_question_option {
    margin-top: 3px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #fff;
}

.matrix_question{
    width: 700px;
    border-collapse: collapse;
}

.matrix_question td{
    border-bottom: 1px solid #555
}

.matrix_question td.column{
    border-left: 1px solid #555;
    text-align: center;
}

.matrix_input {
    width: 90%;
    height: 15px;
    margin-top: 3px;
    border: 1px solid black;
    background-color: #fff;
}

.matrix_check {
    margin-top: 3px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #fff;
}

.semantic_question{
    width: 700px;
    border-collapse: collapse;
}

.semantic_question td{
    border-bottom: 1px solid #555;
}

.semantic_question td.column{
    border-left: 1px solid #555;
    text-align: center;
    padding: 3px;
}

.semantic_question td.semantic_end{
    border-left: 1px solid #555;
    text-align: right;
}

.semantic_check {
    margin-top: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: #fff;
}