<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fitness</h4>
    </div>
    <div class="modal-body">
      <p>
        Wie Sie im ersten Kapitel bereits gelernt haben,
        gibt es einen <strong>engen Zusammenhang</strong> zwischen dem Körper, dem Denken und Fühlen.
        Das gilt nicht nur unter Stress.
        Körperliches Wohlbefinden und <strong>Vitalität</strong> tragen also auch zu Ihrer psychischen Gesundheit bei.
        Je besser Sie auch im Arbeitsalltag auf Ihre körperlichen Bedürfnisse achtgeben,
        desto wohler wird sich auch Ihre Psyche fühlen.
        Gute Ernährung, genug Bewegung, frische Luft,
        genügend Wasser, helles Licht, bewusste Atmung, guter Schlaf &ndash;
        all das sind Voraussetzungen für Ihre körperliche <strong>Leistungsfähigkeit</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Zusätzlich finden Sie im Navigationsmenü Handlungshilfen für den Aufbau innerer Ressourcen,
        die auch zu einer Verbesserung Ihrer körperlichen Fitness beitragen können.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>