<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Achtsamkeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Achtsamkeit bedeutet das <strong>bewusste Wahrnehmen</strong> des aktuellen Augenblicks 
        und der <strong>wertfreien Akzeptanz</strong> dabei aufkommender Gefühle. 
        Unter der Haltung der Achtsamkeit betrachtet man den Alltag mit <strong>innerer Distanz</strong>. 
        Dies hilft dabei, sich nicht zu sehr in einzelne Sorgen und Ängste zu verstricken
        oder diese gar zu verdrängen. 
        Dadurch lernt man sich und seine Reaktionen besser kennen. 
        Diese innere Haltung gegenüber dem Moment lässt sich auch durch bestimmte <strong>Meditationstechniken</strong> trainieren. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Zusätzlich finden Sie im Navigationsmenü Handlungshilfen zur Stärkung Ihrer inneren Ressourcen.<br>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>