<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Optimismus</h4>
    </div>
    <div class="modal-body">
        <p>
          Eine optimistische Grundhaltung bedeutet, <strong>zuversichtlich</strong> und <strong>lebensbejahend</strong> 
          durchs Leben zu gehen &ndash; auch weil man an sich selbst glaubt 
          sowie an die eigenen Fähigkeiten zur Gestaltung der Zukunft. 
          Sie verleiht einem das <strong>Gefühl von Kompetenz</strong> und hilft dadurch, 
          in Krisenzeiten nicht den Mut zu verlieren.
        </p>
        <p>
          <label>
            <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
          </label>
        </p>
        <p>
          Zusätzlich finden Sie im Navigationsmenü Handlungshilfen für den Aufbau innerer Ressourcen, z.B.
          für eine optimistischere Grundhaltung. Führen Sie doch ein 
          <a ui-sref="app.guidance.internalResources.resilienceTraining1" data-dismiss="modal">Kleines Resilienztraining</a> durch!
          Damit können Sie sich selbst zeigen,
          wie viele Krisen Sie in der Vergangenheit bereits erfolgreich bewältigt haben und
          dadurch allen Grund zum Optimismus haben.
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>