<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ruhe und Gelassenheit</h4>
    </div>
    <div class="modal-body">
      <p>
        Auch in stressigen Situationen in sich ruhen und gelassen bleiben &ndash; 
        das wünschen sich viele, die von einem Termin zum nächsten hetzen 
        oder sich aus anderen Gründen überfordert fühlen. 
        Die Fähigkeit, wie ein <strong>Fels in der Brandung</strong> zu stehen, 
        beruht nicht nur auf Erfahrung und Können; sie ist auch <strong>Übungssache</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Zusätzlich finden Sie über das Navigationsmenü Handlungshilfen zu inneren Ressourcen
        für den Aufbau von mehr Ruhe und Gelassenheit &ndash; damit es Ihnen leichter fällt,
        sich zu entspannen und zu erholen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>