<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Selbstwertgefühl</h4>
    </div>
    <div class="modal-body">
      <p>
        Das Selbstwertgefühl bereitet Ihnen ein positives Bild über sich selbst
        und schenkt Ihnen <strong>Selbstachtung</strong>.
        Mit einem stabilen Selbstwertgefühl trauen Sie sich auch die Bewältigung von Belastungen zu.
        Das Selbstwertgefühl lässt Sie wissen, was Sie können,
        und Sie wagen sich damit auch an Neues heran.
        Das <strong>Erreichen selbst gesteckter Ziele</strong> ist wichtig für ein stabiles Selbstwertgefühl. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Zusätzlich finden Sie im Navigationsmenü Handlungshilfen zur Stärkung Ihrer inneren Ressourcen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>