<div class="jumbotron">
  <div class="container">
    <h1>Overview</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-90 col-offset-10">
      <p>
        <strong>If you have worked through this tool,</strong>
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter1">1</span>
    </div>
    <div class="col col-90">
      <p class="well">
        …you know the connection between stress and mental illness; 
        and you know how to support your mental health.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter2">2</span>
    </div>
    <div class="col col-90">
      <p class="well">
        …you know resources that help you to deal with stress and to achieve more balance.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter3">3</span>
    </div>
    <div class="col col-90">
      <p class="well">
        …you know the stressors in your work life and how you can reduce some of them.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10">
      <span class="badge bagde-chapter4">4</span>
    </div>
    <div class="col col-90">
      <p class="well">
       …you recognize overload signals and know support services that you can seek out.
      </p>
    </div>
  </div>
  <div class="row row-overview">
    <div class="col col-10" style="height: 75px; margin-top: 9px;">
      <div style="position: relative; margin: 0 auto; width: 43px; height: 43px;">
        <div class="static-chapter1" style="width: 20px; height: 20px;"></div>
        <div class="static-chapter2" style="left: 23px; width: 20px; height: 20px;"></div>
        <div class="static-chapter3" style="top: 23px; width: 20px; height: 20px;"></div>
        <div class="static-chapter4" style="top: 23px; left: 23px; width: 20px; height: 20px;"></div>
      </div>
    </div>
    <div class="col col-90">
      <p class="well">
        …you know sources of assistance and materials that will help in the implementation!
      </p>
    </div>
  </div>
</div>