<div class="jumbotron">
  <div class="container">
    <h1>What is this tool about?</h1>
  </div>
</div>
<div class="container">
  <h3>Welcome!</h3>
  <p>
    This e-learning tool has been created to <strong>prevent mental disorders</strong> &ndash;
    notably by <strong>optimizing working conditions</strong>.
    Of course, you can also do something to strengthen your mental health as well.
  </p>
  <p>
    The main focus of this program is on
    <strong>your personal level of resources and stressors at work</strong> &ndash;
    connected to this, is the question of what you can do if this balance is unfavorable and
    where you can find support.
    Many of these measures are very simple &ndash; you will see!
    And surely you are already familiar with many of the resources presented here,
    so you can find both a confirmation of your knowledge  and moral support with this tool.
    To work through the 4 chapters you will need about 45 minutes. Within the tool,
    you will have the option to save your work status.
  </p>
  <p>
    In the main menu you will find many <strong>concrete plans of action</strong>
    that will help you to have a more in-depth look
    into specific topics that you have found to be important during the 4 chapters.
  </p>
  <p>
    Have fun &ndash; and always enjoy good health and joy at work!
  </p>
  <p>
    Jessica Lang &amp; the psyGA team
  </p>
</div>