<div class="jumbotron">
  <div class="container">
    <h1>Acute stress</h1>
  </div>
</div>
<div class="container" ng-controller="AcuteStressCtrl">
  <p>
    Experts agree:
    Acute stress is usually not a problem.
    Most of us can handle this very well.
    Our body is made to handle demands and has developed mechanisms to adapt to stress.
    Stress itself is therefore not harmful.
  </p>
  
  <br>
  <br>
  
  <div class="row">
    <div class="col col-50">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'en/img/chapter1/acute-stress.svg' : 'en/img/legacy/chapter1/acute-stress.jpg' }}"
           alt="" />
    </div>
    
    <div class="col col-50">
      
      <br>
      <br>
      
      <button class="btn btn-action" data-toggle="modal" data-target="#stress-modal-1">
        <span class="glyphicon glyphicon-info-sign"></span>
        Physiology of stress
      </button>
      
      <br>
      <br>
      
      <button class="btn btn-action" data-toggle="modal" data-target="#stress-modal-2">
        <span class="glyphicon glyphicon-info-sign"></span>
        Four levels of stress
      </button>
      
      <br>
      <br>
      
      <p ng-show="chapter4.timeForHelpClicked">
        Back to chapter 4: <a ng-click="goToSlide(52)" style="cursor: pointer;">When is it time to accept help?</a>
      </p>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="stress-modal-1" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Additional information: Four levels of stress</h4>
        </div>
        <div class="modal-body">
          <p>
            When we become stressed,
            our brain release <strong>stress hormones</strong> in the body,
            which ensure that we are able to satisfy with the increased demands.
            Certainly, everyone knows the effects of an adrenaline rush.
            The aim of the physical reaction is to quickly provide us with extra energy
            to <strong>cope with the acute requirement</strong>. 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="stress-modal-2" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Additional information: Four levels of stress</h4>
        </div>
        <div class="modal-body">
          <p>
            This biological stress response
            does not only affect our <strong>body</strong>.
            Under stress we <strong>behave</strong> rushed
            and irritable.
            We <strong>feel</strong> anxious and worried due to the high load.
            We <strong>think</strong> and ponder if 
            and how we can meet the demands.
            Stress therefore changes us on several levels: body, emotions, thoughts and behavior.
            You should be aware of your personal stress reactions.
            The action-aids provide a
            <a ui-sref="app.guidance.internalStressors.myStress"
               data-dismiss="modal">self-monitoring table</a>
            for that purpose.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>