<div class="jumbotron">
  <div class="container">
    <h1>Conclusion</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Good work is a health factor &ndash; also for the psyche.
      </li>
      <li>
        Acute work-related stress as such is not harmful. 
          But with chronic stress you  have to be careful.
      </li>
      <li>
        There are always 2 ways to promote mental health:
        reducing stressors and strengthening of resources.
      </li>
    </ul>
  </div>
</div>