<div class="jumbotron">
  <div class="container">
    <h1>
      Association:<br>
      stressors &ndash; resources &ndash; mental health
    </h1>
  </div>
</div>
<div class="container">
  <ul class="triangle">
    <li>
      The <strong>relationship</strong> between the stressors and resources is crucial 
      in the emergence of a mental illness.
    </li>
    <li>
      The more resources you have available, the less stressors can harm you.
    </li>
    <li>
      And the more stressors you have already successfully managed in the past,
      the more power this will give you for dealing with stressors today.
    </li>
    <li>
      Some researchers even talk of a <strong>stress inoculation effect</strong>
      (or: Stress-immunization) which you can undergo. So bring the stress on…
    </li>
    <li>
      And of course: A pile of resources!
    </li>
  </ul>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/connection.svg' : 'en/img/legacy/chapter1/connection.jpg' }}"
       alt="" />
</div>