<div class="jumbotron">
  <div class="container">
    <h1>Permanent stress is the danger</h1>
  </div>
</div>
<div class="container">
  <p>
    The situation is different under chronic stress.
    We were not designed to deal with  endless stress.
  </p>
  <p>
    After a <strong>tense period</strong> we need a <strong>period of relaxation</strong> to recover.
    After an exertion we have to re-charge our battery.
    If this <strong>recovery</strong> fails,  <strong>physical</strong> and <strong>mental overstrain</strong> can be the result.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/permanent-stress.svg' : 'en/img/legacy/chapter1/permanent-stress.jpg' }}"
       alt="" />
  <p>
    If the state of overstrain continues over a long period of time,
    it can lead to mental as well as  physical illnesses, 
    for example, depression or heart disease,
    since the body cannot compensate for the continuous release of stress hormones.
  </p>
</div>