<div class="jumbotron">
  <div class="container">
    <h1>Mental demands</h1>
  </div>
</div>
<div class="container">
  <p>
    Even when the common language suggests something else:</p>
  <p>
    First of all, in the professional world, the term “demand” is <strong>neutral</strong>.
    Correspondingly,  mental demands mean everything that acts externally on the human and psychologically affects them.
    In the context of  work, we speak of <strong>“work requirements”</strong>.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/psychic-strains.svg' : 'en/img/legacy/chapter1/psychic-strains.jpg' }}"
       alt="" />
</div>