<div class="jumbotron">
  <div class="container">
    <h1>2 ways to promote mental health</h1>
  </div>
</div>
<div class="container">
  <p>
    As you already guessed:
    There is not only one approach to strengthening your mental health, but basically TWO approaches:
  </p>
  <p align="center">
    <strong>Reduce stressors and build up resources.</strong>
  </p>
  <p>
    Both are useful and for both methods you should either know some examples or learn some with this tool.
  </p>
  <p>
    We will start with the resources.
    As there are so many of them,
    we have selected some &ndash; as we did with the stressors.
    The lists in the next two chapters are therefore not complete, 
    but they will give you a good overview of your situation at work.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/psychological-health-promotion.svg' : 'en/img/legacy/chapter1/psychological-health-promotion.jpg' }}"
       alt="" />
</div>