<div class="jumbotron">
  <div class="container">
    <h1>Mental health &ndash; what’s that?</h1>
  </div>
</div>
<div class="container" ng-controller="PsychologicalHealthCtrl">
  <p>
    As the brief check shows, work is more than just a means to merit your livelihood. Work may promote well-being and can contribute to maintaining and promoting your mental health.
  </p>
  <p>
    <strong>What is mental health?</strong>
    To Sigmund Freud, the answer was simple: love and work. Surely you also have an idea:
    Click the green triangle, and learn which things account for mental health.
  </p>
  <br>
  <br>
  <br>
  <div class="fade-box">
    <img class="center-image"
         ng-src="{{ supportSvg() ? 'en/img/chapter1/psychological-health-1.svg' : 'en/img/legacy/chapter1/psychological-health-1.jpg' }}"
         ng-hide="psychologicalHealth"
         ng-click="togglePsychologicalHealth()"
         alt="" />
    <img class="center-image"
         ng-src="{{ supportSvg() ? 'en/img/chapter1/psychological-health-2.svg' : 'en/img/legacy/chapter1/psychological-health-2.jpg' }}"
         ng-hide="!psychologicalHealth"
         ng-click="togglePsychologicalHealth()"
         alt="" />
  </div>
</div>