<div class="jumbotron">
  <div class="container">
    <h1>Your resources</h1>
  </div>
</div>
<div class="container">
  <p>
    Resources are <strong>power sources</strong> to strengthen your mental health.
    They are the opponents of the stressors.
    Again, there are resources in your personal life as well as in your work life.
    And there are internal and external resources.
  </p>
  <p>
    For example, the internal resources include a strong self-esteem, success in the past, physical fitness, balanced mood or serenity.
    The external resources include support from colleagues, good work materials, appreciation by the supervisor or even breaks and chats in the team.
  </p>
  <p>
    Resources help you to <strong>re-charge your batteries</strong> if you are feeling depleted after  particularly demanding job requirements.
    You’re on line &ndash; so to say.
    If you do this regularly, you will train the body and mind &ndash; and become stronger!
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/resources.svg' : 'en/img/legacy/chapter1/resources.jpg' }}"
       alt="" />
</div>