<div class="jumbotron">
  <div class="container">
    <h1>What is resilience?</h1>
  </div>
</div>
<div class="container" ng-controller="ResilienceCtrl">
  <p>
    You’ve probably heard this term before:
    “Resilience” has been on everyone’s tongues for years now and means <strong>“resistance”</strong>.
    Resilience describes both the properties and the ability of an individual to successfully cope with stressors.
  </p>
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Some speak of a roly-poly toy.</strong>
      </p>
    </div>
    <div class="col col-50">
      <div class="fade-box" style="height: 160px">
        <img class="center-image"
             ng-src="{{ supportSvg() ? 'img/chapter1/resilience-1.svg' : 'img/legacy/chapter1/resilience-1.jpg' }}"
             ng-hide="resilience"
             alt="" />
        <img class="center-image"
             ng-src="{{ supportSvg() ? 'img/chapter1/resilience-2.svg' : 'img/legacy/chapter1/resilience-2.jpg' }}"
             ng-hide="!resilience"
             alt="" />
      </div>
    </div>
  </div>
  <p>
    It’s about getting back on track even after a crisis, so that the psyche is not damaged permanently.
    Resilience can be seen as an inner resource which can be developed by resource-strengthening.
  </p>
  <p>
    This e-learning tool focuses on the conditions in the workplace, which are responsible for mental health.
    But if you are interested in the state of your personal resilience, you can measure it on the following page.
  </p>
  <p>
    And in the action aids you will find a small <a ui-sref="app.guidance.internalResources.resilienceTraining1">
    resilience training</a>, which will show you that a “roly-poly toy” is also hiding within you.
    </p>
</div>