<div class="jumbotron">
  <div class="container">
    <h1>Test your resilience &ndash; Part 2</h1>
  </div>
</div>
<div class="container" ng-controller="ResilienceTestCtrl">
  <p>
    Please read each statement and mark how much each statement generally applies to you, i.e. how much your usual thoughts and actions are described by these statements.
  </p>
  <p class="text-right">
    <strong>1 = disagree</strong> &mdash; <strong>7 = agree</strong>
  </p>
  <div class="list list-striped">
    <div class="item item-input">
      <div class="input-label">
        I keep interested in things.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item8 == 1}" ng-click="resilience.item8 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 2}" ng-click="resilience.item8 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 3}" ng-click="resilience.item8 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 4}" ng-click="resilience.item8 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 5}" ng-click="resilience.item8 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 6}" ng-click="resilience.item8 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 7}" ng-click="resilience.item8 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I can usually look at a situation in a number of ways.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item9 == 1}" ng-click="resilience.item9 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 2}" ng-click="resilience.item9 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 3}" ng-click="resilience.item9 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 4}" ng-click="resilience.item9 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 5}" ng-click="resilience.item9 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 6}" ng-click="resilience.item9 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 7}" ng-click="resilience.item9 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        Sometimes I make myself do things whether I want to or not.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item10 == 1}" ng-click="resilience.item10 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 2}" ng-click="resilience.item10 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 3}" ng-click="resilience.item10 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 4}" ng-click="resilience.item10 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 5}" ng-click="resilience.item10 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 6}" ng-click="resilience.item10 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 7}" ng-click="resilience.item10 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        When I’m in a difficult situation, I can usually find my way out of it.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item11 == 1}" ng-click="resilience.item11 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 2}" ng-click="resilience.item11 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 3}" ng-click="resilience.item11 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 4}" ng-click="resilience.item11 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 5}" ng-click="resilience.item11 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 6}" ng-click="resilience.item11 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 7}" ng-click="resilience.item11 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I have enough energy to do what I have to do.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item12 == 1}" ng-click="resilience.item12 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 2}" ng-click="resilience.item12 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 3}" ng-click="resilience.item12 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 4}" ng-click="resilience.item12 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 5}" ng-click="resilience.item12 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 6}" ng-click="resilience.item12 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 7}" ng-click="resilience.item12 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        It’s okay if there are people who don’t like me.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item13 == 1}" ng-click="resilience.item13 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 2}" ng-click="resilience.item13 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 3}" ng-click="resilience.item13 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 4}" ng-click="resilience.item13 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 5}" ng-click="resilience.item13 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 6}" ng-click="resilience.item13 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 7}" ng-click="resilience.item13 = 7">7</button>
      </div>
    </div>
  </div>
  <p ng-show="!isTestComplete">
    <span class="label">Evaluation</span>
    <span>
      Once you have completely processed the resilience questionnaire, the evaluation appears here.
    </span>
  </p>
  <p ng-show="isTestComplete">
    Please click on the following button to get the evaluation of the resilience questionnaire.<br>
    <button class="btn btn-action" style="margin-top: 6px;" data-toggle="modal" data-target="#resilience-modal">
      <span class="glyphicon glyphicon-ok"></span>
      Test result
    </button>
  </p>
  <h5 class="footnote">
    Wagnild, G. M., &amp; Young, H. M. (1993). Development and psychometric evaluation of the resilience scale.<br>
    Journal of Nursing Measurement, 1, 165-178.
  </h5>
  
  <!-- Modal -->
  <div class="modal fade" id="resilience-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Your resilience score</h4>
        </div>
        <div class="modal-body">
          <p>
            You just filled out thirteen questions of a scale which detects the amount of your <strong>individual resilience</strong>.
            The scale ranges from 1 to 7, whereby the sum score can range between 13 up to 91.
            Resilience refers to one’s own <strong>resistance</strong>,
            which enables a person to handle even the most difficult situations.
            Among other things, this resistance is mostly characterized by an <strong>optimistic attitude</strong>,
            the tendency to experience positive emotions, high <strong>self-esteem</strong>, 
            and above all by perceiving yourself as efficient. 
            Conversely, low resistance is associated with the tendency to experience negative emotions,
            which can also be manifested in depressive and anxiety symptoms, as well as with increased perceived stress.
          </p>
          <div ng-show="testResult >= 13 && testResult <= 66">
            <p>
              Your score on the resilience scale is <strong>{{ testResult }}</strong>:
            </p>
            <p>
              According to your statements,your individual resilience is <strong>rather slight</strong>. 
              You have likely not agreed to statements concerning your personal skills to cope with difficult life situations. 
              Please read the statements again carefully and
              check the extent to which you have not agreed to each item,
              either because it does not correspond to your inner attitude, or because you focus on negative aspects. 
              Try to think of whether you are able to recall experiences or events from your past, where you have in fact successfully overcome difficult situations. 
              Some <a ui-sref="app.guidance.internalResources.resilienceTraining1" data-dismiss="modal">resilience training</a> may assist you with this analysis.
            </p>
          </div>
          <div ng-show="testResult >= 67 && testResult <= 72">
            <p>
              Your score on the resilience scale is <strong>{{ testResult }}</strong>:
            </p>
            <p>
              According to your statements your individual resilience is <strong>somewhat present</strong>. 
              You have likely agreed to the statements concerning your personal skills to cope with difficult life situations. 
              So you are equipped with a good individual basis to deal with current and future burdens. 
              Keep a close eye on your ability and use it consciously when problems emerge. 
              To promote and maintain this inner resource further, you can find a few useful exercises in the action aids.
            </p>
          </div>
          <div ng-show="testResult >= 73 && testResult <= 91">
            <p>
              Your score on the resilience scale is <strong>{{ testResult }}</strong>:
            </p>
            <p>
              According to your statements you feel <strong>fit and resistant</strong>. 
              You have fully agreed to most statements concerning your personal skills to cope with difficult life situations. 
              You feel dynamic and have a zest for action. 
              Your optimistic attitude helps you to pursue your goals even under exceptional conditions. 
              These are the best conditions to handle demands successfully. 
              Keep it up!
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>