<div class="jumbotron">
  <div class="container">
    <h1>Test your resilience &ndash; Part 1</h1>
  </div>
</div>
<div class="container" ng-controller="ResilienceTestCtrl">
  <p>
    In the following questionnaire you will find a number of statements.
    Please read each statement and mark how much each statement generally applies to you,
    i.e. how much your usual thoughts and actions are described by these statements.
  </p>
  <p class="text-right">
    <strong>1 = disagree</strong> &mdash; <strong>7 = agree</strong>
  </p>
  <div class="list list-striped">
    <div class="item item-input">
      <div class="input-label">
        When I make plans I follow through with them.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item1 == 1}" ng-click="resilience.item1 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item1 == 2}" ng-click="resilience.item1 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item1 == 3}" ng-click="resilience.item1 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item1 == 4}" ng-click="resilience.item1 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item1 == 5}" ng-click="resilience.item1 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item1 == 6}" ng-click="resilience.item1 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item1 == 7}" ng-click="resilience.item1 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I usually manage one way or another.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item2 == 1}" ng-click="resilience.item2 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item2 == 2}" ng-click="resilience.item2 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item2 == 3}" ng-click="resilience.item2 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item2 == 4}" ng-click="resilience.item2 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item2 == 5}" ng-click="resilience.item2 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item2 == 6}" ng-click="resilience.item2 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item2 == 7}" ng-click="resilience.item2 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I  usually take things in stride.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item3 == 1}" ng-click="resilience.item3 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item3 == 2}" ng-click="resilience.item3 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item3 == 3}" ng-click="resilience.item3 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item3 == 4}" ng-click="resilience.item3 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item3 == 5}" ng-click="resilience.item3 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item3 == 6}" ng-click="resilience.item3 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item3 == 7}" ng-click="resilience.item3 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I am friends with myself.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item4 == 1}" ng-click="resilience.item4 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item4 == 2}" ng-click="resilience.item4 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item4 == 3}" ng-click="resilience.item4 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item4 == 4}" ng-click="resilience.item4 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item4 == 5}" ng-click="resilience.item4 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item4 == 6}" ng-click="resilience.item4 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item4 == 7}" ng-click="resilience.item4 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I feel that I can handle many things at a time.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item5 == 1}" ng-click="resilience.item5 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item5 == 2}" ng-click="resilience.item5 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item5 == 3}" ng-click="resilience.item5 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item5 == 4}" ng-click="resilience.item5 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item5 == 5}" ng-click="resilience.item5 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item5 == 6}" ng-click="resilience.item5 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item5 == 7}" ng-click="resilience.item5 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I am determined.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item6 == 1}" ng-click="resilience.item6 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item6 == 2}" ng-click="resilience.item6 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item6 == 3}" ng-click="resilience.item6 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item6 == 4}" ng-click="resilience.item6 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item6 == 5}" ng-click="resilience.item6 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item6 == 6}" ng-click="resilience.item6 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item6 == 7}" ng-click="resilience.item6 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I take things one day at a time.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item7 == 1}" ng-click="resilience.item7 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item7 == 2}" ng-click="resilience.item7 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item7 == 3}" ng-click="resilience.item7 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item7 == 4}" ng-click="resilience.item7 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item7 == 5}" ng-click="resilience.item7 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item7 == 6}" ng-click="resilience.item7 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item7 == 7}" ng-click="resilience.item7 = 7">7</button>
      </div>
    </div>
  </div>
  <p>
    <span class="glyphicon glyphicon-info-sign"></span>
    On the next page you will find the remaining six questions, as well as the evaluation of this test.
  </p>
</div>