<div class="jumbotron">
  <div class="container">
    <h1>Stop</h1>
  </div>
</div>
<div class="container">
  <p>
    Before we talk about how work &ndash; under certain circumstances &ndash; can make people sick:
    Let's first take a look at protective effects of work.
  </p>
  <p>
    <strong>Work</strong> is also a <strong>health factor</strong>!
  </p>
  <p>
    It gives us <strong>support</strong>;
    it structures our day; it ensures that we, in addition to <strong>money</strong>,
    also get <strong>recognition</strong> and find a place in society;
    it is part of our <strong>identity</strong>.
    And it can make us proud and give us the feeling of doing something <strong>meaningful</strong>.
  </p>
  <p>
    Do you know this yourself? What benefits do you gain from work? Find out by taking a few moments to give some thought to this subject…
  </p>
</div>