<div class="jumbotron">
  <div class="container">
    <h1>Stressors and mental health</h1>
  </div>
</div>
<div class="container">
  <p>
    If demands are experienced as negative, they are known as “stressors”.
    In addition to stressors in work and private life, there are also internal stressors such as perfectionism:
    Whoever always wants to do things  150% perfectly, additionally puts himself under pressure.
  </p>
  <p>
    Does stress lead to illness?
    You have probably already guessed what the answer to the question is…
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/stressors.svg' : 'en/img/legacy/chapter1/stressors.jpg' }}"
       alt="" />
</div>