<div class="jumbotron">
  <div class="container">
    <h1>Chapter 1</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Work-related stress, resilience and mental health</h2>
  </div>
  <p>
    In this chapter we deal with the following questions:
  </p>
  <ul class="triangle">
    <li>How well do you feel at work?</li>
    <li>What is stress? What are mental demands?</li>
    <li>Which stressors can lead to mental illness?</li>
    <li>What resources can protect against mental illness?</li>
    <li>Which role does resilience / your personal resistance play?</li>
    <li>How can we strengthen mental health?</li>
  </ul>
</div>