<div class="jumbotron">
  <div class="container">
    <h1>Working as a health factor</h1>
  </div>
</div>
<div class="container" ng-controller="RadarChartCtrl">
  <p>
    How much do you experience the following feelings or impressions from this pie chart in your work?
   <strong>Repeatedly click the statements</strong> to assess how much space this feeling or this thought about your work occupies.
  </p>
  <div class="row">
    <div class="col col-50">
      <p class="clickable p-skill" ng-click="toggleRadarSkill()">
        Doing my work<br>
        gives me a good<br>
        sense of competence.
      <p>
    </div>
    <div class="col col-50">
      <p class="clickable p-proud" ng-click="toggleRadarProud()">
        I am proud of the way<br>
        I do my work.
      </p>
    </div>
  </div>
  <div class="radar-chart-row center-block clearfix">
    <div class="col-left">
      <p class="clickable p-happy" ng-click="toggleRadarHappy()">
        I am happy to<br>
        pursue my work.
      </p>
      <p class="clickable p-vim" ng-click="toggleRadarVim()">
        At work I’m<br>
        always motivated.
      </p>
    </div>
    <div class="col-middle" ng-class="radarChartClassList">
      <div ng-include="supportSvg() ? 'img/chapter1/radar-chart.svg' : 'templates/legacy/radar-chart.html'"></div>
    </div>
    <div class="col-right">
      <p class="clickable p-spirit" ng-click="toggleRadarSpirit()">
        I see sense in<br>
        what I am doing<br>
        in my work.
      </p>
      <p class="clickable p-society" ng-click="toggleRadarSoceity()">
        Through my work,<br>
        I make my contribution<br>
        to society.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <p class="clickable p-financially-secured" ng-click="toggleRadarFinanciallySecured()">
        Through my work,<br>
        I am financially secure.
      </p>
    </div>
    <div class="col col-50">
      <p class="clickable p-plunge" ng-click="toggleRadarPlunge()">
        I can totally immerse<br>
        myself in my work.
      </p>
    </div>
  </div>
  <div class="row" id="radarInfo" ng-show="radarActivated">
    <div class="col col-70">
      <p>
        <strong>Interpretation:</strong>
        The larger each area, the more your work is a health factor for you.
        At red and orange areas you should consider why these aspects do not take more place.
        This eLearning-Tool may help you to find out how to make more room for these issues in the future.
      </p>
    </div>
    <div class="col col-20">
      <button class="btn btn-action" ng-click="resetRadarChart()">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        Reset
      </button>
    </div>
  </div>
</div>