<div class="jumbotron">
  <div class="container">
    <h1>Work requirements</h1>
  </div>
</div>
<div class="container" ng-controller="WorkRequirementsCtrl">
  <p>
    The effects that demands or work requirements have on the individual human being are called <strong>strain</strong>.
    Equal demands can cause different strain reactions (positive and negative) from person to person.
    Whether job requirements lead to negative strain and cause damage depends, among other things,
    on their <strong>duration</strong> and their <strong>difficulty</strong>; 
    as well as on the so-called resources that you will learn more about.
  </p>
  <p>
    So work requirements do not automatically lead to mental illness.
    Therefore, the conditions at the workplace should be designed to protect against potential negative effects.
  </p>
  <div class="row">
    <div class="col col-50">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/chapter1/work-requirements-1.svg' : 'img/legacy/chapter1/work-requirements-1.jpg' }}"
           alt="" />
    </div>
    <div class="col col-50">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/chapter1/work-requirements-2.svg' : 'img/legacy/chapter1/work-requirements-2.jpg' }}"
           alt="" />
    </div>
  </div>
  <button class="btn btn-action" data-toggle="modal" data-target="#work-requirements">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Info
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="work-requirements" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Additional Information</h4>
        </div>
        <div class="modal-body">
          <p>
            The Occupational Safety and Health Act has since 2013 explicitly emphasized,
            that any <strong>risk assessment</strong> must also consider risks
            due to psychosocial demands.
            The assessment is about the demands associated 
            with your <strong>job task</strong>
            and thereby may affect you. 
            Every employer is obliged to conduct a risk assessment.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>