<div class="jumbotron">
  <div class="container">
    <h1>Mental health and work</h1>
  </div>
</div>
<div class="container">
  <p>
    Mental health is defined by the World Health Organization as a
  </p>
  <blockquote style="margin-bottom: 10px;">
    <p>
      state of well-being in which the individual realizes their own abilities,
      can cope with the normal stresses of life,
      can work productively and fruitfully and is able to make a contribution to their community.
    </p>
  </blockquote>
  <p>
    Thus mental health is essential for us to succeed and advance in our work environment.
    So mental health enables productive work &ndash; and vice versa, productive work strengthens mental health.
    Thus it is an interrelation.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter1/work.svg' : 'en/img/legacy/chapter1/work.jpg' }}"
       alt="" />
  <p>
    But increasingly more people talk about a different interrelation:
    They complain that their work makes them sick and affects their mental health.
    Health insurance companies are reporting an increase of mental illness.
    Researchers see stress at the workplace as one possible cause. How is that possible?
  </p>
   <h5 class="footnote">
    The world health report 2001.
    Mental health: new understanding, new hope.
    Geneva, World Health Organization, 2001
    (http://www.who.int/whr/2001/en/).
  </h5>
</div>