<div class="jumbotron">
  <div class="container">
    <h1>Action aids</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <p>
      Finally, we have put together plenty of materials and worksheets for you
      to further explore the discussed content.
    </p>
    <p>
      Choose what is useful for you!
    </p>
  </div>
  <h3>Please select a category:</h3>
  <button class="btn btn-action" ui-sref="app.guidance.externalResources.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-leaf"></span>
    External resources
  </button>
  <button class="btn btn-action" ui-sref="app.guidance.internalResources.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-leaf"></span>
    Internal resources
  </button>
  <button class="btn btn-action" ui-sref="app.guidance.externalStressors.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-fire"></span>
    External stressors
  </button>
  <button class="btn btn-action" ui-sref="app.guidance.internalStressors.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-fire"></span>
    Internal stressors
  </button>
</div>