<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Continuing education</h4>
    </div>
    <div class="modal-body">
      <p>
        You <strong>never stop learning</strong> in life. 
        Further education and training can give you new ideas and suggestions, 
        which can also lead to a change in your daily work. 
        You get a glimpse out of the box, you can optimize workflows or strengthen 
        yourself to deal with new problems. 
        The precondition is of course that the training is made for your needs. 
        You should <strong>actively</strong> search for them.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        <strong>TIP:</strong> Stay open to new ideas: Keep fit through further education and training. 
        Possible contacts that provide some guidance for you can be found in Chapter 4.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>