<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Information</h4>
    </div>
    <div class="modal-body">
      <p>
        For your activities, you need information &ndash; about the current tasks, 
        the future planning, the expected results, each to a reasonable extent. 
        This gives you <strong>security</strong> and protects against overload.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        If this is the problem: Discuss the issue with your manager!<br>
        To get <strong>tips for this talk</strong>,
        see the action aids against external stressors in the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>