<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Job-control</h4>
    </div>
    <div class="modal-body">
      <p>
        No one likes to feel dictated to. 
        People want to co-decide &ndash; at least when it comes to the organization 
        (order, timing) of their work. 
        The greater the freedom of action is, often the greater is the <strong>experienced expertise</strong> 
        and job satisfaction. 
        Too much leeway, however, can also lead to excessive demand.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        The action aids against internal stressors in the main menu additionally
        contain instructions for optimal use of this resource in the form of time management. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>