<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Sense of purpose</h4>
    </div>
    <div class="modal-body">
      <p>
        Ideally, you do not feel like a small cog in the wheel, but know exactly what your work 
        value is for your company or society. 
        Anyone who sees <strong>meaning</strong> in their work has more joy and is also stronger in 
        dealing with stress.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        If you are missing this point: Discuss the issue with your manager!<br>
        To get <strong>tips for this talk</strong>,
        see the action aids against external stressors in the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>