<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Task-diversity</h4>
    </div>
    <div class="modal-body">
      <p>
        A change in your daily work keeps you fresh and capable of change and <strong>prevents monotony</strong>
        &ndash; no matter whether this is done by rotation (also across departments) or by 
        new tasks in your current field of work.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids to strengthen your external resources.<br>
        <strong>TIP:</strong> Suggest to your manager how to make the work more varied; 
        take a look around, how is the working group in the neighboring department working?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>