<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Well-defined responsibilities</h4>
    </div>
    <div class="modal-body">
      <p>
        You know your tasks and responsibilities. 
        This makes your work <strong>transparent</strong> and protects you from confusion and irritation. 
        Who is in charge for what? 
        What is allowed and where are the limits of your own competencies? 
        The more clearly these questions are answered, the better for you. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        If this is the problem: Discuss the issue with your manager!<br>
        To get <strong>tips for this talk,</strong> see the action aids against external stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>