<div id="resultwrapper">
	<div id="popover" class="popover top fade" style="top: 0; left: 0; display: block;">
		<div class="arrow"></div>
		<h4 class="popover-title2">Bitte auswählen oder eintippen</h4>
		<div class="popover-content">
			<div class="keys">
				<p>
					<button type="button" class="btn2">Q</button>
					<button type="button" class="btn2">W</button>
					<button type="button" class="btn2">E</button>
					<button type="button" class="btn2">R</button>
					<button type="button" class="btn2">T</button>
					<button type="button" class="btn2">Z</button>
					<button type="button" class="btn2">U</button>
					<button type="button" class="btn2">I</button>
					<button type="button" class="btn2">O</button>
					<button type="button" class="btn2">P</button>
				</p>
				<p>
					<button type="button" style="margin-left:10px;" class="btn2">A</button>
					<button type="button" class="btn2">S</button>
					<button type="button" class="btn2">D</button>
					<button type="button" class="btn2">F</button>
					<button type="button" class="btn2">G</button>
					<button type="button" class="btn2">H</button>
					<button type="button" class="btn2">J</button>
					<button type="button" class="btn2">K</button>
					<button type="button" class="btn2">L</button>
				</p>
				<p>
					<button type="button" style="margin-left:26px;" class="btn2">Y</button>
					<button type="button" class="btn2">X</button>
					<button type="button" class="btn2">C</button>
					<button type="button" class="btn2">V</button>
					<button type="button" class="btn2">B</button>
					<button type="button" class="btn2">N</button>
					<button type="button" class="btn2">M</button>
				</p>
			</div>
		</div>
	</div>
</div>