<div id="resultwrapper">
	<div class="modal hide" id="result1">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihr Burnout-Risiko</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade zehn Fragen einer Skala ausgefüllt, die Burnout-Symptome erfasst. Die Spannweite der Skala reicht von 1 bis 7. Burnout ist ein individueller Zustand, der dadurch gekennzeichnet ist, dass sich die oder der Betroffene durch und durch erschöpft fühlt, und zwar nicht nur emotional, sondern auch auf der geistigen und körperlichen Ebene. Die Erschöpfung spiegelt sich wider in Gefühlen der Hilflosigkeit und Depressivität. In Gedanken sind Sie vielleicht enttäuscht über Arbeitskollegen und Arbeitskolleginnen oder das eigene Erleben von Wertlosigkeit. Körperlich äußert sich ein Unwohlsein, gepaart mit Schlafproblemen und ständiger Müdigkeit. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Burnout-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Prima! Es liegen bei Ihnen keinerlei Anzeichen für Burnout vor. Sie fühlen sich fit und gehen motiviert und mit Freude produktiv Ihrer Arbeit nach. Nutzen Sie als Führungskraft diesen Zustand, um Ihre Mitarbeitenden durch Ihre Vorbildfunktion und Ihrem Elan in gleicher Weise fit zu halten.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>

	<div class="modal hide" id="result2">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihr Burnout-Risiko</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade zehn Fragen einer Skala ausgefüllt, die Burnout-Symptome erfasst. Die Spannweite der Skala reicht von 1 bis 7. Burnout ist ein individueller Zustand, der dadurch gekennzeichnet ist, dass sich die oder der Betroffene durch und durch erschöpft fühlt, und zwar nicht nur emotional, sondern auch auf der geistigen und körperlichen Ebene. Die Erschöpfung spiegelt sich wider in Gefühlen der Hilflosigkeit und Depressivität. In Gedanken sind Sie vielleicht enttäuscht über Arbeitskollegen und Arbeitskolleginnen oder das eigene Erleben von Wertlosigkeit. Körperlich äußert sich ein Unwohlsein, gepaart mit Schlafproblemen und ständiger Müdigkeit. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Burnout-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Sie erleben im Rahmen Ihrer Arbeitstätigkeit Momente, die als erste Risikofaktoren für Burnout gewertet werden können. Wenn diese Symptome für eine längere Zeit anhalten, könnten sich diese verstärken und tatsächlich in einen Erschöpfungszustand münden. Hören Sie auf diese Warnsignale, die Sie als vermehrt vorkommend angegeben haben, und versuchen Sie, deren Ursache herauszufinden. Liegt es an der Arbeitstätigkeit an sich oder an dem Teamklima, oder sind Sie durch Probleme in Ihrem privaten Umfeld in Ihren Ressourcen eingeschränkt? Versuchen Sie, das Problem zu analysieren und es zu verändern. Suchen Sie das Gespräch mit anderen oder holen Sie sich Unterstützung von außen. Glauben Sie, dass es nur ein vorübergehender Zustand ist? O. K. Aber behalten Sie Ihre Gedanken, Gefühle und körperlichen Anzeichen im Auge und nehmen Sie diese ernst.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>

	<div class="modal hide" id="result3">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihr Burnout-Risiko</h3>
		</div>
		<div class="modal-body">
			<p>
				<br />
				Sie haben gerade zehn Fragen einer Skala ausgefüllt, die Burnout-Symptome erfasst. Die Spannweite der Skala reicht von 1 bis 7. Burnout ist ein individueller Zustand, der dadurch gekennzeichnet ist, dass sich die oder der Betroffene durch und durch erschöpft fühlt, und zwar nicht nur emotional, sondern auch auf der geistigen und körperlichen Ebene. Die Erschöpfung spiegelt sich wider in Gefühlen der Hilflosigkeit und Depressivität. In Gedanken sind Sie vielleicht enttäuscht über Arbeitskollegen und Arbeitskolleginnen oder das eigene Erleben von Wertlosigkeit. Körperlich äußert sich ein Unwohlsein, gepaart mit Schlafproblemen und ständiger Müdigkeit. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Burnout-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Entsprechend Ihren Angaben liegt bei Ihnen mit hoher Wahrscheinlichkeit ein Erschöpfungszustand vor. Erschöpfung ist keine persönliche Schwäche, sondern ein normaler Zustand, der aus einer langen Phase der zunehmenden Verausgabung bei gleichzeitigem Fehlen adäquater Ressourcen resultiert. Nehmen Sie Ihre erlebten Gefühle, Gedanken und körperlichen Symptome ernst. Überlegen Sie, was Ihnen in Ihrer momentanen Situation gut tun würde und streben Sie eine Veränderung an, gegebenenfalls durch Einholen von Unterstützung durch Kolleginnen und Kollegen, Familie, Freundinnen und Freunde oder aber auch durch Fachleute.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>

	<div class="modal hide" id="result4">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihr Burnout-Risiko</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade zehn Fragen einer Skala ausgefüllt, die Burnout-Symptome erfasst. Die Spannweite der Skala reicht von 1 bis 7. Burnout ist ein individueller Zustand, der dadurch gekennzeichnet ist, dass sich die oder der Betroffene durch und durch erschöpft fühlt, und zwar nicht nur emotional, sondern auch auf der geistigen und körperlichen Ebene. Die Erschöpfung spiegelt sich wider in Gefühlen der Hilflosigkeit und Depressivität. In Gedanken sind Sie vielleicht enttäuscht über Arbeitskollegen und Arbeitskolleginnen oder das eigene Erleben von Wertlosigkeit. Körperlich äußert sich ein Unwohlsein, gepaart mit Schlafproblemen und ständiger Müdigkeit. <br />
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Burnout-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Entsprechend Ihren Angaben befinden Sie sich mit hoher Wahrscheinlichkeit in einem schweren Erschöpfungszustand. Sie weisen auf der emotionalen, geistigen und auch körperlichen Ebene ernst zu nehmende Symptome auf, die zudem mit einer übermäßigen Häufigkeit auftreten. Sie sollten unbedingt professionelle Unterstützung in Anspruch nehmen. Ihre erlebte Erschöpfung ist kein Zeichen von persönlicher Schwäche, sondern ein nachvollziehbarer Zustand, wenn Sie durch eine Phase ständiger Verausgabung gegangen sind, bei gleichzeitigem Fehlen adäquater Ressourcen. Es ist an der Zeit Ihre Ressourcen wieder zu stärken. Auch wenn Sie sich hilflos und gefangen fühlen, ist das nur umso mehr ein Grund, andere um Hilfe zu bitten, um Sie wieder zu stärken.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>

	<div class="modal hide" id="result-none">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihr Burnout-Risiko</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben nicht alle zehn Fragen beantwortet, so dass Ihr Burnout-Risko nicht bestimmt werden kann. Bitte versuchen Sie es erneut.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
</div>