<div id="resultwrapper">
	<div class="modal hide" id="result1">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihre psychische Beanspruchung</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade acht Fragen beantwortet, die eine Aussage darüber erlauben, in welchem Ausmaß Sie psychisch beansprucht sind. Die Spannweite der Skala reicht von 1 bis 7. Dadurch sind in der Summe Werte zwischen 8 und 56 möglich. Psychische Beanspruchung wird hierbei auf zwei verschiedenen Ebenen erfasst: gedanklich und emotional. Symptome Ihrer <strong>gedanklichen Beanspruchung</strong> können sich dadurch bemerkbar machen, dass Sie nach der Arbeit nicht abschalten können und auch in Ihrer Freizeit ständig weiter an arbeitsbezogene Probleme denken müssen. Symptome Ihrer <strong>emotionalen Beanspruchung</strong> können sich dadurch bemerkbar machen, dass Sie vermehrt gereizt auf Ihre Außenwelt reagieren.
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Beanspruchungs-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Herzlichen Glückwunsch! Sie weisen im Vergleich zu anderen Erwerbstätigen ein <strong>geringes Maß an psychischer Beanspruchung</strong> durch Ihre Arbeit auf. Ihre Arbeit scheint Sie nach Ihren Angaben weder gedanklich noch emotional negativ zu beeinflussen, sodass Sie sich wohlfühlen müssten und in Ihrer Freizeit auch genug Zeit zur Erholung finden. Dieser Zustand wäre nur jedem zu wünschen.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
	
	<div class="modal hide" id="result2">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihre psychische Beanspruchung</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade acht Fragen beantwortet, die eine Aussage darüber erlauben, in welchem Ausmaß Sie psychisch beansprucht sind. Die Spannweite der Skala reicht von 1 bis 7. Dadurch sind in der Summe Werte zwischen 8 und 56 möglich. Psychische Beanspruchung wird hierbei auf zwei verschiedenen Ebenen erfasst: gedanklich und emotional. Symptome Ihrer <strong>gedanklichen Beanspruchung</strong> können sich dadurch bemerkbar machen, dass Sie nach der Arbeit nicht abschalten können und auch in Ihrer Freizeit ständig weiter an arbeitsbezogene Probleme denken müssen. Symptome Ihrer <strong>emotionalen Beanspruchung</strong> können sich dadurch bemerkbar machen, dass Sie vermehrt gereizt auf Ihre Außenwelt reagieren.
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Beanspruchungs-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Sie weisen im Vergleich zu anderen Erwerbstätigen ein <strong>durchschnittliches Maß an psychischer Beanspruchung</strong> durch Ihre Arbeit auf. Es fällt Ihnen auf, dass Sie sich durch Ihre Arbeit auch oft in der Freizeit verfolgt fühlen und sich das auch auf Ihren Umgang mit anderen auswirkt. Nehmen Sie die Symptome, die Sie erleben, ernst. Es sind  Warnsignale, die langfristig in eine Depression münden können. Versuchen Sie, dauerhaft etwas zu ändern, um sich wohler und ausgeglichener zu fühlen und sich Erholung zu ermöglichen. Stichwort: <strong>Ressourcenaufbau</strong>!
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
	
	<div class="modal hide" id="result3">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Ihre psychische Beanspruchung</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade acht Fragen beantwortet, die eine Aussage darüber erlauben, in welchem Ausmaß Sie psychisch beansprucht sind. Die Spannweite der Skala reicht von 1 bis 7. Dadurch sind in der Summe Werte zwischen 8 und 56 möglich. Psychische Beanspruchung wird hierbei auf zwei verschiedenen Ebenen erfasst: gedanklich und emotional. Symptome Ihrer <strong>gedanklichen Beanspruchung</strong> können sich dadurch bemerkbar machen, dass Sie nach der Arbeit nicht abschalten können und auch in Ihrer Freizeit ständig weiter an arbeitsbezogene Probleme denken müssen. Symptome Ihrer <strong>emotionalen Beanspruchung</strong> können sich dadurch bemerkbar machen, dass Sie vermehrt gereizt auf Ihre Außenwelt reagieren.
			</p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Beanspruchungs-Skala liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Sie weisen im Vergleich zu anderen Erwerbstätigen ein <strong>hohes Maß an psychischer Beanspruchung</strong> durch Ihre Arbeit auf. Nehmen Sie die Symptome, die Sie erleben, ernst. Es fällt Ihnen auf, dass Sie arbeitsbezogene Probleme permanent verfolgen und sich das auch auf Ihren Gemütszustand und damit auch den Umgang mit anderen auswirkt. Zögern Sie nicht und versuchen Sie, daran etwas zu ändern. Holen Sie sich gegebenenfalls <strong>Unterstützung</strong>, damit sich Ihre Symptome nicht langfristig in einer psychischen Erkrankung manifestieren.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
</div>