<div id="resultwrapper">
	<div class="modal hide" id="result1">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Wie ist Ihre Beziehung zu Ihren Mitarbeitenden?</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade sieben Fragen beantwortet, die insgesamt eine Aussage über die <strong>Qualität der Austauschbeziehung</strong> zwischen Ihnen und Ihren Mitarbeitenden erlauben. Die Spannweite der Skala liegt zwischen 1 und 5. Sie stehen fast täglich persönlich mit jedem einzelnen Mitarbeiter bzw. jeder einzelnen Mitarbeiterin im Austausch. Wichtig ist dabei zu berücksichtigen, inwieweit die Beziehung zu Ihren Mitarbeitenden von <strong>Aufmerksamkeit</strong>, <strong>Respekt</strong> und <strong>Vertrauen</strong> geprägt ist. Je besser das Verhältnis zwischen Mitarbeitenden und Vorgesetzten erlebt wird, umso besser müsste es um die Zufriedenheit, der Produktivität und dem Wohlbefinden von Mitarbeitenden bestellt sein. <br />
			<p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Skala zu den Austauschbeziehungen liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Ihren Angaben zufolge schätzen Sie das Verhältnis zu Ihren Mitarbeitenden als <strong>unterdurchschnittlich</strong> ein. Anscheinend fehlt es in der Qualität Ihrer Beziehung zu den Mitarbeitenden an Vertrauen und Aufmerksamkeit auch für deren Bedürfnisse. Unternehmen Sie etwas dagegen. Dafür brauchen Sie sich nicht in Ihrer Persönlichkeit zu verändern. Das wäre auch unglaubwürdig. Für den Anfang genügen schon kleine Veränderungen. Schenken Sie mehr Beachtung. 
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
	
	<div class="modal hide" id="result2">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Wie ist Ihre Beziehung zu Ihren Mitarbeitenden?</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade sieben Fragen beantwortet, die insgesamt eine Aussage über die <strong>Qualität der Austauschbeziehung</strong> zwischen Ihnen und Ihren Mitarbeitenden erlauben. Die Spannweite der Skala liegt zwischen 1 und 5. Sie stehen fast täglich persönlich mit jedem einzelnen Mitarbeiter bzw. jeder einzelnen Mitarbeiterin im Austausch. Wichtig ist dabei zu berücksichtigen, inwieweit die Beziehung zu Ihren Mitarbeitenden von <strong>Aufmerksamkeit</strong>, <strong>Respekt</strong> und <strong>Vertrauen</strong> geprägt ist. Je besser das Verhältnis zwischen Mitarbeitenden und Vorgesetzten erlebt wird, umso besser müsste es um die Zufriedenheit, der Produktivität und dem Wohlbefinden von Mitarbeitenden bestellt sein. <br />
			<p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Skala zu den Austauschbeziehungen liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Ihren Angaben zufolge schätzen Sie das Verhältnis zu Ihren Mitarbeitenden als <strong>durchschnittlich</strong> ein. Auf der einen oder anderen Ebene gäbe es sicherlich Möglichkeiten, das Verhältnis positiver zu gestalten. Stellen Sie in Zukunft sicher, dass Ihren Mitarbeitenden bewusst ist, dass Sie sie wahrnehmen und ihre Bedürfnisse ernst nehmen. Ebenso sollten Ihre Mitarbeitenden wissen, dass Sie ihnen im Ernstfall den Rücken stärken werden. Dann steigt auch automatisch das Ihnen entgegengebrachte Vertrauen. 
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
	
	<div class="modal hide" id="result3">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Wie ist Ihre Beziehung zu Ihren Mitarbeitenden?</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben gerade sieben Fragen beantwortet, die insgesamt eine Aussage über die <strong>Qualität der Austauschbeziehung</strong> zwischen Ihnen und Ihren Mitarbeitenden erlauben. Die Spannweite der Skala liegt zwischen 1 und 5. Sie stehen fast täglich persönlich mit jedem einzelnen Mitarbeiter bzw. jeder einzelnen Mitarbeiterin im Austausch. Wichtig ist dabei zu berücksichtigen, inwieweit die Beziehung zu Ihren Mitarbeitenden von <strong>Aufmerksamkeit</strong>, <strong>Respekt</strong> und <strong>Vertrauen</strong> geprägt ist. Je besser das Verhältnis zwischen Mitarbeitenden und Vorgesetzten erlebt wird, umso besser müsste es um die Zufriedenheit, der Produktivität und dem Wohlbefinden von Mitarbeitenden bestellt sein. <br />
			<p>
			<h4 style="color: #EE1C25; padding-top: 10px;">Ihr Punktwert auf der Skala zu den Austauschbeziehungen liegt bei <span class="result"></span>.</h4>
			<p>
				<br />
				Sie schätzen die Qualität des Verhältnisses zu Ihren Mitarbeitenden als äußerst <strong>positiv</strong> ein. Das ist erfreulich. Wahrscheinlich haben Sie ein produktives und effektives Team um sich, das sich bei der Arbeit wohlfühlt, weil es weiß, dass Sie hinter ihm stehen. Was glauben Sie, wie Ihre Mitarbeitenden diese Fragen beantwortet hätten? Vielleicht bitten Sie sie mal um ihre Meinung?
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
	
	<div class="modal hide" id="result-none">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Wie ist Ihre Beziehung zu Ihren Mitarbeitenden?</h3>
		</div>
		<div class="modal-body">
			<p>
				Sie haben nicht alle sieben Fragen beantwortet. Bitte versuchen Sie es erneut.
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn2" data-dismiss="modal">Schließen</a>
		</div>
	</div>
</div>