<div class="jumbotron">
  <div class="container">
    <h1>Akuter Stress</h1>
  </div>
</div>
<div class="container" ng-controller="AcuteStressCtrl">
  <p>
    Expertinnen und Experten sind sich einig:
    Akuter Stress ist in der Regel kein Problem.
    Damit werden die meisten von uns prima fertig.
    Unser Körper ist dafür gemacht, Anforderungen zu bewältigen, und hat Mechanismen entwickelt, um sich unter Stress anzupassen.
    Stress als solcher ist also nicht gesundheitsschädlich.
  </p>

  <br>
  <br>
  
  <div class="row">
    <div class="col col-50">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/chapter1/acute-stress.svg' : 'img/legacy/chapter1/acute-stress.jpg' }}"
           alt="" />
    </div>
      
    <div class="col col-50">
      <br>
      <br>
      <br>
      <button class="btn btn-action" data-toggle="modal" data-target="#stress-modal-1">
        <span class="glyphicon glyphicon-info-sign"></span>
        Stressphysiologie
      </button>
      
      <br>
      <br>
      
      <button class="btn btn-action" data-toggle="modal" data-target="#stress-modal-2">
        <span class="glyphicon glyphicon-info-sign"></span>
        Die vier Stress-Ebenen
      </button>
      
      <br>
      <br>
      
      <p ng-show="chapter4.timeForHelpClicked">
        Zu Kapitel 4 zurückkehren: <a ng-click="goToSlide(54)" style="cursor: pointer;">Wann ist es Zeit Hilfe anzunehmen?</a>
      </p>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="stress-modal-1" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Zusatzinformation: Stressphysiologie</h4>
        </div>
        <div class="modal-body">
          <p>
            Wenn wir in Stress geraten,
            veranlasst unser Gehirn die <strong>Ausschüttung von Stresshormonen</strong>,
            die im Körper dafür sorgen, dass wir den erhöhten Anforderungen gerecht werden können.
            Jeder kennt bestimmt die Auswirkungen eines Adrenalinschubs.
            Ziel der körperlichen Reaktion ist es,
            uns schnell mit zusätzlicher Energie
            für die <strong>Bewältigung der akuten Anforderung</strong> zu versorgen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="stress-modal-2" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Zusatzinformation: Die vier Stress-Ebenen</h4>
        </div>
        <div class="modal-body">
          <p>
            Diese biologischen Stressreaktionen beeinflussen nicht nur unseren
            <strong>Körper</strong>.
            Unter Stress <strong>verhalten</strong> wir uns gehetzt und gereizt.
            Wir <strong>fühlen</strong> uns ängstlich und sorgenvoll aufgrund der hohen Last.
            Wir <strong>denken</strong> und grübeln in uns versunken darüber nach,
            ob und wie wir die Anforderungen meistern können.
            Stress verändert uns also auf mehreren Ebenen: auf der Ebene des Körpers, der Gefühle,
            Gedanken und des Verhaltens.
            Diese Reaktionen sollten Sie bei sich kennen. 
            Dazu finden Sie auch in den Handlungshilfen einen 
            <a ui-sref="app.guidance.internalStressors.myStress"
               data-dismiss="modal">Selbstbeobachtungsbogen</a>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>