<div class="jumbotron">
  <div class="container">
    <h1>Fazit</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Gute Arbeit ist ein Gesundheitsfaktor &ndash; auch für die Psyche.
      </li>
      <li>
        Akuter Arbeitsstress als solcher ist nicht gesundheitsschädlich.
        Aber bei Dauerstress ist Vorsicht angesagt.
      </li>
      <li>
        Es gibt immer zwei Wege zur Förderung der psychischen Gesundheit:
        die Reduzierung von Stressoren und die Stärkung von Ressourcen.
      </li>
    </ul>
  </div>
</div>