<div class="jumbotron">
  <div class="container">
    <h1>Die Gefahr liegt im Dauerstress</h1>
  </div>
</div>
<div class="container">
  <p>
    Anders sieht es bei Dauerstress aus.
    Den hat die Natur nicht für uns vorgesehen.
  </p>
  <p>
    Wir brauchen nach einer Phase der <strong>Anspannung</strong> eine Phase der <strong>Entspannung</strong>,
    um uns zu erholen.
    Nach einer Anstrengung müssen wir unseren Akku wieder aufladen.
    Wenn diese <strong>Erholung</strong> ausbleibt, kommt es zu <strong>körperlicher</strong> und <strong>psychischer Überbeanspruchung</strong>.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter1/permanent-stress.svg' : 'img/legacy/chapter1/permanent-stress.jpg' }}"
       alt="" />
  <p>
    Und falls dieser Zustand lange andauert, kann er zu psychischen, aber auch zu körperlichen Erkrankungen führen.
    Dazu zählen zum Beispiel die Depression oder Herzerkrankungen.
    Denn die permanente Ausschüttung von Stresshormonen kann der Körper nicht dauerhaft kompensieren.
  </p>
</div>