<div class="jumbotron">
  <div class="container">
    <h1>2 Wege zur Förderung der psychischen Gesundheit</h1>
  </div>
</div>
<div class="container">
  <p>
    Wie Sie jetzt schon ahnen:
    Es gibt nicht DEN Weg zur Stärkung der psychischen Gesundheit, sondern es gibt grundsätzlich ZWEI Ansätze:
  </p>
  <p align="center">
    <strong>Stressoren abbauen und Ressourcen aufbauen.</strong>
  </p>
  <p>
    Beides ist sinnvoll.
    Und für beide Vorgehensweisen sollten Sie Beispiele kennen bzw. in diesem Tool kennenlernen.
  </p>
  <p>
    Mit den Ressourcen fangen wir an.
    Da es sehr viele davon gibt, haben wir &ndash; genau wie bei den Stressoren &ndash; einige ausgewählt.
    Die Listen in den nächsten zwei Kapiteln sind also nicht vollständig, aber sie geben Ihnen einen guten Überblick über Ihre Situation am Arbeitsplatz.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter1/psychological-health-promotion.svg' : 'img/legacy/chapter1/psychological-health-promotion.jpg' }}"
       alt="" />
</div>