<div class="jumbotron">
  <div class="container">
    <h1>Psychische Belastungen</h1>
  </div>
</div>
<div class="container">
  <p>
    Auch wenn die Umgangssprache etwas anderes nahelegt:</p>
  <p>
    Der Ausdruck „Belastungen“ ist in der Fachwelt zunächst <strong>neutral</strong> gemeint.
    Entsprechend versteht man unter psychischen Belastungen alles, was von außen auf den Menschen zukommt und psychisch auf ihn einwirkt.
    Im Kontext der Arbeit spricht man auch von <strong>„Arbeitsanforderungen“</strong>.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter1/psychic-strains.svg' : 'img/legacy/chapter1/psychic-strains.jpg' }}"
       alt="" />
</div>