<div class="jumbotron">
  <div class="container">
    <h1>Psychische Gesundheit – was ist das?</h1>
  </div>
</div>
<div class="container" ng-controller="PsychologicalHealthCtrl">
  <p>
    Wie der kurze Check zeigt, ist Arbeit mehr als nur das Mittel zum Verdienst Ihres Lebensunterhalts.
    Arbeit kann das Wohlbefinden fördern und kann mit zum Erhalt und zur Förderung Ihrer psychischen Gesundheit beitragen.
  </p>
  <p>
    <strong>Was versteht man überhaupt unter psychischer Gesundheit?</strong>
    Für Sigmund Freud war die Antwort ganz einfach:
    lieben und arbeiten können.
    Bestimmt haben Sie selbst auch eine Vorstellung davon:
    Klicken Sie auf das grüne Dreieck und erfahren Sie, was psychische Gesundheit alles ausmacht.
  </p>
  <br>
  <br>
  <br>
  <div class="fade-box">
    <img class="center-image"
         ng-src="{{ supportSvg() ? 'img/chapter1/psychological-health-1.svg' : 'img/legacy/chapter1/psychological-health-1.jpg' }}"
         ng-hide="psychologicalHealth"
         ng-click="togglePsychologicalHealth()"
         alt="" />
    <img class="center-image"
         ng-src="{{ supportSvg() ? 'img/chapter1/psychological-health-2.svg' : 'img/legacy/chapter1/psychological-health-2.jpg' }}"
         ng-hide="!psychologicalHealth"
         ng-click="togglePsychologicalHealth()"
         alt="" />
  </div>
  </div>