<div class="jumbotron">
  <div class="container">
    <h1>Ihre Ressourcen</h1>
  </div>
</div>
<div class="container">
  <p>
    Ressourcen – darunter versteht man <strong>Kraftquellen</strong>, die Ihre psychische Gesundheit stärken.
    Sie bilden die Gegenspieler zu den Stressoren.
    Auch hier gibt es Ressourcen aus Ihrem Privatleben und aus Ihrem Arbeitsleben.
    Und es gibt innere und äußere Ressourcen.
  </p>
  <p>
    Zu den inneren Ressourcen gehören zum Beispiel ein starkes Selbstwertgefühl, Erfolge in der Vergangenheit, körperliche Fitness, ausgeglichene Stimmung oder Gelassenheit.
    Zu den äußeren Ressourcen zählen die Unterstützung durch Kollegen, gute Arbeitsmittel, Anerkennung durch die Führungskraft oder auch Pausen und Schwätzchen im Team.
  </p>
  <p>
    Diese Ressourcen helfen Ihnen beim <strong>Wiederaufladen Ihres Akkus</strong>,
    wenn Sie in der Auseinandersetzung mit Anforderungen im Betrieb Energie verbraucht haben.
    Sie gehen quasi „ans Netz“.
    Sofern Sie dies regelmäßig tun, trainieren Sie Körper und Psyche – und werden stärker!
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter1/resources.svg' : 'img/legacy/chapter1/resources.jpg' }}"
       alt="" />
</div>