<div class="jumbotron">
  <div class="container">
    <h1>Testen Sie Ihre Resilienz 2/2</h1>
  </div>
</div>
<div class="container" ng-controller="ResilienceTestCtrl">
  <p>
    Bitte lesen Sie sich jede Feststellung durch und kreuzen Sie an,
    wie sehr die Aussagen im Allgemeinen auf Sie zutreffen,
    d.h. wie sehr Ihr übliches Denken und Handeln durch diese Aussagen beschrieben wird.
  </p>
  <p class="text-right">
    <strong>1 = nein, Ich stimme nicht zu</strong> &mdash; <strong>7 = ja, Ich stimme völlig zu</strong>
  </p>
  <div class="list list-striped">
    <div class="item item-input">
      <div class="input-label">
        Ich behalte an vielen Dingen Interesse.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item8 == 1}" ng-click="resilience.item8 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 2}" ng-click="resilience.item8 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 3}" ng-click="resilience.item8 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 4}" ng-click="resilience.item8 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 5}" ng-click="resilience.item8 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 6}" ng-click="resilience.item8 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item8 == 7}" ng-click="resilience.item8 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        Normalerweise kann ich eine Situation aus mehreren Perspektiven betrachten.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item9 == 1}" ng-click="resilience.item9 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 2}" ng-click="resilience.item9 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 3}" ng-click="resilience.item9 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 4}" ng-click="resilience.item9 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 5}" ng-click="resilience.item9 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 6}" ng-click="resilience.item9 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item9 == 7}" ng-click="resilience.item9 = 7">7</button>
      </div>
    </div>
    <div class="item item-input item-text-wrap">
      <div class="input-label">
        Ich kann mich auch überwinden, Dinge zu tun, die ich eigentlich nicht machen will.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item10 == 1}" ng-click="resilience.item10 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 2}" ng-click="resilience.item10 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 3}" ng-click="resilience.item10 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 4}" ng-click="resilience.item10 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 5}" ng-click="resilience.item10 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 6}" ng-click="resilience.item10 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item10 == 7}" ng-click="resilience.item10 = 7">7</button>
      </div>
    </div>
    <div class="item item-input item-text-wrap">
      <div class="input-label">
        Wenn ich in einer schwierigen Situation bin, finde ich gewöhnlich einen Weg heraus.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item11 == 1}" ng-click="resilience.item11 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 2}" ng-click="resilience.item11 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 3}" ng-click="resilience.item11 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 4}" ng-click="resilience.item11 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 5}" ng-click="resilience.item11 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 6}" ng-click="resilience.item11 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item11 == 7}" ng-click="resilience.item11 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        In mir steckt genügend Energie, um alles zu machen, was ich machen muss.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item12 == 1}" ng-click="resilience.item12 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 2}" ng-click="resilience.item12 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 3}" ng-click="resilience.item12 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 4}" ng-click="resilience.item12 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 5}" ng-click="resilience.item12 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 6}" ng-click="resilience.item12 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item12 == 7}" ng-click="resilience.item12 = 7">7</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        Ich kann es akzeptieren, wenn mich nicht alle Leute mögen.
      </div>
      <div class="button-bar2">
        <button class="button2" ng-class="{'selected': resilience.item13 == 1}" ng-click="resilience.item13 = 1">1</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 2}" ng-click="resilience.item13 = 2">2</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 3}" ng-click="resilience.item13 = 3">3</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 4}" ng-click="resilience.item13 = 4">4</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 5}" ng-click="resilience.item13 = 5">5</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 6}" ng-click="resilience.item13 = 6">6</button>
        <button class="button2" ng-class="{'selected': resilience.item13 == 7}" ng-click="resilience.item13 = 7">7</button>
      </div>
    </div>
  </div>
  <p ng-show="!isTestComplete">
    <span class="label">Auswertung</span>
    <span>
      Sobald Sie den Resilienzfragebogen vollständig bearbeitet haben, erscheint hier die Auswertung.
    </span>
  </p>
  <p ng-show="isTestComplete">
    Klicken Sie für das Ergebnis des Resilienzfragebogens bitte auf folgende Schaltfläche.<br>
    <button class="btn btn-action" style="margin-top: 6px;" data-toggle="modal" data-target="#resilience-modal">
      <span class="glyphicon glyphicon-ok"></span>
      Auswertungsergebnis
    </button>
  </p>
  <h5 class="footnote">
    Leppert K., Koch B., Brähler E., &amp; Strauß B. (2008). Die Resilienzskala (RS) &mdash; Überprüfung der Langform RS-25 und einer Kurzform RS-13. Klinische Diagnostik und Evaluation, 1, 226‐243.<br>
  </h5>
  
  <!-- Modal -->
  <div class="modal fade" id="resilience-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Ihre Resilienz</h4>
        </div>
        <div class="modal-body">
          <p>
            Sie haben gerade dreizehn Fragen einer Skala ausgefüllt,
            welche das Ausmaß an <strong>individueller Resilienz</strong> erfasst.
            Die Spannweite der Skala reicht von 1 bis 7,
            wodurch sich ein Punktwertebereich von 13 bis 91 ergibt.
            Resilienz bezeichnet die eigene <strong>Widerstandsfähigkeit</strong>,
            die es einem ermöglicht, selbst <strong>schwierige Lebenssituationen zu bewältigen</strong>.
            Diese Widerstandsfähigkeit zeichnet sich unter anderem durch eine <strong>optimistische Grundhaltung</strong>
            aus, der Tendenz positive Gefühle zu erleben ein hohes <strong>Selbstwertegefühl</strong> zu besitzen,
            sowie vor allem sich selbst als effizient wahrzunehmen.
            Umgekehrt wird geringe Widerstandsfähigkeit in Zusammenhang gebracht mit der Tendenz negative
            Gefühle zu erleben, welche sich auch in depressiven Symptomen und Angstsymptomen äußern
            können, sowie mit erhöhtem wahrgenommenem Stress.
          </p>
          <div ng-show="testResult >= 13 && testResult <= 66">
            <p>
              Ihr Punktwert auf der Resilienz-Skala liegt bei <strong>{{ testResult }}</strong>:
            </p>
            <p>
              Ihren Angaben zufolge ist bei Ihnen die individuelle Resilienz eher <strong>gering</strong> ausgeprägt.
              Sie haben den Aussagen hinsichtlich Ihrer persönlichen Kompetenz zur Bewältigung schwieriger
              Lebenssituationen eher nicht zugestimmt.
              Lesen Sie sich nochmals die einzelnen Aussagen genau durch und prüfen Sie,
              inwiefern Sie Ihre Zustimmung zu den Äußerungen nicht erteilt haben,
              weil es Ihrer inneren Grundhaltung entspricht,
              sich eher auf negative Aspekte zu fokussieren, oder ob es Ihnen nicht doch gelingt,
              sich für einzelne Äußerungen an Erlebnissen oder Erfahrungen aus Ihrer Vergangenheit
              zu erinnern, an denen Sie erfolgreich schwierige Situationen gemeistert haben.
              Das <a ui-sref="app.guidance.internalResources.resilienceTraining1" data-dismiss="modal">kleine Resilienztraining</a>
              in den Handlungshilfen (siehe Navigationsmenü) kann Sie bei dieser Analyse unterstützen.
            </p>
          </div>
          <div ng-show="testResult >= 67 && testResult <= 72">
            <p>
              Ihr Punktwert auf der Resilienz-Skala liegt bei <strong>{{ testResult }}</strong>:
            </p>
            <p>
              Ihren Angaben zufolge ist bei Ihnen die individuelle Resilienz <strong>durchaus</strong> ausgeprägt.
              Sie haben den Aussagen hinsichtlich Ihrer persönlichen Kompetenz zur Bewältigung schwieriger
              Lebenssituationen eher zugestimmt.
              Damit sind Sie mit einer guten individuellen Basis ausgestattet, um mit aktuellen und
              zukünftigen Belastungen fertig zu werden.
              Behalten Sie Ihre Fähigkeit gut im Auge und greifen Sie bei aufkommenden Problemen immer
              bewusst darauf zurück.
              Zur weiteren Förderung und Erhalt Ihrer inneren Ressourcen finden Sie im Navigationsmenü unter den 
              Handlungshilfen noch ein paar hilfreiche Übungen dazu.
            </p>
          </div>
          <div ng-show="testResult >= 73 && testResult <= 91">
            <p>
              Ihr Punktwert auf der Resilienz-Skala liegt bei <strong>{{ testResult }}</strong>:
            </p>
            <p>
              Ihren Angaben zufolge fühlen Sie sich <strong>fit und widerstandsfähig</strong>.
              Sie haben den Aussagen hinsichtlich Ihrer persönlichen Kompetenz zur Bewältigung schwieriger
              Lebenssituationen voll zugestimmt.
              Sie empfinden sich voller Energie und neugierigem Tatendrang.
              Ihre optimistische Grundhaltung hilft Ihnen dabei auch unter außergewöhnlichen Bedingungen
              Ihre Ziele zu verfolgen.
              Das sind die besten Voraussetzungen, um Belastungen erfolgreich zu begegnen.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>