<div class="jumbotron">
  <div class="container">
    <h1>Was ist eigentlich Resilienz?</h1>
  </div>
</div>
<div class="container" ng-controller="ResilienceCtrl">
  <p>
    Den Ausdruck haben Sie bestimmt schon gehört:
    „Resilienz“ ist seit einigen Jahren in aller Munde und bedeutet <strong>„Widerstandsfähigkeit“</strong>.
    Resilienz beschreibt sowohl die Eigenschaften als auch die Fähigkeiten eines Individuums,
    erfolgreich mit Stressoren umzugehen.
  </p>
  
  <br>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Manche sprechen auch vom Stehaufmännchen.</strong>
      </p>
    </div>
    <div class="col col-50">
      <div class="fade-box" style="height: 160px">
        <img class="center-image"
             ng-src="{{ supportSvg() ? 'img/chapter1/resilience-1.svg' : 'img/legacy/chapter1/resilience-1.jpg' }}"
             ng-hide="resilience"
             alt="" />
        <img class="center-image"
             ng-src="{{ supportSvg() ? 'img/chapter1/resilience-2.svg' : 'img/legacy/chapter1/resilience-2.jpg' }}"
             ng-hide="!resilience"
             alt="" />
      </div>
    </div>
  </div>
  
  <br>
  
  <p>
    Es geht darum, auch nach Krisen wieder auf die Beine zu kommen,
    sodass die Psyche nicht dauerhaft Schaden nimmt.
    Resilienz lässt sich verstehen als eine innere Ressource, 
    die sich durch Ressourcenstärkung fördern lässt.
  </p>
  <p>
    In diesem eLearning-Tool liegt der Schwerpunkt auf den Bedingungen am Arbeitsplatz,
    die für die psychische Gesundheit mitverantwortlich sind.
    Aber falls es Sie trotzdem interessiert, wie es um Ihre persönliche Resilienz bestellt ist, 
    können Sie diese einmal auf der folgenden Seite messen.
  </p>
  <p>
    In den Handlungshilfen finden Sie <a ui-sref="app.guidance.internalResources.resilienceTraining1">
    ein kleines Resilienz-Training</a>, das Ihnen zeigen wird, 
    dass sich auch in Ihnen ein „Stehaufmensch“ verbirgt.
    </p>
</div>