<div class="jumbotron">
  <div class="container">
    <h1>Stopp</h1>
  </div>
</div>
<div class="container">
  <p>
    Bevor wir darüber reden, wie Arbeit unter bestimmten Umständen Menschen krank machen kann: Lassen Sie uns zunächst einen Blick auf die protektiven Effekte von Arbeit werfen.
  </p>
  <p>
    <strong>Arbeit</strong> ist nämlich auch ein <strong>Gesundheitsfaktor</strong>!
  </p>
  <p>
    Sie gibt uns <strong>Halt</strong>; sie strukturiert unseren Tag; 
    sie sorgt dafür, dass wir außer <strong>Geld</strong> auch <strong>Anerkennung</strong> bekommen 
    und einen Platz in der Gesellschaft finden; sie ist Teil unserer <strong>Identität</strong>.
    Und sie kann uns stolz machen und uns das Gefühl geben, etwas <strong>Sinnvolles</strong> zu tun.
  </p>
  <p>
    Kennen Sie das von sich? Was bringt Ihnen die Arbeit? Finden Sie es heraus, indem Sie kurz Ihre Gedanken zu diesem Thema kreisen lassen …
  </p>
</div>