<div class="jumbotron">
  <div class="container">
    <h1>Stressoren und psychische Gesundheit</h1>
  </div>
</div>
<div class="container">
  <p>
    Wenn Belastungen als negativ erlebt werden, bezeichnet man sie auch als „Stressoren“.
    Neben den Stressoren im Arbeits- und Privatleben gibt es auch innere Stressoren wie zum Beispiel Perfektionismus:
    Wer von sich selbst verlangt, immer alles zu 150 % zu erledigen, der setzt sich mit diesem inneren Stressor zusätzlich unter Druck.
  </p>
  <p>
    Macht Stress krank?
    Bestimmt ahnen Sie schon, wie die Antwort auf die Frage lautet …
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter1/stressors.svg' : 'img/legacy/chapter1/stressors.jpg' }}"
       alt="" />
</div>