<div class="jumbotron">
  <div class="container">
    <h1>Arbeitsanforderungen</h1>
  </div>
</div>
<div class="container" ng-controller="WorkRequirementsCtrl">
  <p>
    Die Auswirkungen von Belastungen oder Arbeitsanforderungen auf den einzelnen Menschen nennt man <strong>Beanspruchung</strong>.
    Dabei können gleiche Belastungen von Mensch zu Mensch unterschiedliche Beanspruchungen (positiv und negativ) hervorrufen.
    Ob Arbeitsanforderungen zu negativer Beanspruchung führen und damit einen Schaden verursachen, hängt unter anderem von ihrer <strong>Dauer</strong> und ihrer <strong>Dosis</strong> ab.
    Und von den sogenannten <strong>Ressourcen</strong>, über die Sie gleich noch mehr erfahren werden.
  </p>
  <p>
    Arbeitsanforderungen führen also nicht automatisch zu psychischen Erkrankungen.
    Daher sollten die Bedingungen am Arbeitsplatz so gestaltet sein, dass sie vor möglichen negativen Auswirkungen schützen.
  </p>
  <div class="row">
    <div class="col col-50">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/chapter1/work-requirements-1.svg' : 'img/legacy/chapter1/work-requirements-1.jpg' }}"
           alt="" />
    </div>
    <div class="col col-50">
      <img class="center-image"
           ng-src="{{ supportSvg() ? 'img/chapter1/work-requirements-2.svg' : 'img/legacy/chapter1/work-requirements-2.jpg' }}"
           alt="" />
    </div>
  </div>
  <button class="btn btn-action" data-toggle="modal" data-target="#work-requirements">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    Info
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="work-requirements" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Zusatzinformation</h4>
        </div>
        <div class="modal-body">
          <p>
            Das Arbeitsschutzgesetz betont seit 2013 explizit,
            dass bei jeder <strong>Gefährdungsbeurteilung</strong> die
            psychischen Belastungen zu berücksichtigen sind.
            Dabei geht es um die Belastungen,
            die mit Ihrer <strong>Tätigkeit</strong> einhergehen und dabei auf Sie
            einwirken können.
            Jeder Arbeitgeber ist zu einer Gefährdungsbeurteilung verpflichtet.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>