<div class="jumbotron">
  <div class="container">
    <h1>Arbeit als Gesundheitsfaktor</h1>
  </div>
</div>
<div class="container" ng-controller="RadarChartCtrl">
  <p>
    Wie stark erleben Sie bei Ihrer Arbeit die folgenden Gefühle oder Eindrücke aus diesem Kreisdiagramm?
    Klicken Sie <strong>wiederholt auf die einzelnen Aussagen</strong>,
    um eine Einschätzung abzugeben wieviel Raum
    dieses Gefühl oder dieser Gedanke bei Ihrer Arbeit einnimmt.
  </p>
  <div class="row">
    <div class="col col-50">
      <p class="clickable p-skill" ng-click="toggleRadarSkill()">
        Das Erledigen meiner<br>
        Arbeit gibt mir ein gutes<br>
        Gefühl von Kompetenz.
      <p>
    </div>
    <div class="col col-50">
      <p class="clickable p-proud" ng-click="toggleRadarProud()">
        Ich bin stolz darauf, wie<br>
        ich meine Arbeit erledige.
      </p>
    </div>
  </div>
  <div class="radar-chart-row center-block clearfix">
    <div class="col-left">
      <p class="clickable p-happy" ng-click="toggleRadarHappy()">
        Ich bin froh, meiner<br>
        Arbeit nachzugehen.
      </p>
      <p class="clickable p-vim" ng-click="toggleRadarVim()">
        Bei meiner Arbeit fühle<br>
        ich mich voller Elan.
      </p>
    </div>
    <div class="col-middle" ng-class="radarChartClassList">
      <div ng-include="supportSvg() ? 'img/chapter1/radar-chart.svg' : 'templates/legacy/radar-chart.html'"></div>
    </div>
    <div class="col-right">
      <p class="clickable p-spirit" ng-click="toggleRadarSpirit()">
        Ich sehe Sinn in dem,<br>
        was ich bei meiner<br>
        Arbeit tue.
      </p>
      <p class="clickable p-society" ng-click="toggleRadarSoceity()">
        Durch meine Arbeit,<br>
        leiste ich meinen Beitrag<br>
        für die Gesellschaft.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <p class="clickable p-financially-secured" ng-click="toggleRadarFinanciallySecured()">
        Durch meine Arbeit bin<br>
        ich finanziell abgesichert.
      </p>
    </div>
    <div class="col col-50">
      <p class="clickable p-plunge" ng-click="toggleRadarPlunge()">
        Ich kann in meine Arbeit<br>
        völlig eintauchen.
      </p>
    </div>
  </div>
  <div class="row" id="radarInfo" ng-show="radarActivated">
    <div class="col col-70">
      <p>
        <strong>Interpretation:</strong>
        Je größer jedes Segment ist, umso mehr stellt Ihre Arbeit für Sie einen Gesundheitsfaktor dar.
        Bei den roten und orangefarbigen Flächen sollten Sie überlegen, warum diese Aspekte nicht mehr Platz einnehmen.
        Vielleicht hilft Ihnen dieses eLearning-Tool dabei herauszufinden,
        wie Sie diesen Punkten in Zukunft mehr Raum geben können.
      </p>
    </div>
    <div class="col col-20">
      <button class="btn btn-action" ng-click="resetRadarChart()">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        Zurücksetzen
      </button>
    </div>
  </div>
</div>