<div class="jumbotron">
  <div class="container">
    <h1>Psychische Gesundheit und Arbeit</h1>
  </div>
</div>
<div class="container">
  <p>
    Psychische Gesundheit ist nach der Definition der Weltgesundheitsorganisation ein
  </p>
  <blockquote style="margin-bottom: 10px;">
    <p>
      Zustand des Wohlbefindens, in dem der Einzelne seine Fähigkeiten ausschöpfen,
      die normalen Lebensbelastungen bewältigen,
      produktiv und fruchtbar arbeiten kann und imstande ist,
      etwas zu seiner Gemeinschaft beizutragen.
    </p>
  </blockquote>
  <p>
    Damit ist sie zugleich unverzichtbar, wenn wir im Arbeitsleben bestehen und uns weiterentwickeln wollen.
    Die psychische Gesundheit ermöglicht also gute Arbeit – und umgekehrt stärkt gute Arbeit die psychische Gesundheit.
    Hier handelt es sich somit um eine Wechselbeziehung.
  </p>
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter1/work.svg' : 'img/legacy/chapter1/work.jpg' }}"
       alt="" />
  <p>
    Immer mehr Menschen berichten aber über eine andere Wechselwirkung:
    Sie klagen, dass ihre Arbeit sie krank mache und ihre psychische Gesundheit beeinträchtige.
    Krankenkassen berichten von einer Zunahme psychischer Erkrankungen.
    Forschende sehen in den Belastungen am Arbeitsplatz eine mögliche Ursache.
    Wie kann das sein?
  </p>
  <h5 class="footnote">
    The world health report 2001.
    Mental health: new understanding, new hope.
    Geneva, World Health Organization, 2001
    (http://www.who.int/whr/2001/en/).
  </h5>
</div>