<div class="jumbotron">
  <div class="container">
    <h1>Tips against permanent accessibility</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Stop the e-mail-alert</strong>
      </p>
      <p>
        Turn off the push function 
        and the email alert of your smartphone immediately.
        If it constantly buzzes or beeps 
        as soon as a text message or e-mail has been received, 
        you will be permanently disturbed and distracted from your work.
        When you decide when to open and read your e-mails 
        (instead of being pushed), 
        you will have a stronger feeling of being in control of your time.
        Then YOU decide which and when information flows into your head.

      </p>
    </div>
    <div class="col col-50">
      <p style="padding-left:10 px">
        <strong>Set up reading times</strong>
      </p>
      <p style="padding-left:10 px">
        This strategy goes into a similar direction. 
        Only read your e-mails at specified times, 
        for example, every hour. 
        Therefore, you can set the alarm clock on the mobile phone if necessary.
        Anyhow, this approach will ensure
        that you can concentrate on your work for 60 minutes at a time.
        You will no longer feel as if you are pursued by your e-mails. 
        Precede  answering an e-mail with a mini-break
        (take a deep breath for 1 minute).

      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Define mobile phone-free intervals</strong>
      </p>
      <p>
        For the purposes of your family and your own recovery,
        you should limit your accessibility.
        Arrange with colleagues and your supervisor
        who and when someone is accessible. 
        If there really is no other way,
        use alternating shifts and, if necessary, 
        set up a plan for availability after work.
        Ensure through agreements that you at least turn off your smartphone
        for a certain interval (e.g. after 8 p.m.).

      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>Try the mobile phone diet</strong>
      </p>
      <p>
        Test, like a small experiment,
        whether you can live for 3 hours 
        (then 4, 5 or 6 hours) WITHOUT checking e-mails or text messages.
        Maybe treat yourself to a 1 day mobile phone diet per week
        so that your brain can recover.

      </p>
      <p>
        And further boos your own batteries (break!!!) 
        when you are recharging your mobile phone!

      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Take warning signs from your family seriously</strong>
      </p>
      <p>
       You only have one family.
        When your children say 
        “You are away too often”, 
        or your partner says “Even if you’re here, you’re not really here”,
        it should activate an internal alarm signal. 
        Without doubt you will find a new,
        satisfying job, but it is not so easy to find a new family…

      </p> 
    </div>
    <div class="col col-50">
      
    </div>
  </div>
 
  
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      Zurück zur Übersicht
    </button>
  </div>
</div>