<div class="jumbotron">
  <div class="container">
    <h1>Conflict talks &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    In fact, humans need criticism.
    At least feedback is important for us.
    We want to know where we stand and what we are doing right or wrong.
    Feedback from others helps us to know how we fit in in an organization, 
    how to control our behavior and how to improve it.
    It gives us guidance, security and confirmation.
    However, most people get palpitations at the thought of criticism
    or negative feedback. Why?
  </p>
  <p>
    The problem with criticism is 
    that humans tend to relate it to themselves as a person,
    whereas in fact, it is only  a feedback for performance.
    You take it personally.
  </p>
  <p>
    <strong>
      Do you remember your last conversation that involved criticism 
      that went well?
      Why did it went well? What principles can be derived from it?</strong>
  </p>
  <p>
    The more someone feels appreciated as a person, 
    the lower the risk that a conversation with criticism will escalate.
    Appreciation functions quasi like a buffer.
    It ensures that a person does not personally feel attacked.
    So their mind remain clear (rather than impulsively going to opposition)
    and their mindset opens to the expressed desires for change.
  </p>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.conflictTalks2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>