<div class="jumbotron">
  <div class="container">
    <h1>Conflict talks &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    When I feel attacked, overburdened, or even offended as an employee,
    I should not accept this, 
    but ask to discuss the situation privately.
    Of course, it takes courage, but what is the alternative? 
    An attitude of internal resignation can not be a solution.
  </p>
  <p>
   The better alternative is to be brave and to speak to the supervisor
    and if necessary, with a shaky voice:
    “I want to have a word with you about the incident yesterday. 
    I felt as if I were an idiot who has been doing a bad job here for years.
    That does not do me justice.
    I would appreciate it if you sometimes express 
    when you are satisfied with my work.”
  </p>
  <p>
    Very important: <strong>no accusations, but rather formulate the experience as an “I”-statement.</strong>

  </p>
  <ul class="triangle">
    <li>Which incident has occurred and when? (concrete facts, one case!)</li>
    <li>How did you experience the incident? (emotion)</li>
    <li>What was the worst part?(reason)</li>
    <li>What behavior from your supervisor do you want for the future?
      (a concrete request)
</li>
  </ul>
  <p>
    <strong>Strive for a conversation, not a confrontation!</strong>
    Avoid pseudo-“I”-Statements such as
    “I have  the feeling that you do not take me seriously”  
    (that is to say nothing else than “You do not take me seriously”), 
    for instance  instead formulate it like this:
    “I am angry because I want my concerns to be heard.” 
    Very important is the signal: You can not do everything to me &ndash;
    but without appearing aggressive. 
  </p>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.conflictTalks1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>