<div class="jumbotron">
  <div class="container">
    <h1>The talk with your supervisor &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <h3>Preparing the discussion</h3>
  <p>
    During this e-Learning Tool we have repeatedly referred  
    to the talk with your supervisor. 
    And in fact, there are many occasions when your supervisor is challenged
    because your own possibilities for reducing stress 
    or developing resources are limited, for example,<br>
    if your work seems to be pointless, 
    the responsibilities are not clarified, 
    you get too much or too less information, 
    your latitude or control options are limited,
    you have little impact on your working hours and breaks,
    you feel burdened by emotional work 
    and if you need better equipment 
    or something is wrong in your work environment,
    then you should seek a dialogue.
    The same applies in the case
    that you have already noticed your body giving overload signals
    and you have to be concerned about your health.
  </p>
  <br>
  <div class="row">
    <div class="col col-75">
      <p>
        <strong>
          Courage-making strategies for talking with the supervisor:
        </strong>
      </p>
      <ul class="triangle">
        <li>Remember your successes!</li>
        <li>Keep in mind that you want to enjoy your retirement!</li>
        <li>Let yourself be encouraged by others
          (they should be as neutral as possible)</li>
        <li>Assume that your supervisor means well for you!</li>
        <li>Tell yourself, “I still need my health.
          And I only have one life.”
        </li>
      </ul>
    </div>
    <div class="col col-25">
      <img class="center-image" src="en/img/legacy/guidance/experiment.jpg" alt="" />
    </div>
  </div>
 
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>