<div class="jumbotron">
  <div class="container">
    <h1>The talk with your supervisor  &ndash; Part 3</h1>
  </div>
</div>
<div class="container">
  <h3>Tips for talking with the supervisor</h3>
  <p>
    What should you keep in mind in a conversation
    which may require courage?  </p>
  <ul class="triangle">
    <li>
      Do not just say “no” or “I must have” &ndash;
      <strong>justify</strong> your desire.
    </li>
    <li>
      Submit alternative or <strong>compromise proposals</strong>
      so that your supervisor can choose from several options.
    </li>
    <li>
     Avoid accusations (for something in the past); 
      rather express <strong>wishes</strong> for the future.
    </li>
    <li>
      Please make sure <strong>not to attack</strong>
      your supervisor <strong>personally</strong>
      (“This is NOT aimed AGAINST YOU; it is IMPORTANT FOR ME”).
    </li>
    <li>
      Assume that <strong>you both</strong> (!) are interested 
      in feeling comfortable at work; 
      in the talk you can express this thought.
    </li>
    <li>
      Avoid whining.
      <strong>Stay objective</strong>,
      even if the theme is close to your heart.
      It may be helpful for you
      to practice this conversation in advance with someone you trust.
    </li>
    <li>
      And now: <strong>Make an appointment!</strong> 
      And say directly, without going into too much detail,
      what  you want to talk about; 
      e.g. : “I would like to tell you,
      how I’m currently feeling about the task XY” 
      or “I would like to talk with you about our break rules;
      I have some suggestions, which you may also find good.”
    </li>
    <li>
      In the first conversation completely <strong>avoid threats</strong>
      such as:
      “otherwise I will go to the works council!”
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks2">
       <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
       <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>