<div class="jumbotron">
  <div class="container">
    <h1>The talk with your supervisor &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    By using these three steps when talking with your supervisor,
    many situations can be dealt with in a manner
    so that they do not feel attacked:

  </p>
  <ol class="triangle">
    <li>
      <strong>Describing the perceived situation:</strong>
      <p>
        I’ve noticed that in the last 3 weeks 
        you have often called me after work.
      </p>
    </li>
    <li>
      <strong>Describing the effect</strong>
      (and possibly bring your own values):
       <p>
       Because of this, I have to think about work 
         and cannot recover in the evening / sleep well. 
         My private life is very important to me;
         I also need it to recover for the next day.
      </p>
    </li>
    <li>
      <strong>Formulating wishes for the future </strong> 
      (and possibly formulate an alternative proposal):
      <p>
        Therefore I ask you, not to call me after 6 p.m.
        If you send me an e-mail,
        it will be the first thing I´ll work on in the morning.
      </p>
    </li>
  </ol>
  
  <p>
    And then you inquire whether your supervisor agrees. 
    You can even include something like
    “It is advantageous for BOTH of us, that I´m well recovered for work.”
  </p>
 
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks1">
       <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
       <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>