<div class="jumbotron">
  <div class="container">
    <h1>If praise is absent…</h1>
  </div>
</div>
<div class="container">
  <p>
    There are supervisors who have difficulties in expressing appreciation.
    Yet you must even learn to cope with them. 
    Your well-being at work should not be too strongly dependent
    on whether you get enough positive feedback from your supervisor. 
    Finally, there are other <strong>sources for appreciation</strong>.
    A good self-esteem, for example,
    as well as kind words from customers or colleagues. 

  </p>
  <ul class="triangle">
    <li><strong>Do not doubt yourself</strong>
      when  praise is absent…</li>
    <li>Their fault &ndash; <strong>your relief</strong>:<br>
    “I’m assuming that I’m doing a really good job,
      otherwise they would have already said something…”</li>
    <li>Arrange <strong>feedback dates</strong> &ndash;
      that speaks in your favor.</li>
    <li>Get your <strong>praise</strong>, 
      e.g. via “And?!” </li>
    <li><strong>Praise your supervisor</strong> &ndash; 
      they need  praise as well.</li>
    <li>Be a <strong>role model</strong> &ndash; praise your colleagues.</li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>