<div class="jumbotron">
  <div class="container">
    <h1>External stressors</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_External_stressors.pdf" target="_blank">Save these action aids as a PDF file.</a>
  </p>
  <p>
  What can you do when you recognize that you are under the strain of stressors from your work environment?
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.externalStressors.solveTraining">Problem-Solving-Training</a></li>
    <li><a ui-sref="app.guidance.externalStressors.selfMotivation1">Tips for self-motivation: Quarterly balance</a></li>
    <li><a ui-sref="app.guidance.externalStressors.accessibilityDelusional">Tips against permanent accessibility</a></li>
    <li><a ui-sref="app.guidance.externalStressors.noPraise">If praise is absent</a></li>
    <li><a ui-sref="app.guidance.externalStressors.solveConflicts1">Conflict resolution tips</a></li>
    <li><a ui-sref="app.guidance.externalStressors.conflictTalks1">Conflict talks</a></li>
    <li><a ui-sref="app.guidance.externalStressors.criticismTalks1">Tips for conflict talks (with your supervisor)</a></li>
  </ul>
  <p>
    And finally, we prepared a 
    <a ui-sref="app.guidance.externalStressors.selfContract">self-contract</a>
    for you.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.start">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      All action aids
    </button>
  </div>
</div>