<div class="jumbotron">
  <div class="container">
    <h1>Tips for self-motivation &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    As you have already learned in the second chapter of this e-learning tool,
    personal <strong>control</strong> is an important resource that is
    not only relevant in the workplace.
    Humans strengthen the feeling of having our lives under control.
  </p>
  
  <p>
    Quite surely you do not only work for the money,
    but also because you have chosen this path.
    Missing a sports class or a date
    to finish a task at work is also a decision.
    Try not to see yourself <strong>as a victim</strong>
    (for example, delete the phrase “I must” from your vocabulary).
    Instead, view your life as a <strong>result of your own decisions</strong>.
    Even if you have the impression 
    that you only react to situations in your life,
    how you really react is up to you.
  </p>
  <p>
    So that you can actively think about your choices in life,
    check the balance every 3 months, i.e. once per quarter:
    <a ui-sref="app.guidance.externalStressors.selfMotivation2"><strong>
    your quarterly balance</strong></a>.
    This will help you to clarify where you currently stand in your life,
    and which living areas require you to make more active decisions.
  </p>  
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>