<div class="jumbotron">
  <div class="container">
    <h1>Tips for self-motivation &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    Search for a quiet place for this 30 minute activity.
    Take a piece of paper and a pen and ask yourself:
  </p>
  
  <ul class="triangle">
    <li>Do I (still/already) live the way I want to live?
      ………………………………………</li>
    <li>Can I imagine living like this until retirement?
      ………………………………………</li>
    <li>What do I want to change (decision!) so that it stays this way / that it will be the way I wish? …………………………</li>
  </ul>

  <p>
    It is helpful for you to consider all four areas of a successful life.
    Dealing with the following model also answers the important question: 

    </p>
  
  <p>
    <strong>Who are you when you are not working?</strong>
      </p>

  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>