<div class="jumbotron">
  <div class="container">
    <h1>Self-contract</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>
      What do you want to implement? 
    </strong>
    <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      What do you hope to gain?
    </strong> 
    <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      What are you doing and until when?
    </strong> 
  <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      How could you deal with obstacles?
    </strong> 
    <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      Who shall support you? 
    </strong> 
    <br>
    <br>
    ………………………………………<br><br>
  </p>  
  <p>
    -------------------------------<br>
  	(date, signature)
  </p>
  <p>
    (<strong>Tip:</strong> If you make your intention public, the implementation will be facilitated!)
  </p>

  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>