<div class="jumbotron">
  <div class="container">
    <h1>Conflict resolution tips &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    As long as there are humans,
    there will also be conflicts. 
    A few can be avoided early by putting yourself in the 
    perspective of others and proactively nourishing
    and taking care of your self-esteem.  
    By doing so, you retain a clear head 
    and are less prone to sickness. 
    Here are a few tips for the remaining situations
    to help you ensure conflicts aren’t left to simmer and become unsolvable. 

  </p>
  <p>
    The most important tip for conflicts in which you are involved:
  </p>
  <ul class="triangle">
    <li>
     <strong>Keep calm</strong>.
      This is only possible with a short retreat 
      (at least mental; or, w.g. by saying something like
      “one moment, I have to think about it”). 
      Breathe deeply for a moment!
    </li>
    <li>
      Additionally, a spatial or temporal distance would be better.
      With <strong>distance</strong>,
      the risk is lower that you can be carried away by emotions.
      One keeps a cool head.
    </li>
    <li>
      <strong>Prepare the discussion about the conflict!</strong>
    </li>
    <li>
     Ask yourself: What are my <strong>needs</strong>,
      which are not being satisfied,
      that cause me to react in an offended or upset manner?
      What would be good for me in this situation?
    </li>
    <li>
      Take the perspective of your counterpart:
      What do they want to achieve (not: why)?
      What are their <strong>needs</strong>?
      How can you satisfy this in another way?<br>
      Even if it is not fun, only through comprehension,
      i.e., taking the perspective of the other party,
      can conflicts be resolved.
      Think of it as an experiment of thought.
    </li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.solveConflicts2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>