<div class="jumbotron">
  <div class="container">
    <h1>Problem-solving training</h1>
  </div>
</div>
<div class="container">
  <p>
    Stressors which can be eliminated
    should actively be addressed, 
    for example, via 
    <a ui-sref="app.guidance.externalStressors.criticismTalks1">
      <strong>talking to the supervisor</strong>
    </a>
    or through conscious problem-solving. 
    Problem solving training originates from so-called
    cognitive behavioral therapy. 
    The aim is to analyze a <strong>problem in several steps</strong>
    and preferably find solutions together with others
    (e.g. with colleagues you trust).
    Take 45 minutes and directly test the first 4 steps
    of the problem-solving training!
  </p>
  
  <h3>1. Problem definition</h3>
  <p>
    What problem do you want to analyze?<br>
    Describe it in concrete terms.<br>
    What do you think and what do you feel when the problem occurs?<br>
    How does your body react?<br>
    How do you react?<br>
    And how do the other people in your environment behave?
  </p>
  
  <h3>2. Problem analysis</h3>
  <p>
    How long has the problem already existed?<br>
    What was the trigger?<br>
    Under which conditions is the problem maintained?<br>
    How does the problem affect your life?<br>
    How have you already tried to resolve the problem?<br>
    When was the problem not as bad? Why?   
  </p>
  
  <h3>3. Formulation of goals</h3>
  <p>
    What changes in regards to the problem do you want to make?<br>
    What outcome do you want in this problem-solving training?<br>
    How will you know  that the problem has been solved?
  </p>  
  
  <h3>4. Solution collection and selection</h3>
  <p>
   What are the ideas for solving the problem?
   Even crazy sounding answers are allowed…<br>
   Which attitudes would be helpful for you (e.g. “I cannot please everybody”).
  </p>
  <p style="padding-left:10px">
    (Brainstorming: 
    as many solutions as possible!
    First of all, this part is not about evaluation, 
    which will take place in step 2.
    It is best to work on this problem-solving training step
    together with others;
    or better still,
    remove yourself from others
    while they come up with ideas that are completely independent from your influence).

  </p>
  <p>  
    Which ideas would you like to test in the real world?<br>
    From which solution do you hope to gain the most? 

  </p>
  
  <h3>5. Problem-solving test in reality</h3>
  <p>
    When do you want to implement the solution in a real situation?
    Do it!
  </p>
  
  <h3>6. Result evaluation</h3>
  <p>
    Which solution has proven itself to be successful?
    With what do you want to continue? What shall be your next step? 
  </p>
  
  <h3>7. Transfer resolution</h3>
  <p>
    To which other situations 
    can the findings from this problem-solving training be transferred?
    What can you (or others) learn from this?
  </p>
  
  <h5 class="footnote">
    d'Zurilla, T. J., &amp; Goldfried,  M. R. (1971). 
    Problem Solving and Behavior Modification. 
    Journal of Abnormal Psychology, 78, 101-126.
  </h5>
  
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>