<div class="jumbotron">
  <div class="container">
    <h1>Conflict resolution tips &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <h3>Checklist “criticize correctly”</h3>
  <ul class="triangle">
    <li>
      Always <strong>address the situation directly</strong>,
      without irony or sarcasm, but show your anger!
    </li>
    <li>
      Do not initially criticize in the presence of third parties,
      but rather <strong>in private</strong>.
    </li>
    <li>
      Be “brave” and deal with thins in a <strong>face-to-face conversation</strong>,
      not via a phone call.
    </li>
    <li>
      Don’t discuss many points of criticism in one conversation,
      but rather discuss a maximum of two <strong>criticisms 
      directly after the event</strong>. 
    </li>
    <li>
      Don’t use words such as “always”/“never” 
      (“You are always so…”), 
      but ratherx specifically state what happened in the <strong>particular
      situation</strong> (“Yesterday, I noticed...”)
     </li>
    <li>
      Never snarl or growl only for the sake of it,
      but rather always with the <strong>constructive aim</strong> 
      of later behavioral change.
    </li>
    <li>
      Avoid accusations, but formulate wishes &ndash;
      accusations always refer to the past
      (you cannot change what has already happened) &ndash; 
      wishes refer to the future. 
    </li>
    <li>
      Don’t <strong>criticize</strong> the person,
      but rather only <strong>their behavior</strong>. 
    </li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.solveConflicts1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>