<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Pauseneinteilung</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Regelmäßige Kurzpausen</strong> zum Verschnaufen, die wir selbst bestimmen können, 
        sind wichtig. Je älter wir werden, umso mehr. 
        Es geht um Mini-Auszeiten, die der Körper zum Erholen braucht und die uns helfen, 
        den gesamten Arbeitstag durchzuhalten, ohne dass sich zu viel Beanspruchung aufstaut.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        <strong>TIPP:</strong> Halten Sie Kurzpausen regelmäßig ein.
        Damit sie effektiv wirken können, sollten diese genommen werden,
        bevor Sie spüren, dass Sie müde sind. 
        Weitere Tipps finden Sie in den Handlungshilfen gegen innere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>