<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Mitgestaltungsmöglichkeiten</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Partizipation</strong> ist eine wichtige Ressource. 
        Ihre Führungskraft sollte Ihnen diese ermöglichen 
        und Sie idealerweise bei der Planung und Organisation Ihrer Arbeit einbeziehen &ndash;
        und Sie sollten dieses Angebot auch annehmen und die <strong>Chance ergreifen</strong>,
        Ihren Arbeitsplatz ein Stück weit selbst zu gestalten.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Im Navigationsmenü finden Sie Handlungshilfen für den Aufbau äußerer Ressourcen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>