<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Zeiteinteilung</h4>
    </div>
    <div class="modal-body">
      <p>
        Eine selbstständige Zeiteinteilung oder <strong>Mitsprache bei Arbeits- oder Dienstzeiten</strong>
        sorgen dafür, dass Arbeitnehmerinnen und
        Arbeitnehmer sorgsam mit ihren eigenen Kräften umgehen können.
        Neben dem Handlungsspielraum trägt auch der Zeitspielraum dazu bei,
        dass man mit der Arbeit zufriedener wird,
        auch weil man spürt, dass man selbst über seine Zeit verfügen kann.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Da viele Aspekte der Arbeitsorganisation nicht in Ihrer Hand liegen,
        sollten Sie auch hierzu das <strong>Gespräch mit Ihrer Führungskraft</strong> suchen.
        Ideen zur Vorbereitung dieses Gesprächs finden Sie in den Handlungshilfen gegen äußere Stressoren.
        Keiner kennt die Arbeitsabläufe Ihrer Tätigkeit so gut wie Sie, daher sollten Sie
        dieses Wissen und die Erfahrungen konstruktiv in das Gespräch mit einbringen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>