body {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  outline-offset: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-font-smoothing: inherit;
  background-image: none;
}
a, button, :focus, a:focus, button:focus, a:active, a:hover {
  outline: 0;
}
/* Ionic-like grid */
.col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-10	{
  width: 10%;
}
.col-20	{
  width: 20%;
}
.col-25	{
  width: 25%;
}
.col-30	{
  width: 30%;
}
.col-33	{
  width: 33.3333%;
}
.col-40	{
  width: 40%;
}
.col-50	{
  width: 50%;
}
.col-60	{
  width: 60%;
}
.col-66	{
  width: 66.6666%;
}
.col-67	{
  width: 66.6666%;
}
.col-70	{
  width: 70%;
}
.col-75	{
  width: 75%;
}
.col-80	{
  width: 80%;
}
.col-90 {
  width: 90%;
}
.col-100 {
  width: 100%;
}
.col-offset-10	{
  margin-left: 10%
}
.col-offset-20	{
  margin-left: 20%
}
.col-offset-25	{
  margin-left: 25%
}
.col-offset-33	{
  margin-left: 33.3333%
}
.col-offset-40	{
  margin-left: 40%
}
.col-offset-50	{
  margin-left: 50%
}
.col-offset-60	{
  margin-left: 60%
}
.col-offset-67	{
  margin-left: 66.6666%
}
.col-offset-75	{
  margin-left: 75%
}
.col-offset-80	{
  margin-left: 80%
}
.col-offset-90	{
  margin-left: 90%
}

/**
 * Progress Bar
 * --------------------------------------------------
 */
.progress {
  height: 24px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
}
.progress-bar {
  line-height: 24px;
  background-color: #a5a5a5;
}
.progress-bar.resources {
  background-color: #3ca046;
}
.progress-bar.stressors {
  background-color: #e7324c;
}

/**
 * Input Range
 * --------------------------------------------------
 */
input[type="range"]::-ms-fill-lower {
  background-color: #d28228;
}
input[type="range"]::-ms-thumb {
  background-color: #d28228;
}

/**
 * Backported from style.css
 * --------------------------------------------------
 */
#introback {
  background-color: #e6e8e8;
  position: absolute;
  text-align: center;
  box-sizing: content-box;
  bottom: 2.5mm;
  top: 2.5mm;
  left: 2.5mm;
  right: 2.5mm;
}
#introback:after {
  content: '';
  display: block;
  position: absolute;
  width: 59.79142mm;
  height: 53.41882mm;
  bottom: -2.5mm;
  left: -2.5mm;
  background: url('../../img/legacy/intro_bottom.png') no-repeat left bottom;
}
.svg #introback:after {
  background: url('../../img/intro_bottom.svg') no-repeat left bottom;
}
.jumbotron {
  position: relative;
  padding: 50px 50px 20px 50px;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left top;
}
.jumbotron:after,
.last-chapter0 .ng-leave .jumbotron:after,
.last-chapter1 .ng-leave .jumbotron:after {
  background-image: url('../../img/legacy/headline_left.png');
}
.chapter2 .jumbotron:after,
.last-chapter2 .ng-leave .jumbotron:after {
  background-image: url('../../img/legacy/headline_left2.png');
}
.chapter3 .jumbotron:after,
.last-chapter3 .ng-leave .jumbotron:after {
  background-image: url('../../img/legacy/headline_left3.png');
}
.chapter4 .jumbotron:after,
.last-chapter4 .ng-leave .jumbotron:after {
  background-image: url('../../img/legacy/headline_left4.png');
}
.svg .jumbotron:after,
.svg .last-chapter0 .ng-leave .jumbotron:after,
.svg .last-chapter1 .ng-leave .jumbotron:after {
  background-image: url('../../img/headline_left.svg');
}
.svg .chapter2 .jumbotron:after,
.svg .last-chapter2 .ng-leave .jumbotron:after {
  background-image: url('../../img/headline_left2.svg');
}
.svg .chapter3 .jumbotron:after,
.svg .last-chapter3 .ng-leave .jumbotron:after {
  background-image: url('../../img/headline_left3.svg');
}
.svg .chapter4 .jumbotron:after,
.svg .last-chapter4 .ng-leave .jumbotron:after {
  background-image: url('../../img/headline_left4.svg');
}
.jumbotron h1 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  color: #6e8296;
}
.container p, .container li {
  font-size: 18px;
  line-height: 24px;
}
.container ul.wide li {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**
 * Ruler
 * --------------------------------------------------
 */
.row.row-ruler {
  border-top: 1px solid #000;
  margin-top: 0.5em;
  margin-left: 0;
  margin-right: 0;
}
.row.row-ruler .col {
  border-right: 1px solid #000;
  height: 1.5em;
  position: relative;
}
.row.row-ruler .col:first-child {
  border-left: 1px solid #000;
}
.row.row-ruler .col.col-ruler:before {
  position: absolute;
  background-color: #fff;
  height: 1.3em;
  width: 10px;
  text-align: center;
  top: 0.35em;
  right: -5px;
}
.row.row-ruler .col.col-ruler.col-ruler-1:before {
  content: '1';
}
.row.row-ruler .col.col-ruler.col-ruler-1:after {
  content: '0';
  position: absolute;
  background-color: #fff;
  height: 1.3em;
  width: 10px;
  text-align: center;
  top: 0.35em;
  left: -5px;
}
.row.row-ruler .col.col-ruler.col-ruler-2:before {
  content: '2';
}
.row.row-ruler .col.col-ruler.col-ruler-3:before {
  content: '3';
}

/**
 * Pause screen
 * --------------------------------------------------
 */
.container p.pause {
  font-size: 10em;
  line-height: 1em;
  text-align: center;
}
.container p.pause,
.last-chapter0 .ng-leave .container p.pause,
.last-chapter1 .ng-leave .container p.pause {
  color: #3ca046;
}
.chapter2 .container p.pause,
.last-chapter2 .ng-leave .container p.pause {
  color: #2382be;
}
.chapter3 .container p.pause,
.last-chapter3 .ng-leave .container p.pause {
  color: #d28228;
}
.chapter4 .container p.pause,
.last-chapter4 .ng-leave .container p.pause {
  color: #6e0a73;
}
.container p.discreet-note {
  color: #666;
}

/**
 * Alert box
 * --------------------------------------------------
 */
.alertbox {
  padding: 10px;      
  padding-left: 20px;
  margin: 5px;
  position: relative;
}
.alertbox .glyphicon {
  font-size: 10em;
  width: 170px;
  padding-left: 10px;
  color: #E7324C;
}
.alertbox p {
  position: absolute;
  top: 3em;
  left: 12em;
}

/**
 * Item Divider
 * --------------------------------------------------
 */
.container .list .item.item-divider {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500;
  color: rgb(110, 130, 150);
  cursor: pointer;
}
.container .list .item.item-divider .glyphicon {
  position: absolute;
  font-size: 24px;
  top: 7px;
  right: 8px;
}

/**
 * Cards
 * --------------------------------------------------
 */
.card {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 2px;
  background-color: #fff;
}

.card {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.card .item {
  border-left: 0;
  border-right: 0;
}
.card .item:first-child {
  border-top: 0;
}
.card .item:last-child {
  border-bottom: 0;
}
.card .item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.card .item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.card .item:last-child {
  margin-bottom: -1px;
}
.card .item {
  margin-right: 0;
  margin-left: 0;
}

.container a,
.last-chapter0 .ng-leave .container a,
.last-chapter1 .ng-leave .container a {
  color: #3ca046;
}
.chapter2 .container a,
.last-chapter2 .ng-leave .container a {
  color: #2382be;
}
.chapter3 .container a,
.last-chapter3 .ng-leave .container a {
  color: #d28228;
}
.chapter4 .container a,
.last-chapter4 .ng-leave .container a {
  color: #6e0a73;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  font-weight: bold;
  color: #6e8296;
}
.container h3 {
  font-size: 24px;
  line-height: 40px;
}
.container li p.indented {
  padding-left: 50px;
}
.conclusion {
  background-color: #e6e8e8;
  color: #6e8296;
  position: relative;
  padding: 60px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.conclusion:after {
  content: '';
  display: block;
  position: absolute;
  width: 76px;
  height: 105px;
  top: -53px;
  right: 0;
  background-repeat: no-repeat;
  background-position: left top;
}
.conclusion:after,
.last-chapter0 .ng-leave .conclusion:after,
.last-chapter1 .ng-leave .conclusion:after {
  background-image: url('../../img/legacy/triangle-conclusion.png');
}
.chapter2 .conclusion:after,
.last-chapter2 .ng-leave .conclusion:after {
  background-image: url('../../img/legacy/triangle-conclusion2.png');
}
.chapter3 .conclusion:after,
.last-chapter3 .ng-leave .conclusion:after {
  background-image: url('../../img/legacy/triangle-conclusion3.png');
}
.chapter4 .conclusion:after,
.last-chapter4 .ng-leave .conclusion:after {
  background-image: url('../../img/legacy/triangle-conclusion4.png');
}
.svg .conclusion:after,
.svg .last-chapter0 .ng-leave .conclusion:after,
.svg .last-chapter1 .ng-leave .conclusion:after {
  background-image: url('../../img/triangle-conclusion.svg');
}
.svg .chapter2 .conclusion:after,
.svg .last-chapter2 .ng-leave .conclusion:after {
  background-image: url('../../img/triangle-conclusion2.svg');
}
.svg .chapter3 .conclusion:after,
.svg .last-chapter3 .ng-leave .conclusion:after {
  background-image: url('../../img/triangle-conclusion3.svg');
}
.svg .chapter4 .conclusion:after,
.svg .last-chapter4 .ng-leave .conclusion:after {
  background-image: url('../../img/triangle-conclusion4.svg');
}
.container .conclusion p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: -1px;
  color: inherit;
}
.conclusion li {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: -1px;
  color: inherit;
}
.bg-dummy {
  color: #fff;
  font-weight: bold;
  background-color: #3ca046;
  padding: 15px;
}
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.container ol {
  list-style-type: decimal;
}
ul.triangle li {
  padding-bottom: 5px;
}
ul.triangle,
.last-chapter0 .ng-leave ul.triangle,
.last-chapter1 .ng-leave ul.triangle {
  list-style-image: url('../../img/legacy/triangle-list.png');
}
.chapter2 ul.triangle,
.last-chapter2 .ng-leave ul.triangle {
  list-style-image: url('../../img/legacy/triangle-list2.png');
}
.chapter3 ul.triangle,
.last-chapter3 .ng-leave ul.triangle {
  list-style-image: url('../../img/legacy/triangle-list3.png');
}
.chapter4 ul.triangle,
.last-chapter4 .ng-leave ul.triangle {
  list-style-image: url('../../img/legacy/triangle-list4.png');
}
.svg ul.triangle,
.svg .last-chapter0 .ng-leave ul.triangle,
.svg .last-chapter1 .ng-leave ul.triangle {
  list-style-image: url('../../img/triangle-list.svg');
}
.svg .chapter2 ul.triangle,
.svg .last-chapter2 .ng-leave ul.triangle {
  list-style-image: url('../../img/triangle-list2.svg');
}
.svg .chapter3 ul.triangle,
.svg .last-chapter3 .ng-leave ul.triangle {
  list-style-image: url('../../img/triangle-list3.svg');
}
.svg .chapter4 ul.triangle,
.svg .last-chapter4 .ng-leave ul.triangle {
  list-style-image: url('../../img/triangle-list4.svg');
}
.guidance-buttons {
  position: relative;
  margin-top: 20px;
}
.guidance-buttons .button.pull-right {
  position: absolute;
  top: 0;
  right: 0;
}
.label {
  color: #FFFFFF;
  font-weight: bold;
  padding: 1px 4px 2px;
  vertical-align: baseline;
  white-space: nowrap;
  /* Overwrite Bootstrap (TODO better solution) */
  font-size: 100%;
  border-radius: 0;
}
.label,
.last-chapter0 .ng-leave .label,
.last-chapter1 .ng-leave .label {
  background-color: #3ca046;
}
.chapter2 .label,
.last-chapter2 .ng-leave .label {
  background-color: #2382be;
}
.chapter3 .label,
.last-chapter3 .ng-leave .label {
  background-color: #d28228;
}
.chapter4 .label,
.last-chapter4 .ng-leave .label {
  background-color: #6e0a73;
}

#introback h1 {
  margin-top: 35mm;
  color: #6e8296;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
#introback h2 {
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #646464;
  font-weight: normal;
  line-height: 1.5em;
}
#logo-rwth {
  position: absolute;
  left: 0;
  top: 0;
}
#logo-psyga {
  position: absolute;
  right: 0;
  top: 0;
}
#logo-bkk {
  position: absolute;
  text-align: left;
  color: #646464;
  right: 7.5mm;
  bottom: 7.5mm;
}
#logo-bkk > span {
  display: block;
  font-size: 11px;
  padding: 0 0 20px;
}
.button.button-psyga {
  border-color: #fff;
  background-color: #6E8296;
  border: 1.2mm solid #fff;
  font-size: 24px;
  color: #fff;
  min-width: 224px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.button.button-psyga:hover, .button.button-psyga:active {
  background-color: #8aa3bd;
  text-decoration: none;
}
.button.button-psyga.button-icon {
  border-color: transparent;
  background: none;
}
.button.button-action {
  border: 0;
  background-color: #3ca046;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 12px;
  line-height: 40px;
  min-height: 43px;
  font-weight: bold;
}
.button.button-action-light {
  border: 0;
  background-color: #fff;
  color: #3ca046;
  text-decoration: underline;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 12px;
  line-height: 40px;
  min-height: 43px;
  font-weight: bold;
}
.button.button-action:hover, .button.button-action:active {
  background-color: #54bf5f;
  text-decoration: none;
}
.button.button-action.icon-left:before {
  padding-right: 0.4em;
}
.button.button-action-light.icon-left:before {
  padding-right: 0.4em;
}
#footercontainer {
  position: absolute;
  left: 50%;
  bottom: 2em;
}
#footerlogos {
  position: relative;
  left: -50%;
  background-color: #fff;
  padding: 5mm;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Table badge */
.table td .badge {
  font-size: 3em;
  line-height: 1.3em;
  border-radius: 0;
  padding: 1px 9px 2px;
  color: #fff;
}

.badge.bagde-chapter1 {
  background-color: #3ca046;
}
.badge.bagde-chapter2 {
  background-color: #2382be;
}
.badge.bagde-chapter3 {
  background-color: #d28228;
}
.badge.bagde-chapter4 {
  background-color: #6e0a73;
}

/* Table well */
.table-well {
  min-height: 20px;
  margin-bottom: 0;
  padding: 9px 14px;
  color: #6e8296;
  background-color: #e6e8e8;
}

/* Column badge */
.row .col .badge {
  font-size: 42px;
  line-height: 55px;
  border-radius: 0;
  padding: 1px 9px 2px;
  color: #fff;
  margin-top: 4px;
}

/* Well */
.well {
  min-height: 20px;
  margin-bottom: 0;
  padding: 9px 14px;
  color: #6e8296;
  background-color: #e6e8e8;
}

.row-overview .col {
  padding-bottom: 10px;
}

.row-overview .col-10 {
  text-align: center;
}

.row-overview .well {
  height: 66px;
}

.fade-box {
  position: relative;
}

.fade-box img{
  opacity: 1;
  cursor: pointer;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.fade-box img.ng-hide {
  opacity: 0;
}

.fade-box img.ng-hide-add, .fade-box img.ng-hide-remove {
  -webkit-transition: 0.3s linear opacity;
  transition: 0.3s linear opacity;
}

.row .col > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radar-chart {
  position: relative;
  width: 175px;
  height: 175px;
}
.radar-chart .quadrant-1-lower,
.radar-chart .quadrant-1-upper,
.radar-chart .quadrant-2-lower,
.radar-chart .quadrant-2-upper,
.radar-chart .quadrant-3-lower,
.radar-chart .quadrant-3-upper,
.radar-chart .quadrant-4-lower,
.radar-chart .quadrant-4-upper {
  position: absolute;
  width: 87px;
  height: 87px;
  background-image: url('../../img/legacy/chapter1/radar-chart.png');
}
.radar-chart .quadrant-1-lower,
.radar-chart .quadrant-1-upper {
  top: 0;
  right: 0;
}
.radar-chart .quadrant-1-upper {
  background-position: -87px 0;
}
.quadrant-1-lower-active-1 .radar-chart .quadrant-1-lower {
  background-position: 0 -87px;
}
.quadrant-1-upper-active-1 .radar-chart .quadrant-1-upper {
  background-position: -87px -87px;
}
.quadrant-1-lower-active-2 .radar-chart .quadrant-1-lower {
  background-position: 0 -174px;
}
.quadrant-1-upper-active-2 .radar-chart .quadrant-1-upper {
  background-position: -87px -174px;
}
.quadrant-1-lower-active-3 .radar-chart .quadrant-1-lower {
  background-position: 0 -261px;
}
.quadrant-1-upper-active-3 .radar-chart .quadrant-1-upper {
  background-position: -87px -261px;
}
.radar-chart .quadrant-2-lower,
.radar-chart .quadrant-2-upper {
  top: 0;
  left: 0;
}
.radar-chart .quadrant-2-lower {
  background-position: -174px 0;
}
.radar-chart .quadrant-2-upper {
  background-position: -261px 0;
}
.quadrant-2-lower-active-1 .radar-chart .quadrant-2-lower {
  background-position: -174px -87px;
}
.quadrant-2-upper-active-1 .radar-chart .quadrant-2-upper {
  background-position: -261px -87px;
}
.quadrant-2-lower-active-2 .radar-chart .quadrant-2-lower {
  background-position: -174px -174px;
}
.quadrant-2-upper-active-2 .radar-chart .quadrant-2-upper {
  background-position: -261px -174px;
}
.quadrant-2-lower-active-3 .radar-chart .quadrant-2-lower {
  background-position: -174px -261px;
}
.quadrant-2-upper-active-3 .radar-chart .quadrant-2-upper {
  background-position: -261px -261px;
}
.radar-chart .quadrant-3-lower,
.radar-chart .quadrant-3-upper {
  bottom: 0;
  left: 0;
}
.radar-chart .quadrant-3-lower {
  background-position: -348px 0;
}
.radar-chart .quadrant-3-upper {
  background-position: -435px 0;
}
.quadrant-3-lower-active-1 .radar-chart .quadrant-3-lower {
  background-position: -348px -87px;
}
.quadrant-3-upper-active-1 .radar-chart .quadrant-3-upper {
  background-position: -435px -87px;
}
.quadrant-3-lower-active-2 .radar-chart .quadrant-3-lower {
  background-position: -348px -174px;
}
.quadrant-3-upper-active-2 .radar-chart .quadrant-3-upper {
  background-position: -435px -174px;
}
.quadrant-3-lower-active-3 .radar-chart .quadrant-3-lower {
  background-position: -348px -261px;
}
.quadrant-3-upper-active-3 .radar-chart .quadrant-3-upper {
  background-position: -435px -261px;
}
.radar-chart .quadrant-4-lower,
.radar-chart .quadrant-4-upper {
  bottom: 0;
  right: 0;
}
.radar-chart .quadrant-4-lower {
  background-position: -522px 0;
}
.radar-chart .quadrant-4-upper {
  background-position: -609px 0;
}
.quadrant-4-lower-active-1 .radar-chart .quadrant-4-lower {
  background-position: -522px -87px;
}
.quadrant-4-upper-active-1 .radar-chart .quadrant-4-upper {
  background-position: -609px -87px;
}
.quadrant-4-lower-active-2 .radar-chart .quadrant-4-lower {
  background-position: -522px -174px;
}
.quadrant-4-upper-active-2 .radar-chart .quadrant-4-upper {
  background-position: -609px -174px;
}
.quadrant-4-lower-active-3 .radar-chart .quadrant-4-lower {
  background-position: -522px -261px;
}
.quadrant-4-upper-active-3 .radar-chart .quadrant-4-upper {
  background-position: -609px -261px;
}

.radar-chart-row {
  width: 685px;
}

.radar-chart-row .col-left {
  float: left;
  width: 237px;
  padding: 0 15px;
}
.radar-chart-row .col-middle {
  float: left;
  width: 185px;
}
.radar-chart-row .col-right {
  float: left;
  width: 263px;
  padding: 0 15px;
}

.clickable {
  color: #6e8296;
  cursor: pointer;
}

.p-skill {
  float: right;
  margin-right: 25px;
}
.p-proud {
  margin-top: 0.5em;
  margin-left: 25px;
}
.p-happy {
  float: right;
  width: 185px;
  margin-right: 22px;
  margin-top: 10px;
}
.p-vim {
  float: right;
  width: 185px;
  margin-right: 22px;
  margin-top: 1em;
}
.p-spirit {
  margin-left: 25px;
}
.p-society {
  margin-left: 25px;
}
.p-financially-secured {
  float: right;
  margin-right: 25px;
}
.p-plunge {
  margin-left: 25px;
}

.radar-chart-col {
  width: 185px;
  height: 185px;
  padding: 0;
}

#radarInfo.ng-hide {
  opacity: 0;
}

#radarInfo.img.ng-hide-add, #radarInfo.ng-hide-remove {
  -webkit-transition: 0.3s linear opacity;
  transition: 0.3s linear opacity;
}

.list.list-striped > div {
  border: 0;
}
.list.list-striped > div:nth-of-type(odd) {
    background-color: #e6e8e8;
}
.list.list-striped > div:nth-of-type(odd) > select {
    background-color: #e6e8e8;
}

.container h5.footnote {
  text-align: right;
  color: #333333;
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

/* Hero unit */
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
}

.hero-unit h2 {
  margin: 0;
  padding-bottom: 35px;
  padding-top: 35px;
  font-size: 34px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: -1px;
  color: #ffffff;
}

[class^="static-"] {
  position: absolute;
}
.static-chapter1,
.hero-unit,
.last-chapter0 .ng-leave .hero-unit,
.last-chapter1 .ng-leave .hero-unit {
  background-color: #3ca046;
  /* 03_GESUNDHEIT_GREEN */
}
.static-chapter2,
.chapter2 .hero-unit,
.last-chapter2 .ng-leave .hero-unit {
  background-color: #2382be;
  /* 05_PERSONALFÜHRUNG_BLUE */
}
.static-chapter3,
.chapter3 .hero-unit,
.last-chapter3 .ng-leave .hero-unit {
  background-color: #d28228;
  /* 03_03_GESUNDHEIT_ORANGE */
}
.static-chapter4,
.chapter4 .hero-unit,
.last-chapter4 .ng-leave .hero-unit {
  background-color: #6e0a73;
  /* 04_WISSEN_VIOLETT */
}

/**
 * Overwrite Bootstrap popover-title
 * --------------------------------------------------
 */
h3.popover-title {
  color: #6e8296;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

/**
 * Custom Button Bar
 * --------------------------------------------------
 */
.button-bar2 {
  position: absolute;
  top: 8px;
  right: 16px;
  height: 30px;
  width: 300px;
}
.button-bar2:before,
.button-bar2:after {
  content: " ";
  display: table;
}
.item-input:after {
  clear: both;
}
.button2 {
  margin: 0;
  padding: 0 12px;
  border-width: 1px;
  border-style: solid;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: 0;
}
.button-bar2 > .button2 {
  position: relative;
  height: 30px;
  width: 42px;
  float: left;
  overflow: hidden;
  padding: 0 12px;
  border-width: 0 0 0 1px;
  border-radius: 0;
  line-height: normal;
  font-weight: bold;
  border-color: #fff;
  color: #fff;
  border-radius: 0;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-bar2 > .button2,
.last-chapter0 .ng-leave .button-bar2 > .button2,
.last-chapter1 .ng-leave .button-bar2 > .button2 {
  background-color: #3ca046;
}
.chapter2 .button-bar2 > .button2,
.last-chapter2 .ng-leave .button-bar2 > .button2 {
  background-color: #2382be;
}
.chapter3 .button-bar2 > .button2,
.last-chapter3 .ng-leave .button-bar2 > .button2 {
  background-color: #d28228;
}
.chapter4 .button-bar2 > .button2,
.last-chapter4 .ng-leave .button-bar2 > .button2 {
  background-color: #6e0a73;
}

.button-bar2 > .button2:hover,
.last-chapter0 .ng-leave .button-bar2 > .button2:hover,
.last-chapter1 .ng-leave .button-bar2 > .button2:hover {
  background-color: #54bf5f;
}
.chapter2 .button-bar2 > .button2:hover,
.last-chapter2 .ng-leave .button-bar2 > .button2:hover {
  background-color: #3d9edb;
}
.chapter3 .button-bar2 > .button2:hover,
.last-chapter3 .ng-leave .button-bar2 > .button2:hover {
  background-color: #de9d54;
}
.chapter4 .button-bar2 > .button2:hover,
.last-chapter4 .ng-leave .button-bar2 > .button2:hover {
  background-color: #9d0ea4;
}

.button-bar2 > .button2.selected,
.last-chapter0 .ng-leave .button-bar2 > .button2.selected,
.last-chapter1 .ng-leave .button-bar2 > .button2.selected {
  background-color: #fff;
  color: #3ca046;
}
.chapter2 .button-bar2 > .button2.selected,
.last-chapter2 .ng-leave .button-bar2 > .button2.selected {
  background-color: #fff;
  color: #2382be;
}
.chapter3 .button-bar2 > .button2.selected,
.last-chapter3 .ng-leave .button-bar2 > .button2.selected {
  background-color: #fff;
  color: #d28228;
}
.chapter4 .button-bar2 > .button2.selected,
.last-chapter4 .ng-leave .button-bar2 > .button2.selected {
  background-color: #fff;
  color: #6e0a73;
}

.list.list-striped > div:nth-of-type(odd) .button-bar2 > .button2 {
  border-color: #e6e8e8;
}
.button-bar2 > .button2:first-child {
  border-width: 0;
}

/**
 * Ionic-like Lists
 * --------------------------------------------------
 */
.list {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px;
}
.list:last-child {
  margin-bottom: 0px;
}
.item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}
.item-input:before,
.item-input:after {
  content: " ";
  display: table;
}
.item-input:after {
  clear: both;
}
.item-input {
  padding: 6px 0 5px 16px;
}
.input-label {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 7px 10px 7px 0px;
  padding-right: 316px;
  color: #444;
  font-size: 16px;
}

/* psyGA balance */
.psyga-balance {
  position: relative;
  width: 500px;
  height: 240px;
  -webkit-transform-style: preserve-3d; /* TEST */
}

.psyga-balance img {
  -webkit-transition: 2s ease-out all;
  transition: 2s ease-out all;
}

.psyga-balance img.mm-bar {
  position: absolute;
  top: 45px;
  left: 160px;
}
.psyga-balance.flip-left img.mm-bar {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.psyga-balance.flip-right img.mm-bar {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.psyga-balance img.mm-stressors {
  position: absolute;
  left: 205px;
  top: 42px;
  -webkit-transform: translate(-89px, 0);
  -ms-transform: translate(-89px, 0);
  transform: translate(-89px, 0);
}
.psyga-balance.flip-left img.mm-stressors {
  -webkit-transform: rotate(-20deg) translate(-89px, 0) rotate(20deg);
  -ms-transform: rotate(-20deg) translate(-89px, 0) rotate(20deg);
  transform: rotate(-20deg) translate(-89px, 0) rotate(20deg);
}
.psyga-balance.flip-right img.mm-stressors {
  -webkit-transform: rotate(20deg) translate(-89px, 0) rotate(-20deg);
  -ms-transform: rotate(20deg) translate(-89px, 0) rotate(-20deg);
  transform: rotate(20deg) translate(-89px, 0) rotate(-20deg);
}

.psyga-balance img.mm-resources {
  position: absolute;
  left: 205px;
  top: 42px;
  -webkit-transform: translate(89px, 0);
  -ms-transform: translate(89px, 0);
  transform: translate(89px, 0);
}
.psyga-balance.flip-left img.mm-resources {
  -webkit-transform: rotate(-20deg) translate(89px, 0) rotate(20deg);
  -ms-transform: rotate(-20deg) translate(89px, 0) rotate(20deg);
  transform: rotate(-20deg) translate(89px, 0) rotate(20deg);
}
.psyga-balance.flip-right img.mm-resources {
  -webkit-transform: rotate(20deg) translate(89px, 0) rotate(-20deg);
  -ms-transform: rotate(20deg) translate(89px, 0) rotate(-20deg);
  transform: rotate(20deg) translate(89px, 0) rotate(-20deg);
}

.psyga-balance img.mm-mounting {
  position: absolute;
  left: 220px;
  top: 30px;
}

.balance-list {
  width: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.balance-list .balance-item {
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 12px;
  padding-left: 54px;
  color: #6e8296;
}
.balance-list .balance-item.checked {
  color: #666;
}
.balance-list .balance-item span,
.balance-dragging {
  cursor: default;
}
.balance-list .balance-item .glyphicon,
.balance-dragging .glyphicon {
  position: absolute;
  top: 10px;
  height: 32px;
  font-size: 32px;
  left: 11px;
}

.button-small {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  padding: 2px 4px 1px;
  min-width: 28px;
  min-height: 24px;
  font-size: 14px;
  line-height: 21px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
}

.button.button-positive.button-outline {
  border-color: #3ca046;
  background: transparent;
  color: #3ca046;
}
.button.button-positive.button-outline:active {
  background-color: #3ca046;;
  box-shadow: none;
  color: #fff;
}
.chapter2 .button.button-positive.button-outline {
  border-color: #2382be;
  color: #2382be
}
.chapter2 .button.button-positive.button-outline:active {
  background-color: #2382be;
  color: #fff;
}
.chapter3 .button.button-positive.button-outline {
  border-color: #d28228;
  color: #d28228
}
.chapter3 .button.button-positive.button-outline:active {
  background-color: #d28228;
  color: #fff;
}
.chapter4 .button.button-positive.button-outline {
  border-color: #6e0a73;
  color: #6e0a73
}
.chapter4 .button.button-positive.button-outline:active {
  background-color: #6e0a73;
  color: #fff;
}

div[mm-balance],
mm-balance {
  position: relative;
}
.balance-dragging {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
  display: block;
  padding: 12px;
  padding-left: 54px;
  color: #6e8296;
  border: 1px solid #dddddd;
}

/**
 * Dedicated web styles
 * --------------------------------------------------
 */
.content {
  position: absolute;
  width: 100%;
}
.content > .content-view {
  padding-bottom: 85px;
}
.content > .slides {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 79px;
}
.content.ng-enter,
.content > .slides.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out 0.15s;
  transition: opacity 0.15s ease-out 0.15s;
}
.content.ng-leave,
.content > .slides.ng-leave {
  opacity: 1;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.content.ng-enter.ng-enter-active,
.content > .slides.ng-enter.ng-enter-active {
  opacity: 1;
}
.content.ng-leave.ng-leave-active,
.content > .slides.ng-leave.ng-leave-active {
  opacity: 0;
}
@media (max-width: 1269px) {
  .container {
    width: auto;
  }
}
.nav-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #eee;
  z-index: 100;
}
.nav-wrapper .pager {
  margin: 23px 0;
}
.nav-wrapper .page-indicator {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 6px;
  right: 12px;
}
.nav-wrapper .btn-group {
  position: absolute;
  top: 22px;
  left: 20px;
}
.nav-wrapper .btn-psyga {
  width: 180px;
  font-weight: bold;
}
.nav-wrapper .button-chapter-view {
  margin: 23px 0;
  height: 32px;
  text-align: center;
}
.nav-wrapper .button-chapter-view button {
  color: #337ab7;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.nav-wrapper .button-chapter-view button:hover,
.nav-wrapper .button-chapter-view button:focus {
  background-color: #eee;
}

.btn-psyga {
  border-radius: 0;
  color: #fff;
  background-color: #4c7189;
}
.btn-psyga:hover,
.btn-psyga:focus,
.btn-psyga.focus,
.btn-psyga:active,
.btn-psyga.active,
.open > .dropdown-toggle.btn-psyga {
  color: #fff;
  background-color: #5e8ba8;
  -webkit-transition: background-color 0.1s linear;
     -moz-transition: background-color 0.1s linear;
       -o-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}
.btn-psyga:active,
.btn-psyga.active,
.open > .dropdown-toggle.btn-psyga {
  background-image: none;
}
.nav-wrapper .dropdown-menu {
  width: 180px;
  border-width: 2px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.nav-wrapper .dropdown-menu > li > a:hover,
.nav-wrapper .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #5e8ba8;
}
.nav-wrapper .dropdown-menu > .active > a,
.nav-wrapper .dropdown-menu > .active > a:hover,
.nav-wrapper .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #5e8ba8;
}

.btn.btn-action {
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  border: 0;
}
.btn.btn-action .glyphicon {
  padding-right: 5px;
}
.btn.btn-action,
.last-chapter0 .ng-leave .btn.btn-action,
.last-chapter1 .ng-leave .btn.btn-action {
  background-color: #3ca046;
}
.btn.btn-action:hover,
.last-chapter0 .ng-leave .btn.btn-action:hover,
.last-chapter1 .ng-leave .btn.btn-action:hover {
  color: #fff;
  background-color: #54bf5f;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.btn.btn-action:focus,
.last-chapter0 .ng-leave .btn.btn-action:focus,
.last-chapter1 .ng-leave .btn.btn-action:focus {
  outline: 5px auto #3ca046;
}
.btn.btn-action:focus:hover,
.last-chapter0 .ng-leave .btn.btn-action:focus:hover,
.last-chapter1 .ng-leave .btn.btn-action:focus:hover {
  outline: 5px auto #54bf5f;
}
.chapter2 .btn.btn-action,
.last-chapter2 .ng-leave .btn.btn-action {
  background-color: #2382be;
}
.chapter2 .btn.btn-action:hover,
.last-chapter2 .ng-leave .btn.btn-action:hover {
  color: #fff;
  background-color: #3d9edb;
}
.chapter2 .btn.btn-action:focus,
.last-chapter2 .ng-leave .btn.btn-action:focus {
  outline: 5px auto #2382be;
}
.chapter2 .btn.btn-action:focus:hover,
.last-chapter2 .ng-leave .btn.btn-action:focus:hover {
  outline: 5px auto #3d9edb;
}
.chapter3 .btn.btn-action,
.last-chapter3 .ng-leave .btn.btn-action {
  background-color: #d28228;
}
.chapter3 .btn.btn-action:hover,
.last-chapter3 .ng-leave .btn.btn-action:hover {
  color: #fff;
  background-color: #de9d54;
}
.chapter3 .btn.btn-action:focus,
.last-chapter3 .ng-leave .btn.btn-action:focus {
  outline: 5px auto #d28228;
}
.chapter3 .btn.btn-action:focus:hover,
.last-chapter3 .ng-leave .btn.btn-action:focus:hover {
  outline: 5px auto #de9d54;
}
.chapter4 .btn.btn-action,
.last-chapter4 .ng-leave .btn.btn-action {
  background-color: #6e0a73;
}
.chapter4 .btn.btn-action:hover,
.last-chapter4 .ng-leave .btn.btn-action:hover {
  color: #fff;
  background-color: #9d0ea4;
}
.chapter4 .btn.btn-action:focus,
.last-chapter4 .ng-leave .btn.btn-action:focus {
  outline: 5px auto #6e0a73;
}
.chapter4 .btn.btn-action:focus:hover,
.last-chapter4 .ng-leave .btn.btn-action:focus:hover {
  outline: 5px auto #9d0ea4;
}

.popover {
  max-width: 320px;
}