<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Insulting thoughts</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>It takes your momentum</strong>, if you have a head full of negative, destructive thoughts 
        and remember, for example, only past failures in stress situations. 
        From there it’s not far to the thought “This will go wrong again” &ndash; you will
        promptly be cramped and certainly make mistakes. Instead of focusing on the actual work,
        we focus attention on our own negative thoughts and worries.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
      In the main menu you will find action aids on how to mentally manage this internal stressor.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>