<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Hastiness</h4>
    </div>
    <div class="modal-body">
      <p>
        This <strong>“Be quick!”</strong> booster 
        often dates back to childhood. It makes us uneasy and <strong>restless</strong>. 
        Often only a stronger self-esteem leads to a more relaxed attitude towards life 
        (“If I’m late, that’s no drama”). 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for reducing your internal stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>