<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">No plan</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Checking off</strong> can provide a feeling of success. 
        Aimless or unstructured work, chisels the feeling of <strong>satisfaction</strong> away from 
        oneself when the job is done. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for reducing your internal stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>