<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Perfectionism</h4>
    </div>
    <div class="modal-body">
      <p>
        Always wanting to do everything perfectly is not healthy and irrational. 
        It leads to excessive expenditure, which is <strong>disproportionate to the result</strong> and always
        carries a <strong>risk of failure</strong>. 
        And the necessary feeling of satisfaction does not occur. 
        Who is perfect?
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the main menu you will find action aids on how to mentally manage this 
        internal stressor.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>