<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Rumination</h4>
    </div>
    <div class="modal-body">
      <p>
        You have learned in this tool that after the working day (our recovery time) we need to
        <strong>recharge our batteries</strong> again. 
        The rest will suffer if you cannot <strong>switch off from work</strong>
        and the thoughts keep circling around work. 
        Our thoughts are so strong that we can simply do it with our imagination, 
        physically trigger the same reaction in us as if the stressor would be just ahead of us.
        How can we thereby recover?
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the main menu you will find action aids against internal stressors 
        on how to handle your thoughts and put an end
        to the rumination.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>