<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Not being brave enough to say no</h4>
    </div>
    <div class="modal-body">
      <p>
        If overload is threatening, you should talk to the manager. 
        Many workers don’t have the courage to say it. 
        We want to make it right for everyone,
        to <strong>be popular everywhere</strong>, and often this causes a
        stress-spiral with tunnel vision that leaves nothing more to discover outside 
        of the path. We often worry about failure, and have <strong>fear of personal rejection</strong>. 
        Instead of rationally analyzing the situation and recognizing the lack of resources
        for this additional task, we ignore our own gut feeling so as not to displease a
        manager or colleagues, or disappoint them or get into an external conflict. 
        Rather we bear up the inner conflict and stress. You probably know it: One can never
        please everyone.
        Nevertheless, we always put ourselves under pressure with this desire.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        In the main menu you will find action aids for reducing your internal stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>