body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
}
body, input#knob {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
a {
  color: #5E8BA8;
}
a:hover {
  color: #4c7189;
}
#webview {
  width: 1024px;
  height: 768px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  left: -1px;
  top: -1px;
  box-shadow: 0 0 10px #BCBCBC;
  border: #999 1px solid;
}
#footnav {
  position: absolute;
  z-index: 20;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #eee;
}
#footnav .btn-group {
  margin: 25px 0;
}
#footnav .pager {
  margin: 25px 0;
}
#footnav .dropdown-menu {
  border-width: 2px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
#footnav .dropdown-menu li > a:hover,
#footnav .dropdown-menu li > a:focus,
#footnav .dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #5E8BA8;
  background-image: none;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#footnav .dropdown-menu .active > a,
#footnav .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #5E8BA8;
  background-image: none;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#knob-wrap {
  bottom: 5px;
  position: absolute;
  right: 8px;
}

#content p, #content li {
  font-size: 1.3em;
  line-height: 1.3em;
}
#content ul.big-list li {
  line-height: 1.8em;
}
#content ul.medium-list li {
  line-height: 1.6em;
}
p {
  margin: 0 0 9px;
}

.triangle {
  list-style-image: url("../img/triangle-red.png");
}
.triangle1 {
  list-style-image: url("../img/triangle-chapter1.png");
}
.triangle2 {
  list-style-image: url("../img/triangle-chapter2.png");
}
.triangle3 {
  list-style-image: url("../img/triangle-chapter3.png");
}
.triangle4 {
  list-style-image: url("../img/triangle-chapter4.png");
}
.hero-unit {
  color: rgb(110, 130, 150);
  background-color: rgb(230, 232, 232);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.fazit {
  background-color: rgb(230, 232, 232);
  color: rgb(110, 130, 150);
  position: relative;
  padding: 60px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.fazit:after {
  content: '';
  display: block;
  position: absolute;
  width: 76px;
  height: 105px;
  top: -53px;
  right: 0;
  background: url(../img/triangle-fazit1.png) no-repeat left top;
}
.fazit h1 {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit
}
.hero-unit h2 {
  margin: 0;
  padding-bottom: 35px;
  padding-top: 35px;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: -1px;
  color: #ffffff;
}
.footnote {
  text-align: right;
  color: #333333;
  font-size: 12px;
  line-height: 18px;
}

[class^="static-"] {
  position: absolute;
}
/* DEBUG START */
.table tr td {
  vertical-align: middle;
}
.table td .badge {
  font-size: 3em;
  line-height: 1.3em;
  border-radius: 0;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: rgba(0, 0, 0, 0.04);
}
/* DEBUG END */
.static-chapter1, .color-chapter1 {
  /*background-color: rgb(0, 168, 81);*/
  background-color: rgb(60, 160, 70);
  color: #ffffff;
}
.static-chapter2, .color-chapter2 {
  /*background-color: rgb(0, 137, 192);*/
  background-color: rgb(35, 130, 190);
  color: #ffffff;
}
.static-chapter3, .color-chapter3 {
  /*background-color: rgb(245, 123, 34);*/
  background-color: rgb(210, 130, 40);
  color: #ffffff;
}
.static-chapter4, .color-chapter4 {
  /*background-color: rgb(114, 26, 117);*/
  background-color: rgb(110, 10, 115);
  color: #ffffff;
}
#checkback {
  background-image: url(../img/check_back.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/* Component containers
----------------------------------*/
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget-content { background: #E6E8E8; color: #6E8296; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #6E8296; background: #6E8296; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: #5E8BA8; font-weight: bold; color: #ffffff; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ffffff; background: #5E8BA8; font-weight: bold; color: #eb8f00; }

.clickline {
  border: 1px solid red;
	background-image: -moz-linear-gradient(left , rgb(239,61,88) 0%, rgb(219,212,81) 50%, rgb(60,160,70) 100%);
	width: 100%;
	height: 20px;
}

/* QUIZ --Start-- */
.popover {
  width: auto;
  visibility: hidden;
}
.fade.in {
  visibility: visible;
}
.popover.top {
  margin-top: -10px;
}
.popover-title2 {
  padding: 8px 14px;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.quiz-block {
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  border: 2px solid #000;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 3px;
  cursor: pointer;
}
  
.quiz-block-disabled {
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  border: 2px solid #999999;
  color: #999999;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 3px;
}

.quiz-ok {
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  visibility: hidden;
}

.quiz-ok img {
  margin-bottom: 4px;
}
.whitetext {
  color: #fff;
}

.solution-block span, .quiz-block span, .quiz-block-disabled span {
  font-weight: bold;
}

.keys p {
  margin: 0 0 4px;
}

.keys button {
  width: 32px;
}

.pulse {
  animation: pulse 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -moz-animation: pulse 0.6s;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation: pulse 0.6s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -o-animation: pulse 0.6s;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {background: #D5E7EF;}
  100% {background: #F5F5F5;}
}

@-moz-keyframes pulse {
  0% {background: #D5E7EF;}
  100% {background: #F5F5F5;}
}

@-webkit-keyframes pulse {
  0% {background: #D5E7EF;}
  100% {background: #F5F5F5;}
}

@-o-keyframes pulse {
  0% {background: #D5E7EF;}
  100% {background: #F5F5F5;}
}
#content dl {
  margin: 5px 0 0;
}
#content dl:last-child {
  margin-bottom: 8px;
}
#content dl dt {
  float: left;
  margin: 0;
  width: 35px;
}
#content dl dd {
  margin: 0;
}

#sortable {
  margin-right: 25px;
}
#sortable li {
  list-style-type: none;
  color: rgb(110, 130, 150);
  background-color: rgb(230, 232, 232);
  margin: 0.3em 0;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  position: relative;
  cursor: move;
}
#sortable li.disabled {
  background-color: #FFFFFF;
  border: 2px solid #999999;
  color: #999999;
  cursor: default;
}
.quiz-ok2 {
  width: 30px;
  height: 30px;
  background-image: url(../img/quiz-ok.png);
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 50px;
  display: inline-block;
  visibility: hidden;
}

.box-drop {
  width: 200px;
  height: 70px;
  position: relative;
  border: 2px solid black;
  margin-bottom: 5px;
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: center;
}
.box-drop.disabled {
  border: 2px solid #999999;
  color: #999999;
}
.box-drag {
  color: rgb(110, 130, 150);
  background-color: rgb(230, 232, 232);
  cursor: move;
  font-size: 1.3em;
  height: 44px;
  padding-top: 26px;
  text-align: center;
  width: 162px;
}
 /* QUIT --Ende-- */
.enter-page-init {
  -webkit-transition-timing-function: ease-out, ease-out;
     -moz-transition-timing-function: ease-out, ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property: -moz-transform, opacity;
  -webkit-transition-duration: .3s, .2s;
     -moz-transition-duration: .3s, .2s;
  -webkit-transform: translateX(5%);
     -moz-transform: translateX(5%); 
  opacity: 0;
}
.enter-page {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
  opacity: 1;
}

/* DEBUG START */
/* custom controls */
input[type="checkbox"], input[type="radio"] {
  opacity: 0;
}
input[type="checkbox"], input[type="radio"] {
  float: left;
  height: 19px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 19px;
}
input {
  display: inline-block;
  margin: 0.15em 0.3em;
  vertical-align: middle;
}
input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline-block;
  background: url(../img/controls.png) top left no-repeat,url(../img/controls.png) top left no-repeat,url(../img/controls.png) top left no-repeat;
  height: 19px;
  line-height: 19px;
  padding-left: 24px;
  cursor: pointer;
  margin-bottom: 0;
}
input[type="radio"] + label {
  background-position: left -228px;
}
input[type=checkbox] + label {
  background-position:left -38px;
}
input[type=radio] + label {
  background-position:left -228px;
}
input[type=checkbox]:checked + label {
  background-position:left 38px,left -114px,left -38px;
}
input[type=checkbox]:active + label, input[type=checkbox] + label:active {
  background-position:left -57px;
}
input[type=checkbox]:active:checked + label, input[type=checkbox]:checked + label:active {
  background-position:left 38px,left -152px,left -57px;
}
input[type=checkbox]:disabled + label {
  background-position:left -76px;
}
input[type=checkbox]:disabled:checked + label {
  background-position:left 38px,left -133px,left -76px;
}

input[type=radio]:checked + label {
  background-position:left 38px,left -304px,left -228px;
}
input[type=radio]:active+label, input[type=radio] + label:active {
  background-position:left -247px;
}
input[type=radio]:active:checked + label, input[type=radio]:checked + label:active {
  background-position:left 38px,left -342px,left -247px;
}
input[type=radio]:disabled + label {
  background-position:left -266px;
}
input[type=radio]:disabled:checked + label {
  background-position:left 38px,left -323px,left -266px;
}
.single input[type=radio] + label{
  padding-left: 19px;
}
.multi td {
  padding-bottom: 5px;
}
select {
  border-radius: 0;
}
/* DEBUG END */

.jumbotron {
  position: relative;
  padding: 50px 25px 20px 50px;
}
.jumbotron h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/triangle-big.png) no-repeat left top;
}
.subhead1.jumbotron:after {
  background: url(../img/triangle-chapter1-big.png) no-repeat left top;
}
.label1 {
  background-color: rgb(60, 160, 70);
  color: #FFFFFF;
  font-weight: bold;
  padding: 1px 4px 2px;
  vertical-align: baseline;
  white-space: nowrap;
}
.subhead2.jumbotron:after {
  background: url(../img/triangle-chapter2-big.png) no-repeat left top;
}
.subhead3.jumbotron:after {
  background: url(../img/triangle-chapter3-big.png) no-repeat left top;
}
.subhead4.jumbotron:after {
  background: url(../img/triangle-chapter4-big.png) no-repeat left top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(110, 130, 150);
}

.btn2 [class^="icon-"], .btn2 [class*=" icon-"] {
  vertical-align: baseline;
}
.btn2 {
  display: inline-block;
  *display: inline;
  padding: 5px 15px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #4c7189;
  border: 0;
  *zoom: 1;
}
.btn2:hover,
.btn2.active,
.btn2:active {
  text-decoration: none;
  color: #fff;
  background-color: #5E8BA8;
  -webkit-transition: background-color 0.1s linear;
     -moz-transition: background-color 0.1s linear;
       -o-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}
.btn2:focus {
  outline: thin dotted #fff;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2.disabled,
.btn2[disabled] {
  cursor: default;
  background-color: #cacaca;
  color: #212121;
  opacity: 0.49;
  filter: alpha(opacity=49);
}
.btn2-large {
  padding: 10px 15px;
  font-size: 16px;
  line-height: normal;
}

.btn2-primary {
  padding: 3px 13px;
  border: 2px solid #fff;
}
.btn2-primary:active,
.btn2-primary.active {
  color: #333;
  background-color: #fff;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.btn-group > .btn2 {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.btn-group > .btn2 + .btn2 {
  margin-left: -1px;
}
.btn-group > .btn2,
.btn-group > .dropdown-menu {
  font-size: 14px;
}
.btn-group > .btn2-large {
  font-size: 16px;
}
.btn-group > .btn2:first-child {
  margin-left: 0;
}
.btn-group > .btn2:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}
.btn-group > .btn2.large:first-child {
  margin-left: 0;
}
.btn-group > .btn2.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}
.btn-group > .btn2:hover,
.btn-group > .btn2:focus,
.btn-group > .btn2:active,
.btn-group > .btn2.active {
  z-index: 2;
}
.btn-group.open .dropdown-toggle  {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-group > .btn2 + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
}
.btn-group > .btn2-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}
.btn-group.open .btn2.dropdown-toggle {
  background-color: #5E8BA8;
}
.btn2 .caret {
  margin-top: 8px;
  margin-left: 0;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn2-large .caret {
  margin-top: 6px;
}
.btn2-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}
.dropup .btn2-large .caret {
  border-top: 0;
  border-bottom: 5px solid #000000;
}
.well2 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 8px;
  background-color: rgb(230, 232, 232);
}
.well2-small {
  padding: 9px 14px;
  color: rgb(110, 130, 150);
}
.well2-mini{
  margin-bottom: 0;
  padding: 9px 14px;
  color: rgb(110, 130, 150);
}
.center-well {
  text-align: center;
}
.center-well > div {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}
.well2 h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}
.check-small2 {
  background-image: url(../img/check_small2.png);
  height: 25px;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}