<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Kontrollmöglichkeiten / Feedback</h4>
    </div>
    <div class="modal-body">
      <p>
        Ihre Arbeit sollte so gestaltet sein, dass Sie bereits während der Ausübung 
        Ihrer Tätigkeit <strong>aktuelle Rückmeldungen</strong> (sei es über technische Systeme oder Personen) 
        über den Stand der Arbeit erlangen können. 
        Das gibt Ihnen <strong>Klarheit</strong> und <strong>Orientierung</strong> und die Möglichkeit des sofortigen Eingreifens, 
        wenn Abweichungen sichtbar werden. 
        Die eigene Möglichkeit der Kontrolle über den Arbeitsprozess gibt Ihnen Sicherheit. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Feedback können und sollten Sie von Ihrer oder Ihrem unmittelbaren Vorgesetzten einfordern.  
        Hinweise für die Vorbereitung eines solchen Gesprächs 
        finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>