<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ergonomische Ausstattung</h4>
    </div>
    <div class="modal-body">
      <p>
        Höhenverstellbares Mobiliar oder andere ergonomisch optimierte Arbeitsmittel 
        können dazu beitragen, dass Sie lange fit und arbeitsfähig bleiben, 
        weil dadurch bereits <strong>physische Belastungen</strong> minimiert werden. 
        Diese Arbeitserleichterung wirkt sich nicht nur rein körperlich positiv aus, 
        sondern ist <strong>auch eine psychische Entlastung</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        <strong>Tipp:</strong>
        Prüfen Sie, welche ergonomischen Verbesserungen an Ihrem Arbeitsplatz bereits vorhanden sind. 
        Oft gibt es Hilfsmittel oder Änderungsmöglichkeiten,
        die aus verschiedensten Gründen nicht genutzt werden. 
        Suchen Sie diesbezüglich das Gespräch mit Ihrer Fachkraft für Arbeitssicherheit zur Beratung:
        Ergonomie ist ihr Thema.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>