<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ruhe</h4>
    </div>
    <div class="modal-body">
      <p>
        An vielen Arbeitsplätzen herrscht Dauerlärm. 
        Ohrstöpsel können einiges abhalten, anderenorts sind sie nicht so passend, 
        wie z.B. in Schulen, Kindergärten oder im Verkauf. 
        Die Möglichkeit, in einem Raum im Betrieb Stille zu erleben, hilft Ihnen, 
        den Akku wieder aufzuladen und Sie vor Symptomen der <strong>Reizbarkeit</strong>
        und <strong>Konzentrationsschwäche</strong> zu schützen. 
        Wo immer möglich, sollte <strong>Lärm reduziert</strong> werden: Vielleicht haben Sie schon konkrete Ideen 
        und können diese im Team und mit der Führungskraft umsetzen?
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Auch bei der Arbeitsumgebung gilt, dass Sie sie nach Möglichkeit mitgestalten sollten, 
        um sich wohlzufühlen. 
        Da viele Aspekte der Arbeitsumgebung nicht in Ihrer Hand liegen, 
        sollten Sie auch hierzu das Gespräch mit Ihrer Führungskraft 
        (siehe Handlungshilfen gegen äußere Stressoren) suchen 
        und eventuell auch das Gespräch mit Ihrer Fachkraft für Arbeitssicherheit.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>