<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Technik / Software</h4>
    </div>
    <div class="modal-body">
      <p>
        Kaum ein Arbeitsplatz ist heutzutage noch völlig frei von Technik. 
        Viele alltägliche Routinen sind mehr und mehr von funktionierender Technik abhängig. 
        Der <strong>reibungslose Ablauf</strong> von technischen Systemen und Computerprogrammen ist ein Garant 
        für entspanntes Arbeiten, genauso wie die <strong>Benutzerfreundlichkeit</strong> der Systeme. 
        So wird Arbeitsunterbrechungen und damit verbundener Frustration vorgebeugt 
        und man kann sich voll und ganz seiner inhaltlichen Tätigkeit widmen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Keiner kennt die technischen Hindernisse in Ihrem Arbeitsablauf so gut wie Sie. 
        Machen Sie bei technischen Problemen Ihre Führungskraft darauf aufmerksam. 
        Ideen zur <strong>Vorbereitung dieses Gesprächs</strong> finden Sie in den Handlungshilfen gegen äußere Stressoren. 
        Oder suchen Sie gemeinsam mit Kolleginnen und Kollegen nach Lösungsmöglichkeiten. 
        Ein gutes soziales Netzwerk hilft Ihnen. 
        Hinweise dazu, wie Sie dieses Netzwerk pflegen können, 
        finden Sie ebenfalls in den Handlungshilfen für den Aufbau äußerer Ressourcen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>