<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Arbeitsplatzgestaltung</h4>
    </div>
    <div class="modal-body">
      <p>
        An Ihrem Arbeitsplatz verbringen Sie wochentags mehr wache Zeit als daheim. 
        Daher sollte es möglich sein, dass Sie zumindest <strong>einzelne Aspekte</strong> Ihres Arbeitsplatzes 
        <strong>nach eigenem Geschmack gestalten</strong>, indem Sie zum Beispiel ein Foto aufstellen 
        oder Ihre eigene Kaffeetasse mitbringen. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Auch bei der Arbeitsumgebung gilt, dass Sie sie nach Möglichkeit mitgestalten sollten, 
        um sich wohlzufühlen. Da viele Aspekte der Arbeitsumgebung nicht in Ihrer Hand liegen, 
        sollten Sie auch hierzu das Gespräch mit Ihrer Führungskraft suchen. 
        Ideen zur <strong>Vorbereitung dieses Gesprächs</strong> finden Sie in den Handlungshilfen
        gegen äußere Stressoren. 
        Da viele von uns nicht isoliert arbeiten, gehört die Absprache im Team ebenfalls dazu. 
        Tipps für ein gutes soziales Netzwerk finden Sie ebenfalls in den Handlungshilfen für äußere Ressourcen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>