<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Arbeitsmittel</h4>
    </div>
    <div class="modal-body">
      <p>
        Gute Arbeit setzt gute Arbeitsmittel voraus, inkl. passender Schutzausrüstung. 
        Ob Werkzeuge, Maschinen, Utensilien, EDV-Systeme etc.:
        Haben Sie alles, was Sie für gute Arbeit brauchen?
        Funktionierende, qualitativ gute und anwenderfreundliche Arbeitsmittel
        verhindern viele Irritationen und <strong>Hindernisse im Routineablauf</strong> bei der Arbeit
        und tragen dazu bei, dass Sie sich voll und ganz auf Ihre Arbeit konzentrieren können
        und sich nicht ärgern müssen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Da viele Aspekte der Arbeitsumgebung nicht in Ihrer Hand liegen, sollten Sie auch hierzu das  
        <strong>Gespräch mit Ihrer Führungskraft</strong> suchen. 
        Ideen zur Vorbereitung dieses Gesprächs finden Sie in den Handlungshilfen gegen äußere Stressoren.
        Da Sie selbst Expertin oder Experte für Ihren Arbeitsplatz sind,
        sollten Sie Ihr Wissen und Ihre Erfahrung einbringen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>