<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Emotionsarbeit</h4>
    </div>
    <div class="modal-body">
      <p>
        In Berufen, die im großen Umfang ständigen <strong>Kontakt mit anderen Menschen</strong>
        (Klienten, Patienten, Kunden etc. ) erfordern,
        wie z.B. in Dienstleistungsberufen, der Gastronomie oder in Pflegeberufen,
        sind bestimmte emotionale Regeln einzuhalten
        (freundlich sein müssen bei Annahmen von Beschwerden zum Beispiel).
        Diese Arbeitsanforderung kann sehr anstrengend sein.
        Vor allem, wenn wir durch unsere Arbeit gezwungen sind,
        <strong>eigene Gefühle</strong> zu <strong>unterdrücken</strong> oder sogar dem Gegenüber Gefühle zeigen zu müssen,
        die wir momentan gar nicht empfinden.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Wenn es an diesem Punkt hakt:
        Nehmen Sie an Maßnahmen teil, die Sie für diese Belastungsarten trainieren.
        Suchen Sie gezielt nach Fortbildungsmaßnahmen für den Umgang mit Emotionsarbeit.
        Mögliche Ansprechpartnerinnen und Ansprechpartner finden Sie in Kapitel 4.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>