<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Informationsbeschaffung</h4>
    </div>
    <div class="modal-body">
      <p>
        Wenn es <strong>schwierig</strong> ist, <strong>an Informationen heranzukommen</strong>,
        die man zur Arbeit unbedingt braucht
        (weil z.B. die Freischaltung hierarchiestufenabhängig ist
        oder die Passwörter ständig wechseln,
        ohne dass man hierüber informiert wird),
        sorgt dies für unnötige Frustration durch <strong>Behinderungen</strong> im Arbeitsablauf. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Wenn es an diesem Punkt hakt: Besprechen Sie das Thema mit Ihrer Führungskraft!
        Tipps für ein solches Gespräch finden Sie in den Handlungshilfen gegen äußere Stressoren.
        Vielleicht kann auch eine Besprechung im Team dazu führen,
        dass Sie gemeinsam auf eine Lösung kommen.
        Hinweise zur Stärkung Ihres sozialen Netzes finden Sie ebenso in den Handlungshilfen für äußere Ressourcen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>