<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Multitasking</h4>
    </div>
    <div class="modal-body">
      <p>
        Für viele Beschäftigte gehört es mittlerweile zum Berufsalltag dazu,
        dass sie <strong>mehrere Tätigkeiten gleichzeitig</strong> verrichten müssen
        und des Öfteren bei einer Aufgabe <strong>unterbrochen</strong> oder gestört werden.
        Darunter leiden die Konzentrationsfähigkeit und die Effizienz.
        Häufig sinkt auch die Stimmung, weil Erfolgserlebnisse verhindert werden
        und man langsamer vorankommt.
        Auch steigt dabei das Gefühl der <strong>Fremdbestimmung</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Über das Navigationsmenü finden Sie in den Handlungshilfen Tipps
        für die Reduzierung von äußeren Stressoren,
        die aus Ihrem Arbeitsinhalten resultieren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>