<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Überforderung / Unterforderung</h4>
    </div>
    <div class="modal-body">
      <p>
        Überforderung durch zu <strong>komplizierte Arbeitsaufgaben</strong>
        oder Unterforderung durch <strong>monotone Tätigkeiten</strong>
        mit zu wenig Abwechslung &ndash;
        beide Faktoren können Menschen belasten.
        Versagensängste bzw. tatsächliche <strong>Misserfolgserlebnisse</strong>
        beeinträchtigen das Wohlbefinden im ersten Fall,
        <strong>Langeweile</strong> im zweiten Fall.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        <strong>Tipp!</strong> Bleiben Sie offen für Neues:
        Nehmen Sie Qualifizierungsangebote an
        und bilden Sie sich weiter,
        bis die Balance zwischen den Anforderungen
        und Ihrem Wissen stimmt.
        In den Handlungshilfen finden Sie weitere Hinweise
        für die Reduzierung von äußeren Stressoren,
        die aus Ihren Arbeitsinhalten resultieren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>