<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fehlende Kontrollmöglichkeit</h4>
    </div>
    <div class="modal-body">
      <p>
        Es verunsichert, wenn man <strong>keine Rückmeldung</strong> zur Qualität seiner Arbeit bekommt
        oder wenn Kontrollmöglichkeiten im Arbeitsablauf fehlen.
        Es können Gefühle der <strong>Hilflosigkeit</strong> auftreten.
        Dies kann auf Dauer auch dazu führen,
        dass man sich von seiner Arbeit distanziert und nicht verantwortlich fühlt.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Wenn es an diesem Punkt hakt:
        Besprechen Sie das Thema mit Ihrer Führungskraft!
        Tipps für ein solches Gespräch finden Sie in den 
        Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>