<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fehlende Mitgestaltung</h4>
    </div>
    <div class="modal-body">
      <p>
        Wenn einem alles haarklein vorgegeben wird,
        macht die Arbeit keine Freude.
        Es fällt schwer, sich mit ihr zu identifizieren,
        wenn man sich nur als <strong>ausführendes Werkzeug</strong> betrachtet fühlt
        und das Einbringen eigener Vorschläge wiederholt abgewehrt oder ignoriert wird.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Wenn es an diesem Punkt hakt:
        Besprechen Sie das Thema mit Ihrer Führungskraft!
        Tipps für ein solches Gespräch finden Sie in den Handlungshilfen gegen äußere Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>