<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Bullying </h4>
    </div>
    <div class="modal-body">
      <p>
        Bullying is the systematic, persistent and purposeful <strong>exclusion of a person</strong> 
        with the goal to isolate the person socially, and to harm their professional, 
        social and personal reputation.
        Bullying can happen through <strong>words</strong> and <strong>deeds</strong>. 
        For the victims, bullying means a severe impairment of their physical and mental well-being.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        The action aids provide tips for reducing external interpersonal stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>