<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Injustice</h4>
    </div>
    <div class="modal-body">
      <p>
        Injustice in social interaction means 
        that you do not feel like you are treated with <strong>respect</strong> 
        or in a friendly manner by a manager. 
        You lack the feeling that your fears are taken seriously and you do not expect 
        that your problems are taken care of. 
        One feels that they are not perceived as a human being, which is an essential basic need. 
        Dissatisfaction with the direct supervisor is a major stressor
        because of experienced <strong>dependency</strong> 
        and can affect the <strong>turnover-intentions</strong> if job alternatives are available.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        The action aids against external stressors contain tips for problems with a supervisor.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>