<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Leadership</h4>
    </div>
    <div class="modal-body">
      <p>
        Most managers are advanced because of good job performance. 
        Aspects of health-promoting leadership will not likely be considered for advancement. 
        If a manager does not pay attention to employee health, or is <strong>not aware 
        or informed</strong> about these issues, team health and performance may suffer in the long run. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        You will find tips for reducing interpersonal stressors
        in the action aids against external stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>