<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Too little recognition</h4>
    </div>
    <div class="modal-body">
      <p>
        Employees need recognition as a feedback to confirm 
        and sometimes <strong>strengthen self-esteem</strong>. 
        You want to be noticed by your manager, 
        but not only when you make a mistake. 
        Who does not like to be praised? 
        Too little recognition can cause <strong>insecurity</strong> and <strong>less identification</strong> 
        with your work. You are feeling undervalued as a person who is making an active contribution.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        The action aids against external stressors provide tips for reducing interpersonal stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>