<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Trouble with colleagues</h4>
    </div>
    <div class="modal-body">
      <p>
        If the team is not working well together, 
        it is <strong>difficult to focus on work</strong>. 
        This not only affects performance, 
        but even <strong>switching off after work</strong> can be difficult. 
        If these conflicts accumulate, problems may move on to a <strong>personal level</strong> 
        and become increasingly more difficult to be objectively solved.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to rate this stressor!
        </label>
      </p>
      <p>
        The action aids against external stressors provide tips for reducing interpersonal stressors.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>