<div class="jumbotron">
  <div class="container">
    <h1>Analysieren Sie Ihre inneren Ressourcen!</h1>
  </div>
</div>
<div class="container" ng-controller="InnerResourcesCtrl">
  <div ng-show="selectedItemsCount">
    <p>
      Sie haben die folgenden inneren Ressourcen ausgewählt &ndash; bitte bewerten Sie sie nun!
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Innere Ressource</th>
          <th>Wie stark ist diese innere Ressource bei Ihnen ausgeprägt?</th>
          <th>Wie sehr fühlen Sie sich durch diese Ressource gestärkt bzw. würden sich durch sie gestärkt fühlen?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items | filter: {'checked': true} track by $index">
          <td>{{ item.text }}</td>
          <td>
            <select ng-model="item.extent">
              <option value="0">0 &ndash; gar nicht</option>
              <option value="1">1 &ndash; etwas</option>
              <option value="2">2 &ndash; ganz gut</option>
              <option value="3">3 &ndash; sehr gut</option>
            </select>
          </td>
          <td>
            <select ng-model="item.impact">
              <option value="0">0 &ndash; gar nicht</option>
              <option value="1">1 &ndash; etwas</option>
              <option value="2">2 &ndash; ziemlich</option>
              <option value="3">3 &ndash; sehr</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="selectedItemsCount === 0">
    <p>
      Sie haben keine Ressourcen für die Bewertung ausgewählt.
    </p>
    
    <br>
    
    <div class="alertbox">
      <img ng-src="{{ supportSvg() ? 'img/chapter4/time-for-help.svg' : 'img/legacy/chapter4/time-for-help.jpg' }}" alt="" />
      <p>
        <strong>Sind Sie sicher?</strong><br>
        Wenn Sie keine Auswahl treffen, kann keine persönliche Bilanz für Sie erstellt werden.
      </p>
    </div>
  </div>
</div>