<div class="jumbotron">
  <div class="container">
    <h1>Fazit</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Ressourcen sind das Gegengewicht zu Stressoren.
      </li>
      <li>
        Je mehr Ressourcen Ihnen zur Verfügung stehen, desto besser ist Ihre psychische Gesundheit geschützt.
      </li>
      <li>
        Es gibt am Arbeitsplatz innere und äußere Ressourcen.
      </li>
    </ul>
  </div>
</div>