<div class="jumbotron">
  <div class="container">
    <h1>Innere Ressourcen</h1>
  </div>
</div>
<div class="container" ng-controller="InnerResourcesCtrl">
  <p>
    <strong>Anleitung</strong>:<br>
    Um eine Beschreibung über die einzelnen Ressourcen zu erhalten,
    klicken Sie jeweils auf das Feld "mehr".
  </p>
  <p>
    Markieren Sie innerhalb der Beschreibung die Ressourcen, die Sie interessieren, oder legen Sie die Ressourcen durch Ziehen in die entsprechende Waagschale.
    Dann können Sie diese im Anschluss für sich persönlich bewerten und erhalten am Ende des Kapitels Ihre individuelle Bilanz.
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>