<div class="jumbotron">
  <div class="container">
    <h1>
      Pause?
    </h1>
  </div>
</div>
<div class="container" ng-controller="SaveToDiskController">
  
  <br>
  
  <div class="row">
    <div class="col col-20">
      <p class="pause">
        <span class="glyphicon glyphicon-pause"></span>
      </p>
    </div>
    <div class="col col-80">
      <div ng-show="localstorage">
        <p>
          Jetzt haben Sie alle Ressourcen bewertet.
          Nutzen Sie die Zeit für eine kurze Pause
          und <strong>speichern</strong> Sie den <strong>aktuellen Arbeitsstand</strong>,
          indem Sie auf folgende Schaltfläche klicken
          oder fahren Sie mit dem nächsten Kapitel fort.
        </p>
        <p>
          <button class="btn btn-action"
                  style="margin-top: 6px;"
                  ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>
            Zwischenstand abspeichern
          </button>
        </p>
        <p class="discreet-note" ng-show="saveSuccessfull">
          <span class="glyphicon glyphicon-ok"></span>
          Speichern erfolgreich
        </p>
      </div>
      <div ng-show="!localstorage">
        <p>
          Jetzt haben Sie alle Ressourcen bewertet.
          Nutzen Sie die Zeit für eine kurze Pause.
        </p>
        <p class="discreet-note">
          <span class="glyphicon glyphicon-info-sign"></span>
          Normalerweise gibt es an diese Stelle die Möglichkeit
          den aktuellen Arbeitsstand in Ihrem Webbrowser zu speichern.
          Entweder unterstützt Ihr Browser diese Funktion nicht
          oder Sie wurde deaktiviert.
          Bitte aktualisieren Sie Ihren Webbrowser
          oder aktivieren Sie <strong>localStorage</strong> in den Einstellungen.
        </p>
      </div>
    </div>
  </div>
  
  <div ng-show="localstorage">
    <br>

    <p class="discreet-note">
      <span class="glyphicon glyphicon-info-sign"></span>
      Ihre persönlichen Angaben werden <strong>lokal</strong> in Ihrem Webbrowser gespeichert.
      Das ermöglicht Ihnen,
      die Bearbeitung des Tools zu unterbrechen und zu einem späteren Zeitpunkt wieder aufzunehmen,
      ohne dass Ihre persönlichen Angaben verloren gehen.
      Wenn Sie sich den Zugriff auf diesen Webbrowser und das Benutzerkonto Ihres Betriebssystems
      mit mehreren Personen teilen,
      sind diese Angaben für diese Personen möglicherweise ebenfalls einsehbar.
    </p>
  </div>
</div>