<div class="jumbotron">
  <div class="container">
    <h1>Ressourcen durch Ihre Mitmenschen</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesFellowsCtrl">
  <p>
    <strong>Welche zwischenmenschlichen Ressourcen hält Ihr Arbeitsplatz für Sie bereit?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>