<div class="jumbotron">
  <div class="container">
    <h1>Ressourcen der Arbeitsumgebung</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesWorkEnvironmentCtrl">
  <p>
    <strong>Welche Ressourcen hält Ihre Arbeitsumgebung für Sie bereit?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>