<div class="jumbotron">
  <div class="container">
    <h1>Ressourcen des Arbeitsinhalts</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesWorkContentCtrl">
  <p>
    <strong>Welche Ressourcen halten die Inhalte Ihrer Arbeit für Sie bereit?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>