<div class="jumbotron">
  <div class="container">
    <h1>Ressourcen der Arbeitsorganisation</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesWorkOrganizationCtrl">
  <p>
    <strong>Welche Ressourcen hält die Arbeitsorganisation im Betrieb für Sie bereit?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>