<div class="jumbotron">
  <div class="container">
    <h1>Auswertungsergebnisse</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesEvaluationCtrl">
  <div class="row">
    <div class="col col-40">
      <h3 style="margin-top: 0;">Äußere Ressourcen</h3>
    </div>
    <div class="col col-60">
      <div class="row row-ruler">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-40">
      <p>Arbeitsinhalte</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Arbeitsorganisation</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Arbeitsumgebung</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Soziale Aspekte</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <h3 style="margin-top: 0;">Innere Ressourcen</h3>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.innerResources.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.innerResources.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <p>
    <br>
    <span class="label">Auswertung</span>
    <br>
    <span>
      Sie können an diesem Balkendiagramm erkennen,
      wie gut Sie bereits mit Ressourcen ausgestattet sind (<strong>graue Balken</strong>).<br>
      Auch erkennen Sie, welche Ressourcen Sie für die stärkste Kraftquelle halten (<strong>grüne Balken</strong>).<br>
      Fokussieren Sie sich zur Förderung Ihrer psychischen Gesundheit auf die Ressourcen, die Sie am meisten 
      stärken würden, Ihnen aber noch fehlen. Zur Weiterentwicklung Ihrer persönlichen Kraftquellen
      finden Sie im Navigationsmenü Handlungshilfen mit Tipps zur Ressourcenstärkung.
    </span>
  </p>
</div>