<div class="jumbotron">
  <div class="container">
    <h1>Kapitel 2</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Ressourcen</h2>
  </div>
  <p>
    In diesem Kapitel beschäftigen wir uns mit folgenden Fragen:
  </p>
  <ul class="triangle">
    <li>Welche inneren Ressourcen gibt es?</li>
    <li>Welche Ressourcen hält Ihre Arbeit für Sie bereit?</li>
    <li>ANALYSE: Wie steht’s um Ihre Ressourcen?</li>
  </ul>
</div>