<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Abwertende Gedanken</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Man nimmt sich selbst den Schwung</strong>,
        wenn man den Kopf voller negativer,
        destruktiver Gedanken hat &ndash;
        und sich zum Beispiel im Stress nur an Misserfolge in der Vergangenheit erinnert.
        Von dort ist es nicht weit zum Gedanken „Das wird wieder schiefgehen“ &ndash;
        prompt wird man verkrampft und macht erst recht Fehler.
        Anstatt sich auf die eigentliche Arbeit zu konzentrieren,
        fokussiert man die eigene Aufmerksamkeit auf negative Gedanken und Sorgen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps,
        wie Sie gedanklich diesem inneren Stressor 
        Herr werden können.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>