<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Sich beeilen</h4>
    </div>
    <div class="modal-body">
      <p>
        Dieser Antreiber &ndash; <strong>„sei schnell!“</strong>
        &ndash; stammt häufig noch aus der Kindheit.
        Er macht uns ruhe&ndash; und rastlos. 
        Häufig sorgt erst ein stärkeres Selbstwertgefühl für eine gelassenere Lebenseinstellung
        („wenn ich zu spät komme, ist das kein Drama“). 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps
        für die Reduzierung Ihrer inneren Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>