<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Kein Plan</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Abhaken-Können</strong> verschafft Erfolgsgefühle.
        Wer die Arbeit planlos angeht und unstrukturiert arbeitet,
        bringt sich um das Gefühl von <strong>Befriedigung</strong>,
        wenn die Arbeit getan ist. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps
        für die Reduzierung Ihrer inneren Stressoren.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>