<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Perfektionismus</h4>
    </div>
    <div class="modal-body">
      <p>
        Immer alles einwandfrei erledigen zu wollen, 
        ist nicht gesund und irrational:
        Es führt zu übermäßiger Verausgabung,
        die oft in <strong>keinem Verhältnis zum Ergebnis</strong> steht
        und birgt immer ein <strong>Versagensrisiko</strong>.
        Und das nötige Gefühl von Befriedigung bleibt aus.
        Wer ist denn schon perfekt?
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen finden Sie Tipps wie Sie gedanklich diesem inneren Stressor Herr werden können. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>