<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Grübeln</h4>
    </div>
    <div class="modal-body">
      <p>
        Sie haben in diesem Tool gelernt, dass wir den <strong>Feierabend</strong> (unsere Erholungszeit) brauchen,
        um unseren Akku wieder aufzuladen.
        Die Erholung leidet, wenn man von der Arbeit <strong>nicht abschalten</strong> kann
        und der Gedanke an die Arbeit weiter im Kopf kreist.
        Unsere Gedanken sind so stark, dass wir es allein durch unserer Vorstellung schaffen,
        körperlich dieselbe Reaktion in uns auszulösen, als wenn der Stressor gerade vor uns stünde.
        Wie können wir uns dadurch erholen?
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        In den Handlungshilfen gegen innere Stressoren finden Sie Tipps,
        wie Sie Ihre Gedanken in den Griff bekommen
        und dem Grübeln ein Ende setzten können.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>