<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Kein Mut zum Neinsagen</h4>
    </div>
    <div class="modal-body">
      <p>
        Wenn Überforderung droht, sollte man der Führungskraft dies mitteilen.
        Vielen Arbeitnehmerinnen und Arbeitnehmern fehlt hierzu der Mut.
        Wir wollen <strong>es allen Recht machen</strong>,
        überall beliebt sein und geraten dabei häufig in eine Stress-Spirale mit Tunnelblick,
        die uns nichts mehr rechts oder links des Wegs entdecken lässt.
        Häufig machen wir uns dabei auch Sorgen,
        zu versagen und haben <strong>Angst vor persönlicher Zurückweisung</strong>.
        Anstatt rational die Situation zu analysieren
        und sich seiner fehlenden Ressourcen für diese zusätzliche Aufgabe bewusst zu machen, 
        ignoriert man das eigene Bauchgefühl,
        um der Führungskraft / den Kolleginnen und Kollegen nicht zu missfallen, 
        oder sie zu enttäuschen oder in einen äußeren Konflikt zu geraten.
        Da erträgt man lieber den inneren Konflikt und den Stress. 
        Wahrscheinlich wissen Sie es selbst:
        Man kann es nie allen recht machen.
        Trotzdem setzen wir uns mit diesem Wunsch an uns selbst immer wieder unter Druck.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diesen Stressor bewerten!
        </label>
      </p>
      <p>
        Über das Navigationsmenü finden Sie Handlungshilfen gegen innere Stressoren mit Tipps zum Nein-Sagen.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>