<div class="jumbotron">
  <div class="container">
    <h1>Tipps gegen ständige Erreichbarkeit</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Den E-Mail-Alert abstellen</strong>
      </p>
      <p>
        Stellen Sie sofort die Push-Funktion 
        und den E-Mail-Alert Ihres Smartphones ab.
        Wenn es ständig summt oder piept, 
        sobald eine SMS oder E-Mail eingegangen ist,
        werden  Sie permanent gestört und von Ihrer Arbeit abgelenkt.
        Sobald Sie Ihre E-Mails selbst abholen (statt sie pushen zu lassen),
        werden Sie sich wieder stärker als Herr(in) des Geschehens fühlen.
        Dann bestimmen SIE, welche Infos wann in Ihren Kopf strömen.
      </p>
    </div>
    <div class="col col-50">
      <p style="padding-left:10 px">
        <strong>Lesezeiten einrichten</strong>
      </p>
      <p style="padding-left:10 px">
        Diese Strategie geht in eine ähnliche Richtung:
        Lesen Sie Ihre E-Mails nur zu festgelegten Zeiten,
        zum Beispiel immer zur vollen Stunde.
        Dazu können Sie notfalls einen Wecker im Handy einstellen.
        In jedem Fall trägt dieses Vorgehen dazu bei,
        dass Sie zwischendrin konzentriert 60 Minuten am Stück arbeiten können.
        Sie werden sich nicht mehr fühlen, 
        als würden Sie von Ihren E-Mails verfolgt.
        Verbinden Sie den E-Mail-Abruf mit einer vorangegangenen Minipause
        (1 Minute durchatmen).
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Handyfreie Intervalle abstimmen</strong>
      </p>
      <p>
        Im Sinne Ihrer Familie und Ihrer eigenen Erholung 
        sollten Sie Ihre Erreichbarkeit limitieren.
        Stimmen Sie mit den Kolleginnen und Kollegen und Ihrer Führungskraft ab,
        wer wann erreichbar ist.
        Wenn es wirklich nicht anders geht,
        dann in abwechselnden Schichten notfalls auch nach Feierabend.
        Sorgen Sie durch Absprachen dafür, 
        dass Sie mindestens für bestimmte Intervalle das Smartphone ausschalten
        (z.B. nach 20 Uhr).
      </p>
    </div>
    <div class="col col-50">
      <p>
        <strong>Handy-Diät ausprobieren</strong>
      </p>
      <p>
        Testen Sie &ndash; wie ein kleines Experiment &ndash;,
        ob Sie auch für 3 Stunden (dann mal 4 oder 5 oder 6 …) leben können,
        OHNE Ihre E-Mails oder SMS zu checken.
        Gönnen Sie sich vielleicht sogar 1 Tag Handy-Diät pro Woche.
        Damit Ihr Gehirn sich erholen kann.
      </p>
      <p>
        Und: Laden Sie auch Ihren eigenen Akku auf (Pause!!!),
        wenn Sie Ihr Handy aufladen!
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col col-50">
      <p>
        <strong>Warnzeichen der Familie ernst nehmen</strong>
      </p>
      <p>
        Sie haben nur diese eine Familie.
        Wenn Ihre Kinder sagen: „Wir sehen dich ja gar nicht mehr"
        (oder Ihre Partnerin oder Ihr Partner sagt:
        „Selbst wenn du da bist, bist du nicht wirklich da"),
        sollte bei Ihnen eine Alarmlampe angehen.
        Im Zweifelsfall finden Sie wieder eine befriedigende Arbeitsstelle,
        aber nicht so leicht eine neue Familie …
      </p> 
    </div>
    <div class="col col-50">
      
    </div>
  </div>
 
  
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>