<div class="jumbotron">
  <div class="container">
    <h1>Konfliktgespräche 1/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Eigentlich brauchen wir Menschen Kritik.
    Zumindest Feedback ist wichtig für uns.
    Wir wollen wissen, wo wir stehen und was wir richtig und falsch machen.
    Rückmeldung durch andere hilft uns,
    uns einzuordnen und unser Verhalten zu steuern und zu verbessern.
    Sie gibt uns Orientierung, Sicherheit und Bestätigung.
    Trotzdem bekommen die meisten Leute Herzklopfen beim Gedanken an Kritik 
    oder negatives Feedback. Warum?
  </p>
  <p>
    Das Problematische an Kritik ist, dass man sie auf sich als Person bezieht,
    obwohl sie eigentlich nur auf
    eine Rückmeldung zum Leistungsverhalten abzielt.
    Man nimmt sie persönlich.
  </p>
  <p>
    <strong>
      Erinnern Sie sich an Ihr letztes Kritikgespräch, das gut gelaufen ist: Warum lief es gut?
      Welche Prinzipien können Sie daraus ableiten?
    </strong>
  </p>
  <p>
    Je mehr sich jemand als Person wertgeschätzt fühlt, desto geringer ist die Gefahr, dass ein Kritikgespräch eskaliert.
    Wertschätzung fungiert quasi wie ein Puffer.
    Sie sorgt dafür, dass der Mensch sich nicht als Person angegriffen fühlt.
    So bleibt sein Kopf klar (statt impulsartig Gegenwehr aufzufahren)
    und seine Haltung offen für die geäußerten Veränderungswünsche.
  </p>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.conflictTalks2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>