<div class="jumbotron">
  <div class="container">
    <h1>Konfliktgespräche 2/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Wenn ich mich als Beschäftigte bzw. als Beschäftigter angegriffen, überfordert oder gar gekränkt fühle,
    sollte ich das nicht schlucken, sondern das Gespräch unter vier Augen suchen.
    Natürlich macht das Herzklopfen, aber was ist die Alternative?
    Ein Arbeiten in innerer Kündigung kann keine Lösung sein.
  </p>
  <p>
    Dann lieber ein Herz fassen und die Führungskraft mutig ansprechen,
    notfalls eben mit zittriger Stimme:
    „Über den Vorfall gestern möchte ich noch einmal mit Ihnen sprechen.
    Ich hatte den Eindruck, als wäre ich ein Idiot,
    der hier seit Jahren nur Aufträge in den Sand setzt.
    Das wird mir nicht gerecht.
    Ich würde mich freuen, wenn Sie auch mal zum Ausdruck bringen, 
    wann Sie mit meinem Einsatz zufrieden sind.“
  </p>
  <p>
    Ganz wichtig: <strong>Keine Vorwürfe, 
    sondern das Erlebte als Ich-Aussage formulieren</strong>
  </p>
  <ul class="triangle">
    <li>Welcher Vorfall hat sich wann ereignet? (Konkrete Fakten, 1 Fall!)</li>
    <li>Wie haben Sie den Vorfall erlebt? (Emotion)</li>
    <li>Was war das Schlimme daran? (Begründung)</li>
    <li>Welches Verhalten Ihrer Führungskraft wünschen Sie sich für die Zukunft? (Konkrete Bitte)</li>
  </ul>
  <p>
    <strong>Suchen Sie das Gespräch, nicht die Konfrontation!</strong>
    Verzichten Sie dabei auf Pseudo-Ich-Aussagen wie „Ich habe das Gefühl,
    dass Sie mich nicht ernst nehmen“ (das heißt nichts anderes als
    „Sie nehmen mich nicht ernst“).
    Formulieren Sie stattdessen beispielsweise „Ich bin wütend, 
    weil ich mit meinem Anliegen gehört werden möchte“.
    Ganz wichtig ist das Signal: Ich lasse nicht alles mit mir machen &ndash;
    aber ohne aggressiv zurückzuschlagen.
  </p>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.conflictTalks1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>