<div class="jumbotron">
  <div class="container">
    <h1>Das Gespräch mit Ihrer Führungskraft 2/3</h1>
  </div>
</div>
<div class="container">
  <p>
    Viele Situationen lassen sich mit diesen 3 Schritten im Gespräch bearbeiten,
    ohne dass sich Ihr Gegenüber angegriffen fühlt:
  </p>
  <ol class="triangle">
    <li>
      <strong>Wahrgenommene Situation beschreiben:</strong>
      <p>
        Mir ist aufgefallen, dass Sie mich in den letzten 3 Wochen öfter mal nach Feierabend angerufen haben.
      </p>
    </li>
    <li>
      <strong>Wirkung beschreiben</strong> (und ggf. eigene Werte einbringen):
      <p>
        Dadurch muss ich auch abends noch an die Arbeit denken und kann nicht gut abschalten/einschlafen.
        Mir ist mein Privatleben ganz wichtig; ich brauche das auch, um mich für den nächsten Tag zu erholen.
      </p>
    </li>
    <li>
      <strong>Wunsch für die Zukunft formulieren</strong> (und ggf. Alternativvorschlag formulieren):
      <p>
        Ich bitte Sie daher, ab 18 Uhr nicht mehr bei mir anzurufen.
        Wenn Sie mir eine E-Mail schicken, werde ich die direkt morgens als Erstes bearbeiten. Ist ja klar.
      </p>
    </li>
  </ol>
  
  <p>
    Und dann erkundigen Sie sich, ob Ihre Führungskraft einverstanden ist.
    Sie können noch so etwas einfließen lassen wie: „Es liegt ja uns BEIDEN am Herzen,
    dass ich gut erholt zur Arbeit komme.“
  </p>
 
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>