<div class="jumbotron">
  <div class="container">
    <h1>Das Gespräch mit Ihrer Führungskraft 1/3</h1>
  </div>
</div>
<div class="container">
  <h3>Gesprächsvorbereitung</h3>
  <p>
    Während dieses eLearning-Tools haben wir Sie immer wieder
    auf das Gespräch mit Ihrer Führungskraft verwiesen.
    Und in der Tat gibt es zahlreiche Anlässe,
    bei denen Ihre Führungskraft gefordert ist,
    weil Ihre eigenen Möglichkeiten zur Stressreduzierung 
    oder zum Ressourcenaufbau begrenzt sind.
    Zum Beispiel:<br>
    wenn Ihnen die Arbeit sinnlos vorkommt, 
    die Zuständigkeiten nicht geklärt sind,
    Sie zu viel oder zu wenig Informationen erhalten, 
    Ihr Handlungsspielraum oder Ihre Kontrollmöglichkeiten begrenzt sind,
    Sie wenig Einfluss auf Ihre Arbeitszeiten und -pausen haben,
    Sie sich durch Emotionsarbeit belastet fühlen,
    wenn Sie bessere Arbeitsmittel bräuchten 
    oder etwas in Ihrer Arbeitsumgebung nicht stimmt &ndash;
    dann sind all das Situationen, 
    in denen Sie das Gespräch suchen sollten.
    Gleiches gilt für den Fall, 
    dass Sie bereits Überlastungssignale an sich wahrgenommen haben
    und nun um Ihre Gesundheit fürchten.
  </p>
  <br>
  <div class="row">
    <div class="col col-75">
      <p>
        <strong>
          Mut-Mach-Strategien für das Gespräch mit der Führungskraft:
        </strong>
      </p>
      <ul class="triangle">
        <li>Erinnern Sie sich an Ihre Erfolge!</li>
        <li>Denken Sie daran, dass Sie noch etwas von Ihrer Rente haben wollen!</li>
        <li>Lassen Sie sich durch andere (möglichst neutrale Personen) den Rücken stärken!</li>
        <li>Gehen Sie davon aus, dass Ihre Führungskraft es gut mit Ihnen meint!</li>
        <li>Sagen Sie sich „Ich brauche meine Gesundheit noch. Und ich habe nur die eine.“</li>
      </ul>
    </div>
    <div class="col col-25">
      <img class="center-image" src="img/legacy/guidance/experiment.jpg" alt="" />
    </div>
  </div>
 
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>