<div class="jumbotron">
  <div class="container">
    <h1>Das Gespräch mit Ihrer Führungskraft 3/3</h1>
  </div>
</div>
<div class="container">
  <h3>Tipps für das Gespräch mit der Führungskraft</h3>
  <p>
    Worauf sollten Sie in diesem Gespräch,
    das vielleicht auch Mut erfordert, achten?
  </p>
  <ul class="triangle">
    <li>
      Sagen Sie nicht einfach nur Nein oder „Ich muss das haben“ &ndash;
      <strong>begründen</strong> Sie Ihren Wunsch.
    </li>
    <li>
      Unterbreiten Sie Alternativ- oder <strong>Kompromissvorschläge</strong>,
      sodass Ihre Führungskraft aus mehreren Möglichkeiten wählen kann.
    </li>
    <li>
      Verzichten Sie auf Vorwürfe (für etwas in der Vergangenheit);
      äußern Sie lieber <strong>Wünsche</strong> für die Zukunft.
    </li>
    <li>
      Achten Sie unbedingt darauf, 
      Ihre Führungskraft <strong>nicht als Person anzugreifen</strong> 
      („Das richtet sich NICHT GEGEN SIE; es ist WICHTIG FÜR MICH“).
    </li>
    <li>
      Gehen Sie davon aus, 
      dass <strong>Sie beide</strong> (!) daran interessiert sind,
      dass Sie sich bei der Arbeit wohlfühlen.
      Das können Sie im Gespräch auch genau so formulieren.
    </li>
    <li>
      Verzichten Sie auf Jammern.
      Bleiben Sie <strong>sachlich</strong>,
      auch wenn Ihnen das Thema am Herzen liegt.
      Es kann hilfreich sein, 
      dass Sie dazu das Gespräch vorab mit einer Vertrauensperson üben.
    </li>
    <li>
      Und jetzt: <strong>Lassen Sie sich einen Termin geben!</strong>
      Und sagen Sie direkt dazu, worum es in dem Gespräch gehen soll,
      ohne dass Sie zu sehr ins Detail gehen, wie
      z.B. „Ich möchte Ihnen gern berichten, 
      wie es mir aktuell bei der Aufgabe XY geht“ oder
      „Ich würde gern mit Ihnen über unsere Pausenregelung sprechen.
      Ich habe da ein paar Vorschläge,
      die Sie vielleicht auch gut finden“.
    </li>
    <li>
      <strong>Verzichten Sie</strong> im ersten Gespräch 
      vollständig auf <strong>Drohungen</strong>, 
      wie zum Beispiel: „Sonst gehe ich zum Betriebsrat!“
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.criticismTalks2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>