<div class="jumbotron">
  <div class="container">
    <h1>Wenn das Lob ausbleibt</h1>
  </div>
</div>
<div class="container">
  <p>
    Es gibt Führungskräfte, die sich schwertun mit dem Äußern von Anerkennung.
    Aber auch mit denen müssen Sie zurecht kommen.
    Ihr Wohlbefinden am Arbeitsplatz sollte nicht zu stark davon abhängen,
    ob Sie genug positives Feedback von Ihrer Führungskraft erhalten.
    Schließlich gibt es noch <strong>andere Quellen für Anerkennung</strong>.
    Ein gutes Selbstwertgefühl zum Beispiel.
    Aber auch nette Worte aus der Kundschaft oder Belegschaft.
  </p>
  <ul class="triangle">
    <li><strong>Zweifeln Sie nicht</strong> gleich an sich,
      wenn das Lob ausbleibt.</li>
    <li>Ihr Fehler &ndash; <strong>Ihre Entlastung</strong>:<br>
    “Ich gehe davon aus, dass ich meinen Job gut mache &ndash;
      sonst hätten Sie ja schon etwas gesagt …”</li>
    <li>Vereinbaren Sie <strong>Feedbacktermine</strong>
      &ndash; das spricht für Sie.</li>
    <li>Holen Sie sich Ihre <strong>Lorbeeren</strong> &ndash; 
      z.B. per “Und?!”.</li>
    <li><strong>Loben Sie Ihre Führungskraft</strong> &ndash; 
      sie braucht das Lob genauso.</li>
    <li>Nutzen Sie Ihre <strong>Vorbildfunktion</strong> 
      &ndash; loben Sie Kolleginnen/ Kollegen.</li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>