<div class="jumbotron">
  <div class="container">
    <h1>Gegen äußere Stressoren</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Aeussere_Stressoren.pdf" target="_blank">Diese Handlungshilfen als PDF-Dokument abspeichern.</a>
  </p>
  <p>
    Was können Sie tun, wenn Sie merken, dass Sie Stressoren am
    Arbeitsplatz belasten?
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.externalStressors.solveTraining">Problem-Löse-Training</a></li>
    <li><a ui-sref="app.guidance.externalStressors.selfMotivation1">Tipps zur Selbstmotivation: Quartalsbilanz</a></li>
    <li><a ui-sref="app.guidance.externalStressors.accessibilityDelusional">Tipps gegen ständige Erreichbarkeit</a></li>
    <li><a ui-sref="app.guidance.externalStressors.noPraise">Wenn das Lob ausbleibt</a></li>
    <li><a ui-sref="app.guidance.externalStressors.solveConflicts1">Konfliktlösungstipps</a></li>
    <li><a ui-sref="app.guidance.externalStressors.conflictTalks1">Konfliktgespräche</a></li>
    <li><a ui-sref="app.guidance.externalStressors.criticismTalks1">Tipps für Kritikgespräche (mit Ihrer Führungskraft)</a></li>
  </ul>
  <p>
    Und zum Schluss haben wir noch einen <a ui-sref="app.guidance.externalStressors.selfContract">Selbstvertrag</a>
    für Sie vorbereitet.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action" ui-sref="app.guidance.start">
    <span class="glyphicon glyphicon-thumbs-up"></span>
      Alle Handlungshilfen
    </button>
  </div>
</div>