<div class="jumbotron">
  <div class="container">
    <h1>Tipps zur Selbstmotivation 1/3</h1>
  </div>
</div>
<div class="container">
  <p>
    Wie Sie im zweiten Kapitel dieses eLearning Tools bereits erfahren haben,
    stellt der persönliche <strong>Handlungsspielraum</strong>
    eine wichtige Ressource dar.
    Dies ist nicht nur am Arbeitsplatz von Relevanz.
    Uns Menschen stärkt das Gefühl, unser Leben unter Kontrolle zu haben.
  </p>
  <p>
    Ganz sicher: Sie arbeiten nicht allein des Geldes wegen, 
    sondern weil Sie sich dafür entschieden haben.
    Oder wenn Sie den Sport oder eine Verabredung wieder mal sausen lassen,
    um eine Arbeit zu Ende zu bringen:
    Auch das ist eine Entscheidung. Versuchen Sie,
    <strong>sich nicht als Opfer zu sehen</strong>
    (streichen Sie zum Beispiel den Ausdruck „Ich muss” aus Ihrem Wortschatz).
    Sehen Sie lieber Ihr Leben als
    <strong>Resultat Ihrer Entscheidungen</strong>.
    Selbst wenn Sie den Eindruck haben, 
    dass Sie auf Situationen in Ihrem Leben nur reagieren,
    wie Sie reagieren, liegt allein bei Ihnen.
  </p>
  <p>
    Damit Sie aktiv über Ihre Entscheidungen im Leben nachdenken, ziehen Sie alle 3 Monate, also 1-mal pro Quartal Bilanz:
    <a ui-sref="app.guidance.externalStressors.selfMotivation2"><strong>Ihre Quartalsbilanz</strong>.</a>
    Das hilft Ihnen zu klären,
    wo Sie aktuell im Leben stehen 
    und welche Lebensbereiche mehr aktive Entscheidungen von Ihnen fordern.
  </p>  
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>