<div class="jumbotron">
  <div class="container">
    <h1>Tipps zur Selbst-Motivation 3/3</h1>
  </div>
</div>
<div class="container">
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/guidance/self-motivation.svg' : 'img/legacy/guidance/self-motivation.jpg' }}"
       alt="" /> 
  
  <h5 class="footnote">
    Peseschkian, N. (1996). 
    Das Geheimnis des Samenkorns: Positive Stressbewältigung.
    Heidelberg: Springer.
  </h5>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>    
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>