<div class="jumbotron">
  <div class="container">
    <h1>Tipps zur Selbstmotivation 2/3</h1>
  </div>
</div>
<div class="container">
  <p>
    Suchen Sie sich für 30 Minuten einen stillen Platz. Nehmen Sie einen Zettel und einen Stift und fragen Sie sich:
  </p>
  
  <ul class="triangle">
    <li>Lebe ich (noch/schon) so, wie ich es mir für mich wünsche? ………………………………………</li>
    <li>Kann ich mir vorstellen, so weiterzuleben bis zur Rente?  ………………………………………</li>
    <li>Was will ich ändern (Entscheidung!), damit es so bleibt/so wird, wie ich es mir wünsche? …………………………</li>
  </ul>

  <p>
    Es ist für Sie hilfreich, 
    dabei alle Bereiche eines gelingenden Lebens zu betrachten.<br>
    Die Beschäftigung mit dem folgenden Modell
    beantwortet auch die wichtige Frage:
    </p>
  
  <p>
    <strong>Wer sind Sie, wenn Sie nicht arbeiten?</strong>
      </p>

  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.selfMotivation3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>