<div class="jumbotron">
  <div class="container">
    <h1>Selbstvertrag</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>
      Was wollen Sie umsetzen?
    </strong>
    <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      Was versprechen Sie sich davon?
    </strong> 
    <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      Was tun Sie bis wann?
    </strong> 
  <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      Wie könnten Sie mit Hindernissen umgehen?
    </strong> 
    <br>
    <br>
    ………………………………………
  </p>
  <p>
    <strong>
      Wer soll Sie unterstützen?
    </strong> 
    <br>
    <br>
    ………………………………………<br><br>
  </p>  
  <p>
    -------------------------------<br>
  	(Datum, Unterschrift)
  </p>
  <p>
    (<strong>Tipp:</strong> Wenn Sie Ihren Vorsatz öffentlich machen,
    wird die Umsetzung erleichtert!)
  </p>

  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>