<div class="jumbotron">
  <div class="container">
    <h1>Konfliktlösungstipps 1/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Solange es Menschen gibt, wird‘s auch Konflikte geben.
    Ein paar lassen sich vermeiden,
    indem man sich frühzeitig in den anderen hineinversetzt 
    und präventiv sein Selbstwertgefühl hegt und pflegt &ndash;
    so behält man einen klaren Kopf und wird weniger kränkungsanfällig.
    Und für die verbleibenden Situationen gibt es ein paar Tipps,
    damit heiße Konflikte gar nicht erst erkalten und womöglich unlösbar werden.
  </p>
  <p>
    Wichtigster Tipp für Konflikte, an denen Sie beteiligt sind:
  </p>
  <ul class="triangle">
    <li>
      Bewahren Sie <strong>Ruhe</strong>.
      Das geht nur durch kurzen Rückzug (wenigstens mental; 
      oder Sie sagen so etwas wie „Moment,
      das muss ich gerade sacken lassen“).
      Atmen Sie kurz durch!
    </li>
    <li>
      Besser wäre zusätzlich ein räumlicher 
      bzw. zeitlicher <strong>Abstand</strong>.
      Aus der Distanz heraus ist die Gefahr geringer, 
      dass man sich von Emotionen mitreißen lässt.
      Man behält einen kühlen Kopf.
    </li>
    <li>
      <strong>Bereiten Sie das Konfliktgespräch vor!</strong>
    </li>
    <li>
      Fragen Sie sich: Was sind meine <strong>Bedürfnisse</strong>,
      welche sind nicht befriedigt,
      sodass ich gekränkt oder aufgebracht reagiere?
      Was täte mir gut in dieser Situation?
    </li>
    <li>
      Versetzen Sie sich in Ihr Gegenüber hinein:
      Wozu (nicht: warum) macht sie/er das?
      Was sind ihre/seine Bedürfnisse dabei?
      Wie kann man diese auf andere Weise befriedigen?
      Auch wenn’s keinen Spaß macht:
      Nur über <strong>Verständnis</strong>, 
      also Sich-in-den-anderen-Hineinversetzen, lassen sich Konflikte lösen.
      Betrachten Sie es als gedankliches Experiment.
    </li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.solveConflicts2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>