<div class="jumbotron">
  <div class="container">
    <h1>Konfliktlösungstipps 2/2</h1>
  </div>
</div>
<div class="container">
  <h3>Checkliste „Richtig kritisieren“</h3>
  <ul class="triangle">
    <li>
      Nie ironisch oder sarkastisch, 
      sondern grundsätzlich <strong>auf die Sache bezogen</strong>; 
      dabei aber ruhig auch den eigenen Ärger zeigen!
    </li>
    <li>
      Zunächst nicht in Gegenwart Dritter, sondern unter <strong>vier Augen</strong>
    </li>
    <li>
      Nicht am Telefon, sondern „mutig" <strong>im Gespräch</strong>
    </li>
    <li>
      Nie mehrere Kritikanlässe „in einem Aufwasch", 
      sondern grundsätzlich maximal zwei 
      <strong>Kritikpunkte zeitnah</strong> zum Geschehen 
    </li>
    <li>
      Nie mit Worten wie „immer"/„nie" kritisieren („Du bist immer so …"), 
      sondern grundsätzlich auf eine <strong>konkrete Situation</strong> bezogen („Gestern ist mir aufgefallen …")
     </li>
    <li>
      Nie anschnauzen/motzen um des Motzens willen, sondern grundsätzlich mit dem <strong>konstruktiven Ziel</strong>
      der späteren Verhaltensänderung
    </li>
    <li>
      Keine Vorwürfe! Formulieren Sie stattdessen <strong>Wünsche</strong>;
      Vorwürfe beziehen sich immer auf die Vergangenheit (an dieser können Sie nichts mehr ändern); 
      Wünsche beziehen sich auf die Zukunft. 
    </li>
    <li>
      Nie <strong>Kritik</strong> an der Person, sondern grundsätzlich nur <strong>am Verhalten üben</strong> 
    </li>
  </ul>
  
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalStressors.solveConflicts1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button> 
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>