<div class="jumbotron">
  <div class="container">
    <h1>Problem-Löse-Training</h1>
  </div>
</div>
<div class="container">
  <p>
    Stressoren, die sich beseitigen lassen, 
    sollte man aktiv angehen &ndash;
    zum Beispiel im <a ui-sref="app.guidance.externalStressors.criticismTalks1">
    <strong> Gespräch mit der Führungskraft</strong></a> 
    oder durch bewusste Problemlösung.
    Das Problem-Löse-Training stammt aus der sogenannten kognitiven Verhaltenstherapie.
    Es geht darum, ein <strong>Problem in mehreren Schritten</strong>
    zu analysieren und dabei Lösungen zu finden,
    und zwar am besten mit anderen zusammen 
    (z.B. mit Kolleginnen und Kollegen, denen man vertraut).
    Nehmen Sie sich 45 Minuten Zeit und testen Sie direkt 
    die ersten 4 Schritte des Problem-Löse-Trainings!
  </p>
  
  <h3>1. Problembeschreibung</h3>
  <p>
    Welches Problem möchten Sie analysieren?
    Halten Sie es konkret fest.<br>
    Was denken und was fühlen Sie, wenn das Problem auftritt?<br>
    Wie reagiert Ihr Körper?<br>
    Wie verhalten Sie sich?<br>
    Und wie verhalten sich die anderen Menschen in Ihrer Umgebung?
  </p>
  
  <h3>2. Problemanalyse</h3>
  <p>
    Seit wann besteht das Problem schon?<br>
    Was war der Auslöser?<br>
    Durch welche Bedingungen wird das Problem aufrechterhalten?<br>
    Wie wirkt sich das Problem auf Ihr Leben aus?<br>
    Was haben Sie schon ausprobiert, um das Problem zu lösen?<br>
    Wann war das Problem mal etwas weniger schlimm? Warum?
  </p>
  
  <h3>3. Zielformulierung</h3>
  <p>
    Was an Ihrem Problem wollen Sie ändern? <br>
    Was wünschen Sie sich, 
    dass bei diesem Problem-Löse-Training für Sie herauskommt?<br>
    Woran können Sie merken, dass das Problem gelöst ist?
  </p>  
  
  <h3>4. Lösungssammlung und -auswahl </h3>
  <p>
    Welche Ideen gibt es, um das Problem zu lösen?
    Auch verrückt klingende Antworten sind erlaubt …
    Welche Einstellungen wären hilfreich für Sie 
    (z.B. „Ich kann es nicht allen recht machen“)?
  </p>
  <p style="padding-left:10px">
    (In Form von Brainstorming: so viele Lösungen wie möglich!
    Hier geht es zunächst nicht ums Bewerten, 
    die Bewertung erfolgt erst im 2. Schritt;
    diesen Schritt des Problem-Löse-Trainings 
    bearbeiten Sie am besten mit anderen Menschen zusammen;
    noch besser: Sie drehen den anderen den Rücken zu,
    während diese &ndash; von Ihnen völlig unbeeinflusst &ndash;
    Ideen produzieren.)
  </p>
  <p>  
    Welche Ideen wählen Sie aus, die Sie in der Realität testen wollen?<br>
    Von welchem Lösungsvorschlag versprechen Sie sich am meisten?
  </p>
  
  <h3>5. Problem-Löse-Test in der Realität</h3>
  <p>
    Wann wollen Sie welchen Lösungsvorschlag in die Realität umsetzen? Tun Sie‘s!
  </p>
  
  <h3>6. Ergebnisbewertung</h3>
  <p>
    Welcher Lösungsvorschlag hat sich wie gut bewährt?<br>
    Womit wollen Sie fortfahren? Was soll Ihr nächster Schritt sein?
  </p>
  
  <h3>7. Lösungstransfer</h3>
  <p>
    Auf welche sonstigen Situationen 
    lassen sich die Erkenntnisse aus diesem Problem-Löse-Training übertragen?
    Was können Sie (oder andere) daraus lernen?
  </p>
  
  <h5 class="footnote">
    d'Zurilla, T. J., &amp; Goldfried,  M. R. (1971). 
    Problem-Solving and Behavior Modification. 
    Journal of Abnormal Psychology, 78, 101-126.
  </h5>
  
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalStressors.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>