<div class="jumbotron">
  <div class="container">
    <h1>Conclusion</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Resources are the counterweight to stressors.
      </li>
      <li>
        The more available resources you have, the better your mental health will be protected.
      </li>
      <li>
        At the workplace, there are internal and external resources.
      </li>
    </ul>
  </div>
</div>