<div class="jumbotron">
  <div class="container">
    <h1>Internal resources</h1>
  </div>
</div>
<div class="container" ng-controller="InnerResourcesCtrl">
  <p>
    <strong>Instructions</strong>:<br>
    To get a description of each resource, click on the “more”-button.
  </p>
  <p>
    Select the resources that you are interested in within the description 
    or drag and place the resource to the appropriate scale. 
    Subsequently you can evaluate them for yourself personally and 
    receive your individual balance at the end of the chapter.
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>