<div class="jumbotron">
  <div class="container">
    <h1>
      Break?
    </h1>
  </div>
</div>
<div class="container" ng-controller="SaveToDiskController">
  
  <br>
  
  <div class="row">
    <div class="col col-20">
      <p class="pause">
        <span class="glyphicon glyphicon-pause"></span>
      </p>
    </div>
    <div class="col col-80">
      <div ng-show="localstorage">
        <p>
          Now you have rated all resources.
          Take the time for a short break
          and <strong>save</strong> the <strong>current work status</strong>
          by clicking on the following button
          or continue with the following chapter.
        </p>
        <p>
          <button class="btn btn-action"
                  style="margin-top: 6px;"
                  ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>
            Save Work Status
          </button>
        </p>
        <p class="discreet-note" ng-show="saveSuccessfull">
          <span class="glyphicon glyphicon-ok"></span>
          Successfully saved
        </p>
      </div>
      <div ng-show="!localstorage">
        <p>
          Now you have rated all resources.
          Take the time for a short break.
        </p>
        <p class="discreet-note">
          <span class="glyphicon glyphicon-info-sign"></span>
          At this point you are usually given the opportunity
          to save your work status locally in your web browser.
          Either your web browser doesn't support this feature,
          or it has been disabled.
          Please update your web browser or enable <strong>localStorage</strong>
          in the settings.
        </p>
      </div>
    </div>
  </div>
  
  <div ng-show="localstorage">
    <br>

    <p class="discreet-note">
      <span class="glyphicon glyphicon-info-sign"></span>
      Your information will be stored locally on your computer.
      If you share access to this computer with multiple people,
      this information may also be accessible to these individuals.
    </p>
  </div>
</div>