<div class="jumbotron">
  <div class="container">
    <h1>Resources through colleagues</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesFellowsCtrl">
  <p>
    <strong>Which interpersonal resources are available in your work environment?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>