<div class="jumbotron">
  <div class="container">
    <h1>Resources from your work environment</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesWorkEnvironmentCtrl">
  <p>
    <strong>Which resources contribute to a good work environment?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>