<div class="jumbotron">
  <div class="container">
    <h1>Resources of the work content</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesWorkContentCtrl">
  <p>
    <strong>Which resources make your work meaningful?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>