<div class="jumbotron">
  <div class="container">
    <h1>Resources of work organization</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesWorkOrganizationCtrl">
  <p>
    <strong>Which resources are available in your work organization?</strong>
  </p>
  <div mm-balance mm-item-list="items"></div>
  <div id="balance-modal" class="modal fade" tabindex="-1"></div>
</div>