<div class="jumbotron">
  <div class="container">
    <h1>Evaluation results</h1>
  </div>
</div>
<div class="container" ng-controller="ResourcesEvaluationCtrl">
  <div class="row">
    <div class="col col-40">
      <h3 style="margin-top: 0;">External Resources</h3>
    </div>
    <div class="col col-60">
      <div class="row row-ruler">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-40">
      <p>Work content</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Work organization</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Work environment</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <p>Social aspects</p>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-40">
      <h3 style="margin-top: 0;">Internal Resources</h3>
    </div>
    <div class="col col-60">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.innerResources.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.innerResources.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
  </div>
  <p>
    <br>
    <span class="label">Evaluation</span>
    <br>
    <span>
      With this bar graph you can see how well you are already equipped with resources (<strong>gray bars</strong>).<br>
      You can also recognize the resources which you think provide the greatest support and strength (<strong>green bars</strong>).<br>
      For your personal mental health promotion, focus on the resources you think would best support you but are still missing.
      To develop your personal power sources, you can find action aids in the main menu with tips for resource strengthening.
    </span>
  </p>
</div>