<div class="jumbotron">
  <div class="container">
    <h1>Chapter 2</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Resources</h2>
  </div>
  <p>
    In this chapter we deal with the following questions:
  </p>
  <ul class="triangle">
    <li>What are internal resources?</li>
    <li>What resources holds your job for you?</li>
    <li>ANALYSIS: How about your resources?</li>
  </ul>
</div>