<div class="jumbotron">
  <div class="container">
    <h1>How about your resources?</h1>
  </div>
</div>
<div class="container">
  <p>
    As you work through this chapter, you can determine your personal balance. 
    Check out the following pages: 
    they contain many resources you can find in yourself or in your work.
  </p>
  <div mm-balance mm-animation="auto"></div>
</div>