<div>
    <div class="gootTeaser">
        <h4>Konsum- und Gebrauchsgüter</h4>

        <div class="gootTeaserContainer">
            <div>
                <div>
                    <div class="gootTeaserLeft">
                        <p><b>Unilever</b><br>Fokus: Arbeitsverdichtung</p>
                        <a href="" class="internMore">WEITER LESEN</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
