<div class="jumbotron">
  <div class="container">
    <h1>Conclusion</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Mental illness is just as “normal” as physical illnesses.
      </li>
      <li>
        And they are just as curable.
      </li>
      <li>
        Prevention is better than having to cure an illness.
      </li>
      <li>
        Sufferers are not alone.
        There are a number of offers of assistance, 
        you just have to take advantage of the services.
      </li>
    </ul>
  </div>
  <p>
    <span class="label">Action aids:</span> After having completed this eLearning-Tool 
    you can find <a href="#/app/guidance/start">action aids</a>
    providing specific advice to promote your psychological health.
    We wish you much success!
  </p>
</div>