<div class="jumbotron">
  <div class="container">
    <h1>Outside sources of support</h1>
  </div>
</div>
<div class="container" ng-controller="ExternalSupportCtrl">
  <p>
    <strong>
      If you have problems and are looking for advice
      or you want to do something for yourself prophylactically:
    </strong>
  </p>
  <div class="list">
    <div class="item item-divider" ng-click="externalSupport = '1'">
      Contact points in your region
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '1'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '1'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '1'">
      <ul class="triangle">
        <li>Clerical counseling centers for family-, marriage- and life issues</li>
        <li>Drug and youth counseling</li>
        <li>Self-help groups (Lists are usually available in  Adult Education Centers)</li>
        <li>Debt counseling at the consumer advice centers</li>
        <li>Municipal psychosocial counseling centers or the “psychosocial directory”</li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '2'">
      Federation of relatives of the mentally ill
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '2'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '2'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '2'">
      <ul class="triangle">
        <li><a href="http://www.psychiatrie.de/bapk" target="_blank">www.psychiatrie.de/bapk</a></li>
        <li>Counseling hotline <strong>0180 5 950 951</strong></li>
        <li>
          Free, very informative brochure with information for
          patients, their families, colleagues and managers:
          <strong>“Mentally ill on the job &ndash; what to do?”</strong>
          (Also available as a free download).
        </li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '3'">
      Phone counseling
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '3'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '3'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '3'">
      <ul class="triangle">
        <li>Very good, easily accessible service</li>
        <li>Around-the-clock advice on all life problems from well-qualified, volunteer employees</li>
        <li>Phone numbers: <strong>0800 111 0 111</strong> or <strong>0800 111 0 222</strong> (free)</li>
        <li>When calling from a landline, you are automatically connected to someone from your area.</li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '4'">
      Central testing center for prevention
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '4'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '4'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '4'">
      <ul class="triangle">
        <li>
          Here you will find certified courses for health promotion
          in your region according to your health insurance (German only):<br>
          <a href="https://www.zentrale-pruefstelle-praevention.de" target="_blank">www.zentrale-pruefstelle-praevention.de</a>
        </li>
      </ul>
    </div>
    <div class="item item-divider" ng-click="externalSupport = '5'">
      psyGA
      <span class="glyphicon glyphicon-menu-down" ng-show="externalSupport !== '5'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="externalSupport === '5'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="externalSupport === '5'">
      <p>
        This eLearning-tool is offered through the psyGA project.
        The <strong>Psychological health in the workplace (psyGA)</strong> project
        of the Initiative New Quality of Work (Federal Ministry of Labor and Social Affairs)
        informs about how employees are protected from too much stress and how both HR managers
        and employees can counteract stress itself.
        Under the motto “Do not bother with the stress”
        psyGA offers practical materials on mental health for businesses
        and organizations of all industries and sizes.
        The project manager is the BKK e.V. umbrella association.
      </p>
      <ul class="triangle">
        <li>
          Further detailed psyGA support options can be found at
          <a href="http://psyga.info/ueber-psyga/materialien/" target="_blank">www.psyga.info/ueber-psyga/materialien/</a> (German only)
        </li>
        <li>
          These include:
          <ul class="triangle" style="padding-top: 5px;">
            <li>Action aids for employers, employees, work councils, management consultancies</li>
            <li>Audiobook</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>