<div class="jumbotron">
  <div class="container">
    <h1>Do you have a sense of well-being?</h1>
  </div>
</div>
<div class="container" ng-controller="FeelGoodCtrl">
  <p>
   Would you like to know what the state of your own mental well-being is?
   Then test it with the following statements about how you have felt in the last two weeks:
  </p>
  <p>
    <strong>
      0 = at no time,
      1 = some of the time,
      2 = less than half of the time,<br>
      3 = more than half of the time,
      4 = most of the time,
      5 = all of the time
    </strong>
  </p>
  <br>
  <div class="list list-striped">
    <div class="item">
      <strong>Over the last two weeks…</strong>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I have felt cheerful and in good spirits.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 0}" ng-click="wellBeing.item1 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 1}" ng-click="wellBeing.item1 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 2}" ng-click="wellBeing.item1 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 3}" ng-click="wellBeing.item1 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 4}" ng-click="wellBeing.item1 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item1 == 5}" ng-click="wellBeing.item1 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I have felt calm and relaxed.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 0}" ng-click="wellBeing.item2 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 1}" ng-click="wellBeing.item2 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 2}" ng-click="wellBeing.item2 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 3}" ng-click="wellBeing.item2 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 4}" ng-click="wellBeing.item2 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item2 == 5}" ng-click="wellBeing.item2 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I have felt active and vigorous.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 0}" ng-click="wellBeing.item3 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 1}" ng-click="wellBeing.item3 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 2}" ng-click="wellBeing.item3 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 3}" ng-click="wellBeing.item3 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 4}" ng-click="wellBeing.item3 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item3 == 5}" ng-click="wellBeing.item3 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        I woke up feeling fresh and rested.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 0}" ng-click="wellBeing.item4 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 1}" ng-click="wellBeing.item4 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 2}" ng-click="wellBeing.item4 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 3}" ng-click="wellBeing.item4 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 4}" ng-click="wellBeing.item4 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item4 == 5}" ng-click="wellBeing.item4 = 5">5</button>
      </div>
    </div>
    <div class="item item-input">
      <div class="input-label">
        my daily life has been filled with things that interest me.
      </div>
      <div class="button-bar2" style="width: 258px;">
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 0}" ng-click="wellBeing.item5 = 0">0</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 1}" ng-click="wellBeing.item5 = 1">1</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 2}" ng-click="wellBeing.item5 = 2">2</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 3}" ng-click="wellBeing.item5 = 3">3</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 4}" ng-click="wellBeing.item5 = 4">4</button>
        <button class="button2" ng-class="{'selected': wellBeing.item5 == 5}" ng-click="wellBeing.item5 = 5">5</button>
      </div>
    </div>
  </div>
    <p ng-show="!isTestComplete">
    <span class="label">Evaluation</span>
    <span>
      Once you have completely processed the questionnaire, the evaluation appears here.
    </span>
  </p>
  <p ng-show="isTestComplete">
     Please click on the following button to get the evaluation of the questionnaire.<br>
    <button class="btn btn-action" style="margin-top: 6px;" data-toggle="modal" data-target="#feel-good-modal">
      <span class="glyphicon glyphicon-ok"></span>
      Test results
    </button>
  </p>
  <h5 class="footnote">
    Psychiatric Research Unit, WHO Collaborating Center for Mental Health,
    Frederiksborg General Hospital, DK-3400 Hillerød
  </h5>
  
  <!-- Modal -->
  <div class="modal fade" id="feel-good-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Your mental well-being</h4>
        </div>
        <div class="modal-body">
          <p>
            Your score on the mental well-being scale is <strong>{{ testResult }}</strong>:
          </p>
          <div ng-show="testResult <= 12">
            <p>
              According to your assessment,
              you have felt <strong>less comfortable</strong> in your skin in the last two weeks.
              Maybe you have an explanation because you simply have a lot of work
              or personal problems?
              If you suspect external or internal causes behind your current malaise,
              that are not going to change in the near future,
              do not hesitate to get support. 
              Your discomfort restricts you in your quality of life on the long run.
              Therefore, you should actively work on it.
              This chapter contains information on where you can get help.
          </div>
          <div ng-show="testResult >= 13 && testResult <= 20">
            <p>
              According to your assessment,
              you have felt <strong>relatively well</strong> the last two weeks.
              If you worked on Chapter 2 and 3,
              you now know the points 
              where you can improve your well-being.
            </p>
          </div>
          <div ng-show="testResult >= 20 && testResult <= 25">
            <p>
              You feel <strong>balanced and comfortable</strong> in your own skin.
              That’s nice and suggests that you feel completely
              resilient and vital. Keep it up.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>