<div class="jumbotron">
  <div class="container">
    <h1>And finally…</h1>
  </div>
</div>
<div class="container">
  <p>
   Every person can become mentally ill – it is just as “normal” as becoming physically ill.
   With physical impairments colleagues mostly react sympathetically.
   But with mental illnesses many people are <strong>reserved</strong>.
  </p>
  <p>
    <strong>This has to change!</strong>
  </p>
  <p>
   The more “normal” it becomes to speak about mental demands and their effects at work,
   the better it will be. 
    So everyone can help to bring this issue out of the <strong>taboo zone</strong>.
   The more you talk about it, the easier it becomes for victims to step out and seek help.
  </p>
  <p>
   This applies for all sectors and levels of hierarchy: 
    Everywhere, people can be mentally ill, and also healthy again.
   Mental illnesses are treatable.
    Sometimes they heal themselves with time  - but with <strong>professional support</strong> it’s much faster.
  </p>
  <p>
    With this tool, you have especially learned how to <strong>act preventively</strong> 
    before mental illness becomes a disease.
  </p>
</div>