<div class="jumbotron">
  <div class="container">
    <h1>Your internal contact</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Internal_Support_Services.pdf" target="_blank">Save your template as a PDF file.</a>
  </p>
  <ul class="triangle">
    <li>
      <p>
        Social Counseling
      </p>
      <p>
        Name, Phone, E-Mail…
      </p>
    </li>
    <li>
      <p>
        Occupational Health Services / your Occupational Physician
      </p>
      <p>
        Name, Phone, E-Mail…
      </p>
    </li>
    <li>
      <p>
        Representative of Severely Handicapped Persons
      </p>
      <p>
        Name, Phone, E-Mail…
      </p>
    </li>
    <li>
      <p>
        Occupational Safety Officer / OHS-Management
      </p>
      <p>
         Name, Phone, E-Mail…
      </p>
    </li>
    <li>
      <p>
        Human Resources Department/ HR-Management
      </p>
      <p>
        Name, Phone, E-Mail…
      </p>
    </li>
    <li>
      <p>
        Works Committee / Staff Council
      </p>
      <p>
        Name, Phone, E-Mail…
      </p>
    </li>
  </ul>
</div>