<div class="jumbotron">
  <div class="container">
    <h1>Internal support services</h1>
  </div>
</div>
<div class="container" ng-controller="InternalSupportCtrl">
  <div class="list">
    <div class="item item-divider" ng-click="internalSupport = '1'">
      Social counseling
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '1'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '1'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '1'">
      Responsible for everything that can affect psychosocial well-being:
      personal problems, financial problems, conflicts in the team, mental illness and so on.
      Consultations with social counselors are confidential.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '2'">
      Occupational Health Services / Occupational Physician
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '2'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '2'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '2'">
      Participates in the analyzes of working conditions (risk assessment).
      Supports and advises employers
      and employees in the healthy design of work conditions
      and work-related health problems
      (advice on treatment options, behavioral changes, capacity constraints etc.).
      Also supports you with returning to work after a long disability.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '3'">
      Representative of Severely Handicapped Persons
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '3'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '3'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '3'">
      Can inform you about the special rights and obligations for the severely disabled.
      For example, they know all about individual-related surcharges or auxiliary equipment.
      They can also make contact with integration services.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '4'">
      Occupational Safety Officer / OHS-Management
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '4'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '4'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '4'">
      Responsible for working on the prevention of occupational diseases
      and also advises the management in the implantation of risk assessments.
      Consult them on issues of occupational safety
      and health (e.g. with regard to ergonomics in the workplace).
      Before doing so, of course, speak with your manager about your concerns.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '5'">
      HR Department/Management
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '5'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '5'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '5'">
      The HR Management cares about personnel matters, education and training.
      They can support you in conversations with advice and action.
      They are also your contact for questions about flexible working hours,
      the care of elderly parents and parental leave, switching to another team, etc.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '6'">
      Works Committee/Staff Council
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '6'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '6'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '6'">
      Happy when they are brought on board before it is too late…
      because as an elected official/institution
      they represent your interests to the company’s management.
      They are the contact point for any suggestions
      and provide information about the state of affairs in the company.
      In case of conflict, they can also act as a mediator between various parties.
    </div>
    <div class="item item-divider" ng-click="internalSupport = '7'">
      Your Supervisor
      <span class="glyphicon glyphicon-menu-down" ng-show="internalSupport !== '7'"></span>
      <span class="glyphicon glyphicon-menu-right" ng-show="internalSupport === '7'"></span>
    </div>
    <div class="item item-text-wrap" ng-show="internalSupport === '7'">
      Your supervisor should be the first point of contact in case of problems,
      especially in smaller companies.
    </div>
  </div>
</div>