<div class="jumbotron">
  <div class="container">
    <h1>Signs of long-term overload</h1>
  </div>
</div>
<div class="container">
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'en/img/chapter4/overstress.svg' : 'en/img/legacy/chapter4/overstress.jpg' }}"
       alt="" />
</div>