<div class="jumbotron">
  <div class="container">
    <h1>Support offers</h1>
  </div>
</div>
<div class="container">
  <p>
    Be aware of whether you have already reached  these <strong>limiting criteria</strong>. Be honest with yourself:
  </p>
  <p>
    <ul class="triangle">
      <li>Is it really the work that is “too much”?</li>
      <li>Or is it your goals of perfection (internal stressors)?</li>
      <li>Or is it the multiple responsibilities in work and private life?</li>
      <li>Are private problems playing a role?</li>
    </ul>
  </p>
  <p>
    If the cause lies in the <strong>private sphere</strong>:
    Find a solution there!
  </p>
  <p>
    If the cause is <strong>at work</strong>:
    Discuss this matter  with your supervisor (-> action aids).
  </p>
  <p>
    You should <strong>not</strong> passively accept your warning signals for <strong>longer than 2 weeks</strong>
    &ndash; for your own sake!
  </p>
  <p>
    There are people and institutions in which you can <strong>find support</strong>:
    inside and outside the company. For both, refer to the following slides.
  </p>
</div>