<div class="jumbotron">
  <div class="container">
    <h1>When is it time to accept help?</h1>
  </div>
</div>
<div class="container" ng-controller="TimeForHelpCtrl">
  <p>
   Everyone has moments when they feel overstretched and under pressure.
   As you learned in the first chapter (<a ng-click="goToAcuteStress()" style="cursor: pointer;">Acute&nbsp;Stress</a>),
   you can experience <strong>effects on four levels</strong>:
   in your physical reactions, your behavior, your feelings and your thoughts.
   If the external stressors or stress reactions last for too long, their effects may also increase.
   It is then time to change the situation.
  </p>
  <p>
   Below you will learn what signs can serve as a <strong>warning</strong> to you, in order to get support in time.
   The sooner you figure it out, the lower the risk of long term suffering from the consequences of <strong>overstraining</strong>.
  </p>
  
  <br>
  <br>
  <br>
  
  <img class="center-image"
       ng-src="{{ supportSvg() ? 'img/chapter4/time-for-help.svg' : 'img/legacy/chapter4/time-for-help.jpg' }}"
       alt="" />
</div>