<div class="jumbotron">
  <div class="container">
    <h1>Chapter 4</h1>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <h2>Recognize overload signals and find support</h2>
  </div>
  <p>
    In this chapter we deal with the following questions:
  </p>
  <ul class="triangle">
    <li>When is it the time to get help?</li>
    <li>How do you recognize that you are overworked?</li>
    <li>What internal support services are available?</li>
    <li>What external support services are available?</li>
  </ul>
</div>