<div class="jumbotron">
  <div class="container">
    <h1>Handlungshilfen</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <p>
      Zum Schluss haben wir Ihnen zahlreiche Materialien und Arbeitsblätter zur Vertiefung der
      besprochenen Inhalte zusammengestellt.
    </p>
    <p>
      Wählen Sie aus, was davon für Sie nützlich ist!
    </p>
  </div>
  <h3>Bitte wählen Sie eine Kategorie aus:</h3>
  <button class="btn btn-action" ui-sref="app.guidance.externalResources.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-leaf"></span>
    Äußere Ressourcen
  </button>
  <button class="btn btn-action" ui-sref="app.guidance.internalResources.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-leaf"></span>
    Innere Ressourcen
  </button>
  <button class="btn btn-action" ui-sref="app.guidance.externalStressors.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-fire"></span>
    Äußere Stressoren
  </button>
  <button class="btn btn-action" ui-sref="app.guidance.internalStressors.overview" style="margin-right: 30px;">
    <span class="glyphicon glyphicon-fire"></span>
    Innere Stressoren
  </button>
</div>