<div class="jumbotron">
  <div class="container">
    <h1>Genuss-Training 1/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Können Sie eigentlich noch genießen?
  </p>
  <p>
    Ihre Antwort auf diese Frage gibt einen ersten Hinweis darauf,
    wie es um Ihre psychische Gesundheit bestellt ist.
    Menschen mit einer seelischen Erkrankung
    fällt es in der Regel schwer, Dinge oder das Leben insgesamt zu genießen.
  </p>
  <p>
    Umgekehrt lässt sich sagen:<br>
    Wenn Sie Ihre <strong>Genussfähigkeit trainieren</strong> &ndash;
    sich also auch während normaler Arbeitstage immer mal wieder genussvolle Momente gönnen &ndash;,
    dann leisten Sie damit einen Beitrag zur Stabilisierung Ihrer psychischen Gesundheit.
    Insbesondere Ihrer Stimmung tun Sie damit etwas Gutes.
  </p>
  <p>
    Im Folgenden finden Sie
    die <strong>„Kleine Schule des Genießens“</strong> 
    (nach Dr. Rainer Lutz) &ndash;
    gönnen Sie sich möglichst täglich so eine Auszeit ohne schlechtes Gewissen,
    einfach als Genuss-Pause.
    Das Beispiel orientiert sich am Genuss von Nahrungsmitteln bzw. Getränken.
    Sie können die Regeln aber auch auf andere Genussbereiche
    (Spaziergang an der frischen Luft, Fahrradtour, Ausüben eines Hobbys) übertragen.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.enjoymentTraining2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>