<div class="jumbotron">
  <div class="container">
    <h1>Genuss-Training 2/2</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Testen Sie die folgenden „Regeln“ jetzt direkt mithilfe eines Apfels oder einer Tasse Tee oder Kaffee!</strong>
  </p>
  <p>
    <strong>Kleine Schule des Genießens</strong> (nach Dr. Rainer Lutz):
  </p>
  <ol>
    <li>
      <strong>Genuss braucht Zeit:</strong> Ein Freiraum zum Genießen soll geschaffen werden. Gönnen Sie sich diese Zeit!
    </li>
    <li>
      Genuss und Genießen müssen erlaubt sein:
      Angenehme Erfahrungen mit Essen und Trinken sind kein Luxus.
      Verabschieden Sie sich von Verboten, die vielleicht noch aus Ihrer Kindheit stammen.
      <strong>Sie dürfen genießen!</strong>
    </li>
    <li>
      <strong>Genuss geht nicht nebenbei:</strong>
      Er kann nicht neben anderen Aktivitäten erlebt werden.
      Zu einem bewussten Geschmackserlebnis gehört die ungeteilte Aufmerksamkeit
      aller beteiligten Sinne.
    </li>
    <li>
      <strong>Erfahren Sie, was Ihnen gut tut:</strong>
      Jeder Mensch kennt seine Vorlieben,
      aber auch Abneigungen, und kann sich zu einem Gourmet entwickeln.
      Nahrungspräferenzen können personen- und altersabhängig sein.
    </li>
    <li>
      <strong>Weniger</strong> (Genuss) <strong>ist mehr</strong> (Genuss):
      Bei einem Überangebot ist Genuss schwer möglich.
    </li>
    <li>
      <strong>Ohne Erfahrung kein Genuss:</strong> Genussvielfalt muss,
      wie andere Kulturgüter auch, erlernt werden.
      Der geschmackliche Erfahrungsschatz wird erweitert, indem immer wieder Neues probiert wird.
    </li>
    <li>
      <strong>Genuss ist alltäglich:</strong>
      Festliches Essen ist willkommen, aber nicht Bedingung für ein Genusserlebnis.
      Genuss ist auch im Alltag möglich.
      Außergewöhnliche Ereignisse sind nicht Bedingung.
    </li>
  </ol>
  <h5 class="footnote">
    Lutz, R. &amp; Koppenhöfer, E. (1983). Kleine Schule des Genießens.
    In R. Lutz (Hrsg.) Genuß und Genießen. Zur Psychologie genußvollen Erlebens und Handelns. Weinheim: Beltz; S. 112–125.
  </h5>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.enjoymentTraining1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>