<div class="jumbotron">
  <div class="container">
    <h1>Innere Ressourcen</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Innere_Ressourcen.pdf" target="_blank">Diese Handlungshilfen als PDF-Dokument abspeichern.</a>
  </p>
  <p>
    Was können Sie tun, um Ihre inneren Ressourcen zu stärken?<br>
    Zu den folgenden Themen erhalten Sie nun konkrete Tipps:
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.internalResources.enjoymentTraining1">Genuss-Training</a></li>
    <li><a ui-sref="app.guidance.internalResources.resilienceTraining1">Kleines Resilienztraining</a></li>
    <li>
      <a ui-sref="app.guidance.internalResources.recovering1">Erholung / Entspannung</a>
      <ul class="triangle wide" style="margin-bottom: 0;">
        <li>
          <a ui-sref="app.guidance.internalResources.recovering2">Trance Suggestion</a>
        </li>
        <li style="margin-bottom: 0; padding-bottom: 0;">
          <a ui-sref="app.guidance.internalResources.recovering4">Progressive Muskelrelaxation</a>
        </li>
      </ul>
    </li>
    <li><a ui-sref="app.guidance.internalResources.successDiary">Das Erfolgstagebuch</a></li>
    <li><a ui-sref="app.guidance.internalResources.physicalHealth1">Körperliche Gesundheit: Essen, Schlaf &amp; Co.</a></li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action" ui-sref="app.guidance.start">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      Alle Handlungshilfen
    </button>
  </div>
</div>