<div class="jumbotron">
  <div class="container">
    <h1>Körperliche Gesundheit: Essen, Schlaf &amp; Co.</h1>
  </div>
</div>
<div class="container">
  <p>
    Es mag ungewöhnlich klingen:
    Aber wer seine gesunde Psyche pflegen möchte,
    der sollte seinem Körper etwas Gutes tun.
    Das Gegenteil kennen wir schließlich alle:
    Wer im Stress ist, denkt nicht an sich selbst.
    Er vernachlässigt seine Grundbedürfnisse &ndash; er atmet oberflächlich,
    trinkt Kaffee statt Wasser
    und achtet nicht auf genügend körperlichen Ausgleich 
    von den auf der Arbeit vorherrschenden Bedingungen
    (Bewegung bei Bildschirmtätigkeit, 
    Entspannung beanspruchter Muskelgruppen bei körperlichen Tätigkeiten).
    Dabei wäre genau jetzt eine kleine
    <strong>„SelfCare-Pause“</strong> sinnvoll,
    um kurz auf Abstand zu gehen 
    und sich optimal für die Stressbewältigung zu rüsten.
  </p>
  <p>
    Was tun Sie heute schon, 
    um Ihre Fitness am Arbeitsplatz zu erhalten und auszubauen?
  </p>
  <ul class="triangle">
    <li>einen Apfel essen</li>
    <li>sich kurz recken und strecken</li>
    <li>den Blick in die Ferne schweifen lassen</li>
    <li>eine Tasse Tee/Kaffee trinken</li>
    <li>eine Runde um den Block gehen</li>
  </ul>
  <p>
    Und wir haben noch mehr Tipps für Sie,
    mit denen Sie die menschlichen Grundbedürfnisse befriedigen 
    und damit die Basis für gute Arbeit herstellen.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>