<div class="jumbotron">
  <div class="container">
    <h1>Körperliche Gesundheit: Essen</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50">
      <h3>Ernährung</h3>
      <p>
        Wer viel arbeitet, hat es schwer mit der gesunden Ernährung.
        Um sich über einen 8-Stunden-Tag hinweg leistungsfähig zu halten,
        brauchen Sie guten <strong>"Treib-Stoff”</strong> &ndash;
        sonst sinkt die Leistungsfähigkeit,
        und die Fehlerhäufigkeit steigt.
      </p>
      <p>
        Süßigkeiten wie Schokoriegel oder Ähnliches
        sind da nur scheinbar hilfreich:
        Sie sorgen zwar
        aufgrund des hohen Zuckergehalts
        für ein rasches Ansteigen der Leistungskurve &ndash;
        aber genauso schnell ist der Zucker auch wieder abgebaut.
        Und dann sinkt der Blutzuckerspiegel auf Kellerniveau
        und nimmt unsere Stimmung mit.
        Wer unterzuckert ist, wird gereizt und aggressiv.
      </p>
      <p>
        Sorgen Sie dafür,
        dass Ihr Blutzuckerspiegel nur sachte ansteigt
        und genauso sachte wieder sinkt.
        Das schaffen Sie durch Vollkornprodukte und durch Bananen.
      </p>
      <p>
        Sich gut zu ernähren,
        ist auch Ausdruck von <strong>Selbstfürsorge</strong> ...
      </p>
    </div>
    <div class="col col-50">
      <h3>
        Gesunde und leckere Ernährung für besseres Arbeiten:
        Was heißt das für Sie?
      </h3>
      <p>
        Die folgenden Nahrungsmittel (besser: Genussmittel im wahrsten Sinne des Wortes) liefern Ihnen alles,
        was Sie brauchen, um über mehrere Stunden gute Arbeit zu leisten. Überlegen Sie sich,
        welchen “Doping-Stoff” Sie morgen mal testen wollen!
      </p>
      <ul class="triangle">
        <li>Mandeln und Nüsse</li>
        <li>Quark mit Obst</li>
        <li>Bananen-Milchshake</li>
        <li>und immer wieder Wasser</li>
      </ul>
      <p>
          Weitere  Tipps und  Ernährungsinformationen finden Sie in der folgenden
          <a href="pdf/Ratgeber-Ernaehrung-DGE.pdf" target="_blank">Broschüre der Deutschen Gesellschaft für Ernährung e.V.</a>
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>