<div class="jumbotron">
  <div class="container">
    <h1>Körperliche Gesundheit: Schlaf</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-50" style="padding-right: 25px;">
      <h3>Schlafen:</h3>
      <p>
        Es ist ein Teufelskreis:
        Wer nicht gut schläft, ist morgens nicht erholt; 
        wer nicht erholt ist,
        macht mehr Fehler 
        und braucht länger für die Arbeit; 
        wer viel arbeitet, braucht viel Schlaf und Erholung usw. 
        Damit es nicht so weit kommt &ndash;
        und eine Abwärtsspirale in Gang gesetzt wird &ndash;, 
        sollten Sie frühzeitig gegensteuern.
      </p>
      <p>
        Schlaf mag <strong>Regelmäßigkeit</strong>! Achten Sie also darauf,
        dass Sie vor dem Schlafengehen 
        in immer derselben Reihenfolge mit dem Hund gehen,
        die Haustür abschließen, nach den Kindern sehen, eine Tasse Tee trinken,
        sich umziehen, waschen, zu Bett gehen.
      </p>
      <p>
        Das erleichtert Ihnen das <strong>Umschalten aufs Einschlafen</strong>
        (die Psyche bekommt quasi das Signal:
        „Hey, jetzt geht es gleich zu Bett“),
        und es gibt Halt in Zeiten von Veränderungen.
      </p>
    </div>
    <div class="col col-50">
      <h3>Gut schlafen: Was heißt das für Sie?</h3>
      <p>
        7 Tipps zum besseren Schlafen:
      </p>
      <ul class="triangle">
        <li>
          für Zeit zum Umschalten aufs „Schlafprogramm“ sorgen
        </li>
        <li>
          für Regelmäßigkeit durch Rituale und feste Zeiten sorgen
          (z.B. Tee trinken, beten, Atemübung machen)
        </li>
        <li>
          für Ruhe sorgen (Ohrstöpsel?)
        </li>
        <li>
          für Dunkelheit sorgen
        </li>
        <li>
          im Schlafzimmer: nichts als Schlafsachen
          (kein Fernseher, kein Handy! &ndash;
          Wir wissen, dass das hart ist …)
        </li>
        <li>
          bei Grübelattacken raus aus dem Bett und: aufschreiben!
        </li>
        <li>
          bei nächtlichem Aufwachen (das ist normal!):
        nicht ärgern, sondern umdrehen,
          sich freuen, dass man noch nicht aufstehen muss und weiterschlafen
        </li>
      </ul>
      <p>
        Diese Tipps gelten für Personen mit Schlafproblemen
        (und für die, die unter Abschaltproblemen leiden).
        Falls Sie gut schlafen können, 
        dürfen Sie natürlich in Ihrem Schlafzimmer tun und lassen,
        was Sie wollen …
      </p>
      <p>
        Weitere Tipps für die Schlafhygiene finden Sie im folgenden
        <a href="pdf/Ratgeber-Schlafhygiene-DGSM.pdf" target="_blank">Ratgeber der Deutschen Gesellschaft für Schlafforschung und Schlafmedizin</a>.
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.physicalHealth2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>