<div class="jumbotron">
  <div class="container">
    <h1>Erholung durch Trance Suggestion</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Wie sieht es aus mit einer kleinen Erholungseinheit?</strong>
  </p>
  <p>
    Bei unserer Arbeit erbringen wir Leistungen.
    Dafür verbrauchen wir Energie.
    Um uns langfristig leistungsfähig zu halten, ist ausreichend und regelmäßige Erholung wichtig,
    um immer wieder Energie liefern zu können.<br>
    Erholung ist mehr, als sich einfach auf die Couch zu legen:
  </p>
  <p>
    <strong>Erholung ist ein Kontrasterlebnis</strong> &ndash; 
    oder sie ist keine ... <br>
    Wenn Sie jetzt direkt eine kleine Pause machen wollen &ndash; wunderbar!
  </p>
  <p>
    Im Folgenden finden Sie eine Trance-Suggestion (Audio-Datei) mit dem Titel
    <strong>“Einfach entspannt Pause machen”</strong> &ndash; hören Sie gleich rein!
  </p>
  <audio controls style="width: 100%">
    <source src="audio/trance-suggestion.ogg" type="audio/ogg">
    <source src="audio/trance-suggestion.mp3" type="audio/mpeg">
    <p class="discreet-note">
      <span class="glyphicon glyphicon-info-sign"></span>
      Die Audiowiedergabe wird leider nicht von Ihrem Webbrowser untestützt.
    </p>
  </audio>
  <p>
    Achten Sie darauf, dass Sie für die nächsten 8 Minuten ungestört sind.
  </p>
  <p>
    Viel Spaß beim Genießen und Entspannen!
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>