<div class="jumbotron">
  <div class="container">
    <h1>Entspannungstrainings</h1>
  </div>
</div>
<div class="container">
  <p>
    In unserem Kulturkreis sind es vor allem zwei Methoden,
    die  neben den asiatischen Entspannungstechniken  Anwendung finden:
    die <strong>progressive Muskelentspannung (PME)</strong> 
    und das <strong>autogene Training (AT)</strong>.
  </p>
  <p>
    Bei der <strong>PME</strong> geht es um einen Wechsel
    von Anspannung und Entspannung der Muskulatur,
    angefangen beispielsweise bei der rechten Hand.
    Die Muskeln werden angespannt 
    und nach einigen Sekunden ausatmend wieder gelockert.
    So gewinnt man ein Gefühl für angespannte Muskulatur.
    Da dieses Verfahren keine Nebenwirkungen hat 
    und mit körperlicher Aktivität verbunden ist,
    ist es für Neulinge leichter zu lernen als das autogene Training.
    In der folgenden Anleitung können Sie die <a ui-sref="app.guidance.internalResources.recovering4">PME testen</a>, wenn Sie möchten. 
  </p>
  <p>
    Beim <strong>autogenen Training</strong> wird allein mit der Kraft
    der Konzentration Muskulatur gelockert,
    angefangen bei den Armen („Mein rechter Arm ist schwer“),
    und besser durchblutet („Mein rechter Arm ist warm“).
    Es schließen sich formelhafte Sätze zur Funktion der Atmung 
    und des Herzens an
    sowie Selbst-Anweisungen für eine kühle Stirn und einen warmen Bauch.
  </p>
  <p>
    Das <strong>Resultat</strong> ist bei beiden Entspannungstrainings dasselbe:
    ein <strong>Zustand tiefer körperlicher und mentaler Entspannung</strong>,
    verbunden mit <strong>starkem Wohlbefinden</strong>.
  </p>
  <p>
    Beides lernt am leichtesten in einem professionell angeleiteten Kurs,
    zum Beispiel bei der Volkshochschule.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering4">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>