<div class="jumbotron">
  <div class="container">
    <h1>Erholung/Entspannung</h1>
  </div>
</div>
<div class="container">
  <p>
    Wir brauchen den <strong>Wechsel von Anspannung und Entspannung</strong>.
    Den müssen wir notfalls trainieren.
    Wenn man täglich 3 Monate lang ein Entspannungstraining geübt hat,
    dann ist man  als durchschnittlich entspannungsbegabter Mensch in der Lage,
    Entspannung quasi auf Knopfdruck herbeizurufen.
    Und das lohnt sich.
    Wie Sie von einem Entspannungstraining profitieren:
  </p>
  <h3>Das vegetative Nervensystem normalisiert sich:</h3>
  <ul>
    <li>- Der Blutdruck wird gesenkt</li>
    <li>- Die Muskelanspannung lässt nach</li>
    <li>- Die Pulsfrequenz sinkt</li>
    <li>- Die Sensibilität für Muskelverspannungen steigt</li>
  </ul>
  <h3>Auch die psychischen Effekte sind enorm:</h3>
  <ul>
    <li>+ Man bekommt ein dickeres Fell und ist selbstbewusster</li>
    <li>+ Die Konzentrationsfähigkeit und die geistige Frische wachsen</li>
    <li>+ Man fühlt sich dem Stress stärker gewachsen</li>
    <li>+ Die innere Gelassenheit wird gestärkt, man ruht in sich</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>