<div class="jumbotron">
  <div class="container">
    <h1>Die progressive Muskelentspannung nach Jacobson (2/3)</h1>
  </div>
</div>
<div class="container">
  <p>
    Und nun probieren Sie diesen Wechselrhythmus von An- und Entspannung
    bei den folgenden Muskelgruppen:
  </p>
  <ul class="triangle">
    <li>
      rechte Hand zur Faust ballen und ausatmend loslassen
    </li>
    <li>
      linke Hand zur Faust ballen und ausatmend loslassen
    </li>
    <li>
      rechten Bizeps (rechte Hand locker zur Schulter führen) anspannen
      und leicht hart machen und ausatmend loslassen
    </li>
    <li>
      linken Bizeps anspannen und ausatmend loslassen
    </li>
    <li>
      Schultern hochziehen zu den Ohren (vorsichtig) und loslassen
    </li>
    <li>
      Bauch einziehen (das verändert die Atmung) und loslassen
    </li>
    <li>
      Po anspannen und ausatmend loslassen
    </li>
    <li>
      Oberschenkel anspannen und ausatmend loslassen
    </li>
    <li>
      Zehen anziehen und so Waden und Füße anspannen, loslassen
    </li>
    <li>
      falls Sie noch mögen, fahren Sie mit weiteren Muskelgruppen fort:
    </li>
    <li>
      Kinn zur Brust führen und wieder locker aufrichten, loslassen
    </li>
    <li>
      Stirn in Falten legen und wieder glatt werden lassen
    </li>
    <li>
      Kiefermuskeln anspannen und ausatmend wieder loslassen
    </li>
  </ul>
  <p>
    Das Wichtigste ist die Konzentration auf die Muskeln!
    Falls Sie sich das allein nicht zutrauen,
    besorgen Sie sich eine CD
    (gibt’s kostenlos oder günstig bei Krankenkassen)
    oder besuchen Sie einen Kurs.
  </p>
  <p>
    Oder Sie verwenden diese Audio-Datei zur progressiven Muskelentspannung.
  </p>
  <audio controls style="width: 100%">
    <source src="audio/progressive-muscle-relaxation.ogg" type="audio/ogg">
    <source src="audio/progressive-muscle-relaxation.mp3" type="audio/mpeg">
    <p class="discreet-note">
      <span class="glyphicon glyphicon-info-sign"></span>
      Die Audiowiedergabe wird leider nicht von Ihrem Webbrowser untestützt.
    </p>
  </audio>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering4">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering6">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>