<div class="jumbotron">
  <div class="container">
    <h1>Die progressive Muskelentspannung nach Jacobson (3/3)</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Übungstipps:</strong>
  </p>
  <p>
    Folgende Empfehlungen fürs tägliche Üben haben sich bewährt:
    <ul class="triangle">
      <li>Üben Sie möglichst immer zur selben Zeit am selben Ort!</li>
      <li>Stellen Sie Störungen aus (Telefon, Handy, Klingel)!</li>
      <li>Bei Bedarf: Stimmen Sie mit der Familie ab, wann Sie üben!</li>
      <li>Rechnen Sie nicht mit Erfolg auf Knopfdruck.</li>
      <li>Lassen Sie los! Konzentrieren Sie sich aufs Lockerlassen!</li>
      <li>Schicken Sie ablenkende Gedanken mental vor die Tür!</li>
      <li>Führen Sie ein <a ui-sref="app.guidance.internalResources.recovering7">Entspannungsprotokoll</a>! </li>
    </ul>
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering5">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering7">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>