<div class="jumbotron">
  <div class="container">
    <h1>Die progressive Muskelentspannung nach Jacobson (1/3)</h1>
  </div>
</div>
<div class="container">
  <p>
    Als Entspannungsneuling entscheiden Sie sich am besten für die progressive Muskelentspannung,
    denn sie ist leicht zu erlernen und nebenwirkungsfrei.
    Im Folgenden finden Sie eine einfache Anleitung für diese Methode.
    Sie geht zurück auf den englischen Biophysiologen Jacobson.
    Er hatte beobachtet:
    Wenn Menschen Stress haben, sind ihre Muskeln angespannt.
  </p>
  <p>
    Seine These war:
    <strong>Wenn man die Muskeln entspannt, 
    ent-stresst man die Menschen.</strong>
    So einfach ist sein Prinzip.
  </p>
  <p>
    Sie sollen der Reihe nach verschiedene Muskelgruppen zunächst anspannen (ca. 8 Sekunden,
    nicht übertreiben, sich auf die Anspannung konzentrieren)
    und dann mit dem Ausatmen (!) entspannen (ca. 20 Sekunden,
    dabei die Muskeln einfach locker lassen;
    beobachten, wie sich das anfühlt).
    Und dann vergleichen Sie:
  </p>
  <p>
      <strong>Gibt es einen Unterschied zwischen Anspannung und Entspannung?</strong>
  </p>
  <p>
    Das ist schon alles. Konzentration auf angespannte und entspannte Muskeln.
    Ganz ohne Geheimnis, erschreckend banal, eigentlich.
    Aber es wirkt! Entspannend, blutdrucksenkend, "dickes-Fell-bildend".
    Suchen Sie sich einen (für den Anfang) ruhigen Platz,
    an dem Sie für die nächsten 20 Minuten ungestört sind.
    Setzen Sie sich so entspannt wie möglich hin
    (Lehne im Rücken, Füße auf dem Boden, Beine im rechten Winkel),
    sodass Sie gut sitzen können.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering3">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering5">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>