<div class="jumbotron">
  <div class="container">
    <h1>Entspannungsprotokoll</h1>
  </div>
</div>
<div class="container">
  <p>
    Dokumentieren Sie hier Ihr Training!
    Dieses Protokoll nach jedem Entspannungstraining ausfüllen.
    Am besten 1- bis 2-mal täglich.
  </p>
  <table border="0" style="width: 100%">
    <thead style="color: #fff; background-color: #3ca046;">
      <tr>
        <th style="padding: 5px;">
          Datum
        </th>
        <th style="padding: 5px;">
          Uhrzeit
        </th>
        <th style="padding: 5px;">
          Wie ruhig/unruhig war ich vorher?<br>
          (auf einer Skala von 1&ndash;10)
        </th>
        <th style="padding: 5px;">
          Und danach?
        </th>
        <th style="padding: 5px;">
          Wie zufrieden bin ich mit dem Erfolg?<br>
          (Schulnoten 1&ndash;6)
        </th>
        <th style="padding: 5px;">
          Gibt es etwas Besonderes zu berichten?
        </th>
      </tr>
    </thead>
    <tbody style="color: #000">
      <tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr><tr style="background-color: #eee;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
      <tr style="background-color: #fff;">
        <td style="padding: 5px;">
          &nbsp;
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
        <td style="padding: 5px;">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.recovering6">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>