<div class="jumbotron">
  <div class="container">
    <h1>Kleines Resilienztraining 2/2</h1>
  </div>
</div>
<div class="container">
  <h3>Beispiele für innere Kraftquellen:</h3>
  <p>
   Was hilft, um aus Krisen wieder herauszukommen?
  </p>
  <br>
  <p>
    Zum Beispiel:
  </p>
  <ul class="triangle">
    <li>„Ich lasse mich nicht unterkriegen.”</li>
    <li>„Ich habe schon ganz andere Sachen geschafft.”</li>
    <li>„So gut wie XY bin ich allemal.”</li>
    <li>„Ich stehe zu mir und meinen Taten.”</li>
    <li>„Ich habe Freundinnen und Freunde,
      auf die ich mich verlassen kann.”</li>
    <li>„Ich bin nie allein.”</li>
    <li>„Ich gehe meinen eigenen Weg.“</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.resilienceTraining1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>