<div class="jumbotron">
  <div class="container">
    <h1>Kleines Resilienztraining 1/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Um sich vor Augen zu führen, 
    wie viele widrige Situationen Sie in Ihrem Leben schon überstanden
    haben und wie gut Ihre Widerstandskraft ausgeprägt ist,
    können Sie Folgendes tun:
  </p>
  <p>
    Nehmen Sie ein DIN-A4-Blatt, einen Stift 
    und reservieren Sie sich 30 Minuten Zeit.
    Legen Sie das Blatt quer vor sich hin 
    und zeichnen Sie eine waagerechte Linie:
    Das ist Ihr Lebensstrahl von der Geburt bis heute.
    Die senkrechte Linie links markiert,
    wie gut Sie sich während einzelner Lebensphasen gefühlt haben.
  </p>
  <p>
    Nach der Geburt ging es bei der Beispielperson mit dem Befinden nach oben,
    bis sie eingeschult wurde.
    Nachdem sie sich mit der Schule angefreundet hatte,
    ging es mit ihrem Befinden wieder bergauf.  
    Der Abbruch der ersten Beziehung hat ihr Befinden wieder sinken lassen,
    Spaß bei der Ausbildung ließ es wieder wachsen,
    bis eine Kündigung im 1. Job es wieder reduzierte.
  </p>
  <div class="row">
    <div class="col col-50">
      <img ng-src="{{ supportSvg() ? 'img/guidance/resilience-training.svg' : 'img/legacy/guidance/resilience-training.jpg' }}"
           alt="" />
    </div>
    <div class="col col-50">
      <p>
        Legen Sie so eine Kurve für sich an.
        Werfen Sie dann einen Blick auf die Krisen
        (die Felder unterhalb der Ausgangslinie mit dem Pfeil:
        Was hat Ihnen geholfen, aus den Krisen wieder hochzukommen?
        <strong>Was sind Ihre inneren Kraftquellen?</strong>
        Das sind die Einstellungen oder Fähigkeiten,
        die Ihre Resilienz begründen! 
        Formulieren Sie diese und schreiben Sie sie auf.
        Sie können optimistisch bleiben …
        Bewahren Sie das Blatt gut auf, für eventuelle Krisenfälle.
      </p>
      <p>
        <strong>Beispiele für Kraftquellen</strong> finden Sie auf der nächsten Seite.
      </p>
    </div>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.internalResources.resilienceTraining2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>