<div class="jumbotron">
  <div class="container">
    <h1>Erfolgstagebuch</h1>
  </div>
</div>
<div class="container">
  <p>
    <strong>Aufschreiben macht stark</strong>, und zwar gleich in mehrfacher Hinsicht:
    <ul class="triangle">
      <li>
        Sie können sich Belastungen von der Seele schreiben
        (z.B. 1 Stunde vorm Zubettgehen) &ndash; das entlastet.
      </li>
      <li>
        Sie können Ihren Stress protokollieren, 
        indem Sie alle 2 Stunden notieren,
        was Sie gestresst hat
        (siehe den <a ui-sref="app.guidance.internalStressors.myStress">Selbstbeobachtungsbogen</a> in den Handlungshilfen), 
        wie Ihr Körper hierauf reagiert hat,
        was Sie gedacht haben und was Sie getan haben &ndash; das entstresst.
      </li>
      <li>
        Und Sie können (wir sind ja hier beim Thema Ressourcen)
        ein Erfolgstagebuch führen &ndash; das stärkt Ihr Selbstwertgefühl;
        und zusätzlich lenken Sie dabei den Blick aufs Positive,
        was Ihre Stimmung hebt.
      </li>
    </ul>
  </p>
  <h3>Das Erfolgstagebuch</h3>
  <p>
    Besorgen Sie sich ein schönes Notizbuch und vielleicht auch einen besonderen Stift.
    Notieren Sie täglich am Ende des Tages außerhalb des Schlafzimmers,
    was Ihnen an diesem Tag gut gelungen ist.
    Es müssen keine Heldentaten sein &ndash; einfach etwas, dessen Gelingen nicht selbstverständlich war.
    Etwas, wofür Sie dankbar sein können. Falls Ihnen wirklich rein gar nichts einfallen sollte,
    nehmen Sie die Anfängervariante:
    Was an diesem Tag ist nicht völlig danebengegangen?
  </p>
  <p>
    Das Erfolgstagebuch kann Ihnen in schwierigen Zeiten eine wichtige Stütze sein.
    Sie sehen dann nämlich, dass es auch schon glücklichere Zeiten in Ihrem Leben gab.
    Und das Lesen verbessert Ihre Laune und kann Ihnen Trost geben und Sie stärken.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.internalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>