<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Break schedules</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Regular short breaks</strong> in which we decide to breathe are important. 
        The older we get, the more we need them. 
        It’s all about short <strong>timeouts</strong>, which the body needs to relax, 
        and which help us to endure the whole working day without stress  
        becoming too much.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        <strong>TIP:</strong> Take regular short breaks. 
        To be efficient, the breaks should be taken before you feel tired. 
        For more tips to strengthen your external resources, see the action aids in the main menu.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>