<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Participation</h4>
    </div>
    <div class="modal-body">
      <p>
        Participation is an important resource. 
        Your manager enables you to participate in conversations and ideally includes you in the
        planning and organization of your work &ndash; and you should <strong>accept this offer</strong> and
        take the chance to be part of designing your workplace.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        In the main menu you will find action aids allowing you to strengthen the resources
        that result from your work organization.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>