<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Scheduling</h4>
    </div>
    <div class="modal-body">
      <p>
        Autonomous scheduling or participating in the organization of working times ensures that
        workers can care for their own resources. 
        In addition to the decision latitude, time latitude also contributes to
        the work being more satisfying because you feel that you can <strong>determine your own time</strong>. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> I want to evaluate this resource!
        </label>
      </p>
      <p>
        Since many aspects of the organization of work are not in your hands, you should<br>
        <strong>talk to your manager</strong>. 
        Ideas for the preparation of this discussion can be found in the action aids via the main menu. 
        No one knows the processes of your job as well as you do, so you should constructively bring 
        your knowledge and experience into this conversation.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>