<div class="jumbotron">
  <div class="container">
    <h1>Recognition budget &ndash; Part 1</h1>
  </div>
</div>
<div class="container">
  <p>
    Many people believe that they are giving more recognition than they get themselves. 
    It is important to recognize recognition,
    for example, the smile on the face of your conversation partner, holding a door, 
    being asked for your personal opinion at work.
  </p>
  <p>
    Search specifically for evidence of appreciation or recognition given to you. 
    And when you come to the conclusion “that is too little”,
    get yourself some recognition by asking the people around you 
    how satisfied they are with your performance 
    (“And? From my perspective, this went well. What do you think?”).
    Of course, we need people’s feedback &ndash;
    but we should not make ourselves dependent on compliments from others.
  </p>
  <p>
    For more information, follow up on suggestions for 
    <a ui-sref="app.guidance.externalResources.appreciation2"><strong>your recognition budget</strong></a>. 
  </p>
  <p>
    And see the  
    <a ui-sref="app.guidance.externalResources.appreciation3"><strong> tips for getting more recognition</strong></a>.
  </p>
  <p>
    There are also tips for those that have to deal with a <a ui-sref="app.guidance.externalStressors.noPraise">supervisor who never gives praise</a>.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>