<div class="jumbotron">
  <div class="container">
    <h1>Recognition budget &ndash; Part 3</h1>
  </div>
</div>
<div class="container">
  <h3>To get more recognition</h3>
  <ul class="triangle">
    <li>
      Admit your (small) weaknesses. This makes you likeable and <strong>“reachable”</strong>. 
      People that think themselves as perfect, are a turn off for other people. 
      Even though everybody knows that nobody is perfect. 
    </li>
    <li>
      Make yourself an <strong>attractive dialogue partner</strong>: listen actively, show empathy and be understanding and have an open ear &ndash;
      all this is more important than giving great advice.
    </li>
    <li>
      Share your <strong>positive emotions</strong>, such as your gratitude (on received support,
      recent success, 
      the prompt sending of information material, for a delivery, etc.).
    </li>
    <li>
    Stay humble.
    Being a show off is a deterrent, <strong>modesty</strong> attracts. 
    <li>
     Be prepared to show <strong>appreciation</strong> of people
      (even if you feel rejection or skepticism): 
      Search for something appreciable in them!
    </li>
    <li>
      Emphasize the <strong>advantages of an absent third party</strong>,
      instead of joining in on backbiting. 
      Keep this line,
      even if it initially looks as you will be punished by rejection.
    </li>
    <li>
      Take care to be <strong>successful outside of the work environment</strong>. 
      Find other sources of recognition outside of work. Work is only one source for receiving recognition. 
    </li>
    <li>
      <strong>Show yourself</strong>, make yourself visible &ndash;
      not only with the achievements or your level of commitment,
      but also as a human being with all emotions
      (poker-faced winners receive less appreciation.)
    </li>
    <li>
      <strong>Encourage others</strong> to show their emotions (“Are you happy?”,
      “It is obvious that this is upsetting you”). 
      Those who are close to us in emotional moments are also liked afterwards.
    </li>
    <li>
     And if the appreciation comes in the form of appreciative words: 
     <strong>Smile please.</strong> 
     You need not say anything. 
     Just enjoy in silence…
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview 
    </button>
  </div>
</div>