<div class="jumbotron">
  <div class="container">
    <h1>Recognition budget &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <ul class="triangle">
    <li>
      <h3>Basics</h3>
      <p class="indented">
        Do I know the greatest strength of each of my colleagues?<br>
        Do I stick to the recognition rule 
        (ratio praise : criticism = at least 3 : 1)?<br>
        Do I consciously focus on positive achievements?<br>
        Do I equally distribute my appreciation, without favoritism?
      </p>
    </li>
    <li>
      <h3>Receiving recognition</h3>
      <p class="indented">
        Do most people smile when they meet me for the first time each day?<br>
        Has a colleague afforded me recognition within the past 3 weeks?<br>
        Have I been praised during the last 4 weeks  from my manager?
      </p>
    </li>
    <li>
      <h3>Giving recognition</h3>
      <p class="indented">
        Have I praised myself today?<br>
        Have I deliberately paid attention to things that make me smile during the day?<br>
        Have I praised someone (at work) during the last 5 working days?<br>
        Did I offer words of recognition to a colleague in the last 3 weeks?<br>
        Did I “naturally” recognize something consciously as  in the past 4 weeks?<br>
        Have I  praised my own supervisor in the past 3 months?
      </p>
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>