<div class="jumbotron">
  <div class="container">
    <h1>External resources</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_External_resources.pdf" target="_blank">Save these action aids as a PDF file.</a>
  </p>
  <p>
    What can you do to further strengthen the resources in your work environment? 
    You will receive tips on the following topics: 
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.externalResources.participate">Become active!</a></li>
    <li><a ui-sref="app.guidance.externalResources.socialNetwork1">Building a social network</a></li>
    <li><a ui-sref="app.guidance.externalResources.workingAtmosphere">Caring for the working atmosphere</a></li>
    <li><a ui-sref="app.guidance.externalResources.appreciation1">Recognition budget</a></li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.start">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      All action aids
    </button>
  </div>
</div>