<div class="jumbotron">
  <div class="container">
    <h1>Become active!</h1>
  </div>
</div>
<div class="container">
  <p>
    Bring yourself into work whenever you can. 
    If you can design and organize your work by yourself, 
    this will help to strengthen your well-being at the workplace. 
    A person who realizes that they have a certain amount of influence 
    or can control possibilities can actively do something for their 
    psychological well-being at work. 
    Thus, you can reduce possible overload or even prevent it.
  </p>
  <p>
    Participation at work is therefore more than just a word.
    <br>
    <strong>Employee participation is a health factor.</strong>
    Where can you participate? 
    What possibilities do you have in your job or what can you suggest?
  </p>
  <br>
  <ul class="triangle">
    <li>Suggestions / Improvement ideas to your supervisor</li>
    <li>Participation in health or quality circles</li>
    <li>Work council activities</li>
    <li>Working as a security inspector</li>
    <li>Assisting in the team for workplace celebrations…</li>
    <li>What else can you think of?</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>