<div class="jumbotron">
  <div class="container">
    <h1>Build and maintain a social network &ndash;
        Part 1
    </h1>
  </div>
</div>
<div class="container">
  <p>
    Fortunately you are not alone: you are surrounded by colleagues 
    who can support you or simply take a break or go to lunch with you. 
    Become aware of your social work network. Who belongs in it? 
    Detail your social network once. Orient yourself to the example in the figure to describe the network in more detail. 
    Record specific names in the circles.
  </p>
  <ul class="triangle">
    <li>Who supports you in what strength (line width)</li>
    <li>Who stresses you out (red line)?</li>
    <li>From whom do you desire more support (dashed line)?</li>
  </ul>
  <img ng-src="{{ supportSvg() ? 'en/img/guidance/social-network.svg' : 'en/img/legacy/guidance/social-network.jpg' }}"
       alt="" />
  <br>
  <br>
  <p>
    How you can maintain your social network? 
    Through social support among colleagues. Please read more on the next page.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.socialNetwork2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>
