<div class="jumbotron">
  <div class="container">
    <h1>Build and maintain a social network &ndash; Part 2</h1>
  </div>
</div>
<div class="container">
  <p>
    Social support is the <strong>best buffer</strong> par excellence. 
    The stressors are not felt as intensely 
    when we feel like we are part of a group: 
    for example, through consolation, understanding, helping with work tasks,
    or even through the emotional support of work circumstances
    (“I agree with you! What’s going on with them?”). That is good for us. 
  </p>
  <h3>Social support &ndash; among colleagues / peers:</h3>
  <ul class="triangle">
    <li>to give each other encouragement (“We can do it!”)</li>
    <li>to give each other solace (“These are tough times!”)</li>
    <li>to remind each other of successes 
      (“You’ve managed quite different situations.”)</li>
    <li>to forgive each other’s mistakes (“That can happen sometimes.”)</li>
    <li>to defend each other in times of conflict</li>
    <li>to be reachable, to listen to each other</li>
    <li>and of course, if possible, to provide practical support</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.socialNetwork1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>
