<div class="jumbotron">
  <div class="container">
    <h1>Care for the working atmosphere</h1>
  </div>
</div>
<div class="container">
  <p>
  The working atmosphere is not just “there”.
  It is shaped by each individual member of the workplace  &ndash;
  including you. 
  Everyone can contribute something
  that has a beneficial effect on cooperation at the workplace.
  Which of these points can you now tick as “completed” &ndash;
  and where is there potential for improvement?
  </p>
  <br>
  <ul class="triangle">
    <li>
      Give <strong>generous and positive</strong> feedback,
      but without emotional exuberance.
    </li>
    <li>
     Do not talk about third parties that are not present.
    </li>
    <li>
     Do not talk disrespectfully about your manager, your team, your colleagues,
     your workplace (ideally even not about the cafeteria…)!
    </li>
    <li>
      Take a stance <strong>against nasty comments</strong>!
      Prevent exclusion and, when in doubt, take the side of the weak!  
      Avoid information gaps within the team.
    </li>
    <li>
      <strong>Prevent the creation of small groups</strong>
      by having contact with everyone on a rotating basis,
      for example, during breaks. Go to lunch with each group.
    </li>
    <li>
     See <strong>diversity as a strength</strong>!
      Involve outsiders. Ask them for their opinion, keep in touch.
    </li>
    <li>
      Be open (show others that you <strong>trust</strong> them!)
      And tell others how you feel.
    </li>
    <li>
     Maintain your mood without pretending!
    </li>
    <li>
    Have trust in your colleagues!
      <strong>Believe in each other </strong> and demonstrate a leap of faith!
    </li>
    <li>
      At an <strong>early stage</strong>,
      talk about things that give you a bad feeling.
      It is better to openly deal with a conflict
      than to brush it under the carpet in order to keep the peace
      and it smolders unanswered.
    </li>
    <li>
      Let your <strong>smile</strong> work for you…!
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Back to overview
    </button>
  </div>
</div>