<div class="jumbotron">
  <div class="container">
    <h1>Bilanz-Fazit</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Stressoren als solche sind nicht schädlich für Sie &ndash;
        solange Sie ihnen genug Ressourcen entgegensetzen.
      </li>
      <li>
        Daher sollten Sie darauf achten, dass die Balance stimmt.
      </li>
      <li>
        Stressoren-Reduzierung und Ressourcen-Stärkung sind lebenslange Aufgaben.
      </li>
    </ul>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.balance.summary">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
  </div>
</div>