<div class="jumbotron">
  <div class="container">
    <h1>Ihre Stressoren-Ressourcen-Bilanz</h1>
  </div>
</div>
<div class="container" ng-controller="BalanceEvaluationCtrl">
  <div class="row">
    <div class="col col-30 col-offset-20">
      <h3>Ihre Ressourcen</h3>
      <div class="row row-ruler" style="margin-bottom: 0.8em;">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
    <div class="col col-30">
      <h3>Ihre Stressoren</h3>
      <div class="row row-ruler" style="margin-bottom: 0.8em;">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-20" style="text-align: right;">
      <p>Arbeitsinhalte</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Arbeitsinhalte</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Arbeitsorganisation</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Arbeitsorganisation</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Arbeitsumgebung</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Arbeitsumgebung</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Soziale Beziehungen</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Soziale Beziehungen</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>Innere Ressourcen</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.innerResources.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.innerResources.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.internalStressors.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.internalStressors.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>Innere Stressoren</p>
    </div>
  </div>
  <p>
    <br>
    <span class="label">Legende</span>
    <br>
    <span>
      Das Diagramm zeigt Ihnen Ihre durchschnittlichen Bewertungen auf den jeweiligen Kategorien der Ressourcen bzw. der Stressoren.<br>
      <strong>graue Balken:</strong> Wie stark sind die jeweiligen Ressourcen bei Ihnen ausgeprägt,
      bzw. wie häufig sind Sie mit den jeweiligen Stressoren konfrontiert?<br>
      <strong>grüne Balken:</strong> Wie sehr tragen die jeweiligen Ressourcen zu Ihrer Stärkung bei?<br>
      <strong>rote Balken:</strong> Wie sehr sind Sie durch die jeweiligen Stressoren beansprucht?
    </span>
  </p>
  <p>
    <button class="btn btn-action"
            ng-click="print()">
      <span class="glyphicon glyphicon-print"></span>
      Drucken
    </button>
    
    <!--<button class="btn btn-action"
            ng-click="clearSavedData()">
      <span class="glyphicon glyphicon-trash"></span>
      Zwischenstand löschen
    </button>-->
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.balance.tips">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.balance.conclusion">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
  </div>
</div>