<div class="jumbotron">
  <div class="container">
    <h1>Zeit für Ihre Bilanz &ndash; Auswertungstipps</h1>
  </div>
</div>
<div class="container">
  <p>
    Sie haben jetzt sowohl Ihre Ressourcen als auch Ihre Stressoren eingeschätzt,
    wie stark sie in Ihrem Arbeitsleben ausgeprägt sind bzw. wie häufig sie vorkommen &ndash;
    und wie sehr sie Sie stärken oder schwächen.
  </p>
  <p>
    Nun geht es darum, beides zueinander in Beziehung zu setzen:
  </p>
  <ul class="triangle">
    <li>
      Wenn es viele Stressoren in Ihrem Leben gibt,
      aber daneben auch viele Ressourcen,
      ist das ein Grund zur Erleichterung.
      Natürlich sollten Sie trotzdem versuchen,
      <strong>Stressoren</strong> weiter zu <strong>reduzieren</strong> 
      und <strong>Ressourcen</strong> weiter <strong>aufzubauen</strong>.
    </li>
    <li>
      Wenn Sie mutig sind,
      konzentrieren Sie sich auf die <strong>Reduzierung der häufig vorkommenden und
      stark beanspruchenden Stressoren</strong>.
      Oder fangen Sie bei den kleineren Stressoren an.
      Das bringt erste Erfolgserlebnisse.
    </li>
    <li>
      Wenn Ihre inneren Ressourcen gering sind,
      Ihre inneren Stressoren aber hoch,
      dann ist es Zeit für <strong>Techniken zum Stressabbau</strong> auf der individuellen Ebene und
      zur Stärkung Ihrer inneren Ressourcen.
      Tipps hierzu finden Sie in den Handlungshilfen, z.B. 
      bei der Spalten-Technik und den Tipps zur bewussten Entspannung.
    </li>
    <li>
      Betrachten Sie beides als <strong>lebenslange Aufgaben</strong>.
      Man kann nie sagen: „Jetzt bin ich fertig mit der Stressbewältigung.“
      Das Verhältnis von Stressoren zu Ressourcen muss immer wieder aufs Neue ausbalanciert werden.
    </li>
    <li>
      <strong>Wiederholen Sie</strong> doch diesen Bilanz-Check in 4 Wochen.
      So können Sie sehen, was Sie bereits verbessert haben.
    </li>
  </ul>
  <p>
    Viel Erfolg dabei!
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.balance.summary">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
  </div>
</div>