<div class="jumbotron">
  <div class="container">
    <h1>Anerkennungshaushalt 2/3</h1>
  </div>
</div>
<div class="container">
  <ul class="triangle">
    <li>
      <h3>Grundsätzliches</h3>
      <p class="indented">
        Kenne ich die größte Stärke jeder Kollegin bzw. jedes Kollegen?<br>
        Halte ich mich an die Anerkennungsregel (Verhältnis Lob : Kritik = mindestens 3 : 1)?<br>
        Achte ich ganz bewusst auf positive Leistungen?<br>
        Verteile ich meine Anerkennung gerecht, ohne Lieblinge zu haben?
      </p>
    </li>
    <li>
      <h3>Anerkennung empfangen</h3>
      <p class="indented">
        Lächeln die meisten Menschen, wenn Sie mir zum ersten Mal an diesem Tag begegnen?<br>
        Hat innerhalb der letzten 3 Wochen eine Kollegin/ein Kollege ein anerkennendes Wort für mich gefunden?<br>
        Bin ich während der letzten 4 Wochen einmal von meiner Führungskraft gelobt worden?
      </p>
    </li>
    <li>
      <h3>Anerkennung geben</h3>
      <p class="indented">
        Habe ich mich heute schon selbst gelobt?<br>
        Habe ich während des gestrigen Tages bewusst auf Dinge geachtet, 
        die mich lächeln lassen?<br>
        Habe ich während der letzten 5 Werktage 
        jemanden (im Beruf) gelobt?<br>
        Habe ich in den letzten 3 Wochen auch für Kolleginnen oder Kollegen
        ein anerkennendes Wort gefunden?<br>
        Habe ich in den letzten 4 Wochen einmal bewusst etwas
        „Selbstverständliches“ anerkannt?<br>
        Habe ich in den letzten 3 Monaten einmal meine eigene 
        Führungskraft gelobt?
      </p>
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation3">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>