<div class="jumbotron">
  <div class="container">
    <h1>Anerkennungshaushalt 3/3</h1>
  </div>
</div>
<div class="container">
  <h3>So bekommen Sie mehr Anerkennung</h3>
  <ul class="triangle">
    <li>
      Geben Sie (kleine) <strong>Schwächen</strong> zu.
      Das macht sympathisch und „nahbar“.
      Perfekt wirkende Menschen schrecken ab, 
      auch wenn alle wissen, dass niemand perfekt ist.
    </li>
    <li>
      Machen Sie aus sich einen <strong>attraktiven Gesprächspartner</strong>:
      Aktives Zuhören, Empathie und Verständnis zeigen 
      sowie ein offenes Ohr haben &ndash;
      all das ist wichtiger als tolle Ratschläge.
    </li>
    <li>
      Teilen Sie Ihre <strong>positiven Emotionen</strong>, 
      zum Beispiel Ihre Dankbarkeit (für die erhaltene Unterstützung, 
      den jüngsten Erfolg,
      die flotte Zusendung von Infomaterial, einer Lieferung o.Ä.).
    </li>
    <li>
      Bleiben Sie bescheiden.
      Protzen wirkt abschreckend,
      <strong>Bescheidenheit</strong> wirkt anziehend.
    <li>
      Seien Sie bereit, Ihrerseits anderen einen
      <strong>Wertschätzungsvorschuss</strong> zu geben
      (also sogar dann, wenn Sie bei anderen Ablehnung oder Skepsis spüren):
      Suchen Sie Wertschätzendes an ihnen!
    </li>
    <li>
      Betonen Sie die <strong>Vorzüge von abwesenden Dritten</strong>,
      statt sich einer Lästerrunde anzuschließen.
      Bleiben Sie dieser Linie treu, auch wenn es zunächst so aussieht,
      als würden Sie mit Ablehnung bestraft.
    </li>
    <li>
      Sorgen Sie für <strong>Erfolge</strong> 
      auch <strong>auf anderen Gebieten</strong> als der Arbeit.
      Bauen Sie möglichst viele Wertschätzungsquellen auf neben dem Job;
      der ist nur eine (potenzielle).
    </li>
    <li>
      <strong>Zeigen Sie sich</strong>, machen Sie sich sichtbar &ndash;
      nicht nur mit Ihren Leistungen oder Ihrer Einsatzbereitschaft,
      sondern auch als Mensch mit allen Emotionen
      (Pokerfaceträger erhalten weniger Wertschätzung).
    </li>
    <li>
      <strong>Ermuntern Sie auch andere</strong>, ihre Emotionen zu zeigen
      („Freut’s dich?“, „Mensch, ist doch klar, dass einen so etwas mitnimmt“).
      Wer uns in emotionalen Momenten nahe ist, den mögen wir auch danach.
    </li>
    <li>
      Und wenn die Wertschätzung in Form anerkennender Worte kommt:
      <strong>Lächeln Sie einfach</strong>.
      Sie brauchen nichts zu sagen.
      Einfach nur genießen und schweigen …
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>