<div class="jumbotron">
  <div class="container">
    <h1>Anerkennungshaushalt 1/3</h1>
  </div>
</div>
<div class="container">
  <p>
    Viele Menschen glauben, dass sie mehr Anerkennung geben,
    als sie selbst erhalten.
    Dabei kommt es darauf an,
    <strong>Anerkennung auch als solche zu erkennen</strong> &ndash;
    zum Beispiel das Lächeln auf dem Gesicht des Gesprächspartners,
    die aufgehaltene Tür,
    das Nach-der-Meinung-gefragt-Werden.
  </p>
  <p>
    Gehen Sie mal gezielt auf die Suche 
    nach Hinweisen auf <strong>Wertschätzung</strong> oder Anerkennung,
    die Ihnen entgegengebracht wird.
    Und wenn Sie zu dem Schluss kommen „Das ist zu wenig“,
    dann holen Sie sich doch Ihre Lorbeeren,
    indem Sie die Menschen um Sie herum fragen,
    wie sie mit Ihrer Leistung zufrieden sind 
    („Und? Das war aus meiner Sicht ziemlich gut. Was meinst du?“).
    Natürlich brauchen wir Menschen Feedback &ndash;
    aber wir sollten uns nicht vom Lob durch andere abhängig machen.
  </p>
  <p>
    Auf der nächsten Seite finden Sie Anregungen,
    wie es um Ihren <a ui-sref="app.guidance.externalResources.appreciation2"><strong>Anerkennungshaushalt</strong></a> bestellt ist.
  </p>
  <p>
    Auf der übernächsten Seite finden Sie <a ui-sref="app.guidance.externalResources.appreciation3"><strong>Tipps, um mehr Anerkennung zu erhalten</strong></a>.
  </p>
  <p>
    Auch für den Fall einer <a ui-sref="app.guidance.externalStressors.noPraise"><strong>nicht-lobenden Führungskraft</strong></a>
    gibt es Tipps.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.appreciation2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>