<div class="jumbotron">
  <div class="container">
    <h1>Äußere Ressourcen</h1>
  </div>
</div>
<div class="container">
  <p>
    <a href="pdf/psyGA_Aeussere_Ressourcen.pdf" target="_blank">Diese Handlungshilfen als PDF-Dokument abspeichern.</a>
  </p>
  <p>
    Was können Sie tun, um die Ressourcen in Ihrer Arbeit noch weiter zu stärken? Hierzu gibt es die folgenden Tipps:
  </p>
  <ul class="triangle wide">
    <li><a ui-sref="app.guidance.externalResources.participate">Machen Sie mit!</a></li>
    <li><a ui-sref="app.guidance.externalResources.socialNetwork1">Aufbau und Pflege eines sozialen Netzes</a></li>
    <li><a ui-sref="app.guidance.externalResources.workingAtmosphere">Betriebsklima-Pflege</a></li>
    <li><a ui-sref="app.guidance.externalResources.appreciation1"> Anerkennungshaushalt</a></li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action" ui-sref="app.guidance.start">
    <span class="glyphicon glyphicon-thumbs-up"></span>
      Alle Handlungshilfen
    </button>
  </div>
</div>