<div class="jumbotron">
  <div class="container">
    <h1>Machen Sie mit!</h1>
  </div>
</div>
<div class="container">
  <p>
    Bringen Sie sich am Arbeitsplatz ein, wo immer Sie können.
    Je mehr Sie Ihre Arbeit <strong>selbst gestalten
    und organisieren </strong>können,
    desto mehr können Sie Ihr Wohlbefinden am Arbeitsplatz stärken.
    Wer merkt, dass er Einfluss nehmen kann
    bzw. über Kontrollmöglichkeiten verfügt,
    kann aktiv etwas für seine psychische Gesundheit tun.
    Auf diese Weise kann man selbst dazu beitragen, 
    mögliche Überlastungssituationen zu reduzieren oder sogar vorzubeugen.
  </p>
  <p>
    Partizipation im Betrieb ist daher mehr als nur ein Wort.
    <br>
    <strong>Partizipation ist ein Gesundheitsfaktor.</strong>
    Wo könnten Sie sich beteiligen?
    Was gibt es in Ihrem Betrieb oder was könnten Sie anregen?
  </p>
  <br>
  <ul class="triangle">
    <li>Vorschläge/Verbesserungsideen an Ihre Führungskraft</li>
    <li>Teilnahme an Qualitäts- oder Gesundheitszirkeln</li>
    <li>Betriebsratstätigkeit</li>
    <li>Arbeit als Sicherheitsbeauftragte(r)</li>
    <li>Vorbereitungsteam für Betriebsfeiern ...</li>
    <li>Was fällt Ihnen sonst noch ein?</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>