<div class="jumbotron">
  <div class="container">
    <h1>Das soziale Netz aufbauen und pflegen 1/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Zum Glück arbeiten Sie nicht allein:
    Kolleginnen und Kollegen sind um Sie herum,
    können Sie unterstützen oder einfach mit Ihnen Pause machen 
    oder mittags gemeinsam essen gehen. Wer gehört bei Ihnen dazu?
    Zeichnen Sie Ihr soziales Netz auf!
      Sie können sich dabei an dem Beispiel in der Abbildung orientieren,
      um das Netzwerk genau zu beschreiben. 
    Notieren Sie konkrete Namen in den Kreisen.
  </p>
  <ul class="triangle">
    <li>Wer unterstützt Sie wie stark (Liniendicke)?</li>
    <li>Wer stresst Sie (rote Linie)?</li>
    <li>Wessen Unterstützung wünschen Sie sich noch (gestrichelte Linie)?</li>
  </ul>
  <img ng-src="{{ supportSvg() ? 'img/guidance/social-network.svg' : 'img/legacy/guidance/social-network.jpg' }}"
       alt="" />
  <br>
  <br>
  <p>
    Wie Sie Ihr soziales Netz pflegen können?
    Durch soziale Unterstützung unter Kolleginnen und Kollegen.
    Lesen Sie hierzu mehr auf der nächsten Seite.
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.socialNetwork2">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Weiter
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>
