<div class="jumbotron">
  <div class="container">
    <h1>Das soziale Netz aufbauen und pflegen 2/2</h1>
  </div>
</div>
<div class="container">
  <p>
    Soziale Unterstützung ist der <strong>Belastungspuffer</strong> schlechthin.
    Die Stressoren werden nicht mehr so intensiv empfunden,
    wenn wir uns zwischenmenschlich eingebunden fühlen:
    zum Beispiel durch Trost, Verständnis, praktische Arbeitsentlastung,
    oder auch durch die emotionale Unterstützung bei Konflikten
    („Ich sehe das genauso wie du! Was hat den bloß gestochen?“).
    Das tut uns gut.
  </p>
  <h3>Soziale Unterstützung – das heißt unter Kolleginnen/Kollegen:</h3>
  <ul class="triangle">
    <li>einander den Rücken zu stärken („Wir schaffen das!“)</li>
    <li>sich gegenseitig Trost zusprechen („Es sind krasse Zeiten!“)</li>
    <li>sich an Erfolge zu erinnern („Du hast schon ganz anderes geschafft.“)</li>
    <li>einander Fehler zu verzeihen („Das kann doch mal passieren.“)</li>
    <li>sich bei schwierigen Kunden gegenseitig zu unterstützen</li>
    <li>sich bei Konflikten mit Führungskräften gegenseitig zu unterstützen</li>
    <li>ansprechbar zu sein, ein offenes Ohr zu haben</li>
    <li>und natürlich, falls möglich, praktische Hilfe zu leisten</li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.guidance.externalResources.socialNetwork1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Zurück
    </button>
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>
