<div class="jumbotron">
  <div class="container">
    <h1>Betriebsklima-Pflege</h1>
  </div>
</div>
<div class="container">
  <p>
    Das Betriebsklima ist nicht einfach nur „da“.
    Es wird von jedem einzelnen Mitglied des Betriebs mitgestaltet &ndash;
    also auch von Ihnen.
    Jede(r) kann etwas dazu beitragen,
    dass das <strong>Miteinander</strong> am Arbeitsplatz wohltuend wirkt.
    Welche dieser Punkte können Sie jetzt schon als „erledigt“ abhaken &ndash;
    und wo gibt es noch Ausbaupotenzial?
  </p>
  <br>
  <ul class="triangle">
    <li>
      Geben Sie <strong>großzügig</strong> und lächelnd &ndash;
      aber ohne emotionalen Überschwang&ndash; Bestätigung und positives Feedback!
    </li>
    <li>
      Sprechen Sie über abwesende Dritte ausschließlich so,
      dass diese auch dabei sein könnten.
    </li>
    <li>
      Vermeiden Sie <strong>despektierliche Aussagen</strong>
      über Ihre Führungskraft, Ihr Team, Ihre Kolleginnen und Kollegen, 
        Ihren Betrieb (idealerweise sogar über die Kantine …)!
    </li>
    <li>
      Beziehen Sie <strong>Position gegen Lästerei</strong>!
      Verhindern Sie Ausgreunzungen 
      und ergreifen Sie im Zweifelsfall Partei für die Schwachen!
      Vermeiden Sie Informationsgefälle innerhalb des Teams.
    </li>
    <li>
    <strong>Verhindern Sie Grüppchenbildung</strong>,
      indem Sie abwechselnd zu allen Kontakt halten,
      beispielsweise in den Pausen.
      Gehen Sie mit jeder Gruppe mal zum Mittagessen.
    </li>
    <li>
      Sehen Sie <strong>Unterschiedlichkeit als Stärke</strong>!
      Beziehen Sie Außenseiter bewusst mit ein.
      Fragen Sie sie nach ihrer Meinung, pflegen Sie den Kontakt.
    </li>
    <li>
      Seien Sie offen, geben Sie dabei einen
      <strong>Vertrauensvorschuss!</strong>)
      und sprechen Sie mit den anderen darüber, wie es Ihnen gerade geht.
    </li>
    <li>
      Verstellen Sie sich nicht, 
      stehen Sie zu Ihren <strong>eigenen Gefühlen</strong>!
    </li>
    <li>
      Trauen Sie den Kolleginnen und Kollegen etwas zu!
      <strong>Glauben Sie aneinander</strong>
      und gewähren Sie auch dabei einen Vertrauensvorschuss!
    </li>
    <li>
      Sprechen Sie Bauchgrummeln <strong>frühzeitig</strong> an.
      Besser, ein Konflikt wird <strong>offen</strong> ausgetragen,
      als dass er um des lieben Friedens willen unter den Teppich gekehrt wird und unerkannt schwelt.
    </li>
    <li>
      Lassen Sie Ihr <strong>Lächeln</strong> für Sie arbeiten …!
    </li>
  </ul>
  <div class="guidance-buttons">
    <button class="btn btn-action pull-right"
            ui-sref="app.guidance.externalResources.overview">
      <span class="glyphicon glyphicon-home"></span>
      Zurück zur Übersicht
    </button>
  </div>
</div>