<div class="jumbotron">
  <div class="container">
    <h1>Conclusion</h1>
  </div>
</div>
<div class="container">
  <div class="conclusion">
    <ul class="triangle">
      <li>
        Stressors themselves are not generally harmful for you &ndash;
        as long as you have enough resources to confront them.
      </li>
      <li>
        It is important that you pay attention to the right balance.
      </li>
      <li>
        Reduction of stressors and strengthening of resources are life-long tasks.
      </li>
    </ul>
  </div>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.balance.summary">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
  </div>
</div>