<div class="jumbotron">
  <div class="container">
    <h1>Your Stressor-Resource Balance</h1>
  </div>
</div>
<div class="container" ng-controller="BalanceEvaluationCtrl">
  <div class="row">
    <div class="col col-30 col-offset-20">
      <h3>Your Resources</h3>
      <div class="row row-ruler" style="margin-bottom: 0.8em;">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
    <div class="col col-30">
      <h3>Your Stressors</h3>
      <div class="row row-ruler" style="margin-bottom: 0.8em;">
        <div class="col col-33 col-ruler col-ruler-1"></div>
        <div class="col col-33 col-ruler col-ruler-2"></div>
        <div class="col col-33 col-ruler col-ruler-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-20" style="text-align: right;">
      <p>work content</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkContent.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkContent.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>work content</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>work organization</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkOrganization.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkOrganization.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>work organization</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>work environment</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsWorkEnvironment.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsWorkEnvironment.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>work environment</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>social relations</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.resourcesFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.resourcesFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.stressorsFellows.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.stressorsFellows.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>social relations</p>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col col-20" style="text-align: right;">
      <p>internal stressors</p>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.innerResources.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar resources" ng-style="{'width': (means.innerResources.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-30">
      <div class="progress">
        <div class="progress-bar" ng-style="{'width': (means.internalStressors.extent / 3) * 100 +'%'}"></div>
      </div>
      <div class="progress">
        <div class="progress-bar stressors" ng-style="{'width': (means.internalStressors.impact / 3) * 100 +'%'}"></div>
      </div>
    </div>
    <div class="col col-20">
      <p>internal stressors</p>
    </div>
  </div>
  <p>
    <br>
    <span class="label">Legend</span>
    <br>
    <span>
      The diagram shows your average ratings on the respective categories of resources or stressors.<br>
      <strong>Gray bars:</strong> The extent to which each resource is present,
      or how often you are faced with the particular stressors.<br>
      <strong>Green bars:</strong> How much do the respective resources strengthen you?<br>
      <strong>Red bars:</strong> How much are you strained by the respective stressors?
    </span>
  </p>
  <p>
    <button class="btn btn-action"
            ng-click="print()">
      <span class="glyphicon glyphicon-print"></span>
      Print
    </button>
    
    <!--<button class="btn btn-action"
            ng-click="clearSavedData()">
      <span class="glyphicon glyphicon-trash"></span>
      Zwischenstand löschen
    </button>-->
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.balance.tips">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back
    </button>
    <button class="btn btn-action"
            ui-sref="app.balance.conclusion">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
  </div>
</div>