<div class="jumbotron">
  <div class="container">
    <h1>Time for your balance &ndash; Evaluation Tips</h1>
  </div>
</div>
<div class="container">
  <p>
    Now that you have assessed your resources,
    as well as your stressors,
    how strongly are they pronounced in your working life,
    or how often do they occur,
    and how much do they strengthen or weaken you?
  </p>
  <p>
    It is now time to set the stressors and resources in relation to each other:
  </p>
  <ul class="triangle">
    <li>
      If there are many stressors in your life,
      but also a lot of resources,
      it is one reason for relief.
      Of course, you should still try to <strong>reduce stressors</strong> and
      continue to <strong>build resources</strong>.
    </li>
    <li>
      If you are brave, focus on the <strong>reduction of frequent and intense stressors</strong>.
      Or start with the smaller stressors.
      This begins to bring a sense of achievement.
    </li>
    <li>
      If your inner resources are low,
      but your inner stressors high,
      it is time for <strong>techniques to reduce stress</strong> on an individual level and 
      to strengthen your inner resources. 
      Tips can be found in the action aids (e.g. column technique or
      tips for conscious recovery).
    </li>
    <li>
      Consider both as a <strong>lifelong task</strong>.
      You can never say, “Now I’m done with stress management”.
      The ratio of stressors to resources must be balanced over and over again.
    </li>
    <li>
      <strong>Repeat</strong> this balance check in 4 weeks so you can see what you have improved.
    </li>
  </ul>
  <p>
    Good luck!
  </p>
  <div class="guidance-buttons">
    <button class="btn btn-action"
            ui-sref="app.balance.summary">
      <span class="glyphicon glyphicon-chevron-right"></span>
      next
    </button>
  </div>
</div>