<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Kontakt zu Kolleginnen und Kollegen</h4>
    </div>
    <div class="modal-body">
      <p>
        Der Mensch ist ein soziales Wesen, und das Miteinander am Arbeitsplatz 
        kann das <strong>Wohlbefinden</strong> bei der Arbeit stärken. 
        Auch der <strong>zwischenmenschliche Austausch</strong> unabhängig von Arbeitsthemen kann das Wohlbefinden stärken. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Im Navigationsmenü finden Sie Handlungshilfen für äußere Ressourcen 
        zur Stärkung zwischenmenschlicher Ressourcen im Betrieb.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>