<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fairness</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Gerechte Ressourcenverteilung</strong> im Betrieb zeigt sich nicht zuletzt auch in der Entlohnung
        &ndash; beim Vergleich miteinander, aber auch wenn man den Arbeitseinsatz ins Verhältnis setzt zu dem,
        was man vom Betrieb dafür bekommt (Anerkennung, Aufstieg, Lob, Fortbildungsmöglichkeiten, Image).
        Solange Einsatz und Entlohnung („Gratifikation“) zueinander in einem <strong>ausgeglichenen Verhältnis</strong> stehen,
        geht man der Arbeit gerne nach. Sie haben das Gefühl, dass der sogenannte <strong>„psychologische Arbeitsvertrag“</strong>
        eingehalten wird &ndash; damit meint man, dass die meisten Menschen sich nicht nur Geld
        für ihre Arbeitstätigkeit versprechen, sondern eben auch Fürsorge, Fairness und ähnliche Ressourcen.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Hierzu sollten Sie das <strong>Gespräch mit Ihrer Führungskraft</strong> suchen
        (die aber ihrerseits von der Geschäfts- oder Konzernleitung abhängig ist,
        also u.U. auch nicht viel tun kann oder auch nicht mehr weiß als Sie).
        Im Navigationsmenü finden Sie in den Handlungshilfen gegen äußere Stressoren 
        Tipps für ein solches Gespräch.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>