<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Anerkennung und Wertschätzung</h4>
    </div>
    <div class="modal-body">
      <p>
        Positive Aufmerksamkeit, anerkennende Worte und Lob für die erbrachten Arbeitsleistungen 
        durch die <strong>Führungskraft</strong> stärken das Selbstwertgefühl, 
        geben <strong>Sicherheit</strong> und <strong>Bestätigung</strong> der eigenen Kompetenzen. 
        Aber auch Anerkennung und Wertschätzung aus dem <strong>Team</strong>, der Kunden, 
        der Patienten oder anderer Personen, mit denen wir durch unsere Arbeit in Kontakt stehen, 
        sind wichtige zwischenmenschliche Ressourcen, die unsere psychische Gesundheit stärken.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Im Navigationsmenü finden Sie Handlungshilfen für den Aufbau äußerer Ressourcen und gegen äußere Stressoren 
        zu diesem Thema.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>