<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Soziale Unterstützung</h4>
    </div>
    <div class="modal-body">
      <p>
        Es tut gut zu wissen, dass es anderen Personen ähnlich geht, 
        dass die Anderen einem notfalls fachlich <strong>unter die Arme greifen</strong> können 
        oder auch dass sie manchmal ein offenes Ohr haben, einem Trost zusprechen, 
        einen aufmuntern und vielleicht auch derselben Meinung sind. 
        Diese sogenannte „soziale Unterstützung“ ist eine wichtige Ressource: 
        Auch wenn die <strong>Belastungen</strong> noch da sind, werden sie <strong>weniger intensiv empfunden</strong>. 
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Im Navigationsmenü finden Sie Handlungshilfen zur Stärkung äußere Ressourcen mit Tipps rund um soziale Ressourcen 
        (wie das Miteinander im Team).
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>