<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Arbeitsplatzsicherheit</h4>
    </div>
    <div class="modal-body">
      <p>
        Hiermit ist gemeint, dass das <strong>Beschäftigungsverhältnis</strong> möglichst <strong>unbefristet</strong> sein sollte. 
        Diese Art der Sicherheit der eigenen Stelle ist je nach Branche und Betrieb verschieden 
        und stark von der gesamtwirtschaftlichen Lage abhängig. 
        Idealerweise sollten Sie sich <strong>an Ihrem Arbeitsplatz willkommen fühlen</strong>, 
        solange Sie dort arbeiten. Diese Ressource gibt für die individuelle Lebensplanung 
        Sicherheit, vor allem bezüglich der <strong>finanziellen Absicherung</strong>.
      </p>
      <p>
        <label>
          <input type="checkbox" ng-model="currentItem.checked"> Ich möchte diese Ressource bewerten!
        </label>
      </p>
      <p>
        Fehlt es Ihnen an Arbeitsplatzsicherheit sollten Sie das <strong>Gespräch mit Ihrer Führungskraft</strong> suchen.
        Sie finden eine Anleitung über das Navigationsmenü in den Handlungshilfen gegen äußere Stressoren.
        Bedenken Sie dabei aber, dass diese ihrerseits von der Geschäfts- oder Konzernleitung abhängig ist
        und dadurch in ihrem eigenen Gestaltungsspielraum eingeschränkt sein kann. 
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-action" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>